Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks, @DataDog/documentation

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/web-frameworks-approvers @DataDog/web-frameworks

# Documentation
*.md                    @DataDog/documentation @DataDog/web-frameworks-approvers @DataDog/web-frameworks
LICENSE                 @DataDog/documentation @DataDog/web-frameworks-approvers @DataDog/web-frameworks
NOTICE                  @DataDog/documentation @DataDog/web-frameworks-approvers @DataDog/web-frameworks
LICENSE-3rdparty.csv    @DataDog/documentation @DataDog/web-frameworks-approvers @DataDog/web-frameworks

Regenerate client from commit 01171a5b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

Regenerate client from commit a4ecd4cf of spec repo
  .apigentools-info
  examples/v2/rum-metrics/CreateRumMetric.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Rum_Metrics/Scenario_Create_a_rum-based_metric_returns_Created_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Rum_Metrics/Scenario_Create_a_rum-based_metric_returns_Created_response.yaml
  tests/scenarios/features/v2/rum_metrics.feature
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

Regenerate client from commit 6a0ddfd8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/api_software_catalog.go
  api/datadogV2/doc.go
  api/datadogV2/model_list_relation_catalog_response.go
  api/datadogV2/model_list_relation_catalog_response_links.go
  api/datadogV2/model_relation_attributes.go
  api/datadogV2/model_relation_entity.go
  api/datadogV2/model_relation_include_type.go
  api/datadogV2/model_relation_meta.go
  api/datadogV2/model_relation_relationships.go
  api/datadogV2/model_relation_response.go
  api/datadogV2/model_relation_response_meta.go
  api/datadogV2/model_relation_response_type.go
  api/datadogV2/model_relation_to_entity.go
  examples/v2/software-catalog/ListCatalogRelation.go
  examples/v2/software-catalog/ListCatalogRelation_1311054087.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Software_Catalog/Scenario_Get_a_list_of_entity_relations_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Software_Catalog/Scenario_Get_a_list_of_entity_relations_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Software_Catalog/Scenario_Get_a_list_of_entity_relations_returns_OK_response_with_pagination.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Software_Catalog/Scenario_Get_a_list_of_entity_relations_returns_OK_response_with_pagination.yaml
  tests/scenarios/features/v2/software_catalog.feature
  tests/scenarios/features/v2/undo.json
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

Bump versions and add changelog entries.
  CHANGELOG.md
  version.go
Owners: @DataDog/documentation, @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

Regenerate client from commit 081d3b61 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadog/configuration.go
  api/datadogV2/api_teams.go
  api/datadogV2/doc.go
  api/datadogV2/model_add_member_team_request.go
  api/datadogV2/model_member_team.go
  api/datadogV2/model_member_team_type.go
  examples/v2/teams/AddMemberTeam.go
  examples/v2/teams/ListMemberTeams.go
  examples/v2/teams/ListMemberTeams_1662850354.go
  examples/v2/teams/RemoveMemberTeam.go
  tests/scenarios/features/v2/teams.feature
  tests/scenarios/features/v2/undo.json
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

Regenerate client from commit f659b1f4 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/model_historical_job_query.go
  api/datadogV2/model_security_monitoring_standard_data_source.go
  api/datadogV2/model_security_monitoring_standard_rule_query.go
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

Update release workflow
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  RELEASING.md
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks, @DataDog/documentation

Regenerate client from commit 3bd84aa8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api/datadogV1/model_hourly_usage_attribution_usage_type.go
  api/datadogV1/model_monthly_usage_attribution_supported_metrics.go
  api/datadogV1/model_monthly_usage_attribution_values.go
  api/datadogV1/model_usage_summary_date.go
  api/datadogV1/model_usage_summary_date_org.go
  api/datadogV1/model_usage_summary_response.go
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

fix files
  .github/workflows/release.yml
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

Regenerate client from commit a6954c1c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/api_dora_metrics.go
  api/datadogV2/doc.go
  api/datadogV2/model_dora_event.go
  api/datadogV2/model_dora_fetch_response.go
  api/datadogV2/model_dora_incident_request_attributes.go
  api/datadogV2/model_dora_list_deployments_request.go
  api/datadogV2/model_dora_list_deployments_request_attributes.go
  api/datadogV2/model_dora_list_deployments_request_data.go
  api/datadogV2/model_dora_list_deployments_request_data_type.go
  api/datadogV2/model_dora_list_failures_request.go
  api/datadogV2/model_dora_list_failures_request_attributes.go
  api/datadogV2/model_dora_list_failures_request_data.go
  api/datadogV2/model_dora_list_failures_request_data_type.go
  api/datadogV2/model_dora_list_response.go
  examples/v2/dora-metrics/GetDORADeployment.go
  examples/v2/dora-metrics/GetDORAFailure.go
  examples/v2/dora-metrics/ListDORADeployments.go
  examples/v2/dora-metrics/ListDORAFailures.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_DORA_Metrics/Scenario_Get_a_list_of_deployment_events_returns_Bad_Request_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_DORA_Metrics/Scenario_Get_a_list_of_deployment_events_returns_Bad_Request_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_DORA_Metrics/Scenario_Get_a_list_of_deployment_events_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_DORA_Metrics/Scenario_Get_a_list_of_deployment_events_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_DORA_Metrics/Scenario_Get_a_list_of_failure_events_returns_Bad_Request_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_DORA_Metrics/Scenario_Get_a_list_of_failure_events_returns_Bad_Request_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_DORA_Metrics/Scenario_Get_a_list_of_failure_events_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_DORA_Metrics/Scenario_Get_a_list_of_failure_events_returns_OK_response.yaml
  tests/scenarios/features/v2/dora_metrics.feature
  tests/scenarios/features/v2/undo.json
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

Regenerate client from commit c75940cb of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/model_historical_job_query.go
  api/datadogV2/model_security_monitoring_standard_data_source.go
  api/datadogV2/model_security_monitoring_standard_rule_query.go
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

Regenerate client from commit d09cbc0c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/model_aws_account_response_attributes.go
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

fix workflow
  .github/workflows/release.yml
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

fix version
  .github/workflows/release.yml
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

Regenerate client from commit 97968943 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/model_routing_rule_action.go
  api/datadogV2/model_routing_rule_relationships_policy.go
  api/datadogV2/model_send_slack_message_action.go
  api/datadogV2/model_send_slack_message_action_type.go
  api/datadogV2/model_send_teams_message_action.go
  api/datadogV2/model_send_teams_message_action_type.go
  examples/v2/on-call/SetOnCallTeamRoutingRules.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_On-Call/Scenario_Set_On-Call_team_routing_rules_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_On-Call/Scenario_Set_On-Call_team_routing_rules_returns_OK_response.yaml
  tests/scenarios/features/v2/on-call.feature
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

Regenerate client from commit ed439f7c of spec repo
  .apigentools-info
  examples/v2/workflow-automation/CreateWorkflow.go
  examples/v2/workflow-automation/UpdateWorkflow.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Workflow_Automation/Scenario_Create_a_Workflow_returns_Bad_request_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Workflow_Automation/Scenario_Create_a_Workflow_returns_Bad_request_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Workflow_Automation/Scenario_Create_a_Workflow_returns_Successfully_created_a_workflow._response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Workflow_Automation/Scenario_Create_a_Workflow_returns_Successfully_created_a_workflow._response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Workflow_Automation/Scenario_Delete_an_existing_Workflow_returns_Not_found_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Workflow_Automation/Scenario_Delete_an_existing_Workflow_returns_Successfully_deleted_a_workflow._response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Workflow_Automation/Scenario_Delete_an_existing_Workflow_returns_Successfully_deleted_a_workflow._response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Workflow_Automation/Scenario_Get_an_existing_Workflow_returns_Bad_request_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Workflow_Automation/Scenario_Get_an_existing_Workflow_returns_Not_found_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Workflow_Automation/Scenario_Get_an_existing_Workflow_returns_Successfully_got_a_workflow._response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Workflow_Automation/Scenario_Get_an_existing_Workflow_returns_Successfully_got_a_workflow._response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Workflow_Automation/Scenario_Update_an_existing_Workflow_returns_Bad_request_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Workflow_Automation/Scenario_Update_an_existing_Workflow_returns_Bad_request_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Workflow_Automation/Scenario_Update_an_existing_Workflow_returns_Not_found_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Workflow_Automation/Scenario_Update_an_existing_Workflow_returns_Not_found_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Workflow_Automation/Scenario_Update_an_existing_Workflow_returns_Successfully_updated_a_workflow._response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Workflow_Automation/Scenario_Update_an_existing_Workflow_returns_Successfully_updated_a_workflow._response.yaml
  tests/scenarios/features/v2/workflow_automation.feature
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

[AAWF-420] Update release workflow (#3108)
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  RELEASING.md
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks, @DataDog/documentation

[AAWF-420] Update release workflow (#3108)
  src/github.com/DataDog/datadog-api-client-go/v2/api/datadog/index.html
  src/github.com/DataDog/datadog-api-client-go/v2/api/datadogV1/index.html
  src/github.com/DataDog/datadog-api-client-go/v2/api/datadogV2/index.html
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

Regenerate client from commit 7131a437 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadog/configuration.go
  api/datadogV2/api_teams.go
  api/datadogV2/doc.go
  api/datadogV2/model_add_member_team_request.go
  api/datadogV2/model_member_team.go
  api/datadogV2/model_member_team_type.go
  examples/v2/teams/AddMemberTeam.go
  examples/v2/teams/ListMemberTeams.go
  examples/v2/teams/ListMemberTeams_1662850354.go
  examples/v2/teams/RemoveMemberTeam.go
  tests/scenarios/features/v2/teams.feature
  tests/scenarios/features/v2/undo.json
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

Bump versions and add changelog entries.
  CHANGELOG.md
  version.go
Owners: @DataDog/documentation, @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

Regenerate client from commit aed3efb8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

Regenerate client from commit 092a87c8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

Regenerate client from commit 2024b158 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

Regenerate client from commit 3fd2b5f6 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

Regenerate client from commit f8ab686d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

Regenerate client from commit 2791ac3e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

Regenerate client from commit a4e80cb2 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api/datadogV1/model_hourly_usage_attribution_usage_type.go
  api/datadogV1/model_monthly_usage_attribution_supported_metrics.go
  api/datadogV1/model_monthly_usage_attribution_values.go
  api/datadogV1/model_usage_summary_date.go
  api/datadogV1/model_usage_summary_date_org.go
  api/datadogV1/model_usage_summary_response.go
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

use merge-commit
  .github/workflows/release.yml
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

use merge-commit (#3123)
  .github/workflows/release.yml
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

use merge-commit (#3123) 70190cadb24dba5c35e12b2c1a2f595def52f37f
  src/github.com/DataDog/datadog-api-client-go/v2/api/datadog/index.html
  src/github.com/DataDog/datadog-api-client-go/v2/api/datadogV1/index.html
  src/github.com/DataDog/datadog-api-client-go/v2/api/datadogV2/index.html
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

Regenerate client from commit 26831bc8 of spec repo
  .apigentools-info
  examples/v2/microsoft-teams-integration/CreateWorkflowsWebhookHandle_1716851881.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Microsoft_Teams_Integration/Scenario_Create_workflow_webhook_handle_returns_CREATED_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Microsoft_Teams_Integration/Scenario_Create_workflow_webhook_handle_returns_CREATED_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Microsoft_Teams_Integration/Scenario_Delete_workflow_webhook_handle_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Microsoft_Teams_Integration/Scenario_Delete_workflow_webhook_handle_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Microsoft_Teams_Integration/Scenario_Get_all_workflow_webhook_handles_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Microsoft_Teams_Integration/Scenario_Get_all_workflow_webhook_handles_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Microsoft_Teams_Integration/Scenario_Get_workflow_webhook_handle_information_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Microsoft_Teams_Integration/Scenario_Get_workflow_webhook_handle_information_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Microsoft_Teams_Integration/Scenario_Update_workflow_webhook_handle_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Microsoft_Teams_Integration/Scenario_Update_workflow_webhook_handle_returns_OK_response.yaml
  tests/scenarios/features/v2/microsoft_teams_integration.feature
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

Bump versions and add changelog entries.
  CHANGELOG.md
  version.go
Owners: @DataDog/documentation, @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

Bump versions and add changelog entries. (#3121)
  pkg/github.com/DataDog/datadog-api-client-go/v2/index.html
  src/github.com/DataDog/datadog-api-client-go/v2/api/datadog/index.html
  src/github.com/DataDog/datadog-api-client-go/v2/api/datadogV1/index.html
  src/github.com/DataDog/datadog-api-client-go/v2/api/datadogV2/index.html
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

Revert "Bump versions and add changelog entries. (#3121)"
  CHANGELOG.md
  version.go
Owners: @DataDog/documentation, @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

revert and fix
  .github/workflows/release.yml
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

Revert release and fix release script (#3124)
  .github/workflows/release.yml
  CHANGELOG.md
  version.go
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks, @DataDog/documentation

Revert release and fix release script (#3124)
  pkg/github.com/DataDog/datadog-api-client-go/v2/index.html
  src/github.com/DataDog/datadog-api-client-go/v2/api/datadog/index.html
  src/github.com/DataDog/datadog-api-client-go/v2/api/datadogV1/index.html
  src/github.com/DataDog/datadog-api-client-go/v2/api/datadogV2/index.html
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

Bump versions and add changelog entries.
  CHANGELOG.md
  version.go
Owners: @DataDog/documentation, @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

Bump versions and add changelog entries. (#3125)
  pkg/github.com/DataDog/datadog-api-client-go/v2/index.html
  src/github.com/DataDog/datadog-api-client-go/v2/api/datadog/index.html
  src/github.com/DataDog/datadog-api-client-go/v2/api/datadogV1/index.html
  src/github.com/DataDog/datadog-api-client-go/v2/api/datadogV2/index.html
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks

fix pre-release
  .github/workflows/release.yml
Owners: @DataDog/web-frameworks-approvers, @DataDog/web-frameworks
