Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

Regenerate client from commit edb67b7 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/OrganizationCreateBody.md
  api/v1/datadog/docs/OrganizationsApi.md
  api/v1/datadog/model_organization_create_body.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 217b6e8 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_aws_integration.go
  api/v1/datadog/configuration.go
  api/v1/datadog/docs/AWSIntegrationApi.md
  api/v1/datadog/docs/AWSNamespace.md
  api/v1/datadog/docs/AWSTagFilterCreateRequest.md
  api/v1/datadog/docs/AWSTagFilterDeleteRequest.md
  api/v1/datadog/docs/AWSTagFilterListResponse.md
  api/v1/datadog/docs/AWSTagFilterListResponseFilters.md
  api/v1/datadog/model_aws_namespace.go
  api/v1/datadog/model_aws_tag_filter_create_request.go
  api/v1/datadog/model_aws_tag_filter_delete_request.go
  api/v1/datadog/model_aws_tag_filter_list_response.go
  api/v1/datadog/model_aws_tag_filter_list_response_filters.go
  tests/api/v1/datadog/features/aws_integration.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

SetUnstableOperationEnabled Usage Attribution
  tests/api/v1/datadog/api_usage_metering_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 7af099d of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/configuration.go
  api/v1/datadog/docs/UsageMeteringApi.md
  tests/api/v1/datadog/features/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 7d970a8 of spec repo
  .apigentools-info
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageMeteringApi.md
  tests/api/v1/datadog/features/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 7f2258a of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageMeteringApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Load undo methods
  tests/api/v1/datadog/features/undo.json
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/features/undo.json
  tests/api/v2/datadog/scenarios_test.go
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

load config once
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/scenarios_test.go
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Add tests for non-ci trigger endpoint
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsTriggerCIAndTriggerTests.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsTriggerCIAndTriggerTests.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsTriggerCITests.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsTriggerCITests.yaml
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Update variable name
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 0e7cbcd of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_monitors.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 34f647e of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_hosts.go
  api/v1/datadog/api_logs_indexes.go
  api/v1/datadog/docs/HostsApi.md
  api/v1/datadog/docs/LogsIndexesApi.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_logs.go
  api/v2/datadog/api_logs_archives.go
  api/v2/datadog/api_roles.go
  api/v2/datadog/api_security_monitoring.go
  api/v2/datadog/api_users.go
  api/v2/datadog/docs/LogsApi.md
  api/v2/datadog/docs/LogsArchivesApi.md
  api/v2/datadog/docs/RolesApi.md
  api/v2/datadog/docs/SecurityMonitoringApi.md
  api/v2/datadog/docs/UsersApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 87f1f19 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_incident_services.go
  api/v2/datadog/api_incident_teams.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit cdc8c0b of spec repo
  .apigentools-info
  api/v1/datadog/docs/UsersApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

[Go] Fixes missing return statement (#8072) (#8090)
  .generator/templates/client.mustache
Owners: @DataDog/integrations-tools-and-libraries

[Go] Fixes missing return statement (#8072) (#8090)
  client.mustache
Owners: @DataDog/integrations-tools-and-libraries

Prepare beta 12
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Prepare beta 12 (#603)
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Start beta 13 cycle
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Start beta 13 cycle (#604)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit ea548b1 of spec repo
  .apigentools-info
  tests/api/v2/datadog/features/key_management.feature
  tests/api/v2/datadog/features/undo.json
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 5286c57 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/Downtime.md
  api/v1/datadog/model_downtime.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Added filters api tests
  tests/api/v2/datadog/cassettes/TestSecMonRulesCRUD.freeze
  tests/api/v2/datadog/cassettes/TestSecMonRulesCRUD.yaml
  tests/api/v2/datadog/security_monitoring_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 3fa5f61 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/client.go
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/client.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit bf52987 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsAssertionOperator.md
  api/v1/datadog/model_synthetics_assertion_operator.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 89a554d of spec repo
  .apigentools-info
  api/v1/datadog/docs/AWSIntegrationApi.md
  api/v1/datadog/docs/AWSLogsIntegrationApi.md
  api/v1/datadog/docs/AuthenticationApi.md
  api/v1/datadog/docs/AzureIntegrationApi.md
  api/v1/datadog/docs/DashboardListsApi.md
  api/v1/datadog/docs/DashboardsApi.md
  api/v1/datadog/docs/DowntimesApi.md
  api/v1/datadog/docs/EventsApi.md
  api/v1/datadog/docs/GCPIntegrationApi.md
  api/v1/datadog/docs/HostsApi.md
  api/v1/datadog/docs/IPRangesApi.md
  api/v1/datadog/docs/KeyManagementApi.md
  api/v1/datadog/docs/LogsApi.md
  api/v1/datadog/docs/LogsIndexesApi.md
  api/v1/datadog/docs/LogsPipelinesApi.md
  api/v1/datadog/docs/MetricsApi.md
  api/v1/datadog/docs/MonitorsApi.md
  api/v1/datadog/docs/OrganizationsApi.md
  api/v1/datadog/docs/PagerDutyIntegrationApi.md
  api/v1/datadog/docs/ServiceLevelObjectivesApi.md
  api/v1/datadog/docs/SnapshotsApi.md
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/docs/TagsApi.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/docs/UsersApi.md
  api/v2/datadog/docs/DashboardListsApi.md
  api/v2/datadog/docs/IncidentServicesApi.md
  api/v2/datadog/docs/IncidentTeamsApi.md
  api/v2/datadog/docs/IncidentsApi.md
  api/v2/datadog/docs/LogsApi.md
  api/v2/datadog/docs/LogsArchivesApi.md
  api/v2/datadog/docs/ProcessesApi.md
  api/v2/datadog/docs/RolesApi.md
  api/v2/datadog/docs/SecurityMonitoringApi.md
  api/v2/datadog/docs/UsersApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 8276009 of spec repo
  .apigentools-info
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageMeteringApi.md
  tests/api/v1/datadog/features/undo.json
  tests/api/v1/datadog/features/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

add tests for mobile rum usage
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/fixtures/usage/usage_summary.json
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Add tests for configVariables
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsMultipleTestsOperations.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsMultipleTestsOperations.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsTriggerCITests.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsTriggerCITests.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/404_Not_Found.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/404_Not_Found.yaml
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Use enum for config variable type
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 36e65d3 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  tests/api/v2/datadog/features/undo.json
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit a663b53 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_dashboards.go
Owners: @DataDog/integrations-tools-and-libraries

[GO][Client] return GenericOpenAPIError instead of error in Execute() (#8137)
  api.mustache
  api_doc.mustache
Owners: @DataDog/integrations-tools-and-libraries

[GO][Client] return GenericOpenAPIError instead of error in Execute() (#8137)
  .generator/templates/api.mustache
  .generator/templates/api_doc.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit c18e9b3 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsBrowserVariableType.md
  api/v1/datadog/model_synthetics_browser_variable_type.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

tests: skip integration-only scenarios when needed
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/features/given.json
  tests/api/v2/datadog/features/key_management.feature
  tests/api/v2/datadog/features/undo.json
  tests/api/v2/datadog/scenarios_test.go
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit d5e0016 of spec repo
  .apigentools-info
  api/v1/datadog/client.go
  api/v2/datadog/client.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit a3d8d1a of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_key_management.go
  api/v2/datadog/client.go
  api/v2/datadog/docs/APIKeyCreateAttributes.md
  api/v2/datadog/docs/APIKeyCreateData.md
  api/v2/datadog/docs/APIKeyCreateRequest.md
  api/v2/datadog/docs/APIKeyRelationships.md
  api/v2/datadog/docs/APIKeyResponse.md
  api/v2/datadog/docs/APIKeyResponseIncludedItem.md
  api/v2/datadog/docs/APIKeyUpdateAttributes.md
  api/v2/datadog/docs/APIKeyUpdateData.md
  api/v2/datadog/docs/APIKeyUpdateRequest.md
  api/v2/datadog/docs/APIKeysResponse.md
  api/v2/datadog/docs/APIKeysType.md
  api/v2/datadog/docs/FullAPIKey.md
  api/v2/datadog/docs/FullAPIKeyAttributes.md
  api/v2/datadog/docs/KeyManagementApi.md
  api/v2/datadog/docs/PartialAPIKey.md
  api/v2/datadog/docs/PartialAPIKeyAttributes.md
  api/v2/datadog/model_api_key_create_attributes.go
  api/v2/datadog/model_api_key_create_data.go
  api/v2/datadog/model_api_key_create_request.go
  api/v2/datadog/model_api_key_relationships.go
  api/v2/datadog/model_api_key_response.go
  api/v2/datadog/model_api_key_response_included_item.go
  api/v2/datadog/model_api_key_update_attributes.go
  api/v2/datadog/model_api_key_update_data.go
  api/v2/datadog/model_api_key_update_request.go
  api/v2/datadog/model_api_keys_response.go
  api/v2/datadog/model_api_keys_type.go
  api/v2/datadog/model_full_api_key.go
  api/v2/datadog/model_full_api_key_attributes.go
  api/v2/datadog/model_partial_api_key.go
  api/v2/datadog/model_partial_api_key_attributes.go
  tests/api/v2/datadog/features/key_management.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

[Synthetics] Update cassette for monitor test
  tests/api/v1/datadog/cassettes/TestMonitorSyntheticsGet.freeze
  tests/api/v1/datadog/cassettes/TestMonitorSyntheticsGet.yaml
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Add test for synthetics variable from test
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsVariableFromTestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsVariableFromTestLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
