Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app

GCR
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries

Update .github/workflows/test_integration.yml
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries

GCR (#1182)
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 5a8a968 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsCIBatchMetadataCI.md
  api/v1/datadog/docs/SyntheticsCIBatchMetadataPipeline.md
  api/v1/datadog/docs/SyntheticsCIBatchMetadataProvider.md
  api/v1/datadog/docs/SyntheticsTestConfig.md
  api/v1/datadog/model_synthetics_ci_batch_metadata_ci.go
  api/v1/datadog/model_synthetics_ci_batch_metadata_git.go
  api/v1/datadog/model_synthetics_ci_batch_metadata_pipeline.go
  api/v1/datadog/model_synthetics_ci_batch_metadata_provider.go
  api/v1/datadog/model_synthetics_test_config.go
  tests/scenarios/features/v1/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

fix pointer to interfaces
  .generator/templates/model_simple.mustache
Owners: @DataDog/integrations-tools-and-libraries

test traces fix
  tests/scenarios/actions.go
Owners: @DataDog/integrations-tools-and-libraries

fix pre-commit
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 5f61238 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

fix pointers to interfaces in getters
  .generator/templates/model_simple.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 4b9e0f1 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api/v1/datadog/api/openapi.yaml
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_logs.go
  api/v2/datadog/configuration.go
  api/v2/datadog/docs/ContentEncoding.md
  api/v2/datadog/docs/HTTPLogError.md
  api/v2/datadog/docs/HTTPLogErrors.md
  api/v2/datadog/docs/HTTPLogItem.md
  api/v2/datadog/docs/LogsApi.md
  api/v2/datadog/model_content_encoding.go
  api/v2/datadog/model_http_log_error.go
  api/v2/datadog/model_http_log_errors.go
  api/v2/datadog/model_http_log_item.go
  tests/scenarios/features/v2/logs.feature
  tests/scenarios/features/v2/undo.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit ea18b19 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_monitors.go
  api/v1/datadog/docs/MonitorOptions.md
  api/v1/datadog/docs/MonitorType.md
  api/v1/datadog/docs/MonitorsApi.md
  api/v1/datadog/model_monitor_options.go
  api/v1/datadog/model_monitor_type.go
  tests/scenarios/features/v1/monitors.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 2a03497 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/MonitorType.md
  api/v1/datadog/model_monitor_type.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

test traces fix (#1185)
  tests/scenarios/actions.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 51e9017 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/AzureAccount.md
  api/v1/datadog/model_azure_account.go
  tests/scenarios/features/v1/azure_integration.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

correct ratioInMonth to float64
  api/v1/datadog/docs/UsageBillableSummaryHour.md
  api/v1/datadog/model_usage_billable_summary_hour.go
  tests/api/v1/datadog/api_usage_metering_test.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit 63c3c10 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

remove additional pointers to interface
  .generator/templates/model_simple.mustache
Owners: @DataDog/integrations-tools-and-libraries

fix ContainsUnparsedObject function
  .generator/templates/utils.mustache
Owners: @DataDog/integrations-tools-and-libraries

prepare for 1.6.0 release
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

undo non tests
  api/v1/datadog/docs/UsageBillableSummaryHour.md
  api/v1/datadog/model_usage_billable_summary_hour.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit 54b7a75 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_downtimes.go
  api/v1/datadog/docs/DowntimesApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 2323128 of spec repo
  .apigentools-info
  api/v1/datadog/model_synthetics_assertion_json_path_target_target.go
  api/v1/datadog/model_synthetics_assertion_target.go
  api/v1/datadog/utils.go
  api/v2/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

prepare for 1.6.0 release
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit d9035aa of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageBillableSummaryHour.md
  api/v1/datadog/model_usage_billable_summary_hour.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

prepare for 1.6.0 release (#1194)
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

start next release cycly
  version.go
Owners: @DataDog/integrations-tools-and-libraries

start next release cycly (#1195)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 904c411 of spec repo
  .apigentools-info
  examples/v1/snapshots/GetGraphSnapshot.go
  tests/scenarios/features/v1/snapshots.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 6ddcc8e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsAPITestConfig.md
  api/v1/datadog/docs/SyntheticsAssertionTarget.md
  api/v1/datadog/docs/SyntheticsCIBatchMetadataGit.md
  api/v1/datadog/docs/SyntheticsStepDetail.md
  api/v1/datadog/model_synthetics_api_test_config.go
  api/v1/datadog/model_synthetics_assertion_target.go
  api/v1/datadog/model_synthetics_ci_batch_metadata_git.go
  api/v1/datadog/model_synthetics_step_detail.go
  tests/scenarios/features/v1/snapshots.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

[Synthetics] Add test for UDP subtype
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsSubtypeUdpAPITestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsSubtypeUdpAPITestLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 084ca04 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageNetworkFlowsHour.md
  api/v1/datadog/model_usage_network_flows_hour.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 2eb9674 of spec repo
  .apigentools-info
  examples/v1/service-level-objective-corrections/CreateSLOCorrection.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit fabbc01 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SLOCorrectionResponseAttributes.md
  api/v1/datadog/model_slo_correction_response_attributes.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit c588c56 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/ChangeWidgetRequest.md
  api/v1/datadog/model_change_widget_request.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_a_formulas_and_functions_change_widget.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_a_formulas_and_functions_change_widget.yaml
  tests/scenarios/features/v1/dashboards.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit cbb6f12 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/docs/UsageRumUnitsHour.md
  api/v1/datadog/docs/UsageRumUnitsResponse.md
  api/v1/datadog/docs/UsageSummaryDate.md
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_rum_units_hour.go
  api/v1/datadog/model_usage_rum_units_response.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
  tests/scenarios/features/v1/undo.json
  tests/scenarios/features/v1/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 2b850b7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/docs/SyntheticsTriggerBody.md
  api/v1/datadog/docs/SyntheticsTriggerTest.md
  api/v1/datadog/model_synthetics_trigger_body.go
  api/v1/datadog/model_synthetics_trigger_test_.go
  examples/v1/synthetics/TriggerTests.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Trigger_some_Synthetics_tests_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Trigger_some_Synthetics_tests_returns_OK_response.yaml
  tests/scenarios/features/v1/synthetics.feature
  tests/scenarios/features/v1/undo.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit ec0039a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsAssertionType.md
  api/v1/datadog/docs/SyntheticsTestDetailsSubType.md
  api/v1/datadog/docs/SyntheticsTestRequest.md
  api/v1/datadog/model_synthetics_assertion_type.go
  api/v1/datadog/model_synthetics_test_details_sub_type.go
  api/v1/datadog/model_synthetics_test_request.go
  tests/api/v1/datadog/api_synthetics_test.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_test_with_UDP_subtype_returns_OK_-_Returns_the_created_test_details._response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_test_with_UDP_subtype_returns_OK_-_Returns_the_created_test_details._response.yaml
  tests/scenarios/features/v1/synthetics.feature
  tests/scenarios/features/v1/synthetics_api_test_udp_payload.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

target is required
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

Remove old spec copy
  api/v1/datadog/api/openapi.yaml
  api/v2/datadog/api/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Remove generation
  Makefile
Owners: @DataDog/integrations-tools-and-libraries
