Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app

Regenerate client from commit d72de97 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/DowntimeRecurrence.md
  api/v1/datadog/model_downtime_recurrence.go
  examples/v1/downtimes/CreateDowntime.go
  examples/v1/downtimes/CreateDowntime_1393233946.go
  examples/v1/downtimes/CreateDowntime_2908359488.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 374d485 of spec repo
  .apigentools-info
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs/Scenario_Get_a_quick_list_of_logs_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs/Scenario_Get_a_quick_list_of_logs_returns_OK_response.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit d9089b2 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/UsageRumSessionsHour.md
  api/v1/datadog/docs/UsageSummaryDate.md
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_rum_sessions_hour.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 31f2832 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/UsageRumSessionsHour.md
  api/v1/datadog/docs/UsageSummaryDate.md
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_rum_sessions_hour.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 16aa0e9 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/docs/HostMeta.md
  api/v1/datadog/docs/HostMetaInstallMethod.md
  api/v1/datadog/model_host_meta.go
  api/v1/datadog/model_host_meta_install_method.go
  examples/v1/hosts/ListHosts_2975406675.go
  examples/v1/hosts/ListHosts_347346033.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Hosts/Scenario_Get_all_hosts_with_metadata_deserializes_successfully.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Hosts/Scenario_Get_all_hosts_with_metadata_deserializes_successfully.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Hosts/Scenario_Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Hosts/Scenario_Get_all_hosts_with_metadata_for_your_organization_returns_OK_response.yaml
  tests/scenarios/features/v1/hosts.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Lint docs
  .pre-commit-config.yaml
  Makefile
Owners: @DataDog/integrations-tools-and-libraries

Add files config
  .pre-commit-config.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 7c3b86d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit cc7ebbe of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/configuration.go
  api/v1/datadog/docs/MonthlyUsageAttributionBody.md
  api/v1/datadog/docs/MonthlyUsageAttributionMetadata.md
  api/v1/datadog/docs/MonthlyUsageAttributionPagination.md
  api/v1/datadog/docs/MonthlyUsageAttributionResponse.md
  api/v1/datadog/docs/MonthlyUsageAttributionSupportedMetrics.md
  api/v1/datadog/docs/MonthlyUsageAttributionValues.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/model_monthly_usage_attribution_body.go
  api/v1/datadog/model_monthly_usage_attribution_metadata.go
  api/v1/datadog/model_monthly_usage_attribution_pagination.go
  api/v1/datadog/model_monthly_usage_attribution_response.go
  api/v1/datadog/model_monthly_usage_attribution_supported_metrics.go
  api/v1/datadog/model_monthly_usage_attribution_values.go
  examples/v1/usage-metering/GetMonthlyUsageAttribution.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Get_Hourly_Usage_Attribution_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Get_Hourly_Usage_Attribution_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Get_Monthly_Usage_Attribution_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Get_Monthly_Usage_Attribution_returns_OK_response.yaml
  tests/scenarios/features/v1/undo.json
  tests/scenarios/features/v1/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit f43ab25 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageMeteringApi.md
  examples/v1/usage-metering/GetUsageAttribution.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Get_Usage_Attribution_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Get_Usage_Attribution_returns_OK_response.yaml
  tests/scenarios/features/v1/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 55f26ba of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/SyntheticsGlobalVariable.md
  api/v1/datadog/model_synthetics_global_variable.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 8cf1daa of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/docs/IncidentsApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 9f3c740 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/TreeMapWidgetDefinition.md
  api/v1/datadog/docs/TreeMapWidgetRequest.md
  api/v1/datadog/model_tree_map_widget_definition.go
  api/v1/datadog/model_tree_map_widget_request.go
  examples/v1/dashboards/CreateDashboard_1024858348.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_a_formulas_and_functions_treemap_widget.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_a_formulas_and_functions_treemap_widget.yaml
  tests/scenarios/features/v1/dashboards.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Use openapi-generator-cli instead of docker-compose
  .pre-commit-config.yaml
  Makefile
  docker-compose.generator.yaml
  docker-compose.yml
  openapitools.json
Owners: @DataDog/integrations-tools-and-libraries

Move to .generator
  .generator/openapitools.json
  .gitignore
  .pre-commit-config.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 830f39c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api/v1/datadog/README.md
  api/v2/datadog/README.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit bb2c57f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/EventCreateRequest.md
  api/v1/datadog/model_event_create_request.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 1ae19d0 of spec repo
  .apigentools-info
Owners: @DataDog/integrations-tools-and-libraries

Match recorded headers
  tests/scenarios/scenarios.go
  tests/scenarios/step_definitions.go
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Fix datetime formatting
  .generator/templates/client.mustache
  api/v1/datadog/client.go
  api/v2/datadog/client.go
  tests/scenarios/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Improve query parameter matching and enable header matching
  .generator/templates/client.mustache
  api/v1/datadog/client.go
  api/v2/datadog/client.go
  tests/scenarios/scenarios.go
  tests/scenarios/step_definitions.go
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 74ee362 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/docs/SyntheticsBasicAuth.md
  api/v1/datadog/docs/SyntheticsBasicAuthNTLM.md
  api/v1/datadog/docs/SyntheticsBasicAuthNTLMType.md
  api/v1/datadog/docs/SyntheticsBasicAuthSigv4.md
  api/v1/datadog/docs/SyntheticsBasicAuthSigv4Type.md
  api/v1/datadog/docs/SyntheticsBasicAuthWeb.md
  api/v1/datadog/docs/SyntheticsBasicAuthWebType.md
  api/v1/datadog/docs/SyntheticsTestRequest.md
  api/v1/datadog/docs/SyntheticsTestRequestProxy.md
  api/v1/datadog/model_synthetics_basic_auth.go
  api/v1/datadog/model_synthetics_basic_auth_ntlm.go
  api/v1/datadog/model_synthetics_basic_auth_ntlm_type.go
  api/v1/datadog/model_synthetics_basic_auth_sigv4.go
  api/v1/datadog/model_synthetics_basic_auth_sigv4_type.go
  api/v1/datadog/model_synthetics_basic_auth_web.go
  api/v1/datadog/model_synthetics_basic_auth_web_type.go
  api/v1/datadog/model_synthetics_test_request.go
  api/v1/datadog/model_synthetics_test_request_proxy.go
  examples/v1/synthetics/CreateSyntheticsAPITest.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Get_a_synthetics_monitors_details.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Get_a_synthetics_monitors_details.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_test_returns_OK_-_Returns_the_created_test_details._response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_test_returns_OK_-_Returns_the_created_test_details._response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Edit_an_API_test_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Edit_an_API_test_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Trigger_Synthetics_tests_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Trigger_Synthetics_tests_returns_OK_response.yaml
  tests/scenarios/features/v1/given.json
  tests/scenarios/features/v1/synthetics.feature
  tests/scenarios/features/v1/synthetics_api_test_payload.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Enable code generation in repo
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Update .github/workflows/test.yml
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Fix condition
  .github/workflows/test.yml
  .pre-commit-config.yaml
Owners: @DataDog/integrations-tools-and-libraries

Enable code generation in repo (#1298)
  .github/workflows/test.yml
  .pre-commit-config.yaml
Owners: @DataDog/integrations-tools-and-libraries

Fix condition
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Improve query parameter matching and enable header matching (#1297)
  .generator/templates/client.mustache
  api/v1/datadog/client.go
  api/v2/datadog/client.go
  tests/scenarios/scenarios.go
  tests/scenarios/step_definitions.go
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Remove CI condition
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 07112c0 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/docs/CloudWorkloadSecurityAgentRulesListResponse.md
  api/v2/datadog/model_cloud_workload_security_agent_rules_list_response.go
  tests/scenarios/features/v2/cloud_workload_security.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit f03f589 of spec repo
  .apigentools-info
  tests/scenarios/features/v1/events.feature
Owners: @DataDog/integrations-tools-and-libraries

rm
  examples/v2/security-monitoring/CreateSecurityFilter.go
  examples/v2/security-monitoring/CreateSecurityMonitoringRule.go
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_498211763.go
  examples/v2/security-monitoring/DeleteSecurityFilter_555029489.go
  examples/v2/security-monitoring/DeleteSecurityMonitoringRule.go
  examples/v2/security-monitoring/GetSecurityFilter.go
  examples/v2/security-monitoring/ListSecurityFilters.go
  examples/v2/security-monitoring/UpdateSecurityFilter.go
Owners: @DataDog/integrations-tools-and-libraries

Fix lints in tests package
  tests/scenarios/actions.go
  tests/scenarios/scenarios.go
  tests/scenarios/scenarios_test.go
Owners: @DataDog/integrations-tools-and-libraries

Fix
  tests/scenarios/tracer.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit d58d627 of spec repo
  .apigentools-info
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 9f83d50 of spec repo
  .apigentools-info
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Webhooks_Integration/Scenario_Create_a_custom_variable_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Webhooks_Integration/Scenario_Create_a_custom_variable_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Webhooks_Integration/Scenario_Create_a_webhooks_integration_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Webhooks_Integration/Scenario_Create_a_webhooks_integration_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Webhooks_Integration/Scenario_Get_a_webhook_integration_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Webhooks_Integration/Scenario_Get_a_webhook_integration_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Webhooks_Integration/Scenario_Update_a_custom_variable_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Webhooks_Integration/Scenario_Update_a_custom_variable_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Webhooks_Integration/Scenario_Update_a_webhook_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Webhooks_Integration/Scenario_Update_a_webhook_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs_Metrics/Scenario_Create_a_log-based_metric_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs_Metrics/Scenario_Create_a_log-based_metric_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs_Metrics/Scenario_Get_a_log-based_metric_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs_Metrics/Scenario_Get_a_log-based_metric_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs_Metrics/Scenario_Get_all_log-based_metrics_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs_Metrics/Scenario_Get_all_log-based_metrics_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs_Metrics/Scenario_Update_a_log-based_metric_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs_Metrics/Scenario_Update_a_log-based_metric_returns_OK_response.yaml
Owners: @DataDog/integrations-tools-and-libraries

fix required fields
  tests/api/utils_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 33f7cea of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/UsageBillableSummaryHour.md
  api/v1/datadog/model_usage_billable_summary_hour.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

add type
  tests/api/utils_test.go
Owners: @DataDog/integrations-tools-and-libraries

Update actions
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/approved_status.yml
  .github/workflows/labeler.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries
