Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_IP_Ranges/Scenario_List_IP_Ranges_returns_"OK"_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_IP_Ranges/Scenario_List_IP_Ranges_returns_"OK"_response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Add_a_user_to_a_role_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Add_a_user_to_a_role_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Create_role_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Create_role_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Delete_role_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Delete_role_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Get_a_role_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Get_a_role_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Get_all_users_of_a_role_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Get_all_users_of_a_role_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Grant_permission_to_a_role_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Grant_permission_to_a_role_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_List_permissions_for_a_role_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_List_permissions_for_a_role_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_List_permissions_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_List_permissions_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_List_roles_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_List_roles_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Remove_a_user_from_a_role_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Remove_a_user_from_a_role_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Revoke_permission_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Revoke_permission_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Update_a_role_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Update_a_role_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Create_a_user_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Create_a_user_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Disable_a_user_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Disable_a_user_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Get_a_user_permissions_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Get_a_user_permissions_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Get_a_user_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Get_a_user_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_List_all_users_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_List_all_users_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Update_a_user_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Update_a_user_returns__OK__response.yaml
Owners: @DataDog/integrations-tools-and-libraries

initial
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v1/datadog/utils.go
  tests/api/v2/datadog/scenarios_test.go
  tests/api/v2/datadog/utils.go
  tests/scenarios.go
  tests/test_utils.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Modified Monthly Custom Report Error Test
  tests/api/v1/datadog/api_usage_metering_test.go
Owners: @DataDog/integrations-tools-and-libraries

Modified Monthly Custom Report Error Test
  tests/api/v1/datadog/api_usage_metering_test.go
Owners: @DataDog/integrations-tools-and-libraries

Rename operationIds
  tests/api/v2/datadog/cassettes/TestSignalsListGet.freeze
  tests/api/v2/datadog/cassettes/TestSignalsListGet.yaml
  tests/api/v2/datadog/cassettes/TestSignalsListPost.freeze
  tests/api/v2/datadog/cassettes/TestSignalsListPost.yaml
  tests/api/v2/datadog/security_monitoring_test.go
Owners: @DataDog/integrations-tools-and-libraries

FUNctional test
  tests/api/v1/datadog/api_hosts_test.go
  tests/api/v1/datadog/cassettes/TestHostsIncludeMutedHostsDataFunctional.freeze
  tests/api/v1/datadog/cassettes/TestHostsIncludeMutedHostsDataFunctional.yaml
Owners: @DataDog/integrations-tools-and-libraries

rm features
  tests/api/v1/datadog/features/ip_ranges.feature
  tests/api/v1/datadog/features/monitor.feature
  tests/api/v2/datadog/features/dashboard_lists.feature
  tests/api/v2/datadog/features/logs_archives.feature
  tests/api/v2/datadog/features/roles.feature
  tests/api/v2/datadog/features/security_monitoring.feature
  tests/api/v2/datadog/features/users.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 8f7b2e2 of spec repo
  .apigentools-info
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageMeteringApi.md
  tests/api/v1/datadog/features/authentication.feature
  tests/api/v1/datadog/features/aws_integration.feature
  tests/api/v1/datadog/features/aws_logs_integration.feature
  tests/api/v1/datadog/features/azure_integration.feature
  tests/api/v1/datadog/features/dashboard_lists.feature
  tests/api/v1/datadog/features/dashboards.feature
  tests/api/v1/datadog/features/downtimes.feature
  tests/api/v1/datadog/features/events.feature
  tests/api/v1/datadog/features/gcp_integration.feature
  tests/api/v1/datadog/features/hosts.feature
  tests/api/v1/datadog/features/ip_ranges.feature
  tests/api/v1/datadog/features/key_management.feature
  tests/api/v1/datadog/features/logs.feature
  tests/api/v1/datadog/features/logs_indexes.feature
  tests/api/v1/datadog/features/logs_pipelines.feature
  tests/api/v1/datadog/features/metrics.feature
  tests/api/v1/datadog/features/monitors.feature
  tests/api/v1/datadog/features/organizations.feature
  tests/api/v1/datadog/features/pagerduty_integration.feature
  tests/api/v1/datadog/features/service_level_objectives.feature
  tests/api/v1/datadog/features/snapshots.feature
  tests/api/v1/datadog/features/synthetics.feature
  tests/api/v1/datadog/features/tags.feature
  tests/api/v1/datadog/features/usage_metering.feature
  tests/api/v1/datadog/features/users.feature
  tests/api/v2/datadog/features/dashboard_lists.feature
  tests/api/v2/datadog/features/logs.feature
  tests/api/v2/datadog/features/logs_archives.feature
  tests/api/v2/datadog/features/roles.feature
  tests/api/v2/datadog/features/security_monitoring.feature
  tests/api/v2/datadog/features/users.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

skip
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/scenarios_test.go
Owners: @DataDog/integrations-tools-and-libraries

safe windows paths
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_IP_Ranges/Scenario_List_IP_Ranges_returns__OK__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_IP_Ranges/Scenario_List_IP_Ranges_returns__OK__response.yaml
  tests/api/v1/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 71972bd of spec repo
  .apigentools-info
  tests/api/v1/datadog/features/dashboard_lists.feature
  tests/api/v1/datadog/features/dashboards.feature
  tests/api/v1/datadog/features/downtimes.feature
  tests/api/v1/datadog/features/events.feature
  tests/api/v1/datadog/features/hosts.feature
  tests/api/v1/datadog/features/key_management.feature
  tests/api/v1/datadog/features/logs_indexes.feature
  tests/api/v1/datadog/features/logs_pipelines.feature
  tests/api/v1/datadog/features/metrics.feature
  tests/api/v1/datadog/features/monitors.feature
  tests/api/v1/datadog/features/organizations.feature
  tests/api/v1/datadog/features/pagerduty_integration.feature
  tests/api/v1/datadog/features/service_level_objectives.feature
  tests/api/v1/datadog/features/synthetics.feature
  tests/api/v1/datadog/features/tags.feature
  tests/api/v1/datadog/features/users.feature
  tests/api/v2/datadog/features/dashboard_lists.feature
  tests/api/v2/datadog/features/logs_archives.feature
  tests/api/v2/datadog/features/roles.feature
  tests/api/v2/datadog/features/security_monitoring.feature
  tests/api/v2/datadog/features/users.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit aad63b3 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_hosts.go
  api/v1/datadog/docs/HostsApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Add retry to logs test
  tests/api/v1/datadog/api_logs_test.go
Owners: @DataDog/integrations-tools-and-libraries

Add retry to v2 tests
  tests/api/v2/datadog/api_logs_test.go
Owners: @DataDog/integrations-tools-and-libraries

Add retry to logs test (#384)
  tests/api/v1/datadog/api_logs_test.go
  tests/api/v2/datadog/api_logs_test.go
Owners: @DataDog/integrations-tools-and-libraries

Removed 5XX server error
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/cassettes/TestGetSpecifiedDailyCustomReportsErrors/502_Bad_Gateway.freeze
  tests/api/v1/datadog/cassettes/TestGetSpecifiedDailyCustomReportsErrors/502_Bad_Gateway.yaml
  tests/api/v1/datadog/cassettes/TestSpecifiedMonthlyCustomReports.freeze
  tests/api/v1/datadog/cassettes/TestSpecifiedMonthlyCustomReports.yaml
  tests/api/v1/datadog/fixtures/usage/custom_reports_error_400.json
Owners: @DataDog/integrations-tools-and-libraries

Fill-up 3rd party license file
  LICENSE-3rdparty.csv
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Update 3rd party licenses
  LICENSE-3rdparty.csv
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

gobdd/assert
  LICENSE-3rdparty.csv
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Update 3rd party licenses (#385)
  LICENSE-3rdparty.csv
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Enabled unstable operation for Go tests
  tests/api/v1/datadog/api_usage_metering_test.go
Owners: @DataDog/integrations-tools-and-libraries

Enabled unstable operation for Go tests
  tests/api/v1/datadog/api_usage_metering_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 9bfe7bb of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/model_event_query_definition.go
  api/v1/datadog/model_log_query_definition.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit d1f150a of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/configuration.go
  api/v1/datadog/docs/UsageCustomReportsAttributes.md
  api/v1/datadog/docs/UsageCustomReportsData.md
  api/v1/datadog/docs/UsageCustomReportsMeta.md
  api/v1/datadog/docs/UsageCustomReportsPage.md
  api/v1/datadog/docs/UsageCustomReportsResponse.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/docs/UsageReportsType.md
  api/v1/datadog/docs/UsageSort.md
  api/v1/datadog/docs/UsageSortDirection.md
  api/v1/datadog/docs/UsageSpecifiedCustomReportsAttributes.md
  api/v1/datadog/docs/UsageSpecifiedCustomReportsData.md
  api/v1/datadog/docs/UsageSpecifiedCustomReportsMeta.md
  api/v1/datadog/docs/UsageSpecifiedCustomReportsPage.md
  api/v1/datadog/docs/UsageSpecifiedCustomReportsResponse.md
  api/v1/datadog/model_usage_custom_reports_attributes.go
  api/v1/datadog/model_usage_custom_reports_data.go
  api/v1/datadog/model_usage_custom_reports_meta.go
  api/v1/datadog/model_usage_custom_reports_page.go
  api/v1/datadog/model_usage_custom_reports_response.go
  api/v1/datadog/model_usage_reports_type.go
  api/v1/datadog/model_usage_sort.go
  api/v1/datadog/model_usage_sort_direction.go
  api/v1/datadog/model_usage_specified_custom_reports_attributes.go
  api/v1/datadog/model_usage_specified_custom_reports_data.go
  api/v1/datadog/model_usage_specified_custom_reports_meta.go
  api/v1/datadog/model_usage_specified_custom_reports_page.go
  api/v1/datadog/model_usage_specified_custom_reports_response.go
  tests/api/v1/datadog/features/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 3855e31 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/docs/SyntheticsGlobalVariable.md
  api/v1/datadog/docs/SyntheticsGlobalVariableValue.md
  api/v1/datadog/model_synthetics_global_variable.go
  api/v1/datadog/model_synthetics_global_variable_value.go
  tests/api/v1/datadog/features/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

[Synthetics] Fix missing tags
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

add test
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_hosts.go
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/HostsApi.md
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/docs/SyntheticsAssertion.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/model_event_query_definition.go
  api/v1/datadog/model_log_query_definition.go
  api/v1/datadog/model_synthetics_assertion.go
  api/v1/datadog/model_synthetics_assertion_operator.go
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/RoleUpdateData.md
  api/v2/datadog/docs/RoleUpdateRelationships.md
  api/v2/datadog/docs/RolesApi.md
  api/v2/datadog/model_role_update_data.go
  api/v2/datadog/model_role_update_relationships.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

add lifecycle tests for Synthetics API test subtype TCP
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsSubtypeTcpAPITestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsSubtypeTcpAPITestLifecycle.yaml
  tests/api/v1/datadog/fixtures/synthetics/api_test_subtype_tcp_recent_results.json
  tests/api/v1/datadog/fixtures/synthetics/api_test_subtype_tcp_single_result.json
Owners: @DataDog/integrations-tools-and-libraries

Included skip for tests without generated reports/no cassettes recorded
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/cassettes/TestDailyCustomReports.freeze
  tests/api/v1/datadog/cassettes/TestDailyCustomReports.yaml
  tests/api/v1/datadog/cassettes/TestGetDailyCustomReportsErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestGetDailyCustomReportsErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestGetDailyCustomReportsErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestGetDailyCustomReportsErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestGetDailyCustomReportsErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestGetDailyCustomReportsErrors/404_Not_Found.yaml
  tests/api/v1/datadog/cassettes/TestGetMonthlyCustomReportsErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestGetMonthlyCustomReportsErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestGetMonthlyCustomReportsErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestGetMonthlyCustomReportsErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestGetSpecifiedDailyCustomReportsErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestGetSpecifiedDailyCustomReportsErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestGetSpecifiedMonthlyCustomReportsErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestGetSpecifiedMonthlyCustomReportsErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestGetSpecifiedMonthlyCustomReportsErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestGetSpecifiedMonthlyCustomReportsErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestMonthlyCustomReports.freeze
  tests/api/v1/datadog/cassettes/TestMonthlyCustomReports.yaml
  tests/api/v1/datadog/cassettes/TestSpecifiedDailyCustomReports.freeze
  tests/api/v1/datadog/cassettes/TestSpecifiedDailyCustomReports.yaml
  tests/api/v1/datadog/cassettes/TestSpecifiedMonthlyCustomReports.freeze
  tests/api/v1/datadog/cassettes/TestSpecifiedMonthlyCustomReports.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 1c2672b of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/model_synthetics_test_details_sub_type.go
Owners: @DataDog/integrations-tools-and-libraries

New Cassettes with FROG org and Go tests with skip
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/cassettes/TestDailyCustomReports.freeze
  tests/api/v1/datadog/cassettes/TestDailyCustomReports.yaml
  tests/api/v1/datadog/cassettes/TestGetDailyCustomReportsErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestGetDailyCustomReportsErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestGetMonthlyCustomReportsErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestGetMonthlyCustomReportsErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestGetSpecifiedDailyCustomReportsErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestGetSpecifiedDailyCustomReportsErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestGetSpecifiedDailyCustomReportsErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestGetSpecifiedDailyCustomReportsErrors/404_Not_Found.yaml
  tests/api/v1/datadog/cassettes/TestGetSpecifiedMonthlyCustomReports404Error/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestGetSpecifiedMonthlyCustomReports404Error/404_Not_Found.yaml
  tests/api/v1/datadog/cassettes/TestGetSpecifiedMonthlyCustomReportsErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestGetSpecifiedMonthlyCustomReportsErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestGetSpecifiedMonthlyCustomReportsErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestGetSpecifiedMonthlyCustomReportsErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestMonthlyCustomReports.freeze
  tests/api/v1/datadog/cassettes/TestMonthlyCustomReports.yaml
  tests/api/v1/datadog/cassettes/TestSpecifiedDailyCustomReports.freeze
  tests/api/v1/datadog/cassettes/TestSpecifiedDailyCustomReports.yaml
  tests/api/v1/datadog/cassettes/TestSpecifiedMonthlyCustomReports.freeze
  tests/api/v1/datadog/cassettes/TestSpecifiedMonthlyCustomReports.yaml
Owners: @DataDog/integrations-tools-and-libraries

Changed if statements for skipping test
  tests/api/v1/datadog/api_usage_metering_test.go
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Update tests with new endpoints
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsEditVariable.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsVariableLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Fix global variable creation
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

reportID is now() -1 day
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/cassettes/TestSpecifiedDailyCustomReports.freeze
  tests/api/v1/datadog/cassettes/TestSpecifiedDailyCustomReports.yaml
  tests/api/v1/datadog/cassettes/TestSpecifiedMonthlyCustomReports.freeze
  tests/api/v1/datadog/cassettes/TestSpecifiedMonthlyCustomReports.yaml
Owners: @DataDog/integrations-tools-and-libraries

Modified comment
  tests/api/v1/datadog/api_usage_metering_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 1a4fe88 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/configuration.go
  api/v1/datadog/docs/UsageCustomReportsAttributes.md
  api/v1/datadog/docs/UsageCustomReportsData.md
  api/v1/datadog/docs/UsageCustomReportsMeta.md
  api/v1/datadog/docs/UsageCustomReportsPage.md
  api/v1/datadog/docs/UsageCustomReportsResponse.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/docs/UsageReportsType.md
  api/v1/datadog/docs/UsageSort.md
  api/v1/datadog/docs/UsageSortDirection.md
  api/v1/datadog/docs/UsageSpecifiedCustomReportsAttributes.md
  api/v1/datadog/docs/UsageSpecifiedCustomReportsData.md
  api/v1/datadog/docs/UsageSpecifiedCustomReportsMeta.md
  api/v1/datadog/docs/UsageSpecifiedCustomReportsPage.md
  api/v1/datadog/docs/UsageSpecifiedCustomReportsResponse.md
  api/v1/datadog/model_usage_custom_reports_attributes.go
  api/v1/datadog/model_usage_custom_reports_data.go
  api/v1/datadog/model_usage_custom_reports_meta.go
  api/v1/datadog/model_usage_custom_reports_page.go
  api/v1/datadog/model_usage_custom_reports_response.go
  api/v1/datadog/model_usage_reports_type.go
  api/v1/datadog/model_usage_sort.go
  api/v1/datadog/model_usage_sort_direction.go
  api/v1/datadog/model_usage_specified_custom_reports_attributes.go
  api/v1/datadog/model_usage_specified_custom_reports_data.go
  api/v1/datadog/model_usage_specified_custom_reports_meta.go
  api/v1/datadog/model_usage_specified_custom_reports_page.go
  api/v1/datadog/model_usage_specified_custom_reports_response.go
  tests/api/v1/datadog/features/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Restore frozen clock
  tests/api/v1/datadog/api_usage_metering_test.go
Owners: @DataDog/integrations-tools-and-libraries

Restore frozen clock (#394)
  tests/api/v1/datadog/api_usage_metering_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 86a6a5a of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/Event.md
  api/v1/datadog/model_event.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
