Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app

Regenerate client from commit 1d04508 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api_dashboards.go
  api/v1/datadog/docs/DashboardsApi.md
  examples/v1/dashboards/ListDashboards_1773932563.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Get_deleted_dashboards_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Get_deleted_dashboards_returns_OK_response.yaml
  tests/scenarios/features/v1/dashboards.feature
  tests/scenarios/features/v1/given.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 5808ab7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/SyntheticsAPIStep.md
  api/v1/datadog/docs/SyntheticsAPITest.md
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/docs/SyntheticsBrowserTest.md
  api/v1/datadog/model_synthetics_api_step.go
  api/v1/datadog/model_synthetics_api_test_.go
  api/v1/datadog/model_synthetics_browser_test_.go
  examples/v1/synthetics/CreateSyntheticsAPITest.go
  examples/v1/synthetics/CreateSyntheticsAPITest_1279271422.go
  examples/v1/synthetics/CreateSyntheticsAPITest_2472747642.go
  examples/v1/synthetics/CreateSyntheticsAPITest_3829801148.go
  examples/v1/synthetics/CreateSyntheticsBrowserTest.go
  examples/v1/synthetics/UpdateAPITest.go
  tests/scenarios/features/v1/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 9646439 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/docs/SecurityMonitoringRuleDetectionMethod.md
  api/v2/datadog/model_security_monitoring_rule_detection_method.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Fix lints in tests package (#1303)
  tests/scenarios/actions.go
  tests/scenarios/scenarios.go
  tests/scenarios/scenarios_test.go
  tests/scenarios/tracer.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit a6ad2ff of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/docs/SecurityMonitoringRuleDetectionMethod.md
  api/v2/datadog/docs/SecurityMonitoringRuleOptions.md
  api/v2/datadog/docs/SecurityMonitoringRuleQueryAggregation.md
  api/v2/datadog/docs/SecurityMonitoringRuleThirdPartyOptions.md
  api/v2/datadog/model_security_monitoring_rule_detection_method.go
  api/v2/datadog/model_security_monitoring_rule_options.go
  api/v2/datadog/model_security_monitoring_rule_query_aggregation.go
  api/v2/datadog/model_security_monitoring_rule_third_party_options.go
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_3348700599.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_with_detection_method_third_party_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_with_detection_method_third_party_returns_OK_response.yaml
  tests/scenarios/features/v2/security_monitoring.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 4f2cfc0 of spec repo
  .apigentools-info
  examples/v2/incidents/CreateIncident.go
  examples/v2/incidents/DeleteIncident.go
  examples/v2/incidents/GetIncident.go
  examples/v2/incidents/UpdateIncident.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Create_an_incident_returns_CREATED_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Create_an_incident_returns_CREATED_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Delete_an_existing_incident_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Delete_an_existing_incident_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Get_a_list_of_incidents_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Get_a_list_of_incidents_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Get_the_details_of_an_incident_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Get_the_details_of_an_incident_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Update_an_existing_incident_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Update_an_existing_incident_returns_OK_response.yaml
  tests/scenarios/features/v2/incidents.feature
Owners: @DataDog/integrations-tools-and-libraries

release: 1.8.0
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

release: 1.8.0 (#1305)
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Start 1.8.1+dev
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Start 1.8.1+dev (#1306)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Update actions (#1304)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/approved_status.yml
  .github/workflows/labeler.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit 23b4462 of spec repo
  .apigentools-info
  tests/scenarios/features/v1/logs.feature
  tests/scenarios/features/v2/logs.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit a7ac3db of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/UsageCloudSecurityPostureManagementHour.md
  api/v1/datadog/docs/UsageSummaryDate.md
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_cloud_security_posture_management_hour.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
  examples/v1/usage-metering/GetUsageCloudSecurityPostureManagement.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Get_hourly_usage_for_CSPM_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Get_hourly_usage_for_CSPM_returns_OK_response.yaml
  tests/scenarios/features/v1/logs.feature
  tests/scenarios/features/v1/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 79ab7f8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/docs/IncidentCreateRelationships.md
  api/v2/datadog/docs/IncidentResponseRelationships.md
  api/v2/datadog/docs/IncidentUpdateRelationships.md
  api/v2/datadog/docs/NullableRelationshipToUser.md
  api/v2/datadog/model_incident_create_relationships.go
  api/v2/datadog/model_incident_response_relationships.go
  api/v2/datadog/model_incident_update_relationships.go
  api/v2/datadog/model_nullable_relationship_to_user.go
  examples/v2/incidents/CreateIncident.go
  examples/v2/incidents/DeleteIncident.go
  examples/v2/incidents/GetIncident.go
  examples/v2/incidents/UpdateIncident.go
  tests/scenarios/features/v2/incidents.feature
  tests/scenarios/features/v2/logs.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 0c99985 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api/v1/datadog/docs/LogsIndexesApi.md
  api/v1/datadog/docs/LogsPipelinesApi.md
  api/v2/datadog/docs/LogsArchivesApi.md
  api/v2/datadog/docs/LogsMetricsApi.md
  tests/scenarios/features/v2/logs.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

handle non json error responses in bdd
  tests/scenarios/step_definitions.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit caffcc6 of spec repo
  .apigentools-info
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit c738c50 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

remove dd operaation id header
  .generator/templates/api.mustache
  tests/api/v1/datadog/telemetry_test.go
  tests/api/v2/datadog/telemetry_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit d0d1224 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/docs/SyntheticsAPITestResultData.md
  api/v1/datadog/docs/SyntheticsApiTestFailureCode.md
  api/v1/datadog/docs/SyntheticsApiTestResultFailure.md
  api/v1/datadog/docs/SyntheticsBrowserTestFailureCode.md
  api/v1/datadog/docs/SyntheticsBrowserTestResultData.md
  api/v1/datadog/docs/SyntheticsBrowserTestResultFailure.md
  api/v1/datadog/model_synthetics_api_test_failure_code.go
  api/v1/datadog/model_synthetics_api_test_result_data.go
  api/v1/datadog/model_synthetics_api_test_result_failure.go
  api/v1/datadog/model_synthetics_browser_test_failure_code.go
  api/v1/datadog/model_synthetics_browser_test_result_data.go
  api/v1/datadog/model_synthetics_browser_test_result_failure.go
  examples/v1/synthetics/GetAPITestResult_1321866518.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Get_an_API_test_result_returns_result_with_failure_object.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Get_an_API_test_result_returns_result_with_failure_object.yaml
  tests/scenarios/features/v1/given.json
  tests/scenarios/features/v1/synthetics.feature
  tests/scenarios/features/v1/synthetics_api_test_with_wrong_dns.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 3b52f9a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api/v1/datadog/README.md
  api/v1/datadog/docs/DowntimesApi.md
  api/v1/datadog/docs/HostsApi.md
  api/v1/datadog/docs/NotebooksApi.md
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v2/datadog/README.md
  api/v2/datadog/docs/CloudWorkloadSecurityApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

remove operation id from being set on traces
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit f7a8bd6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/docs/MonitorFormulaAndFunctionEventAggregation.md
  api/v1/datadog/docs/MonitorFormulaAndFunctionEventQueryDefinition.md
  api/v1/datadog/docs/MonitorFormulaAndFunctionEventQueryDefinitionCompute.md
  api/v1/datadog/docs/MonitorFormulaAndFunctionEventQueryDefinitionSearch.md
  api/v1/datadog/docs/MonitorFormulaAndFunctionEventQueryGroupBy.md
  api/v1/datadog/docs/MonitorFormulaAndFunctionEventQueryGroupBySort.md
  api/v1/datadog/docs/MonitorFormulaAndFunctionEventsDataSource.md
  api/v1/datadog/docs/MonitorFormulaAndFunctionQueryDefinition.md
  api/v1/datadog/docs/MonitorOptions.md
  api/v1/datadog/model_monitor_formula_and_function_event_aggregation.go
  api/v1/datadog/model_monitor_formula_and_function_event_query_definition.go
  api/v1/datadog/model_monitor_formula_and_function_event_query_definition_compute.go
  api/v1/datadog/model_monitor_formula_and_function_event_query_definition_search.go
  api/v1/datadog/model_monitor_formula_and_function_event_query_group_by.go
  api/v1/datadog/model_monitor_formula_and_function_event_query_group_by_sort.go
  api/v1/datadog/model_monitor_formula_and_function_events_data_source.go
  api/v1/datadog/model_monitor_formula_and_function_query_definition.go
  api/v1/datadog/model_monitor_options.go
  examples/v1/monitors/CreateMonitor_3883669300.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Create_a_RUM_formula_and_functions_monitor_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Create_a_RUM_formula_and_functions_monitor_returns_OK_response.yaml
  tests/scenarios/features/v1/monitors.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 2651654 of spec repo
  .apigentools-info
  tests/scenarios/cassettes/TestScenarios/v1/Feature_IP_Ranges/Scenario_List_IP_Ranges_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_IP_Ranges/Scenario_List_IP_Ranges_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Roles/Scenario_List_permissions_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Roles/Scenario_List_permissions_returns_OK_response.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 0aeef32 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api_monitors.go
  api/v1/datadog/docs/MonitorsApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

support empty lookup
  tests/scenarios/actions.go
  tests/scenarios/scenarios.go
  tests/scenarios/step_definitions.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit f8964dd of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/SyntheticsStep.md
  api/v1/datadog/model_synthetics_step.go
  examples/v1/synthetics/CreateSyntheticsBrowserTest.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_a_browser_test_returns_OK_-_Returns_the_created_test_details._response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_a_browser_test_returns_OK_-_Returns_the_created_test_details._response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_test_returns_OK_-_Returns_the_created_test_details._response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_test_returns_OK_-_Returns_the_created_test_details._response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_test_with_UDP_subtype_returns_OK_-_Returns_the_created_test_details._response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_test_with_UDP_subtype_returns_OK_-_Returns_the_created_test_details._response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_test_with_WEBSOCKET_subtype_returns_OK_-_Returns_the_created_test_details._response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_test_with_WEBSOCKET_subtype_returns_OK_-_Returns_the_created_test_details._response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_test_with_multi_subtype_returns_OK_-_Returns_the_created_test_details._response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_test_with_multi_subtype_returns_OK_-_Returns_the_created_test_details._response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Edit_an_API_test_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Edit_an_API_test_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Get_an_API_test_result_returns_result_with_failure_object.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Get_an_API_test_result_returns_result_with_failure_object.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Trigger_Synthetics_tests_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Trigger_Synthetics_tests_returns_OK_response.yaml
  tests/scenarios/features/v1/synthetics.feature
  tests/scenarios/features/v1/synthetics_browser_test_payload.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit e72d1cd of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/docs/FunnelQuery.md
  api/v1/datadog/docs/FunnelStep.md
  api/v1/datadog/model_funnel_query.go
  api/v1/datadog/model_funnel_step.go
  examples/v1/dashboards/CreateDashboard_927141680.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 5d7c376 of spec repo
  .apigentools-info
  tests/scenarios/features/v1/webhooks_integration.feature
Owners: @DataDog/integrations-tools-and-libraries

Support additional parameters in response body
  tests/scenarios/actions.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit cdd703e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api_metrics.go
  api/v2/datadog/docs/MetricBulkConfigureTagsType.md
  api/v2/datadog/docs/MetricBulkTagConfigCreate.md
  api/v2/datadog/docs/MetricBulkTagConfigCreateAttributes.md
  api/v2/datadog/docs/MetricBulkTagConfigCreateRequest.md
  api/v2/datadog/docs/MetricBulkTagConfigDelete.md
  api/v2/datadog/docs/MetricBulkTagConfigDeleteAttributes.md
  api/v2/datadog/docs/MetricBulkTagConfigDeleteRequest.md
  api/v2/datadog/docs/MetricBulkTagConfigResponse.md
  api/v2/datadog/docs/MetricBulkTagConfigStatus.md
  api/v2/datadog/docs/MetricBulkTagConfigStatusAttributes.md
  api/v2/datadog/docs/MetricsApi.md
  api/v2/datadog/model_metric_bulk_configure_tags_type.go
  api/v2/datadog/model_metric_bulk_tag_config_create.go
  api/v2/datadog/model_metric_bulk_tag_config_create_attributes.go
  api/v2/datadog/model_metric_bulk_tag_config_create_request.go
  api/v2/datadog/model_metric_bulk_tag_config_delete.go
  api/v2/datadog/model_metric_bulk_tag_config_delete_attributes.go
  api/v2/datadog/model_metric_bulk_tag_config_delete_request.go
  api/v2/datadog/model_metric_bulk_tag_config_response.go
  api/v2/datadog/model_metric_bulk_tag_config_status.go
  api/v2/datadog/model_metric_bulk_tag_config_status_attributes.go
  examples/v2/metrics/CreateBulkTagsMetricsConfiguration.go
  tests/scenarios/actions.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Metrics/Scenario_Configure_tags_for_multiple_metrics_returns_Accepted_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Metrics/Scenario_Configure_tags_for_multiple_metrics_returns_Accepted_response.yaml
  tests/scenarios/features/v2/metrics.feature
  tests/scenarios/features/v2/undo.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Remove deleted models
  Makefile
  api/v1/datadog/.openapi-generator-ignore
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/docs/SyntheticsErrorCode.md
  api/v1/datadog/model_synthetics_error_code.go
  api/v2/datadog/.openapi-generator-ignore
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/docs/SecurityMonitoringRuntimeAgentRule.md
  api/v2/datadog/model_security_monitoring_runtime_agent_rule.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 0047b09 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/SyntheticsBrowserTestResultShortResult.md
  api/v1/datadog/model_synthetics_browser_test_result_short_result.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Remove deleted models (#1334)
  Makefile
  api/v1/datadog/.openapi-generator-ignore
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/docs/SyntheticsErrorCode.md
  api/v1/datadog/model_synthetics_error_code.go
  api/v2/datadog/.openapi-generator-ignore
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/docs/SecurityMonitoringRuntimeAgentRule.md
  api/v2/datadog/model_security_monitoring_runtime_agent_rule.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Remove unwanted files in generation
  Makefile
Owners: @DataDog/integrations-tools-and-libraries

Remove unwanted files in generation (#1337)
  Makefile
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit b8f0eb7 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/docs/IncidentResponseMeta.md
  api/v2/datadog/docs/IncidentResponseMetaPagination.md
  api/v2/datadog/docs/IncidentServicesResponse.md
  api/v2/datadog/docs/IncidentServicesResponseMeta.md
  api/v2/datadog/docs/IncidentTeamsResponse.md
  api/v2/datadog/docs/IncidentsResponse.md
  api/v2/datadog/model_incident_response_meta.go
  api/v2/datadog/model_incident_response_meta_pagination.go
  api/v2/datadog/model_incident_services_response.go
  api/v2/datadog/model_incident_teams_response.go
  api/v2/datadog/model_incidents_response.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 6ac3121 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/HourlyUsageAttributionUsageType.md
  api/v1/datadog/docs/MonthlyUsageAttributionSupportedMetrics.md
  api/v1/datadog/docs/MonthlyUsageAttributionValues.md
  api/v1/datadog/docs/UsageAttributionSort.md
  api/v1/datadog/model_hourly_usage_attribution_usage_type.go
  api/v1/datadog/model_monthly_usage_attribution_supported_metrics.go
  api/v1/datadog/model_monthly_usage_attribution_values.go
  api/v1/datadog/model_usage_attribution_sort.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 166e19c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/docs/MetricsApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 3cbdb80 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries
