Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app

Release beta 14 (#663)
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Start dev cycle
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Start dev cycle (#664)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit a6eb4d9 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit a46429c of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/logs.feature
Owners: @DataDog/integrations-tools-and-libraries

update correction tests
  tests/api/v1/datadog/api_service_level_objectives_test.go
Owners: @DataDog/integrations-tools-and-libraries

update test
  tests/api/v1/datadog/api_service_level_objectives_test.go
Owners: @DataDog/integrations-tools-and-libraries

update category
  tests/api/v1/datadog/api_service_level_objectives_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit e264b45 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SLOCorrectionCreateRequestAttributes.md
  api/v1/datadog/docs/SLOCorrectionResponseAttributes.md
  api/v1/datadog/docs/SLOCorrectionUpdateRequestAttributes.md
  api/v1/datadog/model_slo_correction_create_request_attributes.go
  api/v1/datadog/model_slo_correction_response_attributes.go
  api/v1/datadog/model_slo_correction_update_request_attributes.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 86f6ca7 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/configuration.go
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/configuration.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 7f36d9f of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v2/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/dashboard_lists.feature
  tests/api/v1/datadog/features/key_management.feature
  tests/api/v1/datadog/features/logs.feature
  tests/api/v1/datadog/features/users.feature
  tests/api/v2/datadog/features/dashboard_lists.feature
  tests/api/v2/datadog/features/key_management.feature
  tests/api/v2/datadog/features/logs.feature
  tests/api/v2/datadog/features/users.feature
Owners: @DataDog/integrations-tools-and-libraries

DO NOT MERGE
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit f968460 of spec repo
  .apigentools-info
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit e03ef04 of spec repo
  .apigentools-info
  tests/api/v1/datadog/features/aws_integration.feature
  tests/api/v1/datadog/features/aws_logs_integration.feature
  tests/api/v1/datadog/features/azure_integration.feature
  tests/api/v1/datadog/features/dashboard_lists.feature
  tests/api/v1/datadog/features/dashboards.feature
  tests/api/v1/datadog/features/downtimes.feature
  tests/api/v1/datadog/features/events.feature
  tests/api/v1/datadog/features/gcp_integration.feature
  tests/api/v1/datadog/features/hosts.feature
  tests/api/v1/datadog/features/key_management.feature
  tests/api/v1/datadog/features/logs.feature
  tests/api/v1/datadog/features/logs_indexes.feature
  tests/api/v1/datadog/features/logs_pipelines.feature
  tests/api/v1/datadog/features/metrics.feature
  tests/api/v1/datadog/features/monitors.feature
  tests/api/v1/datadog/features/organizations.feature
  tests/api/v1/datadog/features/pagerduty_integration.feature
  tests/api/v1/datadog/features/service_level_objective_corrections.feature
  tests/api/v1/datadog/features/service_level_objectives.feature
  tests/api/v1/datadog/features/snapshots.feature
  tests/api/v1/datadog/features/synthetics.feature
  tests/api/v1/datadog/features/tags.feature
  tests/api/v1/datadog/features/usage_metering.feature
  tests/api/v1/datadog/features/users.feature
  tests/api/v2/datadog/features/dashboard_lists.feature
  tests/api/v2/datadog/features/incident_services.feature
  tests/api/v2/datadog/features/incident_teams.feature
  tests/api/v2/datadog/features/incidents.feature
  tests/api/v2/datadog/features/key_management.feature
  tests/api/v2/datadog/features/logs.feature
  tests/api/v2/datadog/features/logs_archives.feature
  tests/api/v2/datadog/features/logs_metrics.feature
  tests/api/v2/datadog/features/processes.feature
  tests/api/v2/datadog/features/roles.feature
  tests/api/v2/datadog/features/security_monitoring.feature
  tests/api/v2/datadog/features/users.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 05531bc of spec repo
  .apigentools-info
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 0c67e7b of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/WidgetTimeWindows.md
  api/v1/datadog/model_widget_time_windows_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Update cassettes
  tests/api/v2/datadog/cassettes/TestSecMonRulesCRUD.freeze
  tests/api/v2/datadog/cassettes/TestSecMonRulesCRUD.yaml
Owners: @DataDog/integrations-tools-and-libraries

tests: enable list synthetics tests
  tests/api/v1/datadog/features/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries

Report serialization errors
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

configure CI tags
  .azure-pipelines/all.yml
  go.mod
  go.sum
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

dd-trace-go@jirikuncar/ci
  go.mod
Owners: @DataDog/integrations-tools-and-libraries

dd-trace-go@jirikuncar/ci
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

TODO
  LICENSE-3rdparty.csv
  go.mod
  go.sum
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

license
  LICENSE-3rdparty.csv
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

remove analytics
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

remove measured
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

use upstream helper function
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  tests/test_utils.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

with service version
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

hack version tag
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit c2cedbf of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/LogsAggregateRequest.md
  api/v2/datadog/docs/LogsAggregateRequestPage.md
  api/v2/datadog/docs/LogsAggregateRequestPaging.md
  api/v2/datadog/model_logs_aggregate_request.go
  api/v2/datadog/model_logs_aggregate_request_page.go
  api/v2/datadog/model_logs_aggregate_request_paging.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit f21827d of spec repo
  .apigentools-info
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_service_level_objectives.go
  api/v1/datadog/docs/ServiceLevelObjectivesApi.md
  tests/api/v1/datadog/features/service_level_objectives.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 6dc3341 of spec repo
  .apigentools-info
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_logs.go
  api/v1/datadog/docs/LogsApi.md
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_logs.go
  api/v2/datadog/docs/LogsApi.md
  tests/api/v1/datadog/features/logs.feature
  tests/api/v2/datadog/features/logs.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

bump dd-trace-go@jirikuncar/ci
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit bc876ff of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageIoTHour.md
  api/v1/datadog/docs/UsageIoTResponse.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/docs/UsageSummaryDate.md
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_io_t_hour.go
  api/v1/datadog/model_usage_io_t_response.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
  tests/api/v1/datadog/features/undo.json
  tests/api/v1/datadog/features/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Improve landing page
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Tweaks
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Improve server change
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

[monitors] Add restricted roles.
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/cassettes/TestMonitorDowntime.yaml
  tests/api/v1/datadog/cassettes/TestMonitorLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestMonitorPagination.yaml
  tests/api/v1/datadog/cassettes/TestMonitorUpdateErrors.yaml
  tests/api/v1/datadog/cassettes/TestMonitorValidation/example_monitor.yaml
  tests/api/v1/datadog/cassettes/TestMonitorsGetErrors.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 23b373b of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/Monitor.md
  api/v1/datadog/docs/MonitorOptions.md
  api/v1/datadog/model_monitor.go
  api/v1/datadog/model_monitor_options.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Apply suggestions from code review
  tests/api/v1/datadog/features/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries
