Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

ci: check that PR has changelog label (#310)
  .github/workflows/changelog.yaml
Owners: @DataDog/integrations-tools-and-libraries

Address review
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Prep beta 3 (#306)
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit 9ed8a49 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Update top level trace information
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Add resource name
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Operation=test, Resource name=t.Name()
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Update top level trace information (#312)
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 0392d55 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/model_service_level_objective_query.go
Owners: @DataDog/integrations-tools-and-libraries

Remove parameters
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

Update tests to use new dashboard list APIs
  tests/api/v2/datadog/api_dashboard_lists_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit d87077d of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/docs/SyntheticsStep.md
  api/v1/datadog/docs/SyntheticsTestAuthor.md
  api/v1/datadog/docs/SyntheticsTestDetails.md
  api/v1/datadog/model_synthetics_step.go
  api/v1/datadog/model_synthetics_test_author.go
  api/v1/datadog/model_synthetics_test_details.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit c23ab12 of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_dashboard_lists.go
  api/v2/datadog/docs/DashboardListAddItemsRequest.md
  api/v2/datadog/docs/DashboardListAddItemsResponse.md
  api/v2/datadog/docs/DashboardListDeleteItemsRequest.md
  api/v2/datadog/docs/DashboardListDeleteItemsResponse.md
  api/v2/datadog/docs/DashboardListItemRequest.md
  api/v2/datadog/docs/DashboardListItemResponse.md
  api/v2/datadog/docs/DashboardListUpdateItemsRequest.md
  api/v2/datadog/docs/DashboardListUpdateItemsResponse.md
  api/v2/datadog/docs/DashboardListsApi.md
  api/v2/datadog/model_dashboard_list_add_items_request.go
  api/v2/datadog/model_dashboard_list_add_items_response.go
  api/v2/datadog/model_dashboard_list_delete_items_request.go
  api/v2/datadog/model_dashboard_list_delete_items_response.go
  api/v2/datadog/model_dashboard_list_item_request.go
  api/v2/datadog/model_dashboard_list_item_response.go
  api/v2/datadog/model_dashboard_list_update_items_request.go
  api/v2/datadog/model_dashboard_list_update_items_response.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

[logs][archives] Purely mock based tests
  tests/api/v2/datadog/api_logs_archives_test.go
  tests/api/v2/datadog/fixtures/logs/archives/azure/in/create.json
  tests/api/v2/datadog/fixtures/logs/archives/azure/out/create.json
  tests/api/v2/datadog/fixtures/logs/archives/gcs/in/create.json
  tests/api/v2/datadog/fixtures/logs/archives/gcs/out/create.json
  tests/api/v2/datadog/fixtures/logs/archives/s3/in/create.json
  tests/api/v2/datadog/fixtures/logs/archives/s3/out/create.json
  tests/api/v2/datadog/fixtures/logs/archives/s3/out/getall.json
  tests/api/v2/datadog/fixtures/logs/archives/s3/out/getbyid.json
Owners: @DataDog/integrations-tools-and-libraries

[logs][archives] Add tests for Logs Archives
  tests/api/v2/datadog/api_logs_archives_test.go
Owners: @DataDog/integrations-tools-and-libraries

[logs][archives] Use subtests
  tests/api/v2/datadog/api_logs_archives_test.go
Owners: @DataDog/integrations-tools-and-libraries

[logs][archives] Use t.Helper() and proper assert
  tests/api/v2/datadog/api_logs_archives_test.go
Owners: @DataDog/integrations-tools-and-libraries

[logs][archives] No need to test deser of input
  tests/api/v2/datadog/api_logs_archives_test.go
Owners: @DataDog/integrations-tools-and-libraries

[logs][archives] Use BodyString on mocks
  tests/api/v2/datadog/api_logs_archives_test.go
Owners: @DataDog/integrations-tools-and-libraries

Fix test
  tests/api/v1/datadog/api_dashboards_test.go
Owners: @DataDog/integrations-tools-and-libraries

Add Cassettes
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 80b557a of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_hosts.go
  api/v1/datadog/docs/DashboardsApi.md
  api/v1/datadog/docs/MonitorSummaryWidgetDefinition.md
  api/v1/datadog/docs/WidgetDefinition.md
  api/v1/datadog/docs/WidgetMonitorSummarySort.md
  api/v1/datadog/model_monitor_summary_widget_definition.go
  api/v1/datadog/model_widget_monitor_summary_sort.go
  api/v1/datadog/model_widget_service_summary_display_format.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

[logs][archives] Skip tests if mode=ignore
  tests/api/v2/datadog/api_logs_archives_test.go
Owners: @DataDog/integrations-tools-and-libraries

[logs][archives] Add test for update
  tests/api/v2/datadog/api_logs_archives_test.go
  tests/api/v2/datadog/fixtures/logs/archives/s3/in/update.json
  tests/api/v2/datadog/fixtures/logs/archives/s3/out/update.json
Owners: @DataDog/integrations-tools-and-libraries

Use sub-tests
  tests/api/v2/datadog/api_logs_archives_test.go
Owners: @DataDog/integrations-tools-and-libraries

[logs][archives] No need to deser input
  tests/api/v2/datadog/api_logs_archives_test.go
  tests/api/v2/datadog/fixtures/logs/archives/azure/in/create.json
  tests/api/v2/datadog/fixtures/logs/archives/gcs/in/create.json
  tests/api/v2/datadog/fixtures/logs/archives/s3/in/create.json
  tests/api/v2/datadog/fixtures/logs/archives/s3/in/update.json
Owners: @DataDog/integrations-tools-and-libraries

Fix tests to use the new roles objects
  tests/api/v2/datadog/api_roles_test.go
Owners: @DataDog/integrations-tools-and-libraries

[logs][archives] Renaming and validation on List
  tests/api/v2/datadog/api_logs_archives_test.go
Owners: @DataDog/integrations-tools-and-libraries

[logs][archives] Remove checkArchive
  tests/api/v2/datadog/api_logs_archives_test.go
Owners: @DataDog/integrations-tools-and-libraries

[logs][archives] Remove archivesAreEqual
  tests/api/v2/datadog/api_logs_archives_test.go
Owners: @DataDog/integrations-tools-and-libraries

[logs][archives] Change id
  tests/api/v2/datadog/api_logs_archives_test.go
  tests/api/v2/datadog/fixtures/logs/archives/azure/out/create.json
  tests/api/v2/datadog/fixtures/logs/archives/gcs/out/create.json
  tests/api/v2/datadog/fixtures/logs/archives/s3/out/getall.json
  tests/api/v2/datadog/fixtures/logs/archives/s3/out/getbyid.json
  tests/api/v2/datadog/fixtures/logs/archives/s3/out/update.json
Owners: @DataDog/integrations-tools-and-libraries

Apply suggestions from code review
  tests/api/v2/datadog/fixtures/logs/archives/azure/out/create.json
Owners: @DataDog/integrations-tools-and-libraries

Add a note about usage of 'UniqueEntityName' throughout tests
  DEVELOPMENT.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Expand IOW
  DEVELOPMENT.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Id -> ID
  DEVELOPMENT.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Add a note about usage of 'UniqueEntityName' throughout tests (#322)
  DEVELOPMENT.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit 1b4e147 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v2/datadog/api/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add Synthetics Get Locations tests
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsListLocations.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsListLocations.yaml
Owners: @DataDog/integrations-tools-and-libraries

Fix a potential sigsegv in logs test which happens when API doesn't return expected result
  tests/api/v1/datadog/api_logs_test.go
Owners: @DataDog/integrations-tools-and-libraries

Fix a potential sigsegv in logs test which happens when API doesn't return expected result (#326)
  tests/api/v1/datadog/api_logs_test.go
Owners: @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
