Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app

Lint
  tests/api/v2/datadog/api_logs_test.go
  tests/api/v2/datadog/security_monitoring_test.go
  tests/api/v2/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

Remove panic
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Quote copyright for names with commas
  LICENSE-3rdparty.csv
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

fix
  LICENSE-3rdparty.csv
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Quote copyright for names with commas (#733)
  LICENSE-3rdparty.csv
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Adds spans to v2 tests (#732)
  tests/api/v2/datadog/api_dashboard_lists_test.go
  tests/api/v2/datadog/api_logs_archives_test.go
  tests/api/v2/datadog/api_logs_test.go
  tests/api/v2/datadog/api_permissions_test.go
  tests/api/v2/datadog/api_roles_test.go
  tests/api/v2/datadog/api_users_test.go
  tests/api/v2/datadog/security_monitoring_test.go
  tests/api/v2/datadog/telemetry_test.go
  tests/api/v2/datadog/utils.go
  tests/scenarios.go
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Update tests
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

add slack integration endpoints tests
  tests/api/v1/datadog/api_slack_integration_test.go
  tests/api/v1/datadog/cassettes/TestSlackIntegrationCreateChannelErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestSlackIntegrationCreateChannelErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestSlackIntegrationCreateChannelErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestSlackIntegrationCreateChannelErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestSlackIntegrationCreateChannelErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestSlackIntegrationCreateChannelErrors/404_Not_Found.yaml
  tests/api/v1/datadog/cassettes/TestSlackIntegrationGetAllChannelsErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestSlackIntegrationGetAllChannelsErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestSlackIntegrationGetAllChannelsErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestSlackIntegrationGetAllChannelsErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestSlackIntegrationGetChannelErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestSlackIntegrationGetChannelErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestSlackIntegrationGetChannelErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestSlackIntegrationGetChannelErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestSlackIntegrationRemoveChannelErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestSlackIntegrationRemoveChannelErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestSlackIntegrationRemoveChannelErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestSlackIntegrationRemoveChannelErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestSlackIntegrationUpdateChannelErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestSlackIntegrationUpdateChannelErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestSlackIntegrationUpdateChannelErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestSlackIntegrationUpdateChannelErrors/403_Forbidden.yaml
  tests/api/v1/datadog/features/slack_integration.feature
  tests/api/v1/datadog/fixtures/slack-integration/create_channel.json
  tests/api/v1/datadog/fixtures/slack-integration/error_404.json
  tests/api/v1/datadog/fixtures/slack-integration/get_all_channels.json
  tests/api/v1/datadog/fixtures/slack-integration/get_channel.json
  tests/api/v1/datadog/fixtures/slack-integration/update_channel.json
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

fmt
  tests/api/v1/datadog/api_slack_integration_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 0eff793 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_monitors.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 12104ad of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageAttributionBody.md
  api/v1/datadog/model_usage_attribution_body.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

[Go] bug fix (breaking), minor code format enhancement (#8715)
  api.mustache
  client.mustache
  model_simple.mustache
  utils.mustache
Owners: @DataDog/integrations-tools-and-libraries

[Go] bug fix (breaking), minor code format enhancement (#8715)
  .generator/templates/api.mustache
  .generator/templates/client.mustache
  .generator/templates/model_simple.mustache
  .generator/templates/utils.mustache
Owners: @DataDog/integrations-tools-and-libraries

Add additional AWS v4 signature parameters to go client generator (#8706)
  client.mustache
  configuration.mustache
Owners: @DataDog/integrations-tools-and-libraries

Add additional AWS v4 signature parameters to go client generator (#8706)
  .generator/templates/client.mustache
  .generator/templates/configuration.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit f5b1c64 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/configuration.go
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/configuration.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 11611e4 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_monitors.go
  api/v1/datadog/docs/MonitorType.md
  api/v1/datadog/model_monitor_type.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit ab657a6 of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/SecurityMonitoringRuleDetectionMethod.md
  api/v2/datadog/docs/SecurityMonitoringRuleNewValueOptions.md
  api/v2/datadog/docs/SecurityMonitoringRuleNewValueOptionsForgetAfter.md
  api/v2/datadog/docs/SecurityMonitoringRuleNewValueOptionsLearningDuration.md
  api/v2/datadog/docs/SecurityMonitoringRuleOptions.md
  api/v2/datadog/model_security_monitoring_rule_detection_method.go
  api/v2/datadog/model_security_monitoring_rule_new_value_options.go
  api/v2/datadog/model_security_monitoring_rule_new_value_options_forget_after.go
  api/v2/datadog/model_security_monitoring_rule_new_value_options_learning_duration.go
  api/v2/datadog/model_security_monitoring_rule_options.go
  api/v2/datadog/model_security_monitoring_rule_query_aggregation.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Add hasExtendedTitle to security monitoring rule
  api/v2/datadog/api/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

update tests to use account name
  tests/api/v1/datadog/api_slack_integration_test.go
  tests/api/v1/datadog/cassettes/TestSlackIntegrationCreateChannelErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestSlackIntegrationCreateChannelErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestSlackIntegrationCreateChannelErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestSlackIntegrationCreateChannelErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestSlackIntegrationGetAllChannelsErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestSlackIntegrationGetAllChannelsErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestSlackIntegrationGetAllChannelsErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestSlackIntegrationGetAllChannelsErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestSlackIntegrationGetChannelErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestSlackIntegrationGetChannelErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestSlackIntegrationGetChannelErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestSlackIntegrationGetChannelErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestSlackIntegrationRemoveChannelErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestSlackIntegrationRemoveChannelErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestSlackIntegrationRemoveChannelErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestSlackIntegrationRemoveChannelErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestSlackIntegrationUpdateChannelErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestSlackIntegrationUpdateChannelErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestSlackIntegrationUpdateChannelErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestSlackIntegrationUpdateChannelErrors/403_Forbidden.yaml
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Update tests
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestEndpointLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestEndpointLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestEndpointLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestEndpointLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Multistep tests
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsAPIMultistepTestEndpointLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsAPIMultistepTestEndpointLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Fix broken link
  api/v1/datadog/docs/MonitorOptions.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit 0e18234 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_slack_integration.go
  api/v1/datadog/client.go
  api/v1/datadog/docs/SlackIntegrationApi.md
  api/v1/datadog/docs/SlackIntegrationChannel.md
  api/v1/datadog/docs/SlackIntegrationChannelDisplay.md
  api/v1/datadog/model_slack_integration_channel.go
  api/v1/datadog/model_slack_integration_channel_display.go
  tests/api/v1/datadog/features/slack_integration.feature
  tests/api/v1/datadog/features/undo.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

fix format
  tests/api/v1/datadog/api_slack_integration_test.go
Owners: @DataDog/integrations-tools-and-libraries

fix format (#745)
  tests/api/v1/datadog/api_slack_integration_test.go
Owners: @DataDog/integrations-tools-and-libraries

Update tests for dashboard resource
  tests/api/v1/datadog/api_dashboards_test.go
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Fix casing
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 960dc55 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/FormulaAndFunctionEventQueryDefinition.md
  api/v1/datadog/docs/FormulaAndFunctionEventQueryDefinitionCompute.md
  api/v1/datadog/docs/FormulaAndFunctionEventQueryDefinitionSearch.md
  api/v1/datadog/docs/FormulaAndFunctionEventQueryGroupBy.md
  api/v1/datadog/docs/FormulaAndFunctionEventQueryGroupBySort.md
  api/v1/datadog/docs/FormulaAndFunctionMetricQueryDefinition.md
  api/v1/datadog/docs/FormulaAndFunctionProcessQueryDefinition.md
  api/v1/datadog/docs/FormulaAndFunctionQueryDefinition.md
  api/v1/datadog/docs/TimeSeriesFormulaAndFunctionEventQueryDefinition.md
  api/v1/datadog/docs/TimeSeriesFormulaAndFunctionEventQueryDefinitionSearch.md
  api/v1/datadog/docs/TimeSeriesFormulaAndFunctionEventQueryGroupBy.md
  api/v1/datadog/model_formula_and_function_event_query_definition.go
  api/v1/datadog/model_formula_and_function_event_query_definition_compute.go
  api/v1/datadog/model_formula_and_function_event_query_definition_search.go
  api/v1/datadog/model_formula_and_function_event_query_group_by.go
  api/v1/datadog/model_formula_and_function_event_query_group_by_sort.go
  api/v1/datadog/model_formula_and_function_metric_query_definition.go
  api/v1/datadog/model_formula_and_function_process_query_definition.go
  api/v1/datadog/model_formula_and_function_query_definition.go
  api/v1/datadog/model_time_series_formula_and_function_event_query_definition.go
  api/v1/datadog/model_time_series_formula_and_function_event_query_definition_compute.go
  api/v1/datadog/model_time_series_formula_and_function_event_query_definition_search.go
  api/v1/datadog/model_time_series_formula_and_function_event_query_group_by.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

add `groupby_simple_monitor` to monitors spec
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/MonitorOptions.md
  api/v1/datadog/model_monitor_options.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

[GO] use latest available oauth2 version (#8764)
  go.mod.mustache
Owners: @DataDog/integrations-tools-and-libraries

[GO] use latest available oauth2 version (#8764)
  .generator/templates/go.mod.mustache
Owners: @DataDog/integrations-tools-and-libraries

Add tests for toplist requests using formulas and functions
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

cassettes
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_Ingested_Tags_by_Metric_Name_returns__Success__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_Ingested_Tags_by_Metric_Name_returns__Success__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_Ingested_and_Indexed_Volumes_by_Metric_Name_returns__Success__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_Ingested_and_Indexed_Volumes_by_Metric_Name_returns__Success__response.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit a35be2d of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/DowntimeRecurrence.md
  api/v1/datadog/model_downtime_recurrence.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 5016587 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/TimeseriesWidgetRequest.md
  api/v1/datadog/docs/ToplistWidgetRequest.md
  api/v1/datadog/model_formula_and_function_response_format.go
  api/v1/datadog/model_timeseries_widget_request.go
  api/v1/datadog/model_toplist_widget_request.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Implement tests for query value formulas and functions
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Merge with master
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add tests for query value widgets using formulas and functions
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit ac9282d of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/QueryValueWidgetRequest.md
  api/v1/datadog/model_query_value_widget_request.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava
