Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

[Go-client] Fix the ineffectual assignment to `err` in `decode` (#10275)
  .generator/templates/client.mustache
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Tests for get batch endpoint
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsTriggerCITests.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsTriggerCITests.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 04b2dd3 of spec repo
  .apigentools-info
  tests/api/v1/datadog/features/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries

Remove skipReadonlyPropertiesInInit option (#10269)
  .generator/templates/model_simple.mustache
Owners: @DataDog/integrations-tools-and-libraries

Fix thousands of spelling typos (#10272)
  .generator/templates/README.mustache
  .generator/templates/git_push.sh.mustache
  .generator/templates/model_anyof.mustache
  .generator/templates/model_oneof.mustache
  .generator/templates/signing.mustache
Owners: @DataDog/integrations-tools-and-libraries

added test for go client
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/features/dashboards.feature
Owners: @DataDog/integrations-tools-and-libraries

Implement go tests for formulas and functions change widget
  tests/api/v1/datadog/api_dashboards_test.go
Owners: @DataDog/integrations-tools-and-libraries

Correct go test
  tests/api/v1/datadog/api_dashboards_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate dashboard lifecycle cassettes
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate dashboard lifecycle cassettes
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit a8c3fbb of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/ChangeWidgetRequest.md
  api/v1/datadog/model_change_widget_request.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Update cassettes
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit e9ac191 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/DashboardTemplateVariable.md
  api/v1/datadog/model_dashboard_template_variable.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit a9c0eae of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SLOHistoryResponseErrorWithType.md
  api/v1/datadog/docs/SLOHistorySLIData.md
  api/v1/datadog/model_slo_history_response_error.go
  api/v1/datadog/model_slo_history_response_error_with_type.go
  api/v1/datadog/model_slo_history_sli_data.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Use a constructor with defaults
  tests/api/v1/datadog/api_service_level_objectives_test.go
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Fix unused variable
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Update tests
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsAPIMultistepTestEndpointLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsAPIMultistepTestEndpointLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 8d89f84 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_organizations.go
  api/v1/datadog/docs/OrganizationsApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit b4ace00 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SLOHistoryMonitor.md
  api/v1/datadog/docs/SLOHistoryResponseData.md
  api/v1/datadog/model_slo_history_monitor.go
  api/v1/datadog/model_slo_history_response_data.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 7c115a3 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsTestRequest.md
  api/v1/datadog/model_synthetics_test_request.go
  tests/api/v1/datadog/features/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 965e51f of spec repo
  .apigentools-info
  api/v1/datadog/README.md
  api/v1/datadog/client.go
  api/v1/datadog/model_distribution_widget_definition.go
  api/v1/datadog/model_log_stream_widget_definition.go
  api/v1/datadog/model_monitor_options.go
  api/v1/datadog/model_monitor_summary_widget_definition.go
  api/v1/datadog/model_organization.go
  api/v1/datadog/model_organization_create_body.go
  api/v1/datadog/model_slo_history_monitor.go
  api/v1/datadog/model_slo_history_sli_data.go
  api/v1/datadog/response.go
  api/v2/datadog/README.md
  api/v2/datadog/client.go
  api/v2/datadog/model_logs_archive_definition.go
  api/v2/datadog/response.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 6ca80f8 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SLOHistoryMetricsSeries.md
  api/v1/datadog/model_slo_history_metrics_series.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 028f995 of spec repo
  .apigentools-info
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/AWSLogsIntegrationApi.md
  api/v1/datadog/docs/AuthenticationApi.md
  api/v1/datadog/docs/DashboardListsApi.md
  api/v1/datadog/docs/DashboardsApi.md
  api/v1/datadog/docs/DowntimesApi.md
  api/v1/datadog/docs/EventsApi.md
  api/v1/datadog/docs/HostsApi.md
  api/v1/datadog/docs/MetricsApi.md
  api/v1/datadog/docs/MonitorsApi.md
  api/v1/datadog/docs/ServiceLevelObjectivesApi.md
  api/v1/datadog/docs/SnapshotsApi.md
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/docs/TagsApi.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/docs/UsersApi.md
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/DashboardListsApi.md
  api/v2/datadog/docs/MetricsApi.md
  api/v2/datadog/docs/ProcessesApi.md
  api/v2/datadog/docs/RolesApi.md
  api/v2/datadog/docs/SecurityMonitoringApi.md
  api/v2/datadog/docs/UsersApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Add cassettes for Go
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_apm_dependency_stats_widget.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_apm_dependency_stats_widget.yaml
Owners: @DataDog/integrations-tools-and-libraries

Use custom fork of go-lookup
  tests/go.mod
  tests/go.sum
Owners: @DataDog/integrations-tools-and-libraries

Update licence ref
  LICENSE-3rdparty.csv
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Use custom fork of go-lookup (#1105)
  LICENSE-3rdparty.csv
  tests/go.mod
  tests/go.sum
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

improve missing freeze error message
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 092cad9 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v2/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/metrics.feature
  tests/api/v1/datadog/features/synthetics.feature
  tests/api/v2/datadog/features/security_monitoring.feature
Owners: @DataDog/integrations-tools-and-libraries

improve missing freeze error message (#1106)
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit b1c1fe4 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/MonitorsApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit e4b1338 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/FormulaAndFunctionApmDependencyStatName.md
  api/v1/datadog/docs/FormulaAndFunctionApmDependencyStatsDataSource.md
  api/v1/datadog/docs/FormulaAndFunctionApmDependencyStatsQueryDefinition.md
  api/v1/datadog/docs/FormulaAndFunctionQueryDefinition.md
  api/v1/datadog/model_formula_and_function_apm_dependency_stat_name.go
  api/v1/datadog/model_formula_and_function_apm_dependency_stats_data_source.go
  api/v1/datadog/model_formula_and_function_apm_dependency_stats_query_definition.go
  api/v1/datadog/model_formula_and_function_query_definition.go
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_apm_dependency_stats_widget.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_apm_dependency_stats_widget.yaml
  tests/api/v1/datadog/features/dashboards.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 63d8880 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_service_level_objective_corrections.go
  api/v1/datadog/docs/SLOCorrection.md
  api/v1/datadog/docs/SLOCorrectionCreateData.md
  api/v1/datadog/docs/SLOCorrectionCreateRequestAttributes.md
  api/v1/datadog/docs/SLOCorrectionListResponse.md
  api/v1/datadog/docs/SLOCorrectionResponseAttributes.md
  api/v1/datadog/docs/SLOCorrectionUpdateRequestAttributes.md
  api/v1/datadog/docs/ServiceLevelObjectiveCorrectionsApi.md
  api/v1/datadog/model_slo_correction.go
  api/v1/datadog/model_slo_correction_category.go
  api/v1/datadog/model_slo_correction_create_data.go
  api/v1/datadog/model_slo_correction_create_request.go
  api/v1/datadog/model_slo_correction_create_request_attributes.go
  api/v1/datadog/model_slo_correction_list_response.go
  api/v1/datadog/model_slo_correction_response.go
  api/v1/datadog/model_slo_correction_response_attributes.go
  api/v1/datadog/model_slo_correction_update_data.go
  api/v1/datadog/model_slo_correction_update_request.go
  api/v1/datadog/model_slo_correction_update_request_attributes.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 864476c of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v2/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/key_management.feature
  tests/api/v2/datadog/features/key_management.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit dd3ae87 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/FormulaAndFunctionApmResourceStatName.md
  api/v1/datadog/docs/FormulaAndFunctionApmResourceStatsDataSource.md
  api/v1/datadog/docs/FormulaAndFunctionApmResourceStatsQueryDefinition.md
  api/v1/datadog/docs/FormulaAndFunctionQueryDefinition.md
  api/v1/datadog/model_formula_and_function_apm_resource_stat_name.go
  api/v1/datadog/model_formula_and_function_apm_resource_stats_data_source.go
  api/v1/datadog/model_formula_and_function_apm_resource_stats_query_definition.go
  api/v1/datadog/model_formula_and_function_query_definition.go
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_apm_resource_stats_widget.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_apm_resource_stats_widget.yaml
  tests/api/v1/datadog/features/dashboards.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

prepare for 1.4.0 release
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

prepare for 1.4.0 release (#1108)
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Revert "prepare for 1.4.0 release (#1108)"
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Revert "prepare for 1.4.0 release (#1108)" (#1109)
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit 0ded40f of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/FormulaAndFunctionApmDependencyStatsQueryDefinition.md
  api/v1/datadog/model_formula_and_function_apm_dependency_stats_query_definition.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
