Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

Regenerate client from commit 47465fb of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/ListStreamSource.md
  api/v1/datadog/model_list_stream_source.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 692cbbb of spec repo
  .apigentools-info
  tests/api/v1/datadog/features/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries

Remove test
  tests/api/v1/datadog/api_pager_duty_integration_test.go
  tests/api/v1/datadog/cassettes/TestPagerDutyServicesCreateErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestPagerDutyServicesCreateErrors/400_Bad_Request.yaml
Owners: @DataDog/integrations-tools-and-libraries

Remove test (#1066)
  tests/api/v1/datadog/api_pager_duty_integration_test.go
  tests/api/v1/datadog/cassettes/TestPagerDutyServicesCreateErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestPagerDutyServicesCreateErrors/400_Bad_Request.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit f7db18b of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SLOHistorySLIData.md
  api/v1/datadog/model_slo_history_sli_data.go
  tests/api/v1/datadog/features/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 9684c06 of spec repo
  .apigentools-info
  tests/api/v1/datadog/api_pager_duty_integration_test.go
  tests/api/v1/datadog/features/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit fa2403b of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsGlobalVariableParserType.md
  api/v1/datadog/model_synthetics_global_variable_parser_type.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Record, add upper support
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Create_a_custom_variable_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Create_a_custom_variable_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Create_a_webhooks_integration_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Create_a_webhooks_integration_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Delete_a_custom_variable_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Delete_a_custom_variable_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Delete_a_webhook_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Delete_a_webhook_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Get_a_webhook_integration_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Get_a_webhook_integration_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Update_a_custom_variable_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Update_a_custom_variable_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Update_a_webhook_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Update_a_webhook_returns_OK_response.yaml
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 64ee0b9 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_webhooks_integration.go
  api/v1/datadog/client.go
  api/v1/datadog/docs/WebhooksIntegration.md
  api/v1/datadog/docs/WebhooksIntegrationApi.md
  api/v1/datadog/docs/WebhooksIntegrationCustomVariable.md
  api/v1/datadog/docs/WebhooksIntegrationCustomVariableResponse.md
  api/v1/datadog/docs/WebhooksIntegrationCustomVariableUpdateRequest.md
  api/v1/datadog/docs/WebhooksIntegrationEncoding.md
  api/v1/datadog/docs/WebhooksIntegrationUpdateRequest.md
  api/v1/datadog/model_webhooks_integration.go
  api/v1/datadog/model_webhooks_integration_custom_variable.go
  api/v1/datadog/model_webhooks_integration_custom_variable_response.go
  api/v1/datadog/model_webhooks_integration_custom_variable_update_request.go
  api/v1/datadog/model_webhooks_integration_encoding.go
  api/v1/datadog/model_webhooks_integration_update_request.go
  tests/api/v1/datadog/features/given.json
  tests/api/v1/datadog/features/undo.json
  tests/api/v1/datadog/features/webhooks_integration.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit fcc640d of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsGlobalVariable.md
  api/v1/datadog/docs/SyntheticsGlobalVariableAttributes.md
  api/v1/datadog/model_synthetics_global_variable.go
  api/v1/datadog/model_synthetics_global_variable_attributes.go
  tests/api/v1/datadog/features/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit e3699c0 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/FormulaAndFunctionEventsDataSource.md
  api/v1/datadog/model_formula_and_function_events_data_source.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Squashed commit of the following:
  .generator/templates/README.mustache
  .generator/templates/client.mustache
  .generator/templates/git_push.sh.mustache
  .generator/templates/model_simple.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 20a3ffe of spec repo
  .apigentools-info
  tests/api/v1/datadog/features/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries

Remove attr, export util func
  .generator/templates/model_oneof.mustache
  .generator/templates/model_simple.mustache
  .generator/templates/utils.mustache
  tests/api/deserialization_test.go
  tests/api/utils_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 465f7d3 of spec repo
  .apigentools-info
  api/v1/datadog/utils.go
  api/v2/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

add nullable cases
  tests/api/utils_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 092b505 of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/IncidentCreateAttributes.md
  api/v2/datadog/docs/IncidentNotificationHandle.md
  api/v2/datadog/docs/IncidentResponseAttributes.md
  api/v2/datadog/docs/IncidentUpdateAttributes.md
  api/v2/datadog/model_incident_create_attributes.go
  api/v2/datadog/model_incident_notification_handle.go
  api/v2/datadog/model_incident_response_attributes.go
  api/v2/datadog/model_incident_update_attributes.go
  tests/api/v2/datadog/features/incidents.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

update ContainsUnparsedObject to retur the object
  .generator/templates/utils.mustache
  tests/api/utils_test.go
Owners: @DataDog/integrations-tools-and-libraries

fmt
  .generator/templates/utils.mustache
  tests/api/utils_test.go
Owners: @DataDog/integrations-tools-and-libraries

apply code review suggestions
  .generator/templates/utils.mustache
  tests/api/utils_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 722ac36 of spec repo
  .apigentools-info
  api/v1/datadog/utils.go
  api/v2/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 2f52b9e of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit eaa6615 of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/SecurityMonitoringRuleCreatePayload.md
  api/v2/datadog/docs/SecurityMonitoringRuleResponse.md
  api/v2/datadog/docs/SecurityMonitoringRuleTypeCreate.md
  api/v2/datadog/docs/SecurityMonitoringRuleTypeRead.md
  api/v2/datadog/model_security_monitoring_rule_create_payload.go
  api/v2/datadog/model_security_monitoring_rule_response.go
  api/v2/datadog/model_security_monitoring_rule_type_create.go
  api/v2/datadog/model_security_monitoring_rule_type_read.go
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_with_type_workload_security_returns_OK_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_with_type_workload_security_returns_OK_response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_an_existing_rule_returns_OK_response.yaml
  tests/api/v2/datadog/features/given.json
  tests/api/v2/datadog/features/security_monitoring.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit cda030e of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_monitors.go
  api/v1/datadog/docs/MonitorsApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 4f0cc56 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsGlobalVariableValue.md
  api/v1/datadog/docs/SyntheticsTriggerCITestsResponse.md
  api/v1/datadog/model_synthetics_global_variable_value.go
  api/v1/datadog/model_synthetics_trigger_ci_tests_response.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 96bac9a of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_monitors.go
  api/v1/datadog/docs/MonitorType.md
  api/v1/datadog/docs/MonitorsApi.md
  api/v1/datadog/model_monitor_type.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Update go SubmitMetrics Example
  api/v1/datadog/docs/MetricsApi.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit fe1d096 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/MonitorsApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

[Synthetics] Add config variables in browser tests
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestEndpointLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestEndpointLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsMultipleTestsOperations.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsMultipleTestsOperations.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 67944e6 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit fccf269 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageAttributionSupportedMetrics.md
  api/v1/datadog/docs/UsageAttributionValues.md
  api/v1/datadog/docs/UsageDBMHour.md
  api/v1/datadog/docs/UsageDBMResponse.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/docs/UsageSummaryDate.md
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_attribution_supported_metrics.go
  api/v1/datadog/model_usage_attribution_values.go
  api/v1/datadog/model_usage_dbm_hour.go
  api/v1/datadog/model_usage_dbm_response.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
  tests/api/v1/datadog/features/undo.json
  tests/api/v1/datadog/features/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Skip setting readOnly properties with default values in model constructors (#10196)
  .generator/templates/model_simple.mustache
Owners: @DataDog/integrations-tools-and-libraries

[go] Support for response status code ranges (#10075)
  .generator/templates/api.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit db0de24 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsBrowserTestConfig.md
  api/v1/datadog/docs/SyntheticsTestConfig.md
  api/v1/datadog/model_synthetics_browser_test_config.go
  api/v1/datadog/model_synthetics_test_config.go
  tests/api/v1/datadog/features/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

prepare for 1.3.0 release
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

changelog fixes
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Update CHANGELOG.md
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Prepare for 1.3.0 release (#1087)
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

start new release cycle
  version.go
Owners: @DataDog/integrations-tools-and-libraries

start new release cycle (#1088)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
