Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

Remove log calls from v1 tests
  tests/api/v1/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

Remove log calls from v1 tests (#777)
  tests/api/v1/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

Add cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Checks/Scenario_Submit_a_Service_Check_returns__Payload_accepted__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Checks/Scenario_Submit_a_Service_Check_returns__Payload_accepted__response.yaml
Owners: @DataDog/integrations-tools-and-libraries

Don't run changelog check until PR is ready for review
  .github/workflows/changelog.yaml
Owners: @DataDog/integrations-tools-and-libraries

Don't run changelog check until PR is ready for review (#778)
  .github/workflows/changelog.yaml
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Tests for new fields
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestEndpointLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestEndpointLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

ci: use DD_INSIDE_CI
  .azure-pipelines/all.yml
Owners: @DataDog/integrations-tools-and-libraries

ci: use DD_INSIDE_CI (#780)
  .azure-pipelines/all.yml
Owners: @DataDog/integrations-tools-and-libraries

build: use licensed to trace 3rd party licenses
  .licensed.yml
  .licenses/check.sh
  .licenses/go/golang.org/x/net/context/ctxhttp.dep.yml
  .licenses/go/golang.org/x/oauth2.dep.yml
  .licenses/go/golang.org/x/oauth2/internal.dep.yml
  .licenses/licenses.py
  .pre-commit-config.yaml
  LICENSE-3rdparty.csv
  NOTICE
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

remove custom license checl
  run-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 54a10e7 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_metrics.go
  api/v1/datadog/docs/MetricsApi.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_metrics.go
  api/v2/datadog/docs/MetricsApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Tweak README
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Tweak README (#783)
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit 95807f2 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SLOHistoryResponseData.md
  api/v1/datadog/docs/SLOHistorySLIData.md
  api/v1/datadog/model_slo_history_metrics.go
  api/v1/datadog/model_slo_history_response_data.go
  api/v1/datadog/model_slo_history_sli_data.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

First scenario in security monitorking is OK
  tests/api/v2/datadog/features/security_monitoring.feature
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

First and Second scenario in security monitoring are OK
  tests/api/v2/datadog/features/security_monitoring.feature
  tests/api/v2/datadog/features/undo.json
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 347c26b of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsAPITestResultShortResult.md
  api/v1/datadog/docs/SyntheticsCheckType.md
  api/v1/datadog/docs/SyntheticsTestOptions.md
  api/v1/datadog/docs/SyntheticsTestRequest.md
  api/v1/datadog/model_synthetics_api_test_result_short_result.go
  api/v1/datadog/model_synthetics_check_type.go
  api/v1/datadog/model_synthetics_test_options.go
  api/v1/datadog/model_synthetics_test_request.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

release beta 17
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

go mod tidy
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

Release beta 17 (#786)
  CHANGELOG.md
  go.sum
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

New dev cycle
  version.go
Owners: @DataDog/integrations-tools-and-libraries

New dev cycle (#788)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

First 4 tests are passing in security monitoring
  tests/api/v2/datadog/features/security_monitoring.feature
  tests/api/v2/datadog/features/undo.json
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Removed t.Logf from body func
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 208c57f of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/SecurityMonitoringRuleQuery.md
  api/v2/datadog/docs/SecurityMonitoringRuleQueryCreate.md
  api/v2/datadog/docs/SecurityMonitoringRuntimeAgentRule.md
  api/v2/datadog/model_security_monitoring_rule_query.go
  api/v2/datadog/model_security_monitoring_rule_query_create.go
  api/v2/datadog/model_security_monitoring_runtime_agent_rule.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Updated scenarios.go
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

updated cassettes
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__Bad_Request__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__Bad_Request__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_non_existing_rule_returns__Not_Found__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_non_existing_rule_returns__Not_Found__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_an_existing_rule_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_an_existing_rule_returns__OK__response.yaml
Owners: @DataDog/integrations-tools-and-libraries

Update cassettes for datadog-api-client-go
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__Bad_Request__response.freeze
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__Bad_Request__response.yaml
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__OK__response.freeze
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__OK__response.yaml
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_non_existing_rule_returns__Not_Found__response.freeze
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_non_existing_rule_returns__Not_Found__response.yaml
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_an_existing_rule_returns__OK__response.freeze
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_an_existing_rule_returns__OK__response.yaml
Owners: @DataDog/integrations-tools-and-libraries

Updated scenarios.go (#785)
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit ae69a43 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/docs/UsageTopAvgMetricsMetadata.md
  api/v1/datadog/docs/UsageTopAvgMetricsResponse.md
  api/v1/datadog/model_usage_top_avg_metrics_metadata.go
  api/v1/datadog/model_usage_top_avg_metrics_response.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Add tests for timeseries legend properties
  tests/api/v1/datadog/api_dashboards_test.go
Owners: @DataDog/integrations-tools-and-libraries

update cassettes
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit cc977e5 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/TimeseriesWidgetDefinition.md
  api/v1/datadog/docs/TimeseriesWidgetLegendLayout.md
  api/v1/datadog/docs/WidgetDefinition.md
  api/v1/datadog/model_timeseries_widget_definition.go
  api/v1/datadog/model_timeseries_widget_legend_layout.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Update cassette
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Events/Scenario_Post_an_event_returns__OK__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Events/Scenario_Post_an_event_returns__OK__response.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 8d5c1fd of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/ServiceLevelObjectivesApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 0453a45 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_events.go
  api/v1/datadog/api_logs.go
  api/v1/datadog/api_metrics.go
  api/v1/datadog/api_service_checks.go
  api/v1/datadog/client.go
  api/v1/datadog/configuration.go
  api/v1/datadog/docs/ContentEncoding.md
  api/v1/datadog/docs/EventCreateRequest.md
  api/v1/datadog/docs/EventCreateResponse.md
  api/v1/datadog/docs/EventsApi.md
  api/v1/datadog/docs/HTTPLogError.md
  api/v1/datadog/docs/HTTPLogItem.md
  api/v1/datadog/docs/IntakePayloadAccepted.md
  api/v1/datadog/docs/LogsApi.md
  api/v1/datadog/docs/MetricsApi.md
  api/v1/datadog/docs/MetricsPayload.md
  api/v1/datadog/docs/Series.md
  api/v1/datadog/docs/ServiceCheck.md
  api/v1/datadog/docs/ServiceCheckStatus.md
  api/v1/datadog/docs/ServiceChecksApi.md
  api/v1/datadog/model_content_encoding.go
  api/v1/datadog/model_event_create_request.go
  api/v1/datadog/model_event_create_response.go
  api/v1/datadog/model_http_log_error.go
  api/v1/datadog/model_http_log_item.go
  api/v1/datadog/model_intake_payload_accepted.go
  api/v1/datadog/model_metrics_payload.go
  api/v1/datadog/model_series.go
  api/v1/datadog/model_service_check.go
  api/v1/datadog/model_service_check_status.go
  tests/api/v1/datadog/features/events.feature
  tests/api/v1/datadog/features/logs.feature
  tests/api/v1/datadog/features/metrics.feature
  tests/api/v1/datadog/features/service_checks.feature
  tests/api/v1/datadog/features/undo.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit b473944 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__Bad_Request__response.freeze
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__Bad_Request__response.yaml
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__OK__response.freeze
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__OK__response.yaml
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_non_existing_rule_returns__Not_Found__response.freeze
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_non_existing_rule_returns__Not_Found__response.yaml
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_an_existing_rule_returns__OK__response.freeze
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_an_existing_rule_returns__OK__response.yaml
  tests/api/v2/datadog/features/given.json
  tests/api/v2/datadog/features/security_monitoring.feature
  tests/api/v2/datadog/features/undo.json
Owners: @DataDog/integrations-tools-and-libraries

fix test
  tests/api/v1/datadog/api_dashboards_test.go
Owners: @DataDog/integrations-tools-and-libraries

update cassettes
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__Bad_Request__response.freeze
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__Bad_Request__response.yaml
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__OK__response.freeze
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__OK__response.yaml
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_non_existing_rule_returns__Not_Found__response.freeze
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_non_existing_rule_returns__Not_Found__response.yaml
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_an_existing_rule_returns__OK__response.freeze
  api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_an_existing_rule_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__Bad_Request__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__Bad_Request__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_non_existing_rule_returns__Not_Found__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_non_existing_rule_returns__Not_Found__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_an_existing_rule_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_an_existing_rule_returns__OK__response.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit f22ef72 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/TimeseriesWidgetDefinition.md
  api/v1/datadog/docs/TimeseriesWidgetLegendColumn.md
  api/v1/datadog/docs/WidgetDefinition.md
  api/v1/datadog/model_timeseries_widget_definition.go
  api/v1/datadog/model_timeseries_widget_legend_column.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
