Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app

🚑 Skip TestPagerDutyServicesCreateErrors/40(0|4) (#256)
  tests/api/v1/datadog/api_pager_duty_integration_test.go
Owners: @DataDog/integrations-tools-and-libraries

Enable App Analytics for test spans (#257)
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Improve APM for 5xx responses
  .azure-pipelines/all.yml
  docker-compose.yml
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Support DD_SERVICE env
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Improve APM for 5xx responses (#258)
  .azure-pipelines/all.yml
  docker-compose.yml
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit cfe781d of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add section about unstable endpoints (#255)
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit f698783 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsTestDetails.md
  api/v1/datadog/docs/SyntheticsTestOptions.md
  api/v1/datadog/model_synthetics_test_details.go
  api/v1/datadog/model_synthetics_test_options.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

update synthetics test method and url to use pointers
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 7f5b447 of spec repo
  .apigentools-info
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_pager_duty_integration.go
  api/v1/datadog/docs/PagerDutyIntegration.md
  api/v1/datadog/docs/PagerDutyIntegrationApi.md
  api/v1/datadog/docs/PagerDutyServicesAndSchedules.md
  api/v1/datadog/model_pager_duty_integration.go
  api/v1/datadog/model_pager_duty_services_and_schedules.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 0647c3f of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsTestRequest.md
  api/v1/datadog/model_synthetics_test_request.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

add tests for nested pipelines
  tests/api/v1/datadog/api_logs_pipelines_test.go
  tests/api/v1/datadog/cassettes/TestLogsPipelinesLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestLogsPipelinesLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

update test and commits
  tests/api/v1/datadog/api_logs_pipelines_test.go
  tests/api/v1/datadog/cassettes/TestLogsPipelinesLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestLogsPipelinesLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

update cassettes and fix grammer
  tests/api/v1/datadog/api_logs_pipelines_test.go
  tests/api/v1/datadog/cassettes/TestLogsPipelinesLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestLogsPipelinesLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 494a127 of spec repo
  .apigentools-info
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/LogsPipelineProcessor.md
  api/v1/datadog/model_logs_pipeline_processor.go
  api/v1/datadog/model_logs_processor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Add generated_files file
  .generated_files
Owners: @DataDog/integrations-tools-and-libraries

add tests for fields logset, count and start
  tests/api/v1/datadog/api_dashboards_test.go
Owners: @DataDog/integrations-tools-and-libraries

update cassettes
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

File return type fix (#5644)
  .generator/templates/client.mustache
Owners: @DataDog/integrations-tools-and-libraries

File return type fix (#5644)
  client.mustache
Owners: @DataDog/integrations-tools-and-libraries

Run integration tests every 3 hours
  .azure-pipelines/all.yml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 14ea455 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_monitors.go
  api/v1/datadog/model_monitor_type.go
Owners: @DataDog/integrations-tools-and-libraries

Apply suggestions from code review
  .azure-pipelines/all.yml
Owners: @DataDog/integrations-tools-and-libraries

Run integration tests every 3 hours (#272)
  .azure-pipelines/all.yml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 6642222 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_monitors.go
Owners: @DataDog/integrations-tools-and-libraries

Prep beta.2 release
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit 7a54799 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_aws_logs_integration.go
  api/v1/datadog/docs/SyntheticsTestDetails.md
  api/v1/datadog/docs/SyntheticsTestOptions.md
  api/v1/datadog/model_synthetics_test_details.go
  api/v1/datadog/model_synthetics_test_options.go
  api/v1/datadog/model_usage_trace_hour.go
  api/v1/datadog/model_usage_trace_response.go
  api/v1/datadog/model_widget_definition.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Fix monitor and SLO tests
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/cassettes/TestMonitorDeleteErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestMonitorDeleteErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestMonitorDeleteErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestMonitorDeleteErrors/404_Not_Found.yaml
Owners: @DataDog/integrations-tools-and-libraries

Release 1.0.0-beta.2 (#276)
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit 3312a7d of spec repo
  .apigentools-info
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_aws_logs_integration.go
  api/v1/datadog/api_monitors.go
  api/v1/datadog/api_service_level_objectives.go
  api/v1/datadog/configuration.go
  api/v1/datadog/docs/MonitorOptions.md
  api/v1/datadog/docs/MonitorUpdateRequest.md
  api/v1/datadog/docs/MonitorsApi.md
  api/v1/datadog/docs/ServiceLevelObjectiveRequest.md
  api/v1/datadog/docs/ServiceLevelObjectivesApi.md
  api/v1/datadog/model_monitor_type.go
  api/v1/datadog/model_monitor_update_request.go
  api/v1/datadog/model_service_level_objective_request.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Enable unstable endpoints
  tests/api/v1/datadog/api_logs_indexes_test.go
Owners: @DataDog/integrations-tools-and-libraries

More places
  tests/api/v1/datadog/api_logs_indexes_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit e3ae588 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_logs_indexes.go
  api/v1/datadog/configuration.go
Owners: @DataDog/integrations-tools-and-libraries

Rename TimeseriesWidgetRequestStyle to WidgetRequestStyle
  tests/api/v1/datadog/api_dashboards_test.go
Owners: @DataDog/integrations-tools-and-libraries

Add AWS Account conflict test
  tests/api/v1/datadog/api_aws_integration_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 71172fa of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/DashboardsApi.md
  api/v1/datadog/docs/LogStreamWidgetDefinition.md
  api/v1/datadog/docs/MonitorSummaryWidgetDefinition.md
  api/v1/datadog/model_log_stream_widget_definition.go
  api/v1/datadog/model_monitor_summary_widget_definition.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Add generated_files file (#270)
  .generated_files
Owners: @DataDog/integrations-tools-and-libraries

Test /v1/validate endpoint
  tests/api/v1/datadog/api_authentication_test.go
  tests/api/v1/datadog/cassettes/TestAuthenticationValidate/200_Valid.freeze
  tests/api/v1/datadog/cassettes/TestAuthenticationValidate/200_Valid.yaml
  tests/api/v1/datadog/cassettes/TestAuthenticationValidate/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestAuthenticationValidate/403_Forbidden.yaml
Owners: @DataDog/integrations-tools-and-libraries

test(roles): AAA-1540 - add test for 422 error
  tests/api/v2/datadog/api_roles_test.go
  tests/api/v2/datadog/cassettes/TestUpdateRoleErrors.freeze
  tests/api/v2/datadog/cassettes/TestUpdateRoleErrors.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 283b57d of spec repo
  .apigentools-info
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/model_synthetics_delete_tests_response.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava
