Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

Remove useless checkout
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 2439bda0 of spec repo
  .apigentools-info
  tests/scenarios/features/v2/metrics.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 72426c86 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/api_usage_metering.go
Owners: @DataDog/integrations-tools-and-libraries

initial move to common package
  .generator/src/generator/cli.py
  .generator/src/generator/formatter.py
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/api.j2
  .generator/src/generator/templates/client.j2
  .generator/src/generator/templates/configuration.j2
  .generator/src/generator/templates/model_simple.j2
  .generator/src/generator/templates/utils.j2
Owners: @DataDog/integrations-tools-and-libraries

update hard coded examples
  tests/api/deserialization_test.go
  tests/api/utils_test.go
  tests/api/v1/datadog/api_authentication_test.go
  tests/api/v1/datadog/api_aws_integration_test.go
  tests/api/v1/datadog/api_aws_logs_integration_test.go
  tests/api/v1/datadog/api_azure_integration_test.go
  tests/api/v1/datadog/api_dashboard_lists_test.go
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/api_downtimes_test.go
  tests/api/v1/datadog/api_events_test.go
  tests/api/v1/datadog/api_gcp_integration_test.go
  tests/api/v1/datadog/api_hosts_test.go
  tests/api/v1/datadog/api_ip_ranges_test.go
  tests/api/v1/datadog/api_key_management_test.go
  tests/api/v1/datadog/api_logs_indexes_test.go
  tests/api/v1/datadog/api_logs_pipelines_test.go
  tests/api/v1/datadog/api_logs_test.go
  tests/api/v1/datadog/api_metrics_test.go
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/api_organizations_test.go
  tests/api/v1/datadog/api_pager_duty_integration_test.go
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/api_slack_integration_test.go
  tests/api/v1/datadog/api_snapshots_test.go
  tests/api/v1/datadog/api_tags_test.go
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/api_users_test.go
  tests/api/v1/datadog/configuration_test.go
  tests/api/v1/datadog/telemetry_test.go
  tests/api/v1/datadog/utils.go
  tests/api/v2/datadog/api_dashboard_lists_test.go
  tests/api/v2/datadog/api_logs_archives_test.go
  tests/api/v2/datadog/api_logs_test.go
  tests/api/v2/datadog/configuration_test.go
  tests/api/v2/datadog/telemetry_test.go
  tests/api/v2/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

start fixing scenario tests
  tests/lookup.go
  tests/scenarios/actions.go
  tests/scenarios/scenarios.go
  tests/scenarios/scenarios_test.go
  tests/scenarios/step_definitions.go
Owners: @DataDog/integrations-tools-and-libraries

fix scenario tests
  .generator/src/generator/cli.py
  .generator/src/generator/templates/scenarios_api_mappings.j2
  tests/scenarios/actions.go
  tests/scenarios/api_mappings.go
  tests/scenarios/scenarios.go
  tests/scenarios/step_definitions.go
Owners: @DataDog/integrations-tools-and-libraries

fix additional failing tests
  .generator/src/generator/templates/model_simple.j2
  tests/api/deserialization_test.go
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/scenarios/api_mappings.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 3b40e043 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/api_usage_metering.go
  examples/v2/usage-metering/GetEstimatedCostByOrg.go
  examples/v2/usage-metering/GetEstimatedCostByOrg_1171921972.go
  examples/v2/usage-metering/GetEstimatedCostByOrg_627383212.go
  tests/scenarios/features/v2/undo.json
  tests/scenarios/features/v2/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries

cleanup
  tests/api/deserialization_test.go
  tests/api/utils_test.go
  tests/api/v1/datadog/api_events_test.go
  tests/api/v1/datadog/api_gcp_integration_test.go
  tests/api/v1/datadog/api_hosts_test.go
  tests/api/v1/datadog/api_ip_ranges_test.go
  tests/api/v1/datadog/api_logs_indexes_test.go
  tests/api/v1/datadog/api_logs_pipelines_test.go
  tests/api/v1/datadog/api_logs_test.go
  tests/api/v1/datadog/api_metrics_test.go
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/api_organizations_test.go
  tests/api/v1/datadog/api_pager_duty_integration_test.go
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/api_slack_integration_test.go
  tests/api/v1/datadog/api_snapshots_test.go
  tests/api/v1/datadog/api_tags_test.go
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/api_users_test.go
  tests/api/v1/datadog/configuration_test.go
  tests/api/v1/datadog/telemetry_test.go
  tests/api/v1/datadog/utils.go
  tests/api/v2/datadog/api_dashboard_lists_test.go
  tests/api/v2/datadog/api_logs_archives_test.go
  tests/api/v2/datadog/api_logs_test.go
  tests/api/v2/datadog/configuration_test.go
  tests/api/v2/datadog/telemetry_test.go
  tests/api/v2/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 5a020acd of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/model_hourly_usage_attribution_body.go
  api/v1/datadog/model_monthly_usage_attribution_body.go
  api/v1/datadog/model_usage_attribution_body.go
Owners: @DataDog/integrations-tools-and-libraries

small cleanup
  .generator/src/generator/cli.py
  README.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

update dev docs
  DEVELOPMENT.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Allow compilation without cgo
  .generator/src/generator/cli.py
  .generator/src/generator/templates/client.j2
  .generator/src/generator/templates/no_zstd.j2
  .generator/src/generator/templates/zstd.j2
  api/v1/datadog/client.go
  api/v1/datadog/no_zstd.go
  api/v1/datadog/zstd.go
  api/v2/datadog/client.go
  api/v2/datadog/no_zstd.go
  api/v2/datadog/zstd.go
Owners: @DataDog/integrations-tools-and-libraries

Bump go, fix err
  .generator/src/generator/templates/zstd.j2
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
  README.md
  api/v1/datadog/zstd.go
  api/v2/datadog/zstd.go
  go.mod
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Allow compilation without cgo (#1585)
  .generator/src/generator/cli.py
  .generator/src/generator/templates/client.j2
  .generator/src/generator/templates/no_zstd.j2
  .generator/src/generator/templates/zstd.j2
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
  README.md
  api/v1/datadog/client.go
  api/v1/datadog/no_zstd.go
  api/v1/datadog/zstd.go
  api/v2/datadog/client.go
  api/v2/datadog/no_zstd.go
  api/v2/datadog/zstd.go
  go.mod
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Version bump 1.15.1
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Post release bump
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 901aaeda of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/model_metric_intake_type.go
  api/v2/datadog/model_metric_series.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit f13b5dc4 of spec repo
  .apigentools-info
  examples/v1/synthetics/CreateSyntheticsBrowserTest_2932742688.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_a_browser_test_returns_OK_-_Returns_saved_rumSettings._response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_a_browser_test_returns_OK_-_Returns_saved_rumSettings._response.yaml
  tests/scenarios/features/v1/synthetics_browser_test_payload_with_rum_settings.json
Owners: @DataDog/integrations-tools-and-libraries

generate
  .generator/src/generator/templates/no_zstd.j2
  .generator/src/generator/templates/zstd.j2
  api/common/no_zstd.go
  api/common/zstd.go
  api/v1/datadog/client.go
  api/v1/datadog/zstd.go
  api/v2/datadog/zstd.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 0b076011 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

fix accept header
  .generator/src/generator/templates/api.j2
  api/v1/datadog/api_usage_metering.go
  api/v2/datadog/api_usage_metering.go
Owners: @DataDog/integrations-tools-and-libraries

more example fixes
  .generator/src/generator/formatter.py
  examples/v1/downtimes/CreateDowntime.go
  examples/v1/downtimes/CreateDowntime_1393233946.go
  examples/v1/downtimes/CreateDowntime_2908359488.go
  examples/v1/downtimes/CreateDowntime_3059354445.go
  examples/v2/incidents/CreateIncident.go
  examples/v2/incidents/UpdateIncident_3369341440.go
Owners: @DataDog/integrations-tools-and-libraries

fix additional example import paths
  .generator/src/generator/formatter.py
  examples/v1/notebooks/CreateNotebook.go
  examples/v1/notebooks/UpdateNotebook.go
  examples/v2/incidents/UpdateIncident_1009194038.go
Owners: @DataDog/integrations-tools-and-libraries

generate
  examples/v1/synthetics/CreateSyntheticsBrowserTest_2932742688.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 2d238f31 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/model_hourly_usage_attribution_usage_type.go
  api/v1/datadog/model_monthly_usage_attribution_supported_metrics.go
  api/v1/datadog/model_monthly_usage_attribution_values.go
  api/v1/datadog/model_usage_attribution_sort.go
  api/v1/datadog/model_usage_attribution_supported_metrics.go
  api/v1/datadog/model_usage_attribution_values.go
Owners: @DataDog/integrations-tools-and-libraries

fix serverurlcontext in test
  tests/api/v1/datadog/api_ip_ranges_test.go
Owners: @DataDog/integrations-tools-and-libraries

cleanup
  .generator/src/generator/cli.py
Owners: @DataDog/integrations-tools-and-libraries

Setup Code Scanning on datadog-api-client-go
  .github/workflows/codeql-analysis.yml
Owners: @DataDog/integrations-tools-and-libraries

remove python
  .github/workflows/codeql-analysis.yml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit d3379b79 of spec repo
  .apigentools-info
  examples/v1/downtimes/CreateDowntime_1393233946.go
  examples/v1/downtimes/CreateDowntime_2908359488.go
  examples/v1/downtimes/CreateDowntime_3059354445.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Downtimes/Scenario_Schedule_a_downtime_once_a_year.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Downtimes/Scenario_Schedule_a_downtime_once_a_year.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Downtimes/Scenario_Schedule_a_downtime_until_date.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Downtimes/Scenario_Schedule_a_downtime_until_date.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Downtimes/Scenario_Schedule_a_downtime_with_invalid_type_hours.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Downtimes/Scenario_Schedule_a_downtime_with_invalid_type_hours.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Downtimes/Scenario_Schedule_a_downtime_with_invalid_weekdays.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Downtimes/Scenario_Schedule_a_downtime_with_invalid_weekdays.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Downtimes/Scenario_Schedule_a_downtime_with_mutually_exclusive_until_occurrences_and_until_date_properties.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Downtimes/Scenario_Schedule_a_downtime_with_mutually_exclusive_until_occurrences_and_until_date_properties.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Downtimes/Scenario_Schedule_a_downtime_with_until_occurrences.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Downtimes/Scenario_Schedule_a_downtime_with_until_occurrences.yaml
  tests/scenarios/features/v1/downtime_recurrence_payload_invalid_type_hours.json
  tests/scenarios/features/v1/downtime_recurrence_payload_invalid_weekdays.json
  tests/scenarios/features/v1/downtime_recurrence_payload_once_a_year.json
  tests/scenarios/features/v1/downtime_recurrence_payload_until_date.json
  tests/scenarios/features/v1/downtime_recurrence_payload_until_occurrences.json
  tests/scenarios/features/v1/downtime_recurrence_payload_until_occurrences_and_until_date_are_mutually_exclusive.json
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit d854c667 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/api_security_monitoring.go
  api/v2/datadog/model_security_monitoring_signal_archive_reason.go
  api/v2/datadog/model_security_monitoring_signal_assignee_update_attributes.go
  api/v2/datadog/model_security_monitoring_signal_assignee_update_data.go
  api/v2/datadog/model_security_monitoring_signal_assignee_update_request.go
  api/v2/datadog/model_security_monitoring_signal_incidents_update_attributes.go
  api/v2/datadog/model_security_monitoring_signal_incidents_update_data.go
  api/v2/datadog/model_security_monitoring_signal_incidents_update_request.go
  api/v2/datadog/model_security_monitoring_signal_state.go
  api/v2/datadog/model_security_monitoring_signal_state_update_attributes.go
  api/v2/datadog/model_security_monitoring_signal_state_update_data.go
  api/v2/datadog/model_security_monitoring_signal_state_update_request.go
  api/v2/datadog/model_security_monitoring_signal_triage_attributes.go
  api/v2/datadog/model_security_monitoring_signal_triage_update_data.go
  api/v2/datadog/model_security_monitoring_signal_triage_update_response.go
  api/v2/datadog/model_security_monitoring_triage_user.go
  examples/v2/security-monitoring/EditSecurityMonitoringSignalAssignee.go
  examples/v2/security-monitoring/EditSecurityMonitoringSignalIncidents.go
  examples/v2/security-monitoring/EditSecurityMonitoringSignalState.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Change_the_related_incidents_of_a_security_signal_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Change_the_related_incidents_of_a_security_signal_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Change_the_triage_state_of_a_security_signal_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Change_the_triage_state_of_a_security_signal_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Modify_the_triage_assignee_of_a_security_signal_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Modify_the_triage_assignee_of_a_security_signal_returns_OK_response.yaml
  tests/scenarios/features/v2/security_monitoring.feature
  tests/scenarios/features/v2/undo.json
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit f486a915 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/configuration.go
  examples/v1/usage-metering/GetHourlyUsageAttribution.go
  examples/v1/usage-metering/GetMonthlyUsageAttribution.go
  tests/scenarios/features/v1/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 0fe2fba6 of spec repo
  .apigentools-info
  tests/scenarios/features/v1/logs.feature
  tests/scenarios/features/v2/logs.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit fd2aa418 of spec repo
  .apigentools-info
  examples/v1/synthetics/GetAPITestLatestResults.go
  examples/v1/synthetics/GetAPITestResult.go
  examples/v1/synthetics/GetBrowserTestLatestResults.go
  examples/v1/synthetics/GetBrowserTestResult.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Get_a_browser_test_result_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Get_a_browser_test_result_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Get_a_browser_tests_latest_results_summaries_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Get_a_browser_tests_latest_results_summaries_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Get_an_API_test_result_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Get_an_API_test_result_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Get_an_API_tests_latest_results_summaries_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Get_an_API_tests_latest_results_summaries_returns_OK_response.yaml
  tests/scenarios/features/v1/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries

generate
  api/common/configuration.go
  api/v1/datadog/api_usage_metering.go
  api/v2/datadog/api_security_monitoring.go
  examples/v1/downtimes/CreateDowntime_1393233946.go
  examples/v1/downtimes/CreateDowntime_2908359488.go
  examples/v1/downtimes/CreateDowntime_3059354445.go
  examples/v1/synthetics/GetAPITestLatestResults.go
  examples/v1/synthetics/GetAPITestResult.go
  examples/v1/synthetics/GetBrowserTestLatestResults.go
  examples/v1/synthetics/GetBrowserTestResult.go
  examples/v1/usage-metering/GetHourlyUsageAttribution.go
  examples/v1/usage-metering/GetMonthlyUsageAttribution.go
  examples/v2/security-monitoring/EditSecurityMonitoringSignalAssignee.go
  examples/v2/security-monitoring/EditSecurityMonitoringSignalIncidents.go
  examples/v2/security-monitoring/EditSecurityMonitoringSignalState.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit d2c0157b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/model_tree_map_color_by.go
  api/v1/datadog/model_tree_map_group_by.go
  api/v1/datadog/model_tree_map_size_by.go
  api/v1/datadog/model_tree_map_widget_definition.go
Owners: @DataDog/integrations-tools-and-libraries

Fix ToVarName function
  tests/scenarios/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 448d6aae of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/api_usage_metering.go
  api/v2/datadog/model_hourly_usage.go
  api/v2/datadog/model_hourly_usage_attributes.go
  api/v2/datadog/model_hourly_usage_measurement.go
  api/v2/datadog/model_hourly_usage_metadata.go
  api/v2/datadog/model_hourly_usage_pagination.go
  api/v2/datadog/model_hourly_usage_response.go
  examples/v2/usage-metering/GetHourlyUsage.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Usage_Metering/Scenario_Get_hourly_usage_by_product_family_returns_Bad_Request_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Usage_Metering/Scenario_Get_hourly_usage_by_product_family_returns_Bad_Request_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Usage_Metering/Scenario_Get_hourly_usage_by_product_family_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Usage_Metering/Scenario_Get_hourly_usage_by_product_family_returns_OK_response.yaml
  tests/scenarios/features/v2/undo.json
  tests/scenarios/features/v2/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
