Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

Regenerate client from commit a0867244 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/api_usage_metering.go
  examples/v1/usage-metering/GetUsageSummary.go
  tests/scenarios/features/v1/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit c520a0fb of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/model_http_log_item.go
Owners: @DataDog/integrations-tools-and-libraries

pre-commit fixes
  api/datadogV1/api_aws_logs_integration.go
  api/datadogV1/api_usage_metering.go
  api/datadogV1/model_funnel_widget_definition.go
  api/datadogV1/model_list_stream_widget_definition.go
  api/datadogV1/model_logs_arithmetic_processor.go
  api/datadogV1/model_logs_category_processor.go
  api/datadogV1/model_logs_date_remapper.go
  api/datadogV1/model_logs_status_remapper.go
  api/datadogV1/model_logs_string_builder_processor.go
  api/datadogV1/model_logs_trace_remapper.go
  api/datadogV1/model_widget.go
Owners: @DataDog/integrations-tools-and-libraries

update queryParam
  .generator/src/generator/templates/client.j2
Owners: @DataDog/integrations-tools-and-libraries

pre-commit fixes
  api/datadogV1/api_aws_logs_integration.go
  api/datadogV1/api_usage_metering.go
  api/datadogV1/model_funnel_widget_definition.go
  api/datadogV1/model_list_stream_widget_definition.go
  api/datadogV1/model_logs_arithmetic_processor.go
  api/datadogV1/model_logs_category_processor.go
  api/datadogV1/model_logs_date_remapper.go
  api/datadogV1/model_logs_status_remapper.go
  api/datadogV1/model_logs_string_builder_processor.go
  api/datadogV1/model_logs_trace_remapper.go
  api/datadogV1/model_widget.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit a09fec54 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/model_security_monitoring_signal_rule_response.go
  api/datadogV2/model_security_monitoring_signal_rule_response_query.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 1010045c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/model_incident_response_attributes.go
  api/datadogV2/model_incident_update_attributes.go
  tests/scenarios/features/v2/incidents.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 9a1ad838 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/model_monitor_type.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit d4e4f476 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_monitor_formula_and_function_events_data_source.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit e5a0f5b3 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_synthetics_browser_test_.go
Owners: @DataDog/integrations-tools-and-libraries

Fix example generation
  .generator/src/generator/formatter.py
Owners: @DataDog/integrations-tools-and-libraries

Fix BDD extraction
  tests/scenarios/step_definitions.go
Owners: @DataDog/integrations-tools-and-libraries

Use custom version
  .github/workflows/docs.yaml
Owners: @DataDog/integrations-tools-and-libraries

Generate a doc.go file
  .pre-commit-config.yaml
  README.md
  doc.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

pre-commit fixes
  doc.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 1bcaf2a0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api/datadogV1/model_usage_ci_visibility_hour.go
  api/datadogV1/model_usage_online_archive_hour.go
  api/datadogV2/model_event.go
  api/datadogV2/model_event_attributes.go
  api/datadogV2/model_monitor_type.go
Owners: @DataDog/integrations-tools-and-libraries

Generate a doc.go file (#1716)
  .pre-commit-config.yaml
  README.md
  doc.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Generate index with list of APIs
  .generator/src/generator/cli.py
  .generator/src/generator/templates/doc.j2
  .github/workflows/docs.yaml
  api/datadogV1/doc.go
  api/datadogV2/doc.go
Owners: @DataDog/integrations-tools-and-libraries

Revert "Generate a doc.go file (#1716)"
  .pre-commit-config.yaml
  README.md
  doc.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Revert "Generate a doc.go file (#1716)" (#1719)
  .pre-commit-config.yaml
  README.md
  doc.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Revert "Revert "Generate a doc.go file (#1716)" (#1719)"
  .pre-commit-config.yaml
  README.md
  doc.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Move to manual stage
  .pre-commit-config.yaml
  generate.sh
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 7eb6ca7a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_monitor_options.go
Owners: @DataDog/integrations-tools-and-libraries

Fix dashboard list test
  tests/api/datadogV2/api_dashboard_lists_test.go
  tests/api/datadogV2/cassettes/TestDashboardListItemCRUD.freeze
  tests/api/datadogV2/cassettes/TestDashboardListItemCRUD.yaml
Owners: @DataDog/integrations-tools-and-libraries

Fix dashboard list test (#1722)
  tests/api/datadogV2/api_dashboard_lists_test.go
  tests/api/datadogV2/cassettes/TestDashboardListItemCRUD.freeze
  tests/api/datadogV2/cassettes/TestDashboardListItemCRUD.yaml
Owners: @DataDog/integrations-tools-and-libraries

Generate a doc.go file (#1721)
  .pre-commit-config.yaml
  README.md
  doc.go
  generate.sh
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

pre-commit fixes
  api/datadogV2/doc.go
Owners: @DataDog/integrations-tools-and-libraries

Generate index with list of APIs (#1718)
  .generator/src/generator/cli.py
  .generator/src/generator/templates/doc.j2
  .github/workflows/docs.yaml
  api/datadogV1/doc.go
  api/datadogV2/doc.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 148c906a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/model_security_monitoring_signal_rule_query.go
  api/datadogV2/model_security_monitoring_signal_rule_response_query.go
  api/datadogV2/model_security_monitoring_standard_rule_query.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns_Bad_Request_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns_Bad_Request_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_with_type_impossible_travel_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_with_type_impossible_travel_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_with_type_signal_correlation_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_with_type_signal_correlation_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_with_type_workload_security_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_with_type_workload_security_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_security_filter_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_security_filter_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Delete_a_security_filter_returns_No_Content_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Delete_a_security_filter_returns_No_Content_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Delete_an_existing_rule_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Delete_an_existing_rule_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Get_a_security_filter_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Get_a_security_filter_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Get_all_security_filters_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Get_all_security_filters_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Update_a_security_filter_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Update_a_security_filter_returns_OK_response.yaml
  tests/scenarios/features/v2/given.json
Owners: @DataDog/integrations-tools-and-libraries

Version bump 2.4.0
  version.go
Owners: @DataDog/integrations-tools-and-libraries

increase go test timeout
  run-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

Post release bump
  version.go
Owners: @DataDog/integrations-tools-and-libraries

re-record cassettes
  tests/api/datadogV1/cassettes/TestLogsList.freeze
  tests/api/datadogV1/cassettes/TestLogsList.yaml
  tests/api/datadogV2/cassettes/TestLogsList.freeze
  tests/api/datadogV2/cassettes/TestLogsList.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit ecf2f022 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/api_logs.go
  api/datadogV2/model_logs_query_filter.go
  api/datadogV2/model_logs_storage_tier.go
  tests/scenarios/features/v2/logs.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit afdd6b70 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_usage_sds_hour.go
  api/datadogV1/model_usage_summary_date.go
  api/datadogV1/model_usage_summary_date_org.go
  api/datadogV1/model_usage_summary_response.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 9673a7f6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadog/configuration.go
  api/datadogV1/api_service_level_objectives.go
  examples/v1/service-level-objectives/GetSLOHistory.go
  tests/scenarios/features/v1/service_level_objectives.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 904df7aa of spec repo
  .apigentools-info
  examples/v2/security-monitoring/GetSecurityMonitoringRule.go
  examples/v2/security-monitoring/UpdateSecurityMonitoringRule.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Get_a_rules_details_returns_Not_Found_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Get_a_rules_details_returns_Not_Found_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Get_a_rules_details_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Get_a_rules_details_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_List_rules_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_List_rules_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Update_an_existing_rule_returns_Bad_Request_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Update_an_existing_rule_returns_Bad_Request_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Update_an_existing_rule_returns_Not_Found_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Update_an_existing_rule_returns_Not_Found_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Update_an_existing_rule_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Update_an_existing_rule_returns_OK_response.yaml
  tests/scenarios/features/v2/security_monitoring.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit f9fa6d95 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_monitor_formula_and_function_events_data_source.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 5e805736 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_monitor_formula_and_function_events_data_source.go
Owners: @DataDog/integrations-tools-and-libraries

docs: fix reference to datadog.ContextServerVariables
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
