Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

Regenerate client from commit d749ce87 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Version bump 2.10.0
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Post release bump
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit f09bf63c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/api_restriction_policies.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 73e66c9a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_cancel_downtimes_by_scope_request.go
  api/datadogV1/model_downtime.go
  api/datadogV1/model_downtime_child.go
Owners: @DataDog/integrations-tools-and-libraries

refactor shouldRetry logic
  .generator/src/generator/templates/client.j2
  api/datadog/client.go
Owners: @DataDog/integrations-tools-and-libraries

Add docs on README and go doc
  .generator/src/generator/templates/configuration.j2
  README.md
  api/datadog/configuration.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

pre-commit fixes
  README.md
  doc.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

shorten retry test duration
  tests/api/datadogV2/cassettes/TestLogsListWithRetry.yaml
  tests/scenarios/actions.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit df25e0fd of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit a6f623f0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_hourly_usage_attribution_usage_type.go
  api/datadogV1/model_monthly_usage_attribution_supported_metrics.go
  api/datadogV1/model_monthly_usage_attribution_values.go
  api/datadogV1/model_usage_summary_date.go
  api/datadogV1/model_usage_summary_date_org.go
  api/datadogV1/model_usage_summary_response.go
Owners: @DataDog/integrations-tools-and-libraries

Add retry logic when rate limit (#1896)
  .generator/src/generator/templates/client.j2
  .generator/src/generator/templates/configuration.j2
  .generator/src/generator/templates/utils.j2
  README.md
  api/datadog/client.go
  api/datadog/configuration.go
  api/datadog/utils.go
  doc.go
  tests/api/datadogV1/api_logs_indexes_test.go
  tests/api/datadogV1/utils.go
  tests/api/datadogV2/api_logs_test.go
  tests/api/datadogV2/cassettes/TestLogsListWithRetry.freeze
  tests/api/datadogV2/cassettes/TestLogsListWithRetry.yaml
  tests/api/datadogV2/utils.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 5ad82066 of spec repo
  .apigentools-info
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Fastly_Integration/Scenario_Get_Fastly_account_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Fastly_Integration/Scenario_Get_Fastly_account_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Fastly_Integration/Scenario_List_Fastly_accounts_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Fastly_Integration/Scenario_List_Fastly_accounts_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Fastly_Integration/Scenario_Update_Fastly_account_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Fastly_Integration/Scenario_Update_Fastly_account_returns_OK_response.yaml
  tests/scenarios/features/v2/fastly_integration.feature
  tests/scenarios/features/v2/given.json
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 13001c30 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api/datadogV1/model_usage_summary_date.go
  api/datadogV1/model_usage_summary_date_org.go
  api/datadogV1/model_usage_summary_response.go
Owners: @DataDog/integrations-tools-and-libraries

Version bump 2.11.0
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Post release bump
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 5742ed5d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadog/configuration.go
  api/datadogV2/api_incidents.go
  api/datadogV2/doc.go
  api/datadogV2/model_incident_todo_anonymous_assignee.go
  api/datadogV2/model_incident_todo_anonymous_assignee_source.go
  api/datadogV2/model_incident_todo_assignee.go
  api/datadogV2/model_incident_todo_attributes.go
  api/datadogV2/model_incident_todo_create_data.go
  api/datadogV2/model_incident_todo_create_request.go
  api/datadogV2/model_incident_todo_list_response.go
  api/datadogV2/model_incident_todo_patch_data.go
  api/datadogV2/model_incident_todo_patch_request.go
  api/datadogV2/model_incident_todo_response.go
  api/datadogV2/model_incident_todo_response_data.go
  api/datadogV2/model_incident_todo_response_included_item.go
  api/datadogV2/model_incident_todo_type.go
  examples/v2/incidents/CreateIncidentTodo.go
  examples/v2/incidents/DeleteIncidentTodo.go
  examples/v2/incidents/GetIncidentTodo.go
  examples/v2/incidents/ListIncidentTodos.go
  examples/v2/incidents/UpdateIncidentTodo.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Create_an_incident_todo_returns_CREATED_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Create_an_incident_todo_returns_CREATED_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Delete_an_incident_todo_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Delete_an_incident_todo_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Get_a_list_of_an_incidents_todos_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Get_a_list_of_an_incidents_todos_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Get_incident_todo_details_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Get_incident_todo_details_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Update_an_incident_todo_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Update_an_incident_todo_returns_OK_response.yaml
  tests/scenarios/features/v2/given.json
  tests/scenarios/features/v2/incidents.feature
  tests/scenarios/features/v2/undo.json
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 315984bc of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/api_restriction_policies.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 45be3462 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_usage_billable_summary_keys.go
Owners: @DataDog/integrations-tools-and-libraries

Fix team tag
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 0ac475a2 of spec repo
  .apigentools-info
  examples/v2/audit/SearchAuditLogs.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Audit/Scenario_Search_Audit_Logs_events_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Audit/Scenario_Search_Audit_Logs_events_returns_OK_response.yaml
  tests/scenarios/features/v2/audit.feature
Owners: @DataDog/integrations-tools-and-libraries

handle nullable enum
  .generator/src/generator/formatter.py
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit cdf4007e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/api_downtimes.go
  examples/v1/downtimes/ListDowntimes.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Downtimes/Scenario_Get_all_downtimes_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Downtimes/Scenario_Get_all_downtimes_returns_OK_response.yaml
  tests/scenarios/features/v1/downtimes.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 9bdb5ee6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_hourly_usage_attribution_usage_type.go
  api/datadogV1/model_monthly_usage_attribution_supported_metrics.go
  api/datadogV1/model_monthly_usage_attribution_values.go
Owners: @DataDog/integrations-tools-and-libraries

Handle nullable enums in example generation (#1919)
  .generator/src/generator/formatter.py
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit b6741167 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_dashboard.go
  examples/v1/dashboards/CreateDashboard_2064651578.go
  examples/v1/dashboards/UpdateDashboard_3454865944.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_invalid_team_tags_returns_Bad_Request_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_invalid_team_tags_returns_Bad_Request_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_team_tags_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_team_tags_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Update_a_dashboard_with_tags_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Update_a_dashboard_with_tags_returns_OK_response.yaml
  tests/scenarios/features/v1/dashboards.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 3658de8e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/api_metrics.go
  tests/scenarios/features/v2/metrics.feature
Owners: @DataDog/integrations-tools-and-libraries

Handle pagination nested schema properly
  .generator/src/generator/openapi.py
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 21917b12 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/api_incidents.go
  api/datadogV2/model_incident_search_response.go
  api/datadogV2/model_incident_search_response_meta.go
  examples/v2/incidents/SearchIncidents_1931679109.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Search_for_incidents_returns_OK_response_with_pagination.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Search_for_incidents_returns_OK_response_with_pagination.yaml
  tests/scenarios/features/v2/incidents.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 1f3268e7 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/model_service_definition_schema.go
  api/datadogV2/model_service_definition_v2_dot1.go
  api/datadogV2/model_service_definition_v2_dot1_contact.go
  api/datadogV2/model_service_definition_v2_dot1_email.go
  api/datadogV2/model_service_definition_v2_dot1_email_type.go
  api/datadogV2/model_service_definition_v2_dot1_integrations.go
  api/datadogV2/model_service_definition_v2_dot1_link.go
  api/datadogV2/model_service_definition_v2_dot1_link_type.go
  api/datadogV2/model_service_definition_v2_dot1_opsgenie.go
  api/datadogV2/model_service_definition_v2_dot1_opsgenie_region.go
  api/datadogV2/model_service_definition_v2_dot1_pagerduty.go
  api/datadogV2/model_service_definition_v2_dot1_slack.go
  api/datadogV2/model_service_definition_v2_dot1_slack_type.go
  api/datadogV2/model_service_definition_v2_dot1_version.go
  api/datadogV2/model_service_definitions_create_request.go
  examples/v2/service-definition/CreateOrUpdateServiceDefinitions_1808735248.go
  examples/v2/service-definition/CreateOrUpdateServiceDefinitions_2619874414.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Service_Definition/Scenario_Create_or_update_service_definition_returns_CREATED_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Service_Definition/Scenario_Create_or_update_service_definition_returns_CREATED_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Service_Definition/Scenario_Create_or_update_service_definition_using_schema_v2-1_returns_CREATED_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Service_Definition/Scenario_Create_or_update_service_definition_using_schema_v2-1_returns_CREATED_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Service_Definition/Scenario_Create_or_update_service_definition_using_schema_v2_returns_CREATED_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Service_Definition/Scenario_Create_or_update_service_definition_using_schema_v2_returns_CREATED_response.yaml
  tests/scenarios/features/v2/given.json
  tests/scenarios/features/v2/service_definition.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit c0790f05 of spec repo
  .apigentools-info
  examples/v2/service-definition/CreateOrUpdateServiceDefinitions_2619874414.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Service_Definition/Scenario_Create_or_update_service_definition_using_schema_v2-1_returns_CREATED_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Service_Definition/Scenario_Create_or_update_service_definition_using_schema_v2-1_returns_CREATED_response.yaml
  tests/scenarios/features/v2/service_definition.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 874ba49a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_hourly_usage_attribution_usage_type.go
  api/datadogV1/model_monthly_usage_attribution_supported_metrics.go
  api/datadogV1/model_monthly_usage_attribution_values.go
  api/datadogV1/model_usage_summary_date.go
  api/datadogV1/model_usage_summary_date_org.go
  api/datadogV1/model_usage_summary_response.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 1cb4b144 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/api_teams.go
  api/datadogV2/doc.go
  api/datadogV2/model_get_all_teams_include.go
  api/datadogV2/model_get_all_teams_sort.go
  api/datadogV2/model_list_teams_include.go
  api/datadogV2/model_list_teams_sort.go
  examples/v2/teams/DeleteTeam.go
  examples/v2/teams/DeleteTeamLink.go
  examples/v2/teams/DeleteTeamMembership.go
  examples/v2/teams/ListTeams.go
  tests/scenarios/features/v2/teams.feature
  tests/scenarios/features/v2/undo.json
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 9a7b22d0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_hourly_usage_attribution_usage_type.go
  api/datadogV1/model_monthly_usage_attribution_supported_metrics.go
  api/datadogV1/model_monthly_usage_attribution_values.go
  api/datadogV1/model_usage_summary_date.go
  api/datadogV1/model_usage_summary_date_org.go
  api/datadogV1/model_usage_summary_response.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit f75fcc91 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api/datadogV1/model_hourly_usage_attribution_usage_type.go
  api/datadogV1/model_monthly_usage_attribution_supported_metrics.go
  api/datadogV1/model_monthly_usage_attribution_values.go
  api/datadogV1/model_usage_summary_date.go
  api/datadogV1/model_usage_summary_date_org.go
  api/datadogV1/model_usage_summary_response.go
  api/datadogV2/api_service_definition.go
  api/datadogV2/model_service_definition_v2_contact.go
  api/datadogV2/model_service_definition_v2_dot1_contact.go
  api/datadogV2/model_service_definition_v2_dot1_ms_teams.go
  api/datadogV2/model_service_definition_v2_dot1_ms_teams_type.go
  api/datadogV2/model_service_definition_v2_ms_teams.go
  api/datadogV2/model_service_definition_v2_ms_teams_type.go
  examples/v2/service-definition/ListServiceDefinitions.go
  examples/v2/service-definition/ListServiceDefinitions_336468013.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Service_Definition/Scenario_Get_all_service_definitions_returns_OK_response_with_pagination.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Service_Definition/Scenario_Get_all_service_definitions_returns_OK_response_with_pagination.yaml
  tests/scenarios/features/v2/service_definition.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 627d5fdd of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/model_service_definition_v2_contact.go
  api/datadogV2/model_service_definition_v2_dot1_contact.go
  api/datadogV2/model_service_definition_v2_dot1_ms_teams.go
  api/datadogV2/model_service_definition_v2_dot1_ms_teams_type.go
  api/datadogV2/model_service_definition_v2_ms_teams.go
  api/datadogV2/model_service_definition_v2_ms_teams_type.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit bb35241c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/model_service_definition_v2_contact.go
  api/datadogV2/model_service_definition_v2_dot1_contact.go
  api/datadogV2/model_service_definition_v2_dot1_ms_teams.go
  api/datadogV2/model_service_definition_v2_dot1_ms_teams_type.go
  api/datadogV2/model_service_definition_v2_ms_teams.go
  api/datadogV2/model_service_definition_v2_ms_teams_type.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 9572acd2 of spec repo
  .apigentools-info
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Confluent_Cloud/Scenario_Add_resource_to_Confluent_account_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Confluent_Cloud/Scenario_Add_resource_to_Confluent_account_returns_OK_response.yaml
  tests/scenarios/features/v2/confluent_cloud.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit b180cceb of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/api_service_definition.go
  examples/v2/service-definition/ListServiceDefinitions.go
  examples/v2/service-definition/ListServiceDefinitions_336468013.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Service_Definition/Scenario_Get_all_service_definitions_returns_OK_response_with_pagination.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Service_Definition/Scenario_Get_all_service_definitions_returns_OK_response_with_pagination.yaml
  tests/scenarios/features/v2/service_definition.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 642e33ec of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_usage_logs_hour.go
  api/datadogV1/model_usage_summary_date.go
  api/datadogV1/model_usage_summary_date_org.go
  api/datadogV1/model_usage_summary_response.go
Owners: @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
