Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app

Updated LICENSE-3rdparty
  LICENSE-3rdparty.csv
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Release v1.0.0-beta.21 (#928)
  CHANGELOG.md
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

start next dev cycle
  version.go
Owners: @DataDog/integrations-tools-and-libraries

start next dev cycle (#929)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 3445859 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/DowntimeChild.md
  api/v1/datadog/model_downtime_child.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit b30ab78 of spec repo
  .apigentools-info
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageAttributionPagination.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/model_usage_attribution_pagination.go
  tests/api/v1/datadog/features/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit cc429de of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/service_checks.feature
Owners: @DataDog/integrations-tools-and-libraries

Fix tests, re-record
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsMultipleTestsOperations.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsMultipleTestsOperations.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 8dce4be of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsAPITest.md
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/docs/SyntheticsBrowserTest.md
  api/v1/datadog/docs/SyntheticsGlobalVariableValue.md
  api/v1/datadog/docs/SyntheticsTestDetails.md
  api/v1/datadog/model_synthetics_global_variable_value.go
  tests/api/v1/datadog/features/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit a1af0e0 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/WidgetCustomLink.md
  api/v1/datadog/model_widget_custom_link.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Speed up check examples
  check-examples.sh
Owners: @DataDog/integrations-tools-and-libraries

Speed up check examples (#936)
  check-examples.sh
Owners: @DataDog/integrations-tools-and-libraries

Release beta 22
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Release beta 22 (#939)
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Start dev cycle
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Start dev cycle (#940)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit cd769d5 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/MonitorOptions.md
  api/v1/datadog/model_monitor_options.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Don't build draft PRs on AZP
  .azure-pipelines/all.yml
Owners: @DataDog/integrations-tools-and-libraries

put key in correct place
  .azure-pipelines/all.yml
Owners: @DataDog/integrations-tools-and-libraries

Don't build draft PRs on AZP (#942)
  .azure-pipelines/all.yml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 5765426 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/IncidentServicesApi.md
  api/v2/datadog/docs/IncidentTeamsApi.md
  api/v2/datadog/docs/IncidentsApi.md
  api/v2/datadog/docs/KeyManagementApi.md
  api/v2/datadog/docs/RolesApi.md
  api/v2/datadog/docs/SecurityMonitoringApi.md
  api/v2/datadog/docs/UsersApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit ccb4b9f of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/IncidentIntegrationMetadataType.md
  api/v2/datadog/docs/RelationshipToIncidentIntegrationMetadataData.md
  api/v2/datadog/model_incident_integration_metadata_type.go
  api/v2/datadog/model_relationship_to_incident_integration_metadata_data.go
  tests/api/v2/datadog/features/incidents.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Update tests
  run-go-tests.sh
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/cassettes/TestMonitorValidateErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestMonitorValidateErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestMonitorValidateErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestMonitorValidateErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestMonitorValidation.freeze
  tests/api/v1/datadog/cassettes/TestMonitorValidation/empty_monitor.freeze
  tests/api/v1/datadog/cassettes/TestMonitorValidation/empty_monitor.yaml
  tests/api/v1/datadog/cassettes/TestMonitorValidation/example_monitor.freeze
  tests/api/v1/datadog/cassettes/TestMonitorValidation/example_monitor.yaml
  tests/api/v1/datadog/cassettes/TestMonitorsCreateErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestMonitorsCreateErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestMonitorsCreateErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestMonitorsCreateErrors/403_Forbidden.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit f6cf0e5 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/NotebookCreateDataAttributes.md
  api/v1/datadog/docs/NotebookUpdateDataAttributes.md
  api/v1/datadog/docs/NotebooksResponse.md
  api/v1/datadog/docs/NotebooksResponseData.md
  api/v1/datadog/docs/NotebooksResponseDataAttributes.md
  api/v1/datadog/model_notebook_create_data_attributes.go
  api/v1/datadog/model_notebook_distribution_cell_attributes.go
  api/v1/datadog/model_notebook_heat_map_cell_attributes.go
  api/v1/datadog/model_notebook_log_stream_cell_attributes.go
  api/v1/datadog/model_notebook_markdown_cell_attributes.go
  api/v1/datadog/model_notebook_timeseries_cell_attributes.go
  api/v1/datadog/model_notebook_toplist_cell_attributes.go
  api/v1/datadog/model_notebook_update_data_attributes.go
  api/v1/datadog/model_notebooks_response.go
  api/v1/datadog/model_notebooks_response_data.go
  api/v1/datadog/model_notebooks_response_data_attributes.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 12e8b3e of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_metrics.go
  api/v1/datadog/docs/MetricsApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

update tests for synthetics
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsAPIMultistepTestEndpointLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsAPIMultistepTestEndpointLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit c413ebe of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_monitors.go
  api/v1/datadog/docs/Monitor.md
  api/v1/datadog/docs/MonitorsApi.md
  api/v1/datadog/model_monitor.go
  tests/api/v1/datadog/features/monitors.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Enables run-tests to output the error message
  run-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 4ffe2b5 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageAttributionBody.md
  api/v1/datadog/model_usage_attribution_body.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

add missing steps
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries

change job name
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries

remove needs
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries

Run integration tests in actions
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries

Remove AZP
  .azure-pipelines/all.yml
Owners: @DataDog/integrations-tools-and-libraries

fix
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries

cancel in progress
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries

also cancel unit tests
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Add cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Monitors/Scenario_Monitors_group_search_returns_Bad_Request_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Monitors/Scenario_Monitors_group_search_returns_Bad_Request_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Monitors/Scenario_Monitors_group_search_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Monitors/Scenario_Monitors_group_search_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Monitors/Scenario_Monitors_search_returns_Bad_Request_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Monitors/Scenario_Monitors_search_returns_Bad_Request_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Monitors/Scenario_Monitors_search_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Monitors/Scenario_Monitors_search_returns_OK_response.yaml
Owners: @DataDog/integrations-tools-and-libraries

separate contexts
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries

keep scheduled runs
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries
