Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app

A better fix for potential sigsegv in logs API test
  tests/api/v1/datadog/api_logs_test.go
Owners: @DataDog/integrations-tools-and-libraries

A better fix for potential sigsegv in logs API test (#327)
  tests/api/v1/datadog/api_logs_test.go
Owners: @DataDog/integrations-tools-and-libraries

Rerun failed tests once in CI
  .gitignore
  run-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

Rerun failed tests once in CI (#328)
  .gitignore
  run-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

Update Changelog - Prepare Release
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Update Releasing doc
  RELEASING.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Apply suggestions from code review
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Apply suggestions from code review
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Update CHANGELOG.md
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Update Changelog - Prepare Release (#329)
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Update changelog
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Update CHANGELOG.md
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Update Releasing doc (#330)
  RELEASING.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Update changelog (#331)
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Start new release cycle
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Start new release cycle (#332)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

go: use PathEscape instead of QueryEscape to escape path params (#6618)
  .generator/templates/api.mustache
Owners: @DataDog/integrations-tools-and-libraries

go: use PathEscape instead of QueryEscape to escape path params (#6618)
  api.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 6c60839 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/docs/SyntheticsLocation.md
  api/v1/datadog/docs/SyntheticsLocations.md
  api/v1/datadog/model_synthetics_location.go
  api/v1/datadog/model_synthetics_locations.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 96f77a2 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/LogsListRequest.md
  api/v1/datadog/model_logs_list_request.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit e455eb4 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/model_widget_legend_size.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit cc60ebc of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_roles.go
  api/v2/datadog/docs/RoleAttributes.md
  api/v2/datadog/docs/RoleCreateAttributes.md
  api/v2/datadog/docs/RoleCreateRequest.md
  api/v2/datadog/docs/RoleCreateResponse.md
  api/v2/datadog/docs/RoleCreateResponseData.md
  api/v2/datadog/docs/RoleResponseRelationships.md
  api/v2/datadog/docs/RoleUpdateAttributes.md
  api/v2/datadog/docs/RoleUpdateRequest.md
  api/v2/datadog/docs/RoleUpdateResponse.md
  api/v2/datadog/docs/RoleUpdateResponseData.md
  api/v2/datadog/docs/RolesApi.md
  api/v2/datadog/model_role_attributes.go
  api/v2/datadog/model_role_create_attributes.go
  api/v2/datadog/model_role_create_request.go
  api/v2/datadog/model_role_create_response.go
  api/v2/datadog/model_role_create_response_data.go
  api/v2/datadog/model_role_response_relationships.go
  api/v2/datadog/model_role_update_attributes.go
  api/v2/datadog/model_role_update_request.go
  api/v2/datadog/model_role_update_response.go
  api/v2/datadog/model_role_update_response_data.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit d1111ad of spec repo
  .apigentools-info
  api/v1/datadog/api_dashboard_lists.go
  api/v1/datadog/api_dashboards.go
  api/v1/datadog/api_downtimes.go
  api/v1/datadog/api_events.go
  api/v1/datadog/api_hosts.go
  api/v1/datadog/api_key_management.go
  api/v1/datadog/api_logs_indexes.go
  api/v1/datadog/api_logs_pipelines.go
  api/v1/datadog/api_metrics.go
  api/v1/datadog/api_monitors.go
  api/v1/datadog/api_organizations.go
  api/v1/datadog/api_pager_duty_integration.go
  api/v1/datadog/api_service_level_objectives.go
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/api_tags.go
  api/v1/datadog/api_users.go
  api/v2/datadog/api_dashboard_lists.go
  api/v2/datadog/api_logs_archives.go
  api/v2/datadog/api_roles.go
  api/v2/datadog/api_security_monitoring.go
  api/v2/datadog/api_users.go
  api/v2/datadog/model_logs_archive_destination.go
Owners: @DataDog/integrations-tools-and-libraries

Fix detection of erroring tests in run-tests.sh
  run-tests.sh
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsListLocations.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsListLocations.yaml
Owners: @DataDog/integrations-tools-and-libraries

Switch run-tests to bash to enable pipefail, rerecord failing cassettes
  run-tests.sh
  tests/api/v1/datadog/cassettes/TestCreateUser.freeze
  tests/api/v1/datadog/cassettes/TestCreateUser.yaml
  tests/api/v1/datadog/cassettes/TestDisableUser.freeze
  tests/api/v1/datadog/cassettes/TestDisableUser.yaml
  tests/api/v1/datadog/cassettes/TestUpdateUser.freeze
  tests/api/v1/datadog/cassettes/TestUpdateUser.yaml
  tests/api/v1/datadog/cassettes/TestUserDisableErrors.freeze
  tests/api/v1/datadog/cassettes/TestUserDisableErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserDisableErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestUserDisableErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestUserDisableErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestUserDisableErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestUserDisableErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestUserDisableErrors/404_Not_Found.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/404_Not_Found.yaml
  tests/api/v2/datadog/cassettes/TestUpdateUserErrors.freeze
  tests/api/v2/datadog/cassettes/TestUpdateUserErrors/400_Bad_Request.freeze
  tests/api/v2/datadog/cassettes/TestUpdateUserErrors/400_Bad_Request.yaml
  tests/api/v2/datadog/cassettes/TestUpdateUserErrors/403_Forbidden.freeze
  tests/api/v2/datadog/cassettes/TestUpdateUserErrors/403_Forbidden.yaml
  tests/api/v2/datadog/cassettes/TestUpdateUserErrors/404_Bad_User_ID_in_Path.freeze
  tests/api/v2/datadog/cassettes/TestUpdateUserErrors/404_Bad_User_ID_in_Path.yaml
  tests/api/v2/datadog/cassettes/TestUpdateUserErrors/422_Bad_User_ID_in_Request.freeze
  tests/api/v2/datadog/cassettes/TestUpdateUserErrors/422_Bad_User_ID_in_Request.yaml
Owners: @DataDog/integrations-tools-and-libraries

Fix detection of erroring tests in run-tests.sh (#339)
  run-tests.sh
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestCreateUser.freeze
  tests/api/v1/datadog/cassettes/TestCreateUser.yaml
  tests/api/v1/datadog/cassettes/TestDisableUser.freeze
  tests/api/v1/datadog/cassettes/TestDisableUser.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsListLocations.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsListLocations.yaml
  tests/api/v1/datadog/cassettes/TestUpdateUser.freeze
  tests/api/v1/datadog/cassettes/TestUpdateUser.yaml
  tests/api/v1/datadog/cassettes/TestUserDisableErrors.freeze
  tests/api/v1/datadog/cassettes/TestUserDisableErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserDisableErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestUserDisableErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestUserDisableErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestUserDisableErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestUserDisableErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestUserDisableErrors/404_Not_Found.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/404_Not_Found.yaml
  tests/api/v2/datadog/cassettes/TestUpdateUserErrors.freeze
  tests/api/v2/datadog/cassettes/TestUpdateUserErrors/400_Bad_Request.freeze
  tests/api/v2/datadog/cassettes/TestUpdateUserErrors/400_Bad_Request.yaml
  tests/api/v2/datadog/cassettes/TestUpdateUserErrors/403_Forbidden.freeze
  tests/api/v2/datadog/cassettes/TestUpdateUserErrors/403_Forbidden.yaml
  tests/api/v2/datadog/cassettes/TestUpdateUserErrors/404_Bad_User_ID_in_Path.freeze
  tests/api/v2/datadog/cassettes/TestUpdateUserErrors/404_Bad_User_ID_in_Path.yaml
  tests/api/v2/datadog/cassettes/TestUpdateUserErrors/422_Bad_User_ID_in_Request.freeze
  tests/api/v2/datadog/cassettes/TestUpdateUserErrors/422_Bad_User_ID_in_Request.yaml
Owners: @DataDog/integrations-tools-and-libraries

Update tests to use request objects
  tests/api/v2/datadog/api_roles_test.go
  tests/api/v2/datadog/api_users_test.go
Owners: @DataDog/integrations-tools-and-libraries

Update variable names
  tests/api/v2/datadog/api_roles_test.go
  tests/api/v2/datadog/api_users_test.go
Owners: @DataDog/integrations-tools-and-libraries

Add tests for logs search API v2
  tests/api/v1/datadog/utils.go
  tests/api/v2/datadog/api_logs_test.go
  tests/api/v2/datadog/cassettes/TestLogsList.freeze
  tests/api/v2/datadog/cassettes/TestLogsList.yaml
  tests/api/v2/datadog/cassettes/TestLogsListV2.freeze
  tests/api/v2/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

ci: disable recorder
  .azure-pipelines/all.yml
Owners: @DataDog/integrations-tools-and-libraries

ci: disable recorder (#343)
  .azure-pipelines/all.yml
Owners: @DataDog/integrations-tools-and-libraries

Install jq in Azure, make sure CI fails if jq is not available
  .azure-pipelines/all.yml
  run-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

Attempt to fix installation of jq
  .azure-pipelines/all.yml
Owners: @DataDog/integrations-tools-and-libraries

Get jq directly from GH release
  .azure-pipelines/all.yml
  run-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

Also chmod jq to be executable
  .azure-pipelines/all.yml
Owners: @DataDog/integrations-tools-and-libraries

Fix user V2 tests
  tests/api/v2/datadog/api_users_test.go
  tests/api/v2/datadog/cassettes/TestUserInvitation.freeze
  tests/api/v2/datadog/cassettes/TestUserInvitation.yaml
  tests/api/v2/datadog/cassettes/TestUserLifecycle.freeze
  tests/api/v2/datadog/cassettes/TestUserLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Install jq in Azure, make sure CI fails if jq is not available (#344)
  .azure-pipelines/all.yml
  run-tests.sh
  tests/api/v2/datadog/api_users_test.go
  tests/api/v2/datadog/cassettes/TestUserInvitation.freeze
  tests/api/v2/datadog/cassettes/TestUserInvitation.yaml
  tests/api/v2/datadog/cassettes/TestUserLifecycle.freeze
  tests/api/v2/datadog/cassettes/TestUserLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add a tag to top-level span to allow identifying endpoint in APM metrics
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Add a tag to top-level span to allow identifying endpoint in APM metrics (#345)
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit fb5c13f of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_users.go
  api/v2/datadog/docs/UserCreateRequest.md
  api/v2/datadog/docs/UserInvitationsRequest.md
  api/v2/datadog/docs/UserUpdateRequest.md
  api/v2/datadog/docs/UsersApi.md
  api/v2/datadog/model_user_create_request.go
  api/v2/datadog/model_user_invitations_request.go
  api/v2/datadog/model_user_update_request.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava
