Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app

Regenerate client from commit dafec27 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/ServiceLevelObjectivesApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Prepare release
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Fix test
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/cassettes/TestMonitorLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestMonitorLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Prepare release (#795)
  CHANGELOG.md
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/cassettes/TestMonitorLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestMonitorLifecycle.yaml
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Start dev cycle
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Start dev cycle (#796)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 3de82a7 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_metrics.go
Owners: @DataDog/integrations-tools-and-libraries

Update readme to include requirements section
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit cba6cab of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/undo.json
Owners: @DataDog/integrations-tools-and-libraries

Update readme to include requirements section (#798)
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Apply template-patches/go-experimental-0003-custom-license-header.patch
  templates/partial_header.mustache
Owners: @DataDog/integrations-tools-and-libraries

Apply template-patches/go-experimental-0005-unstable-operations.patch
  templates/api.mustache
  templates/configuration.mustache
Owners: @DataDog/integrations-tools-and-libraries

Apply template-patches/go-examples-with-dd-site.patch
  templates/api_doc.mustache
Owners: @DataDog/integrations-tools-and-libraries

Apply template-patches/go-experimental-0009-export-request-methods.patch
  templates/api.mustache
  templates/client.mustache
Owners: @DataDog/integrations-tools-and-libraries

Apply template-patches/go-experimental-0006-operation-id-header.patch
  templates/api.mustache
Owners: @DataDog/integrations-tools-and-libraries

Apply template-patches/go-experimental-0007-user-agent.patch
  templates/configuration.mustache
Owners: @DataDog/integrations-tools-and-libraries

Apply template-patches/go-experimental-redact-auth-debug-logs.patch
  templates/client.mustache
Owners: @DataDog/integrations-tools-and-libraries

Apply template-patches/go-experimental-0008-code-example.patch
  templates/api_doc.mustache
Owners: @DataDog/integrations-tools-and-libraries

Apply template-patches/go-validate-enum-values.patch
  templates/model_enum.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit c679afc of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/FormulaAndFunctionEventAggregation.md
  api/v1/datadog/model_formula_and_function_event_aggregation.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Move templates
  .generator/templates/.travis.yml
  .generator/templates/README.mustache
  .generator/templates/api.mustache
  .generator/templates/api_doc.mustache
  .generator/templates/client.mustache
  .generator/templates/configuration.mustache
  .generator/templates/git_push.sh.mustache
  .generator/templates/gitignore.mustache
  .generator/templates/go.mod.mustache
  .generator/templates/go.sum
  .generator/templates/model.mustache
  .generator/templates/model_anyof.mustache
  .generator/templates/model_doc.mustache
  .generator/templates/model_enum.mustache
  .generator/templates/model_oneof.mustache
  .generator/templates/model_simple.mustache
  .generator/templates/nullable_model.mustache
  .generator/templates/openapi.mustache
  .generator/templates/partial_header.mustache
  .generator/templates/response.mustache
  .generator/templates/signing.mustache
  .generator/templates/utils.mustache
Owners: @DataDog/integrations-tools-and-libraries

Make messsage property required
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 34cf37f of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/docs/SyntheticsBrowserTest.md
  api/v1/datadog/model_synthetics_browser_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 7e667f1 of spec repo
  .apigentools-info
Owners: @DataDog/integrations-tools-and-libraries

Add notice for templates
  NOTICE
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Add notice for templates (#805)
  NOTICE
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit 1906d5b of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/docs/UsageTopAvgMetricsMetadata.md
  api/v1/datadog/docs/UsageTopAvgMetricsResponse.md
  api/v1/datadog/model_usage_top_avg_metrics_metadata.go
  api/v1/datadog/model_usage_top_avg_metrics_response.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit b13ee4f of spec repo
  .apigentools-info
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/docs/SyntheticsApi.md
  tests/api/v1/datadog/features/synthetics.feature
  tests/api/v1/datadog/features/undo.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Load env variables, make example changes
  .generator/templates/api_doc.mustache
  .generator/templates/configuration.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit b654b25 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SLOWidgetDefinition.md
  api/v1/datadog/docs/WidgetDefinition.md
  api/v1/datadog/model_slo_widget_definition.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit e5b275c of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/SecurityMonitoringRuleQuery.md
  api/v2/datadog/docs/SecurityMonitoringRuleQueryCreate.md
  api/v2/datadog/docs/SecurityMonitoringRuntimeAgentRule.md
  api/v2/datadog/model_security_monitoring_rule_query.go
  api/v2/datadog/model_security_monitoring_rule_query_create.go
  api/v2/datadog/model_security_monitoring_runtime_agent_rule.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 075d167 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageHostHour.md
  api/v1/datadog/docs/UsageSummaryDate.md
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_host_hour.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Use x-env-name
  .generator/templates/configuration.mustache
Owners: @DataDog/integrations-tools-and-libraries

cassettes
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_tag_configurations_with_a_tag_filter_returns__Success__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_tag_configurations_with_a_tag_filter_returns__Success__response.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 20f68cb of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_metrics.go
  api/v1/datadog/docs/MetricsApi.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_metrics.go
  api/v2/datadog/docs/MetricsApi.md
  tests/api/v2/datadog/features/metrics.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit abcc1ed of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageComplianceHour.md
  api/v1/datadog/docs/UsageComplianceResponse.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/docs/UsageSummaryDate.md
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_compliance_hour.go
  api/v1/datadog/model_usage_compliance_response.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
  tests/api/v1/datadog/features/undo.json
  tests/api/v1/datadog/features/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Add method allowing to apply middleware to request (#7403)
  .generator/templates/client.mustache
  .generator/templates/configuration.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 2f79ff1 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsAPITestResultShortResult.md
  api/v1/datadog/docs/SyntheticsCheckType.md
  api/v1/datadog/docs/SyntheticsTestOptions.md
  api/v1/datadog/docs/SyntheticsTestRequest.md
  api/v1/datadog/model_synthetics_api_test_result_short_result.go
  api/v1/datadog/model_synthetics_check_type.go
  api/v1/datadog/model_synthetics_test_options.go
  api/v1/datadog/model_synthetics_test_request.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

store raw json in ctx for easier lookup
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incidents/Scenario_Create_an_incident_returns__CREATED__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incidents/Scenario_Create_an_incident_returns__CREATED__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Add_a_user_to_a_role_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Add_a_user_to_a_role_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Get_all_users_of_a_role_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Get_all_users_of_a_role_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Remove_a_user_from_a_role_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Remove_a_user_from_a_role_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Create_a_user_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Create_a_user_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Disable_a_user_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Disable_a_user_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Get_a_user_invitation_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Get_a_user_invitation_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Get_a_user_permissions_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Get_a_user_permissions_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Get_a_user_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Get_a_user_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_List_all_users_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_List_all_users_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Send_invitation_emails_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Send_invitation_emails_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Update_a_user_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Update_a_user_returns__OK__response.yaml
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 5e32bc9 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/UserAttributes.md
  api/v2/datadog/model_user_attributes.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava
