Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

Regenerate client from commit 2857cc3 of spec repo
  .apigentools-info
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/docs/SyntheticsDevices.md
  api/v1/datadog/docs/SyntheticsLocation.md
  api/v1/datadog/docs/SyntheticsLocations.md
  api/v1/datadog/docs/SyntheticsTestDetails.md
  api/v1/datadog/model_synthetics_devices.go
  api/v1/datadog/model_synthetics_location.go
  api/v1/datadog/model_synthetics_locations.go
  api/v1/datadog/model_synthetics_test_details.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Cron integration tests (#216)
  .azure-pipelines/all.yml
Owners: @DataDog/integrations-tools-and-libraries

Apply suggestions from code review
  tests/api/v2/datadog/api_users_test.go
Owners: @DataDog/integrations-tools-and-libraries

Add tests for event error responses
  tests/api/v1/datadog/api_events_test.go
  tests/api/v1/datadog/cassettes/TestEventGetErrors.freeze
  tests/api/v1/datadog/cassettes/TestEventGetErrors.yaml
  tests/api/v1/datadog/cassettes/TestEventListErrors.freeze
  tests/api/v1/datadog/cassettes/TestEventListErrors.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add tests for AWS error responses
  tests/api/v1/datadog/api_aws_integration_test.go
  tests/api/v1/datadog/cassettes/TestAWSIntegrationAPIErrorResponses.freeze
  tests/api/v1/datadog/cassettes/TestAWSIntegrationAPIErrorResponses.yaml
  tests/api/v1/datadog/cassettes/TestAWSIntegrationCreateErrors.freeze
  tests/api/v1/datadog/cassettes/TestAWSIntegrationCreateErrors.yaml
  tests/api/v1/datadog/cassettes/TestAWSIntegrationDeleteErrors.freeze
  tests/api/v1/datadog/cassettes/TestAWSIntegrationDeleteErrors.yaml
  tests/api/v1/datadog/cassettes/TestAWSIntegrationGenerateExternalIDErrors.freeze
  tests/api/v1/datadog/cassettes/TestAWSIntegrationGenerateExternalIDErrors.yaml
  tests/api/v1/datadog/cassettes/TestAWSIntegrationGetAll403Error.freeze
  tests/api/v1/datadog/cassettes/TestAWSIntegrationGetAll403Error.yaml
  tests/api/v1/datadog/cassettes/TestAWSIntegrationGetAllErrors.freeze
  tests/api/v1/datadog/cassettes/TestAWSIntegrationGetAllErrors.yaml
  tests/api/v1/datadog/cassettes/TestAWSIntegrationListNamespacesErrors.freeze
  tests/api/v1/datadog/cassettes/TestAWSIntegrationListNamespacesErrors.yaml
  tests/api/v1/datadog/cassettes/TestAWSIntegrationUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestAWSIntegrationUpdateErrors.yaml
  tests/api/v1/datadog/fixtures/aws/get_all_400.json
Owners: @DataDog/integrations-tools-and-libraries

Add tests for keys mgmt errors
  tests/api/v1/datadog/api_key_management_test.go
  tests/api/v1/datadog/cassettes/TestAPIKeysMgmtCreateErrors.freeze
  tests/api/v1/datadog/cassettes/TestAPIKeysMgmtCreateErrors.yaml
  tests/api/v1/datadog/cassettes/TestAPIKeysMgmtDeleteErrors.freeze
  tests/api/v1/datadog/cassettes/TestAPIKeysMgmtDeleteErrors.yaml
  tests/api/v1/datadog/cassettes/TestAPIKeysMgmtGetErrors.freeze
  tests/api/v1/datadog/cassettes/TestAPIKeysMgmtGetErrors.yaml
  tests/api/v1/datadog/cassettes/TestAPIKeysMgmtListErrors.freeze
  tests/api/v1/datadog/cassettes/TestAPIKeysMgmtListErrors.yaml
  tests/api/v1/datadog/cassettes/TestAPIKeysMgmtUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestAPIKeysMgmtUpdateErrors.yaml
  tests/api/v1/datadog/cassettes/TestAppKeysMgmtCreate409Error.freeze
  tests/api/v1/datadog/cassettes/TestAppKeysMgmtCreate409Error.yaml
  tests/api/v1/datadog/cassettes/TestAppKeysMgmtCreateErrors.freeze
  tests/api/v1/datadog/cassettes/TestAppKeysMgmtCreateErrors.yaml
  tests/api/v1/datadog/cassettes/TestAppKeysMgmtDeleteErrors.freeze
  tests/api/v1/datadog/cassettes/TestAppKeysMgmtDeleteErrors.yaml
  tests/api/v1/datadog/cassettes/TestAppKeysMgmtGetErrors.freeze
  tests/api/v1/datadog/cassettes/TestAppKeysMgmtGetErrors.yaml
  tests/api/v1/datadog/cassettes/TestAppKeysMgmtListErrors.freeze
  tests/api/v1/datadog/cassettes/TestAppKeysMgmtListErrors.yaml
  tests/api/v1/datadog/cassettes/TestAppKeysMgmtUpdate409Error.freeze
  tests/api/v1/datadog/cassettes/TestAppKeysMgmtUpdate409Error.yaml
  tests/api/v1/datadog/cassettes/TestAppKeysMgmtUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestAppKeysMgmtUpdateErrors.yaml
  tests/api/v1/datadog/fixtures/key-mgmt/invalid_number_of_keys_400.json
Owners: @DataDog/integrations-tools-and-libraries

Use tc.Run and test cases
  tests/api/v1/datadog/api_aws_integration_test.go
  tests/api/v1/datadog/api_aws_logs_integration_test.go
  tests/api/v1/datadog/fixtures/aws/error_400.json
Owners: @DataDog/integrations-tools-and-libraries

Add tests for GCP errors
  tests/api/v1/datadog/api_gcp_integration_test.go
  tests/api/v1/datadog/cassettes/TestGCPCreateErrors.freeze
  tests/api/v1/datadog/cassettes/TestGCPCreateErrors.yaml
  tests/api/v1/datadog/cassettes/TestGCPDeleteErrors.freeze
  tests/api/v1/datadog/cassettes/TestGCPDeleteErrors.yaml
  tests/api/v1/datadog/cassettes/TestGCPListErrors.freeze
  tests/api/v1/datadog/cassettes/TestGCPListErrors.yaml
  tests/api/v1/datadog/cassettes/TestGCPUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestGCPUpdateErrors.yaml
  tests/api/v1/datadog/fixtures/gcp/error_400.json
Owners: @DataDog/integrations-tools-and-libraries

Add tests for aws logs error responses
  tests/api/v1/datadog/api_aws_logs_integration_test.go
  tests/api/v1/datadog/cassettes/TestAWSLogsAdd403Error.freeze
  tests/api/v1/datadog/cassettes/TestAWSLogsAdd403Error.yaml
  tests/api/v1/datadog/cassettes/TestAWSLogsCreateErrors.freeze
  tests/api/v1/datadog/cassettes/TestAWSLogsCreateErrors.yaml
  tests/api/v1/datadog/cassettes/TestAWSLogsDelete403Error.freeze
  tests/api/v1/datadog/cassettes/TestAWSLogsDelete403Error.yaml
  tests/api/v1/datadog/cassettes/TestAWSLogsDeleteErrors.freeze
  tests/api/v1/datadog/cassettes/TestAWSLogsDeleteErrors.yaml
  tests/api/v1/datadog/cassettes/TestAWSLogsLambdaCheckErrors.freeze
  tests/api/v1/datadog/cassettes/TestAWSLogsLambdaCheckErrors.yaml
  tests/api/v1/datadog/cassettes/TestAWSLogsList403Error.freeze
  tests/api/v1/datadog/cassettes/TestAWSLogsList403Error.yaml
  tests/api/v1/datadog/cassettes/TestAWSLogsListErrors.freeze
  tests/api/v1/datadog/cassettes/TestAWSLogsListErrors.yaml
  tests/api/v1/datadog/cassettes/TestAWSLogsServicesCheckErrors.freeze
  tests/api/v1/datadog/cassettes/TestAWSLogsServicesCheckErrors.yaml
  tests/api/v1/datadog/cassettes/TestAWSLogsServicesEnableErrors.freeze
  tests/api/v1/datadog/cassettes/TestAWSLogsServicesEnableErrors.yaml
  tests/api/v1/datadog/cassettes/TestAWSLogsServicesList400Error.freeze
  tests/api/v1/datadog/cassettes/TestAWSLogsServicesList400Error.yaml
  tests/api/v1/datadog/cassettes/TestAWSLogsServicesListErrors.freeze
  tests/api/v1/datadog/cassettes/TestAWSLogsServicesListErrors.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add azure error responses tests
  tests/api/v1/datadog/api_azure_integration_test.go
  tests/api/v1/datadog/cassettes/TestAzure403Error.freeze
  tests/api/v1/datadog/cassettes/TestAzure403Error.yaml
  tests/api/v1/datadog/cassettes/TestAzureCreateErrors.freeze
  tests/api/v1/datadog/cassettes/TestAzureCreateErrors.yaml
  tests/api/v1/datadog/cassettes/TestAzureDeleteErrors.freeze
  tests/api/v1/datadog/cassettes/TestAzureDeleteErrors.yaml
  tests/api/v1/datadog/cassettes/TestAzureUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestAzureUpdateErrors.yaml
  tests/api/v1/datadog/cassettes/TestAzureUpdateHostFiltersErrors.freeze
  tests/api/v1/datadog/cassettes/TestAzureUpdateHostFiltersErrors.yaml
  tests/api/v1/datadog/fixtures/azure/error_400.json
Owners: @DataDog/integrations-tools-and-libraries

Add dashboard error tests
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/cassettes/TestDashboardCreateErrors.freeze
  tests/api/v1/datadog/cassettes/TestDashboardCreateErrors.yaml
  tests/api/v1/datadog/cassettes/TestDashboardDeleteErrors.freeze
  tests/api/v1/datadog/cassettes/TestDashboardDeleteErrors.yaml
  tests/api/v1/datadog/cassettes/TestDashboardGetErrors.freeze
  tests/api/v1/datadog/cassettes/TestDashboardGetErrors.yaml
  tests/api/v1/datadog/cassettes/TestDashboardListErrors.freeze
  tests/api/v1/datadog/cassettes/TestDashboardListErrors.yaml
  tests/api/v1/datadog/cassettes/TestDashboardUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestDashboardUpdateErrors.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add tests for snaphsot errors
  tests/api/v1/datadog/api_snapshots_test.go
  tests/api/v1/datadog/cassettes/TestGraphGetErrors.freeze
  tests/api/v1/datadog/cassettes/TestGraphGetErrors.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add dashboard list error tests
  tests/api/v1/datadog/api_dashboard_lists_test.go
  tests/api/v1/datadog/cassettes/TestDashboardListCreateErrors.freeze
  tests/api/v1/datadog/cassettes/TestDashboardListCreateErrors.yaml
  tests/api/v1/datadog/cassettes/TestDashboardListDeleteErrors.freeze
  tests/api/v1/datadog/cassettes/TestDashboardListDeleteErrors.yaml
  tests/api/v1/datadog/cassettes/TestDashboardListGetErrors.freeze
  tests/api/v1/datadog/cassettes/TestDashboardListGetErrors.yaml
  tests/api/v1/datadog/cassettes/TestDashboardListListErrors.freeze
  tests/api/v1/datadog/cassettes/TestDashboardListListErrors.yaml
  tests/api/v1/datadog/cassettes/TestDashboardListUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestDashboardListUpdateErrors.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add hosts error tests
  tests/api/v1/datadog/api_hosts_test.go
  tests/api/v1/datadog/cassettes/TestHostsGetTotalsErrors.freeze
  tests/api/v1/datadog/cassettes/TestHostsGetTotalsErrors.yaml
  tests/api/v1/datadog/cassettes/TestHostsListErrors.freeze
  tests/api/v1/datadog/cassettes/TestHostsListErrors.yaml
  tests/api/v1/datadog/cassettes/TestHostsMuteErrors.freeze
  tests/api/v1/datadog/cassettes/TestHostsMuteErrors.yaml
  tests/api/v1/datadog/cassettes/TestHostsUnmuteErrors.freeze
  tests/api/v1/datadog/cassettes/TestHostsUnmuteErrors.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add tests for downtime errors
  tests/api/v1/datadog/api_downtimes_test.go
  tests/api/v1/datadog/cassettes/TestDowntimeCancelByScopeErrors.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeCancelByScopeErrors.yaml
  tests/api/v1/datadog/cassettes/TestDowntimeCancelErrors.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeCancelErrors.yaml
  tests/api/v1/datadog/cassettes/TestDowntimeCreateErrors.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeCreateErrors.yaml
  tests/api/v1/datadog/cassettes/TestDowntimeGetErrors.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeGetErrors.yaml
  tests/api/v1/datadog/cassettes/TestDowntimeListErrors.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeListErrors.yaml
  tests/api/v1/datadog/cassettes/TestDowntimeUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeUpdateErrors.yaml
  tests/api/v1/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

Add slo error responses, and finish renaming to SLO
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/cassettes/TestSLOBulkDeleteErrors.freeze
  tests/api/v1/datadog/cassettes/TestSLOBulkDeleteErrors.yaml
  tests/api/v1/datadog/cassettes/TestSLOCanDeleteErrors.freeze
  tests/api/v1/datadog/cassettes/TestSLOCanDeleteErrors.yaml
  tests/api/v1/datadog/cassettes/TestSLOCreateErrors.freeze
  tests/api/v1/datadog/cassettes/TestSLOCreateErrors.yaml
  tests/api/v1/datadog/cassettes/TestSLODelete409Error.freeze
  tests/api/v1/datadog/cassettes/TestSLODelete409Error.yaml
  tests/api/v1/datadog/cassettes/TestSLODeleteErrors.freeze
  tests/api/v1/datadog/cassettes/TestSLODeleteErrors.yaml
  tests/api/v1/datadog/cassettes/TestSLOEventLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSLOEventLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSLOGetErrors.freeze
  tests/api/v1/datadog/cassettes/TestSLOGetErrors.yaml
  tests/api/v1/datadog/cassettes/TestSLOHistoryGetErrors.freeze
  tests/api/v1/datadog/cassettes/TestSLOHistoryGetErrors.yaml
  tests/api/v1/datadog/cassettes/TestSLOListErrors.freeze
  tests/api/v1/datadog/cassettes/TestSLOListErrors.yaml
  tests/api/v1/datadog/cassettes/TestSLOMonitorLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSLOMonitorLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSLOMultipleInstances.freeze
  tests/api/v1/datadog/cassettes/TestSLOMultipleInstances.yaml
  tests/api/v1/datadog/cassettes/TestSLOUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestSLOUpdateErrors.yaml
  tests/api/v1/datadog/fixtures/slo/error_409_can_delete.json
  tests/api/v1/datadog/fixtures/slo/error_409_delete.json
Owners: @DataDog/integrations-tools-and-libraries

Add metrics errors tests
  tests/api/v1/datadog/api_metrics_test.go
  tests/api/v1/datadog/cassettes/TestMetricsListActiveErrors.freeze
  tests/api/v1/datadog/cassettes/TestMetricsListActiveErrors.yaml
  tests/api/v1/datadog/cassettes/TestMetricsListErrors.freeze
  tests/api/v1/datadog/cassettes/TestMetricsListErrors.yaml
  tests/api/v1/datadog/cassettes/TestMetricsMetadataGetErrors.freeze
  tests/api/v1/datadog/cassettes/TestMetricsMetadataGetErrors.yaml
  tests/api/v1/datadog/cassettes/TestMetricsMetadataUpdate400Error.freeze
  tests/api/v1/datadog/cassettes/TestMetricsMetadataUpdate400Error.yaml
  tests/api/v1/datadog/cassettes/TestMetricsMetadataUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestMetricsMetadataUpdateErrors.yaml
  tests/api/v1/datadog/cassettes/TestMetricsQueryErrors.freeze
  tests/api/v1/datadog/cassettes/TestMetricsQueryErrors.yaml
  tests/api/v1/datadog/fixtures/metrics/error_400.json
Owners: @DataDog/integrations-tools-and-libraries

Rename operations
  tests/api/v1/datadog/api_aws_integration_test.go
  tests/api/v1/datadog/api_aws_logs_integration_test.go
  tests/api/v1/datadog/api_azure_integration_test.go
  tests/api/v1/datadog/api_dashboard_lists_test.go
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/api_downtimes_test.go
  tests/api/v1/datadog/api_hosts_test.go
  tests/api/v1/datadog/api_key_management_test.go
Owners: @DataDog/integrations-tools-and-libraries

Add tests for pagerduty errors
  tests/api/v1/datadog/api_pager_duty_integration_test.go
  tests/api/v1/datadog/cassettes/TestPagerDutyCreateErrors.freeze
  tests/api/v1/datadog/cassettes/TestPagerDutyCreateErrors.yaml
  tests/api/v1/datadog/cassettes/TestPagerDutyDeleteErrors.freeze
  tests/api/v1/datadog/cassettes/TestPagerDutyDeleteErrors.yaml
  tests/api/v1/datadog/cassettes/TestPagerDutyGet404.freeze
  tests/api/v1/datadog/cassettes/TestPagerDutyGetErrors.freeze
  tests/api/v1/datadog/cassettes/TestPagerDutyGetErrors.yaml
  tests/api/v1/datadog/cassettes/TestPagerDutyServicesCreateErrors.freeze
  tests/api/v1/datadog/cassettes/TestPagerDutyServicesCreateErrors.yaml
  tests/api/v1/datadog/cassettes/TestPagerDutyServicesDeleteErrors.freeze
  tests/api/v1/datadog/cassettes/TestPagerDutyServicesDeleteErrors.yaml
  tests/api/v1/datadog/cassettes/TestPagerDutyServicesGetErrors.freeze
  tests/api/v1/datadog/cassettes/TestPagerDutyServicesGetErrors.yaml
  tests/api/v1/datadog/cassettes/TestPagerDutyServicesUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestPagerDutyServicesUpdateErrors.yaml
  tests/api/v1/datadog/cassettes/TestPagerDutyUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestPagerDutyUpdateErrors.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add tests for logs indexes errors
  tests/api/v1/datadog/api_logs_indexes_test.go
  tests/api/v1/datadog/cassettes/TestLogsIndexesGetErrors.freeze
  tests/api/v1/datadog/cassettes/TestLogsIndexesGetErrors.yaml
  tests/api/v1/datadog/cassettes/TestLogsIndexesListErrors.freeze
  tests/api/v1/datadog/cassettes/TestLogsIndexesListErrors.yaml
  tests/api/v1/datadog/cassettes/TestLogsIndexesOrderGetErrors.freeze
  tests/api/v1/datadog/cassettes/TestLogsIndexesOrderGetErrors.yaml
  tests/api/v1/datadog/cassettes/TestLogsIndexesOrderUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestLogsIndexesOrderUpdateErrors.yaml
  tests/api/v1/datadog/cassettes/TestLogsIndexesUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestLogsIndexesUpdateErrors.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add orgs errors responses tests
  tests/api/v1/datadog/api_organizations_test.go
  tests/api/v1/datadog/cassettes/TestOrgsCreateErrors.freeze
  tests/api/v1/datadog/cassettes/TestOrgsCreateErrors.yaml
  tests/api/v1/datadog/cassettes/TestOrgsGetErrors.freeze
  tests/api/v1/datadog/cassettes/TestOrgsGetErrors.yaml
  tests/api/v1/datadog/cassettes/TestOrgsListErrors.freeze
  tests/api/v1/datadog/cassettes/TestOrgsListErrors.yaml
  tests/api/v1/datadog/cassettes/TestOrgsUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestOrgsUpdateErrors.yaml
  tests/api/v1/datadog/cassettes/TestOrgsUploadIdpErrors.freeze
  tests/api/v1/datadog/cassettes/TestOrgsUploadIdpErrors.yaml
  tests/api/v1/datadog/fixtures/orgs/error_415.json
  tests/api/v1/datadog/fixtures/orgs/org_get.json
  tests/api/v1/datadog/fixtures/orgs/org_list.json
Owners: @DataDog/integrations-tools-and-libraries

Add tests for monitors errors
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/cassettes/TestMonitorCanDeleteErrors.freeze
  tests/api/v1/datadog/cassettes/TestMonitorCanDeleteErrors.yaml
  tests/api/v1/datadog/cassettes/TestMonitorDeleteErrors.freeze
  tests/api/v1/datadog/cassettes/TestMonitorDeleteErrors.yaml
  tests/api/v1/datadog/cassettes/TestMonitorLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestMonitorLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestMonitorUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestMonitorUpdateErrors.yaml
  tests/api/v1/datadog/cassettes/TestMonitorValidateErrors.freeze
  tests/api/v1/datadog/cassettes/TestMonitorValidateErrors.yaml
  tests/api/v1/datadog/cassettes/TestMonitorsCreateErrors.freeze
  tests/api/v1/datadog/cassettes/TestMonitorsCreateErrors.yaml
  tests/api/v1/datadog/cassettes/TestMonitorsGetErrors.freeze
  tests/api/v1/datadog/cassettes/TestMonitorsGetErrors.yaml
  tests/api/v1/datadog/cassettes/TestMonitorsListErrors.freeze
  tests/api/v1/datadog/cassettes/TestMonitorsListErrors.yaml
  tests/api/v1/datadog/fixtures/monitors/error_400.json
  tests/api/v1/datadog/fixtures/monitors/error_401.json
Owners: @DataDog/integrations-tools-and-libraries

add logs list tests errors
  tests/api/v1/datadog/api_logs_test.go
  tests/api/v1/datadog/cassettes/TestLogsListErrors.freeze
  tests/api/v1/datadog/cassettes/TestLogsListErrors.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add logs pipelines error tests
  tests/api/v1/datadog/api_logs_pipelines_test.go
  tests/api/v1/datadog/cassettes/TestLogsPipelinesCreateErrors.freeze
  tests/api/v1/datadog/cassettes/TestLogsPipelinesCreateErrors.yaml
  tests/api/v1/datadog/cassettes/TestLogsPipelinesDeleteErrors.freeze
  tests/api/v1/datadog/cassettes/TestLogsPipelinesDeleteErrors.yaml
  tests/api/v1/datadog/cassettes/TestLogsPipelinesGetErrors.freeze
  tests/api/v1/datadog/cassettes/TestLogsPipelinesGetErrors.yaml
  tests/api/v1/datadog/cassettes/TestLogsPipelinesListErrors.freeze
  tests/api/v1/datadog/cassettes/TestLogsPipelinesListErrors.yaml
  tests/api/v1/datadog/cassettes/TestLogsPipelinesOrderGetErrors.freeze
  tests/api/v1/datadog/cassettes/TestLogsPipelinesOrderGetErrors.yaml
  tests/api/v1/datadog/cassettes/TestLogsPipelinesOrderUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestLogsPipelinesOrderUpdateErrors.yaml
  tests/api/v1/datadog/cassettes/TestLogsPipelinesUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestLogsPipelinesUpdateErrors.yaml
Owners: @DataDog/integrations-tools-and-libraries

add synthetics errors tests
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserResultsErrors.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserResultsErrors.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserSpecificResultErrors.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserSpecificResultErrors.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsCreateTestErrors.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsCreateTestErrors.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsDeleteTestErrors.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsDeleteTestErrors.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsGetAPIResultsErrors.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsGetAPIResultsErrors.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsGetAPISpecificResultErrors.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsGetAPISpecificResultErrors.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsGetErrors.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsGetErrors.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsGetResultsErrors.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsGetTestErrors.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsGetTestErrors.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsListTestErrors.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsListTestErrors.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors.yaml
  tests/api/v1/datadog/fixtures/synthetics/error_402.json
  tests/api/v1/datadog/fixtures/synthetics/error_404.json
Owners: @DataDog/integrations-tools-and-libraries

Add tags error reponses tests
  tests/api/v1/datadog/api_tags_test.go
  tests/api/v1/datadog/cassettes/TestTagsCreateErrors.freeze
  tests/api/v1/datadog/cassettes/TestTagsCreateErrors.yaml
  tests/api/v1/datadog/cassettes/TestTagsDeleteErrors.freeze
  tests/api/v1/datadog/cassettes/TestTagsDeleteErrors.yaml
  tests/api/v1/datadog/cassettes/TestTagsGetErrors.freeze
  tests/api/v1/datadog/cassettes/TestTagsGetErrors.yaml
  tests/api/v1/datadog/cassettes/TestTagsListErrors.freeze
  tests/api/v1/datadog/cassettes/TestTagsListErrors.yaml
  tests/api/v1/datadog/cassettes/TestTagsUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestTagsUpdateErrors.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add usage errors tests
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/cassettes/TestUsageFargateErrors.freeze
  tests/api/v1/datadog/cassettes/TestUsageFargateErrors.yaml
  tests/api/v1/datadog/cassettes/TestUsageGetHostsErrors.freeze
  tests/api/v1/datadog/cassettes/TestUsageGetHostsErrors.yaml
  tests/api/v1/datadog/cassettes/TestUsageGetLogsByIndexErrors.freeze
  tests/api/v1/datadog/cassettes/TestUsageGetLogsByIndexErrors.yaml
  tests/api/v1/datadog/cassettes/TestUsageGetLogsErrors.freeze
  tests/api/v1/datadog/cassettes/TestUsageGetLogsErrors.yaml
  tests/api/v1/datadog/cassettes/TestUsageLambdaErrors.freeze
  tests/api/v1/datadog/cassettes/TestUsageLambdaErrors.yaml
  tests/api/v1/datadog/cassettes/TestUsageNetworkFlowsErrors.freeze
  tests/api/v1/datadog/cassettes/TestUsageNetworkFlowsErrors.yaml
  tests/api/v1/datadog/cassettes/TestUsageNetworkHostsErrors.freeze
  tests/api/v1/datadog/cassettes/TestUsageNetworkHostsErrors.yaml
  tests/api/v1/datadog/cassettes/TestUsageRumSessionErrors.freeze
  tests/api/v1/datadog/cassettes/TestUsageRumSessionErrors.yaml
  tests/api/v1/datadog/cassettes/TestUsageSummaryErrors.freeze
  tests/api/v1/datadog/cassettes/TestUsageSummaryErrors.yaml
  tests/api/v1/datadog/cassettes/TestUsageSyntheticsAPIErrors.freeze
  tests/api/v1/datadog/cassettes/TestUsageSyntheticsAPIErrors.yaml
  tests/api/v1/datadog/cassettes/TestUsageSyntheticsBrowserErrors.freeze
  tests/api/v1/datadog/cassettes/TestUsageSyntheticsBrowserErrors.yaml
  tests/api/v1/datadog/cassettes/TestUsageSyntheticsErrors.freeze
  tests/api/v1/datadog/cassettes/TestUsageSyntheticsErrors.yaml
  tests/api/v1/datadog/cassettes/TestUsageTimeSeriesErrors.freeze
  tests/api/v1/datadog/cassettes/TestUsageTimeSeriesErrors.yaml
  tests/api/v1/datadog/cassettes/TestUsageTopAvgMetricsErrors.freeze
  tests/api/v1/datadog/cassettes/TestUsageTopAvgMetricsErrors.yaml
  tests/api/v1/datadog/cassettes/TestUsageTraceErrors.freeze
  tests/api/v1/datadog/cassettes/TestUsageTraceErrors.yaml
  tests/api/v1/datadog/fixtures/usage/error_400.json
Owners: @DataDog/integrations-tools-and-libraries

test for user errors
  tests/api/v1/datadog/api_users_test.go
  tests/api/v1/datadog/cassettes/TestUserCreateErrors.freeze
  tests/api/v1/datadog/cassettes/TestUserCreateErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserDisableErrors.freeze
  tests/api/v1/datadog/cassettes/TestUserDisableErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserGetErrors.freeze
  tests/api/v1/datadog/cassettes/TestUserGetErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserListErrors.freeze
  tests/api/v1/datadog/cassettes/TestUserListErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors.yaml
  tests/api/v1/datadog/fixtures/user/error_409.json
Owners: @DataDog/integrations-tools-and-libraries

fix tests and cassettes
  tests/api/v1/datadog/api_pager_duty_integration_test.go
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/cassettes/TestGCPListErrors.freeze
  tests/api/v1/datadog/cassettes/TestGCPListErrors.yaml
  tests/api/v1/datadog/cassettes/TestMonitorUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestPagerDutyCreateErrors.freeze
  tests/api/v1/datadog/cassettes/TestPagerDutyServicesUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestPagerDutyServicesUpdateErrors.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsMultipleTestsOperations.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsMultipleTestsOperations.yaml
  tests/api/v1/datadog/cassettes/TestTagsCreateErrors.freeze
  tests/api/v1/datadog/cassettes/TestTagsCreateErrors.yaml
  tests/api/v1/datadog/cassettes/TestTagsDeleteErrors.freeze
  tests/api/v1/datadog/cassettes/TestTagsDeleteErrors.yaml
  tests/api/v1/datadog/cassettes/TestTagsGetErrors.freeze
  tests/api/v1/datadog/cassettes/TestTagsGetErrors.yaml
  tests/api/v1/datadog/cassettes/TestTagsUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestTagsUpdateErrors.yaml
  tests/api/v2/datadog/api_dashboard_lists_test.go
  tests/api/v2/datadog/cassettes/TestDashboardListCreateItemsErrors.freeze
  tests/api/v2/datadog/cassettes/TestDashboardListCreateItemsErrors.yaml
  tests/api/v2/datadog/cassettes/TestDashboardListDeleteItemsErrors.freeze
  tests/api/v2/datadog/cassettes/TestDashboardListDeleteItemsErrors.yaml
  tests/api/v2/datadog/cassettes/TestDashboardListGetItemsErrors.freeze
  tests/api/v2/datadog/cassettes/TestDashboardListGetItemsErrors.yaml
  tests/api/v2/datadog/cassettes/TestDashboardListUpdateItemsErrors.freeze
  tests/api/v2/datadog/cassettes/TestDashboardListUpdateItemsErrors.yaml
Owners: @DataDog/integrations-tools-and-libraries

add from/to ts back
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

rerecord cassettes
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Re-record cassettes
  tests/api/v2/datadog/cassettes/TestUserInvitation.freeze
  tests/api/v2/datadog/cassettes/TestUserInvitation.yaml
  tests/api/v2/datadog/cassettes/TestUserLifecycle.freeze
  tests/api/v2/datadog/cassettes/TestUserLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Apply suggestions from code review
  tests/api/v1/datadog/api_aws_logs_integration_test.go
  tests/api/v1/datadog/api_azure_integration_test.go
  tests/api/v1/datadog/api_dashboard_lists_test.go
  tests/api/v1/datadog/api_downtimes_test.go
  tests/api/v1/datadog/api_gcp_integration_test.go
  tests/api/v1/datadog/api_key_management_test.go
  tests/api/v1/datadog/api_metrics_test.go
  tests/api/v1/datadog/api_organizations_test.go
  tests/api/v1/datadog/api_pager_duty_integration_test.go
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/api_snapshots_test.go
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/api_users_test.go
Owners: @DataDog/integrations-tools-and-libraries

Update tests/api/v1/datadog/api_aws_logs_integration_test.go
  tests/api/v1/datadog/api_aws_logs_integration_test.go
Owners: @DataDog/integrations-tools-and-libraries

Add release process for this library
  RELEASING.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

fix
  tests/api/v1/datadog/api_key_management_test.go
  tests/api/v1/datadog/api_users_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit d2a2849 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

fix cassettes
  tests/api/v1/datadog/cassettes/TestPagerDutyServicesDeleteErrors.freeze
  tests/api/v1/datadog/cassettes/TestPagerDutyServicesDeleteErrors.yaml
  tests/api/v1/datadog/cassettes/TestPagerDutyServicesUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestPagerDutyServicesUpdateErrors.yaml
Owners: @DataDog/integrations-tools-and-libraries

rerecord user tests
  tests/api/v1/datadog/cassettes/TestUserCreateErrors.freeze
  tests/api/v1/datadog/cassettes/TestUserCreateErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserDisableErrors.freeze
  tests/api/v1/datadog/cassettes/TestUserDisableErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserGetErrors.freeze
  tests/api/v1/datadog/cassettes/TestUserGetErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserListErrors.freeze
  tests/api/v1/datadog/cassettes/TestUserListErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors.yaml
Owners: @DataDog/integrations-tools-and-libraries

update contributing and developement doc
  CONTRIBUTING.md
  DEVELOPMENT.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
