Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objective_Corrections/Scenario_Create_an_SLO_correction_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objective_Corrections/Scenario_Create_an_SLO_correction_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objective_Corrections/Scenario_Get_all_SLO_corrections_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objective_Corrections/Scenario_Get_all_SLO_corrections_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objective_Corrections/Scenario_Update_an_SLO_correction_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objective_Corrections/Scenario_Update_an_SLO_correction_returns_OK_response.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit fa07bf6 of spec repo
  .apigentools-info
  tests/api/v1/datadog/features/service_level_objective_corrections.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit cb2432f of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_metrics.go
  api/v2/datadog/configuration.go
  api/v2/datadog/docs/MetricsApi.md
  tests/api/v2/datadog/features/metrics.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Re-record
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Submit_metrics_returns_Payload_accepted_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Submit_metrics_returns_Payload_accepted_response.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 32aaa94 of spec repo
  .apigentools-info
  tests/api/v1/datadog/features/metrics.feature
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Update tests for new options
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsAPIMultistepTestEndpointLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsAPIMultistepTestEndpointLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestEndpointLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestEndpointLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsSubtypeDnsAPITestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsSubtypeDnsAPITestLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 9430c32 of spec repo
  .apigentools-info
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/docs/SyntheticsApi.md
  api/v2/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 4463f95 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/DistributionWidgetDefinition.md
  api/v1/datadog/docs/DistributionWidgetXAxis.md
  api/v1/datadog/docs/DistributionWidgetYAxis.md
  api/v1/datadog/docs/WidgetDefinition.md
  api/v1/datadog/docs/WidgetMarker.md
  api/v1/datadog/model_distribution_widget_definition.go
  api/v1/datadog/model_distribution_widget_x_axis.go
  api/v1/datadog/model_distribution_widget_y_axis.go
  api/v1/datadog/model_widget_marker.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

tests: bump go-bdd to support BDD_TAGS env
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

tests: bump go-bdd to support BDD_TAGS env (#878)
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

Bump go versions
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Bump go versions (#879)
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit e26c7dd of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageHostHour.md
  api/v1/datadog/docs/UsageIoTHour.md
  api/v1/datadog/docs/UsageSummaryDate.md
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_host_hour.go
  api/v1/datadog/model_usage_io_t_hour.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit ff4efbb of spec repo
  .apigentools-info
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/docs/SyntheticsApi.md
  tests/api/v1/datadog/features/synthetics.feature
  tests/api/v1/datadog/features/undo.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

cassettes
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit ed1fc39 of spec repo
  .apigentools-info
  tests/api/v2/datadog/features/metrics.feature
Owners: @DataDog/integrations-tools-and-libraries

break long line
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

[Synthetics] Fix cassettes
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsMultipleTestsOperations.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsMultipleTestsOperations.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsSubtypeDnsAPITestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsSubtypeDnsAPITestLifecycle.yaml
  tests/api/v1/datadog/features/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 9e44725 of spec repo
  .apigentools-info
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit d50fc5a of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsAssertionType.md
  api/v1/datadog/docs/SyntheticsTestDetailsSubType.md
  api/v1/datadog/docs/SyntheticsTestRequest.md
  api/v1/datadog/model_synthetics_assertion_type.go
  api/v1/datadog/model_synthetics_test_details_sub_type.go
  api/v1/datadog/model_synthetics_test_request.go
  tests/api/v1/datadog/features/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 6b0114c of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/dashboard_payload.json
  tests/api/v1/datadog/features/given.json
Owners: @DataDog/integrations-tools-and-libraries

do not run integration-only tests
  run-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 088737f of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_metrics.go
  api/v2/datadog/docs/MetricTagConfigurationMetricTypes.md
  api/v2/datadog/model_metric_tag_configuration_metric_types.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Prepare release
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Prepare release (#890)
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

start next dev cycle
  version.go
Owners: @DataDog/integrations-tools-and-libraries

start next dev cycle (#891)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

update to use new Go API
  tests/api/v1/datadog/api_usage_metering_test.go
Owners: @DataDog/integrations-tools-and-libraries

check-examples
  check-examples.sh
Owners: @DataDog/integrations-tools-and-libraries

tests: add support for DD_APM_RECEIVER_SOCKET
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 267134d of spec repo
  .apigentools-info
Owners: @DataDog/integrations-tools-and-libraries

tests: add support for DD_APM_RECEIVER_SOCKET (#893)
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 75ca6ae of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/GroupWidgetDefinition.md
  api/v1/datadog/docs/ImageWidgetDefinition.md
  api/v1/datadog/docs/NoteWidgetDefinition.md
  api/v1/datadog/docs/WidgetDefinition.md
  api/v1/datadog/docs/WidgetHorizontalAlign.md
  api/v1/datadog/docs/WidgetImageSizing.md
  api/v1/datadog/docs/WidgetLayout.md
  api/v1/datadog/docs/WidgetVerticalAlign.md
  api/v1/datadog/model_dashboard_reflow_type.go
  api/v1/datadog/model_group_widget_definition.go
  api/v1/datadog/model_image_widget_definition.go
  api/v1/datadog/model_note_widget_definition.go
  api/v1/datadog/model_widget.go
  api/v1/datadog/model_widget_horizontal_align.go
  api/v1/datadog/model_widget_image_sizing.go
  api/v1/datadog/model_widget_layout.go
  api/v1/datadog/model_widget_margin.go
  api/v1/datadog/model_widget_vertical_align.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Add step for body from payload
  tests/api/v1/datadog/features/dashboards.feature
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 93dbed8 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_events.go
  api/v1/datadog/docs/EventsApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

add quotesé
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Fix example
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit ac83bf0 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SLOListResponse.md
  api/v1/datadog/docs/SLOListResponseMetadata.md
  api/v1/datadog/docs/SLOListResponseMetadataPage.md
  api/v1/datadog/model_slo_list_response.go
  api/v1/datadog/model_slo_list_response_metadata.go
  api/v1/datadog/model_slo_list_response_metadata_page.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 88ccf9e of spec repo
  .apigentools-info
  tests/api/v1/datadog/features/aws_integration.feature
  tests/api/v1/datadog/features/aws_logs_integration.feature
  tests/api/v1/datadog/features/azure_integration.feature
  tests/api/v1/datadog/features/dashboard_lists.feature
  tests/api/v1/datadog/features/dashboards.feature
  tests/api/v1/datadog/features/downtimes.feature
  tests/api/v1/datadog/features/events.feature
  tests/api/v1/datadog/features/gcp_integration.feature
  tests/api/v1/datadog/features/hosts.feature
  tests/api/v1/datadog/features/key_management.feature
  tests/api/v1/datadog/features/logs.feature
  tests/api/v1/datadog/features/logs_indexes.feature
  tests/api/v1/datadog/features/logs_pipelines.feature
  tests/api/v1/datadog/features/metrics.feature
  tests/api/v1/datadog/features/monitors.feature
  tests/api/v1/datadog/features/organizations.feature
  tests/api/v1/datadog/features/pagerduty_integration.feature
  tests/api/v1/datadog/features/service_checks.feature
  tests/api/v1/datadog/features/service_level_objective_corrections.feature
  tests/api/v1/datadog/features/service_level_objectives.feature
  tests/api/v1/datadog/features/slack_integration.feature
  tests/api/v1/datadog/features/synthetics.feature
  tests/api/v1/datadog/features/tags.feature
  tests/api/v1/datadog/features/users.feature
  tests/api/v2/datadog/features/dashboard_lists.feature
  tests/api/v2/datadog/features/incident_services.feature
  tests/api/v2/datadog/features/incident_teams.feature
  tests/api/v2/datadog/features/incidents.feature
  tests/api/v2/datadog/features/key_management.feature
  tests/api/v2/datadog/features/logs.feature
  tests/api/v2/datadog/features/logs_archives.feature
  tests/api/v2/datadog/features/logs_metrics.feature
  tests/api/v2/datadog/features/metrics.feature
  tests/api/v2/datadog/features/roles.feature
  tests/api/v2/datadog/features/security_monitoring.feature
  tests/api/v2/datadog/features/users.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from jirikuncar/simple-merge of spec repo
  .apigentools-info
Owners: @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
