Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

rename Parameters to OptionalParameters
  .generator/templates/api.mustache
  tests/api/v1/datadog/api_aws_integration_test.go
  tests/api/v1/datadog/api_events_test.go
  tests/api/v1/datadog/api_hosts_test.go
  tests/api/v1/datadog/api_metrics_test.go
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/api_snapshots_test.go
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/api_tags_test.go
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v2/datadog/api_logs_test.go
  tests/api/v2/datadog/api_roles_test.go
  tests/api/v2/datadog/api_users_test.go
  tests/api/v2/datadog/security_monitoring_test.go
Owners: @DataDog/integrations-tools-and-libraries

[dashboards] Deprecate Distribution widget legend parameter
  tests/api/v1/datadog/api_dashboards_test.go
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Update tests after removal of deprecated methods
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestMonitorSyntheticsGet.freeze
  tests/api/v1/datadog/cassettes/TestMonitorSyntheticsGet.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestEndpointLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestEndpointLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsCreateTestErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsCreateTestErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsCreateTestErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsCreateTestErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsMultipleTestsOperations.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsMultipleTestsOperations.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsSubtypeDnsAPITestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsSubtypeDnsAPITestLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsSubtypeTcpAPITestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsSubtypeTcpAPITestLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsTriggerCITests.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsTriggerCITests.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/404_Not_Found.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/404_Not_Found.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsVariableFromTestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsVariableFromTestLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 7c5f04f of spec repo
  .apigentools-info
  tests/api/v2/datadog/features/security_monitoring.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit f1b60ce of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/aws_integration.feature
  tests/api/v1/datadog/features/aws_logs_integration.feature
  tests/api/v1/datadog/features/azure_integration.feature
  tests/api/v1/datadog/features/dashboard_lists.feature
  tests/api/v1/datadog/features/dashboards.feature
  tests/api/v1/datadog/features/downtimes.feature
  tests/api/v1/datadog/features/events.feature
  tests/api/v1/datadog/features/gcp_integration.feature
  tests/api/v1/datadog/features/hosts.feature
  tests/api/v1/datadog/features/key_management.feature
  tests/api/v1/datadog/features/logs.feature
  tests/api/v1/datadog/features/logs_indexes.feature
  tests/api/v1/datadog/features/logs_pipelines.feature
  tests/api/v1/datadog/features/metrics.feature
  tests/api/v1/datadog/features/monitors.feature
  tests/api/v1/datadog/features/organizations.feature
  tests/api/v1/datadog/features/pagerduty_integration.feature
  tests/api/v1/datadog/features/service_checks.feature
  tests/api/v1/datadog/features/service_level_objective_corrections.feature
  tests/api/v1/datadog/features/service_level_objectives.feature
  tests/api/v1/datadog/features/slack_integration.feature
  tests/api/v1/datadog/features/synthetics.feature
  tests/api/v1/datadog/features/tags.feature
  tests/api/v1/datadog/features/users.feature
  tests/api/v2/datadog/features/dashboard_lists.feature
  tests/api/v2/datadog/features/incident_services.feature
  tests/api/v2/datadog/features/incident_teams.feature
  tests/api/v2/datadog/features/incidents.feature
  tests/api/v2/datadog/features/key_management.feature
  tests/api/v2/datadog/features/logs.feature
  tests/api/v2/datadog/features/logs_archives.feature
  tests/api/v2/datadog/features/logs_metrics.feature
  tests/api/v2/datadog/features/metrics.feature
  tests/api/v2/datadog/features/roles.feature
  tests/api/v2/datadog/features/security_monitoring.feature
  tests/api/v2/datadog/features/users.feature
Owners: @DataDog/integrations-tools-and-libraries

Prepare release
  CHANGELOG.md
  go.mod
  go.sum
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Prepare release (#849)
  CHANGELOG.md
  go.mod
  go.sum
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

start next dev cycle
  version.go
Owners: @DataDog/integrations-tools-and-libraries

start next dev cycle (#850)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

fix bdd tests
  tests/api/v1/datadog/api_metrics_test.go
  tests/api/v1/datadog/api_snapshots_test.go
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Create_an_SLO_object_returns__Bad_Request__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Create_an_SLO_object_returns__Bad_Request__response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Create_an_SLO_object_returns__OK__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Create_an_SLO_object_returns__OK__response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Delete_an_SLO_returns__Not_found__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Delete_an_SLO_returns__Not_found__response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Delete_an_SLO_returns__OK__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Delete_an_SLO_returns__OK__response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Update_an_SLO_returns__Bad_Request__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Update_an_SLO_returns__Bad_Request__response.yaml
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Bye bye codecov
  .azure-pipelines/all.yml
Owners: @DataDog/integrations-tools-and-libraries

Bye bye codecov (#852)
  .azure-pipelines/all.yml
Owners: @DataDog/integrations-tools-and-libraries

Remove last bits of codecov
  README.md
  codecov.yml
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Remove last bits of codecov (#853)
  README.md
  codecov.yml
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

clean up bdd files
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Create_an_SLO_object_returns_Bad_Request_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Create_an_SLO_object_returns_Bad_Request_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Update_an_SLO_returns_Bad_Request_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Update_an_SLO_returns_Bad_Request_response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Services/Scenario_Update_an_existing_incident_service_returns_OK_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Services/Scenario_Update_an_existing_incident_service_returns_OK_response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Teams/Scenario_Update_an_existing_incident_team_returns_OK_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Teams/Scenario_Update_an_existing_incident_team_returns_OK_response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns_Bad_Request_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns_Bad_Request_response.yaml
Owners: @DataDog/integrations-tools-and-libraries

tests: prepare image with compiled test libs
  .dockerignore
  Dockerfile.canary
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 9149cd6 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/IncidentServiceUpdateData.md
  api/v2/datadog/docs/IncidentServicesApi.md
  api/v2/datadog/docs/IncidentTeamUpdateData.md
  api/v2/datadog/docs/IncidentTeamsApi.md
  api/v2/datadog/model_incident_service_update_data.go
  api/v2/datadog/model_incident_team_update_data.go
  tests/api/v1/datadog/features/dashboards.feature
  tests/api/v1/datadog/features/given.json
  tests/api/v1/datadog/features/logs.feature
  tests/api/v1/datadog/features/service_level_objectives.feature
  tests/api/v2/datadog/features/given.json
  tests/api/v2/datadog/features/logs_metrics.feature
  tests/api/v2/datadog/features/security_monitoring.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

update cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Logs/Scenario_Send_logs_returns_Response_from_server_(always_200_empty_JSON)._response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Logs/Scenario_Send_logs_returns_Response_from_server_(always_200_empty_JSON)._response.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add tests for golang logs retention
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/features/undo.json
  tests/api/v1/datadog/features/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries

cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Get_all_dashboards_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Get_all_dashboards_returns_OK_response.yaml
Owners: @DataDog/integrations-tools-and-libraries

update example docs
  .generator/templates/api_doc.mustache
Owners: @DataDog/integrations-tools-and-libraries

fix doc generation
  .generator/templates/api_doc.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 2c91a1d of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/GroupWidgetDefinition.md
  api/v1/datadog/docs/WidgetDefinition.md
  api/v1/datadog/model_group_widget_definition.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 007165a of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageAttributionValues.md
  api/v1/datadog/model_usage_attribution_values.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit ed46f8d of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_dashboards.go
  api/v1/datadog/docs/DashboardsApi.md
  tests/api/v1/datadog/features/dashboards.feature
  tests/api/v1/datadog/features/given.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

tests: fix BDD_TAGS env variable for filtering scenarios
  .dockerignore
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

:(
  LICENSE-3rdparty.csv
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

[Synthetics] Add test for icmp test
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsSubtypeIcmpAPITestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsSubtypeIcmpAPITestLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit be37d31 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_monitors.go
Owners: @DataDog/integrations-tools-and-libraries

fix doc generation
  .generator/templates/api_doc.mustache
Owners: @DataDog/integrations-tools-and-libraries

Have a more find grain request matcher
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Have a more find grain request matcher (#863)
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

tests: add spans for BDD scenarios
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/scenarios_test.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Recover panics in tests
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

tests: add spans for BDD scenarios and recover panics for rerecording (#865)
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/scenarios_test.go
  tests/test_utils.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

apply code review suggestions
  .generator/templates/api_doc.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit b493166 of spec repo
  .apigentools-info
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/docs/SyntheticsApi.md
  tests/api/v1/datadog/features/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

cassettes
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit bc7eaeb of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/aws_integration.feature
  tests/api/v1/datadog/features/dashboard_lists.feature
  tests/api/v1/datadog/features/dashboards.feature
  tests/api/v1/datadog/features/downtimes.feature
  tests/api/v1/datadog/features/events.feature
  tests/api/v1/datadog/features/key_management.feature
  tests/api/v1/datadog/features/logs.feature
  tests/api/v1/datadog/features/logs_indexes.feature
  tests/api/v1/datadog/features/logs_pipelines.feature
  tests/api/v1/datadog/features/metrics.feature
  tests/api/v1/datadog/features/monitors.feature
  tests/api/v1/datadog/features/organizations.feature
  tests/api/v1/datadog/features/synthetics.feature
  tests/api/v1/datadog/features/users.feature
  tests/api/v2/datadog/features/incident_services.feature
  tests/api/v2/datadog/features/incident_teams.feature
  tests/api/v2/datadog/features/logs.feature
  tests/api/v2/datadog/features/roles.feature
  tests/api/v2/datadog/features/security_monitoring.feature
Owners: @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
