Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

Improve logging of synthetics api tests (#233)
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

Check errors from roles v2 endpoints
  tests/api/v2/datadog/api_roles_test.go
  tests/api/v2/datadog/cassettes/TestAddPermissionToRoleErrors.freeze
  tests/api/v2/datadog/cassettes/TestAddPermissionToRoleErrors.yaml
  tests/api/v2/datadog/cassettes/TestAddUserToRoleErrors.freeze
  tests/api/v2/datadog/cassettes/TestAddUserToRoleErrors.yaml
  tests/api/v2/datadog/cassettes/TestCreateRoleErrors.freeze
  tests/api/v2/datadog/cassettes/TestCreateRoleErrors.yaml
  tests/api/v2/datadog/cassettes/TestDeleteRoleErrors.freeze
  tests/api/v2/datadog/cassettes/TestDeleteRoleErrors.yaml
  tests/api/v2/datadog/cassettes/TestGetRoleErrors.freeze
  tests/api/v2/datadog/cassettes/TestGetRoleErrors.yaml
  tests/api/v2/datadog/cassettes/TestListRolePermissionsErrors.freeze
  tests/api/v2/datadog/cassettes/TestListRolePermissionsErrors.yaml
  tests/api/v2/datadog/cassettes/TestListRoleUsersErrors.freeze
  tests/api/v2/datadog/cassettes/TestListRoleUsersErrors.yaml
  tests/api/v2/datadog/cassettes/TestListRolesErrors.freeze
  tests/api/v2/datadog/cassettes/TestListRolesErrors.yaml
  tests/api/v2/datadog/cassettes/TestRemovePermissionFromRoleErrors.freeze
  tests/api/v2/datadog/cassettes/TestRemovePermissionFromRoleErrors.yaml
  tests/api/v2/datadog/cassettes/TestRemoveUserFromRoleErrors.freeze
  tests/api/v2/datadog/cassettes/TestRemoveUserFromRoleErrors.yaml
  tests/api/v2/datadog/cassettes/TestUpdateRoleErrors.freeze
  tests/api/v2/datadog/cassettes/TestUpdateRoleErrors.yaml
  tests/api/v2/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

Re-record cassette
  tests/api/v2/datadog/cassettes/TestGetRoleErrors.freeze
  tests/api/v2/datadog/cassettes/TestGetRoleErrors.yaml
Owners: @DataDog/integrations-tools-and-libraries

re-recorded
  tests/api/v2/datadog/cassettes/TestGetRoleErrors.freeze
  tests/api/v2/datadog/cassettes/TestGetRoleErrors.yaml
Owners: @DataDog/integrations-tools-and-libraries

re-recorded
  tests/api/v2/datadog/cassettes/TestAddPermissionToRoleErrors.freeze
  tests/api/v2/datadog/cassettes/TestAddPermissionToRoleErrors.yaml
  tests/api/v2/datadog/cassettes/TestAddUserToRoleErrors.freeze
  tests/api/v2/datadog/cassettes/TestAddUserToRoleErrors.yaml
  tests/api/v2/datadog/cassettes/TestCreateRoleErrors.freeze
  tests/api/v2/datadog/cassettes/TestCreateRoleErrors.yaml
  tests/api/v2/datadog/cassettes/TestGetRoleErrors.freeze
  tests/api/v2/datadog/cassettes/TestGetRoleErrors.yaml
  tests/api/v2/datadog/cassettes/TestRemoveUserFromRoleErrors.freeze
  tests/api/v2/datadog/cassettes/TestRemoveUserFromRoleErrors.yaml
Owners: @DataDog/integrations-tools-and-libraries

Record subtests
  tests/api/v2/datadog/api_roles_test.go
  tests/api/v2/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

re-recorded
  tests/api/v2/datadog/cassettes/TestGetRoleErrors.freeze
  tests/api/v2/datadog/cassettes/TestGetRoleErrors.yaml
  tests/api/v2/datadog/cassettes/TestGetRoleErrors/403_Forbidden.freeze
  tests/api/v2/datadog/cassettes/TestGetRoleErrors/403_Forbidden.yaml
  tests/api/v2/datadog/cassettes/TestGetRoleErrors/404_Not_found.freeze
  tests/api/v2/datadog/cassettes/TestGetRoleErrors/404_Not_found.yaml
  tests/api/v2/datadog/cassettes/TestGetRoleErrors/40X_Bad_Request.freeze
  tests/api/v2/datadog/cassettes/TestGetRoleErrors/40X_Bad_Request.yaml
Owners: @DataDog/integrations-tools-and-libraries

Refactored tests
  tests/api/v2/datadog/api_dashboard_lists_test.go
  tests/api/v2/datadog/api_permissions_test.go
  tests/api/v2/datadog/api_roles_test.go
  tests/api/v2/datadog/api_users_test.go
  tests/api/v2/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

Refactored tests
  tests/api/v2/datadog/api_dashboard_lists_test.go
  tests/api/v2/datadog/api_roles_test.go
  tests/api/v2/datadog/api_users_test.go
  tests/api/v2/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

Test monitor pagination
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/cassettes/TestMonitorPagination.freeze
  tests/api/v1/datadog/cassettes/TestMonitorPagination.yaml
Owners: @DataDog/integrations-tools-and-libraries

Fix spec test branch name
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Fix spec test branch name (#236)
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Add test for user-agent telemetry header
  api/version.go
  tests/api/v2/datadog/telemetry_test.go
Owners: @DataDog/integrations-tools-and-libraries

Update tests/api/v2/datadog/api_roles_test.go
  tests/api/v2/datadog/api_roles_test.go
Owners: @DataDog/integrations-tools-and-libraries

move version.go and rename const
  api/version.go
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Update version.go
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Update Pull Request Template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Fix synthetics tests
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsMultipleTestsOperations.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsMultipleTestsOperations.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors.yaml
Owners: @DataDog/integrations-tools-and-libraries

Sync master to 5.0.x (#5968)
  .generator/templates/api.mustache
  .generator/templates/api_doc.mustache
Owners: @DataDog/integrations-tools-and-libraries

Sync master to 5.0.x (#5968)
  api.mustache
  api_doc.mustache
Owners: @DataDog/integrations-tools-and-libraries

Revert "Sync master to 5.0.x (#5968)"
  api.mustache
  api_doc.mustache
Owners: @DataDog/integrations-tools-and-libraries

Revert "Sync master to 5.0.x (#5968)"
  .generator/templates/api.mustache
  .generator/templates/api_doc.mustache
Owners: @DataDog/integrations-tools-and-libraries

AAA-1534 ListRolesUsers returns 404
  tests/api/v2/datadog/api_roles_test.go
  tests/api/v2/datadog/cassettes/TestListRoleUsersErrors.freeze
  tests/api/v2/datadog/cassettes/TestListRoleUsersErrors.yaml
  tests/api/v2/datadog/cassettes/TestListRoleUsersErrors/403_Forbidden.freeze
  tests/api/v2/datadog/cassettes/TestListRoleUsersErrors/403_Forbidden.yaml
  tests/api/v2/datadog/cassettes/TestListRoleUsersErrors/404_Not_found.freeze
  tests/api/v2/datadog/cassettes/TestListRoleUsersErrors/404_Not_found.yaml
Owners: @DataDog/integrations-tools-and-libraries

AAA-1533 Extend RemovePermissionFromRole tests
  tests/api/v2/datadog/api_roles_test.go
  tests/api/v2/datadog/cassettes/TestRemovePermissionFromRoleErrors.freeze
  tests/api/v2/datadog/cassettes/TestRemovePermissionFromRoleErrors.yaml
  tests/api/v2/datadog/cassettes/TestRemovePermissionFromRoleErrors/400_Bad_Request.freeze
  tests/api/v2/datadog/cassettes/TestRemovePermissionFromRoleErrors/400_Invalid_Permission.freeze
  tests/api/v2/datadog/cassettes/TestRemovePermissionFromRoleErrors/400_Invalid_Permission.yaml
  tests/api/v2/datadog/cassettes/TestRemovePermissionFromRoleErrors/403_Forbidden.freeze
  tests/api/v2/datadog/cassettes/TestRemovePermissionFromRoleErrors/403_Forbidden.yaml
  tests/api/v2/datadog/cassettes/TestRemovePermissionFromRoleErrors/404_Permission_Not_Found.freeze
  tests/api/v2/datadog/cassettes/TestRemovePermissionFromRoleErrors/404_Permission_Not_Found.yaml
  tests/api/v2/datadog/cassettes/TestRemovePermissionFromRoleErrors/404_Role_Not_Found.freeze
  tests/api/v2/datadog/cassettes/TestRemovePermissionFromRoleErrors/404_Role_Not_Found.yaml
  tests/api/v2/datadog/cassettes/TestRemovePermissionFromRoleErrors/40X_Bad_role.freeze
  tests/api/v2/datadog/cassettes/TestRemovePermissionFromRoleErrors/40X_Bad_role.yaml
Owners: @DataDog/integrations-tools-and-libraries

AAA-1540 Enable test once it is fixed
  tests/api/v2/datadog/api_roles_test.go
Owners: @DataDog/integrations-tools-and-libraries

Remove unused method
  tests/api/v2/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 258be1b of spec repo
  .apigentools-info
  api/v1/datadog/configuration.go
  api/v2/datadog/configuration.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit aa41ea6 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/LogQueryDefinition.md
  api/v1/datadog/docs/LogStreamWidgetDefinition.md
  api/v1/datadog/model_log_query_definition.go
  api/v1/datadog/model_log_stream_widget_definition.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Apply suggestions from code review
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Simpler setup
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Update Pull Request Template (#239)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Add initial changelog
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Pre-commit check (#230)
  .github/workflows/test.yml
  .pre-commit-config.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add initial changelog (#243)
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

add 404 endpoint to TESTSLOListErrors
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/cassettes/TestSLOListErrors.freeze
  tests/api/v1/datadog/cassettes/TestSLOListErrors.yaml
Owners: @DataDog/integrations-tools-and-libraries

Use generated names for monitors
  tests/api/v1/datadog/api_downtimes_test.go
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/cassettes/TestMonitorCanDeleteErrors.freeze
  tests/api/v1/datadog/cassettes/TestMonitorCanDeleteErrors.yaml
  tests/api/v1/datadog/cassettes/TestMonitorDeleteErrors.freeze
  tests/api/v1/datadog/cassettes/TestMonitorDeleteErrors.yaml
  tests/api/v1/datadog/cassettes/TestMonitorDowntime.freeze
  tests/api/v1/datadog/cassettes/TestMonitorDowntime.yaml
  tests/api/v1/datadog/cassettes/TestMonitorLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestMonitorLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestMonitorPagination.freeze
  tests/api/v1/datadog/cassettes/TestMonitorPagination.yaml
  tests/api/v1/datadog/cassettes/TestMonitorUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestMonitorUpdateErrors.yaml
  tests/api/v1/datadog/cassettes/TestMonitorValidateErrors.freeze
  tests/api/v1/datadog/cassettes/TestMonitorValidateErrors.yaml
  tests/api/v1/datadog/cassettes/TestMonitorValidation.freeze
  tests/api/v1/datadog/cassettes/TestMonitorValidation.yaml
  tests/api/v1/datadog/cassettes/TestMonitorsCreateErrors.freeze
  tests/api/v1/datadog/cassettes/TestMonitorsCreateErrors.yaml
  tests/api/v1/datadog/cassettes/TestMonitorsGetErrors.freeze
  tests/api/v1/datadog/cassettes/TestMonitorsGetErrors.yaml
  tests/api/v1/datadog/cassettes/TestMonitorsListErrors.freeze
  tests/api/v1/datadog/cassettes/TestMonitorsListErrors.yaml
Owners: @DataDog/integrations-tools-and-libraries

remove unnecessary message prints
  tests/api/v1/datadog/api_service_level_objectives_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit a9a8203 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_service_level_objectives.go
Owners: @DataDog/integrations-tools-and-libraries

Run datadog-agent in container
  .azure-pipelines/all.yml
  LICENSE-3rdparty.csv
  docker-compose.yml
  go.mod
  go.sum
  tests/api/v1/datadog/main_test.go
  tests/api/v1/datadog/utils.go
  tests/api/v2/datadog/main_test.go
  tests/api/v2/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Update RELEASING.md
  RELEASING.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
