Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

Regenerate client from commit 6586890 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/docs/UsageTraceHour.md
  api/v1/datadog/docs/UsageTraceResponse.md
  api/v1/datadog/docs/UsageTracingWithoutLimitsHour.md
  api/v1/datadog/docs/UsageTracingWithoutLimitsResponse.md
  api/v1/datadog/model_usage_trace_hour.go
  api/v1/datadog/model_usage_trace_response.go
  api/v1/datadog/model_usage_tracing_without_limits_hour.go
  api/v1/datadog/model_usage_tracing_without_limits_response.go
  tests/api/v1/datadog/features/undo.json
  tests/api/v1/datadog/features/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Fix Synthetics test
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsAPIMultistepTestEndpointLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsAPIMultistepTestEndpointLifecycle.yaml
  tests/go.sum
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 5155c78 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsTestRequest.md
  api/v1/datadog/model_synthetics_test_request.go
  tests/api/v1/datadog/features/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit c2e2dda of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsBrowserError.md
  api/v1/datadog/model_synthetics_browser_error.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit f0a4221 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_aws_integration.go
  api/v1/datadog/docs/AWSAccountDeleteRequest.md
  api/v1/datadog/docs/AWSIntegrationApi.md
  api/v1/datadog/model_aws_account_delete_request.go
  tests/api/v1/datadog/features/aws_integration.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 305aaa6 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageAttributionValues.md
  api/v1/datadog/model_usage_attribution_values.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Bump version
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Bump version (#1044)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 18eae8f of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/FormulaAndFunctionEventsDataSource.md
  api/v1/datadog/docs/QueryValueWidgetRequest.md
  api/v1/datadog/docs/TimeseriesWidgetRequest.md
  api/v1/datadog/docs/ToplistWidgetRequest.md
  api/v1/datadog/model_formula_and_function_events_data_source.go
  api/v1/datadog/model_query_value_widget_request.go
  api/v1/datadog/model_timeseries_widget_request.go
  api/v1/datadog/model_toplist_widget_request.go
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_an_audit_logs_query.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_an_audit_logs_query.yaml
  tests/api/v1/datadog/features/dashboards.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 3333df2 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_dashboards.go
  api/v1/datadog/docs/DashboardBulkActionData.md
  api/v1/datadog/docs/DashboardBulkDeleteRequest.md
  api/v1/datadog/docs/DashboardResourceType.md
  api/v1/datadog/docs/DashboardRestoreRequest.md
  api/v1/datadog/docs/DashboardsApi.md
  api/v1/datadog/model_dashboard_bulk_action_data.go
  api/v1/datadog/model_dashboard_bulk_delete_request.go
  api/v1/datadog/model_dashboard_resource_type.go
  api/v1/datadog/model_dashboard_restore_request.go
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Delete_dashboards_returns_No_Content_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Delete_dashboards_returns_No_Content_response.yaml
  tests/api/v1/datadog/features/dashboards.feature
  tests/api/v1/datadog/features/undo.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit a499a64 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageAttributionValues.md
  api/v1/datadog/model_usage_attribution_values.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 36f6365 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Implement tests for table widget formulas and functions
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Correct value for cell_display_mode for formulas and functions table widget test
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 9c185b5 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/TableWidgetRequest.md
  api/v1/datadog/docs/WidgetFormula.md
  api/v1/datadog/model_table_widget_request.go
  api/v1/datadog/model_widget_formula.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit a4f22f3 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/ListStreamColumn.md
  api/v1/datadog/docs/ListStreamColumnWidth.md
  api/v1/datadog/docs/ListStreamQuery.md
  api/v1/datadog/docs/ListStreamResponseFormat.md
  api/v1/datadog/docs/ListStreamSource.md
  api/v1/datadog/docs/ListStreamWidgetDefinition.md
  api/v1/datadog/docs/ListStreamWidgetDefinitionType.md
  api/v1/datadog/docs/ListStreamWidgetRequest.md
  api/v1/datadog/docs/WidgetDefinition.md
  api/v1/datadog/model_list_stream_column.go
  api/v1/datadog/model_list_stream_column_width.go
  api/v1/datadog/model_list_stream_query.go
  api/v1/datadog/model_list_stream_response_format.go
  api/v1/datadog/model_list_stream_source.go
  api/v1/datadog/model_list_stream_widget_definition.go
  api/v1/datadog/model_list_stream_widget_definition_type.go
  api/v1/datadog/model_list_stream_widget_request.go
  api/v1/datadog/model_widget_definition.go
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_list_stream_widget.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_list_stream_widget.yaml
  tests/api/v1/datadog/features/dashboards.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Return if required failed unmarshal, delay unmarshaling raw
  .generator/templates/model_simple.mustache
Owners: @DataDog/integrations-tools-and-libraries

tabs
  .generator/templates/model_simple.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 00e20be of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_users.go
  api/v2/datadog/docs/OrganizationsResponse.md
  api/v2/datadog/docs/UsersApi.md
  api/v2/datadog/model_organizations_response.go
  tests/api/v2/datadog/features/users.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

remove log import
  .generator/templates/model.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit c5118ab of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/ChargebackOrgMonth.md
  api/v1/datadog/docs/ChargebackSummaryCharge.md
  api/v1/datadog/docs/ChargebackSummaryResponse.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/model_chargeback_org_month.go
  api/v1/datadog/model_chargeback_summary_charge.go
  api/v1/datadog/model_chargeback_summary_response.go
  tests/api/v1/datadog/features/synthetics.feature
  tests/api/v1/datadog/features/undo.json
  tests/api/v1/datadog/features/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Update DEVELOPMENT.md
  DEVELOPMENT.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

docs: update command for executing a single test (#1052)
  DEVELOPMENT.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit a54f925 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit daf910e of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/service_checks.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 7d1e126 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/LogsExclusionFilter.md
  api/v1/datadog/model_logs_exclusion_filter.go
  tests/api/v1/datadog/features/logs_indexes.feature
  tests/api/v1/datadog/features/service_checks.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

test
  .generator/templates/model_simple.mustache
Owners: @DataDog/integrations-tools-and-libraries

[go] More idiomatic godoc comments (#10044)
  .generator/templates/README.mustache
  .generator/templates/api.mustache
  .generator/templates/api_doc.mustache
  .generator/templates/client.mustache
  .generator/templates/configuration.mustache
  .generator/templates/model_anyof.mustache
  .generator/templates/model_enum.mustache
  .generator/templates/model_oneof.mustache
  .generator/templates/model_simple.mustache
  .generator/templates/partial_header.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 7c70bbe of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageMeteringApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

retry
  tests/api/v1/datadog/api_logs_test.go
  tests/api/v1/datadog/api_usage_metering_test.go
Owners: @DataDog/integrations-tools-and-libraries

retry
  tests/api/v2/datadog/api_logs_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit c6e36ca of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/model_logs_arithmetic_processor.go
  api/v1/datadog/model_logs_grok_parser.go
  tests/api/v1/datadog/features/logs_pipelines.feature
Owners: @DataDog/integrations-tools-and-libraries

[monitors] test the new_group_delay field
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/cassettes/TestMonitorLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestMonitorLifecycle.yaml
  tests/api/v1/datadog/features/monitors.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit dafdffa of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/MonitorOptions.md
  api/v1/datadog/model_monitor_options.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit f060367 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit bf781b9 of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_service_accounts.go
  api/v2/datadog/api_users.go
  api/v2/datadog/client.go
  api/v2/datadog/docs/ApplicationKeyRelationships.md
  api/v2/datadog/docs/PartialApplicationKeyResponse.md
  api/v2/datadog/docs/ServiceAccountCreateAttributes.md
  api/v2/datadog/docs/ServiceAccountCreateData.md
  api/v2/datadog/docs/ServiceAccountCreateRequest.md
  api/v2/datadog/docs/ServiceAccountsApi.md
  api/v2/datadog/docs/UserAttributes.md
  api/v2/datadog/docs/UsersApi.md
  api/v2/datadog/model_application_key_relationships.go
  api/v2/datadog/model_partial_application_key_response.go
  api/v2/datadog/model_service_account_create_attributes.go
  api/v2/datadog/model_service_account_create_data.go
  api/v2/datadog/model_service_account_create_request.go
  api/v2/datadog/model_user_attributes.go
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Create_a_service_account_returns_OK_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Create_a_service_account_returns_OK_response.yaml
  tests/api/v2/datadog/features/given.json
  tests/api/v2/datadog/features/service_accounts.feature
  tests/api/v2/datadog/features/undo.json
  tests/api/v2/datadog/features/users.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Update Dashboard API test to use new ScatterplotWidgetAggreagtor
  tests/api/v1/datadog/api_dashboards_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 75fd781 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsDeviceID.md
  api/v1/datadog/model_synthetics_device_id.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 6e156e1 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/Event.md
  api/v1/datadog/model_event.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 772783e of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/FormulaAndFunctionMetricAggregation.md
  api/v1/datadog/docs/ScatterPlotRequest.md
  api/v1/datadog/docs/ScatterplotWidgetAggregator.md
  api/v1/datadog/model_formula_and_function_metric_aggregation.go
  api/v1/datadog/model_scatter_plot_request.go
  api/v1/datadog/model_scatterplot_widget_aggregator.go
  api/v1/datadog/model_widget_aggregator.go
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_a_query_value_widget_using_the_percentile_aggregator.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_a_query_value_widget_using_the_percentile_aggregator.yaml
  tests/api/v1/datadog/features/dashboards.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
