Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

use staticcheck
  LICENSE-3rdparty.csv
  run-tests.sh
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

cleanup tests
  run-tests.sh
  tests/api/datadogV1/api_aws_integration_test.go
  tests/api/datadogV1/api_hosts_test.go
  tests/api/datadogV1/api_key_management_test.go
  tests/api/datadogV1/api_logs_pipelines_test.go
  tests/api/datadogV1/api_logs_test.go
  tests/api/datadogV1/api_service_level_objectives_test.go
  tests/api/datadogV1/api_slack_integration_test.go
  tests/api/datadogV1/api_usage_metering_test.go
  tests/api/datadogV1/utils.go
  tests/api/datadogV2/api_dashboard_lists_test.go
  tests/api/datadogV2/api_logs_archives_test.go
  tests/api/datadogV2/api_logs_test.go
  tests/api/datadogV2/utils.go
  tests/lookup_test.go
  tests/scenarios/actions.go
  tests/scenarios/scenarios.go
  tests/scenarios/step_definitions.go
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

pre-commit fixes
  api/datadogV1/api_aws_logs_integration.go
  api/datadogV1/api_usage_metering.go
  api/datadogV1/model_funnel_widget_definition.go
  api/datadogV1/model_list_stream_widget_definition.go
  api/datadogV1/model_logs_arithmetic_processor.go
  api/datadogV1/model_logs_category_processor.go
  api/datadogV1/model_logs_date_remapper.go
  api/datadogV1/model_logs_status_remapper.go
  api/datadogV1/model_logs_string_builder_processor.go
  api/datadogV1/model_logs_trace_remapper.go
  api/datadogV1/model_widget.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit d6bd2b7e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/model_security_monitoring_rule_query.go
  api/datadogV2/model_security_monitoring_rule_query_aggregation.go
  api/datadogV2/model_security_monitoring_rule_query_create.go
  api/datadogV2/model_security_monitoring_rule_type_create.go
  api/datadogV2/model_security_monitoring_rule_type_read.go
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_461183901.go
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_498211763.go
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_914562040.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_with_type_signal_correlation_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_with_type_signal_correlation_returns_OK_response.yaml
  tests/scenarios/features/v2/given.json
  tests/scenarios/features/v2/security_monitoring.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 7f715655 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_formula_and_function_event_query_definition.go
  api/datadogV1/model_list_stream_query.go
  examples/v1/dashboards/CreateDashboard_3117424216.go
  examples/v1/dashboards/CreateDashboard_3669695268.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_apm_issue_stream_list_stream_widget.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_apm_issue_stream_list_stream_widget.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_logs_query_table_widget_and_storage_parameter.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_logs_query_table_widget_and_storage_parameter.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_logs_stream_list_stream_widget_and_storage_parameter.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_logs_stream_list_stream_widget_and_storage_parameter.yaml
  tests/scenarios/features/v1/dashboards.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit af78fdc4 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/api_security_monitoring.go
  examples/v2/security-monitoring/GetSecurityMonitoringSignal.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Get_a_signals_details_returns_Not_Found_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Get_a_signals_details_returns_Not_Found_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Get_a_signals_details_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Get_a_signals_details_returns_OK_response.yaml
  tests/scenarios/features/v2/security_monitoring.feature
  tests/scenarios/features/v2/undo.json
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit db0d8d65 of spec repo
  .apigentools-info
  tests/scenarios/cassettes/TestScenarios/v2/Feature_RUM/Scenario_Aggregate_RUM_events._returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_RUM/Scenario_Aggregate_RUM_events._returns_OK_response.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 24936e30 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/model_security_monitoring_rule_create_payload.go
  api/datadogV2/model_security_monitoring_rule_query.go
  api/datadogV2/model_security_monitoring_rule_query_aggregation.go
  api/datadogV2/model_security_monitoring_rule_type_read.go
  api/datadogV2/model_security_monitoring_signal_rule_create_payload.go
  api/datadogV2/model_security_monitoring_signal_rule_query.go
  api/datadogV2/model_security_monitoring_signal_rule_query_create.go
  api/datadogV2/model_security_monitoring_signal_rule_type_create.go
  api/datadogV2/model_security_monitoring_standard_rule_create_payload.go
  api/datadogV2/model_security_monitoring_standard_rule_query.go
  api/datadogV2/model_security_monitoring_standard_rule_query_create.go
  examples/v2/security-monitoring/CreateSecurityMonitoringRule.go
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_498211763.go
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_914562040.go
  examples/v2/security-monitoring/UpdateSecurityMonitoringRule.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns_Bad_Request_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns_Bad_Request_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_with_type_signal_correlation_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_with_type_signal_correlation_returns_OK_response.yaml
  tests/scenarios/features/v2/given.json
  tests/scenarios/features/v2/security_monitoring.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 27106c20 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_slo_list_widget_definition.go
  api/datadogV1/model_slo_list_widget_definition_type.go
  api/datadogV1/model_slo_list_widget_query.go
  api/datadogV1/model_slo_list_widget_request.go
  api/datadogV1/model_slo_list_widget_request_type.go
  api/datadogV1/model_widget_definition.go
  examples/v1/dashboards/CreateDashboard_1423904722.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_slo_list_widget.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_slo_list_widget.yaml
  tests/scenarios/features/v1/dashboards.feature
  tests/scenarios/features/v1/dashboards_json_payload/slo_list_widget.json
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit c7261a1b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadog/configuration.go
  api/datadogV2/api_usage_metering.go
  examples/v2/usage-metering/GetEstimatedCostByOrg_2734954020.go
  examples/v2/usage-metering/GetEstimatedCostByOrg_3186693804.go
  examples/v2/usage-metering/GetHistoricalCostByOrg.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Usage_Metering/Scenario_GetEstimatedCostByOrg_with_both_start_month_and_start_date_returns_Bad_Request_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Usage_Metering/Scenario_GetEstimatedCostByOrg_with_both_start_month_and_start_date_returns_Bad_Request_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Usage_Metering/Scenario_Get_historical_cost_across_your_account_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Usage_Metering/Scenario_Get_historical_cost_across_your_account_returns_OK_response.yaml
  tests/scenarios/features/v2/undo.json
  tests/scenarios/features/v2/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries

Version bump 2.3.0
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Post release bump
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit ca46cbd5 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/model_security_monitoring_signal_rule_create_payload.go
  api/datadogV2/model_security_monitoring_signal_rule_query.go
  api/datadogV2/model_security_monitoring_signal_rule_query_create.go
  api/datadogV2/model_security_monitoring_standard_rule_create_payload.go
  api/datadogV2/model_security_monitoring_standard_rule_query.go
  api/datadogV2/model_security_monitoring_standard_rule_query_create.go
  examples/v2/security-monitoring/CreateSecurityMonitoringRule.go
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_461183901.go
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_498211763.go
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_914562040.go
  examples/v2/security-monitoring/UpdateSecurityMonitoringRule.go
  tests/scenarios/features/v2/security_monitoring.feature
Owners: @DataDog/integrations-tools-and-libraries

check status code before converting to json
  tests/scenarios/actions.go
Owners: @DataDog/integrations-tools-and-libraries

check status code before converting to json (#1690)
  tests/scenarios/actions.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 4a552860 of spec repo
  .apigentools-info
  tests/scenarios/features/v2/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries

Version bump 2.3.1
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Post release bump
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 5c013ee5 of spec repo
  .apigentools-info
  examples/v1/synthetics/CreateGlobalVariable_1068962881.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_a_global_variable_from_test_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_a_global_variable_from_test_returns_OK_response.yaml
  tests/scenarios/features/v1/synthetics.feature
  tests/scenarios/features/v1/synthetics_global_variable_payload.json
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 26eb8e8a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_search_service_level_objective.go
  api/datadogV1/model_search_service_level_objective_attributes.go
  api/datadogV1/model_search_service_level_objective_data.go
  api/datadogV1/model_search_slo_response_data_attributes.go
  api/datadogV1/model_search_slo_response_links.go
  api/datadogV1/model_slo_creator.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Service_Level_Objectives/Scenario_Search_for_SLOs_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Service_Level_Objectives/Scenario_Search_for_SLOs_returns_OK_response.yaml
  tests/scenarios/features/v1/given.json
  tests/scenarios/features/v1/service_level_objectives.feature
Owners: @DataDog/integrations-tools-and-libraries

fix integration tests
  tests/api/datadogV1/api_aws_integration_test.go
  tests/api/datadogV1/api_downtimes_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit e57e3c55 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadog/configuration.go
  api/datadogV2/api_incidents.go
  api/datadogV2/model_incident_attachment_attachment_type.go
  api/datadogV2/model_incident_attachment_attributes.go
  api/datadogV2/model_incident_attachment_data.go
  api/datadogV2/model_incident_attachment_link_attachment_type.go
  api/datadogV2/model_incident_attachment_link_attributes.go
  api/datadogV2/model_incident_attachment_link_attributes_attachment_object.go
  api/datadogV2/model_incident_attachment_postmortem_attachment_type.go
  api/datadogV2/model_incident_attachment_postmortem_attributes.go
  api/datadogV2/model_incident_attachment_related_object.go
  api/datadogV2/model_incident_attachment_relationships.go
  api/datadogV2/model_incident_attachment_type.go
  api/datadogV2/model_incident_attachment_update_attributes.go
  api/datadogV2/model_incident_attachment_update_data.go
  api/datadogV2/model_incident_attachment_update_request.go
  api/datadogV2/model_incident_attachment_update_response.go
  api/datadogV2/model_incident_attachments_postmortem_attributes_attachment_object.go
  api/datadogV2/model_incident_attachments_response.go
  api/datadogV2/model_incident_attachments_response_included_item.go
  api/datadogV2/model_incident_related_object.go
  api/datadogV2/model_incident_response_attributes.go
  api/datadogV2/model_incident_response_included_item.go
  api/datadogV2/model_incident_response_relationships.go
  api/datadogV2/model_relationship_to_incident_attachment.go
  api/datadogV2/model_relationship_to_incident_attachment_data.go
  examples/v2/incidents/ListIncidentAttachments.go
  examples/v2/incidents/ListIncidentAttachments_2457735435.go
  examples/v2/incidents/UpdateIncidentAttachments.go
  examples/v2/incidents/UpdateIncidentAttachments_3881702075.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Create_an_incident_attachment_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Create_an_incident_attachment_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Get_incident_attachments_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Get_incident_attachments_returns_OK_response.yaml
  tests/scenarios/features/v2/given.json
  tests/scenarios/features/v2/incidents.feature
  tests/scenarios/features/v2/undo.json
Owners: @DataDog/integrations-tools-and-libraries

re-record cassettes
  tests/api/datadogV1/cassettes/TestAWSIntegrationCreateConflictErrors.freeze
  tests/api/datadogV1/cassettes/TestAWSIntegrationCreateConflictErrors.yaml
  tests/api/datadogV1/cassettes/TestAWSIntegrationCreateConflictErrors/Different.freeze
  tests/api/datadogV1/cassettes/TestAWSIntegrationCreateConflictErrors/Different.yaml
  tests/api/datadogV1/cassettes/TestAWSIntegrationCreateConflictErrors/Same.freeze
  tests/api/datadogV1/cassettes/TestAWSIntegrationCreateConflictErrors/Same.yaml
  tests/api/datadogV1/cassettes/TestCreateAWSAccount.freeze
  tests/api/datadogV1/cassettes/TestCreateAWSAccount.yaml
  tests/api/datadogV1/cassettes/TestDisableAWSAcct.freeze
  tests/api/datadogV1/cassettes/TestDisableAWSAcct.yaml
  tests/api/datadogV1/cassettes/TestDowntimeUpdateErrors/400_Bad_Request.freeze
  tests/api/datadogV1/cassettes/TestDowntimeUpdateErrors/400_Bad_Request.yaml
  tests/api/datadogV1/cassettes/TestDowntimeUpdateErrors/403_Forbidden.freeze
  tests/api/datadogV1/cassettes/TestDowntimeUpdateErrors/403_Forbidden.yaml
  tests/api/datadogV1/cassettes/TestDowntimeUpdateErrors/404_Not_Found.freeze
  tests/api/datadogV1/cassettes/TestDowntimeUpdateErrors/404_Not_Found.yaml
  tests/api/datadogV1/cassettes/TestGenerateNewExternalId.freeze
  tests/api/datadogV1/cassettes/TestGenerateNewExternalId.yaml
  tests/api/datadogV1/cassettes/TestUpdateAWSAccount.freeze
  tests/api/datadogV1/cassettes/TestUpdateAWSAccount.yaml
Owners: @DataDog/integrations-tools-and-libraries

Fix failing integration tests (#1698)
  tests/api/datadogV1/api_aws_integration_test.go
  tests/api/datadogV1/api_downtimes_test.go
  tests/api/datadogV1/cassettes/TestAWSIntegrationCreateConflictErrors.freeze
  tests/api/datadogV1/cassettes/TestAWSIntegrationCreateConflictErrors.yaml
  tests/api/datadogV1/cassettes/TestAWSIntegrationCreateConflictErrors/Different.freeze
  tests/api/datadogV1/cassettes/TestAWSIntegrationCreateConflictErrors/Different.yaml
  tests/api/datadogV1/cassettes/TestAWSIntegrationCreateConflictErrors/Same.freeze
  tests/api/datadogV1/cassettes/TestAWSIntegrationCreateConflictErrors/Same.yaml
  tests/api/datadogV1/cassettes/TestCreateAWSAccount.freeze
  tests/api/datadogV1/cassettes/TestCreateAWSAccount.yaml
  tests/api/datadogV1/cassettes/TestDisableAWSAcct.freeze
  tests/api/datadogV1/cassettes/TestDisableAWSAcct.yaml
  tests/api/datadogV1/cassettes/TestDowntimeUpdateErrors/400_Bad_Request.freeze
  tests/api/datadogV1/cassettes/TestDowntimeUpdateErrors/400_Bad_Request.yaml
  tests/api/datadogV1/cassettes/TestDowntimeUpdateErrors/403_Forbidden.freeze
  tests/api/datadogV1/cassettes/TestDowntimeUpdateErrors/403_Forbidden.yaml
  tests/api/datadogV1/cassettes/TestDowntimeUpdateErrors/404_Not_Found.freeze
  tests/api/datadogV1/cassettes/TestDowntimeUpdateErrors/404_Not_Found.yaml
  tests/api/datadogV1/cassettes/TestGenerateNewExternalId.freeze
  tests/api/datadogV1/cassettes/TestGenerateNewExternalId.yaml
  tests/api/datadogV1/cassettes/TestUpdateAWSAccount.freeze
  tests/api/datadogV1/cassettes/TestUpdateAWSAccount.yaml
Owners: @DataDog/integrations-tools-and-libraries

re-generate
  api/datadogV1/api_aws_logs_integration.go
  api/datadogV1/api_usage_metering.go
  api/datadogV1/model_funnel_widget_definition.go
  api/datadogV1/model_list_stream_widget_definition.go
  api/datadogV1/model_logs_arithmetic_processor.go
  api/datadogV1/model_logs_category_processor.go
  api/datadogV1/model_logs_date_remapper.go
  api/datadogV1/model_logs_status_remapper.go
  api/datadogV1/model_logs_string_builder_processor.go
  api/datadogV1/model_logs_trace_remapper.go
  api/datadogV1/model_search_service_level_objective_attributes.go
  api/datadogV1/model_search_service_level_objective_data.go
  api/datadogV1/model_slo_list_widget_definition.go
  api/datadogV1/model_slo_list_widget_query.go
  api/datadogV1/model_slo_list_widget_request.go
  api/datadogV1/model_widget.go
  api/datadogV2/api_incidents.go
  api/datadogV2/api_security_monitoring.go
  api/datadogV2/api_usage_metering.go
  api/datadogV2/model_incident_attachment_data.go
  api/datadogV2/model_incident_attachment_link_attributes.go
  api/datadogV2/model_incident_attachment_link_attributes_attachment_object.go
  api/datadogV2/model_incident_attachment_postmortem_attributes.go
  api/datadogV2/model_incident_attachment_relationships.go
  api/datadogV2/model_incident_attachment_update_data.go
  api/datadogV2/model_incident_attachment_update_request.go
  api/datadogV2/model_incident_attachment_update_response.go
  api/datadogV2/model_incident_attachments_postmortem_attributes_attachment_object.go
  api/datadogV2/model_incident_attachments_response.go
  api/datadogV2/model_relationship_to_incident_attachment.go
  api/datadogV2/model_relationship_to_incident_attachment_data.go
  api/datadogV2/model_security_monitoring_rule_create_payload.go
  api/datadogV2/model_security_monitoring_rule_query.go
  api/datadogV2/model_security_monitoring_rule_response.go
  api/datadogV2/model_security_monitoring_signal_rule_create_payload.go
  api/datadogV2/model_security_monitoring_signal_rule_query.go
  api/datadogV2/model_security_monitoring_signal_rule_response.go
  api/datadogV2/model_security_monitoring_standard_rule_create_payload.go
  api/datadogV2/model_security_monitoring_standard_rule_response.go
Owners: @DataDog/integrations-tools-and-libraries

pre-commit fixes
  api/datadogV1/api_aws_logs_integration.go
  api/datadogV1/api_usage_metering.go
  api/datadogV1/model_funnel_widget_definition.go
  api/datadogV1/model_list_stream_widget_definition.go
  api/datadogV1/model_logs_arithmetic_processor.go
  api/datadogV1/model_logs_category_processor.go
  api/datadogV1/model_logs_date_remapper.go
  api/datadogV1/model_logs_status_remapper.go
  api/datadogV1/model_logs_string_builder_processor.go
  api/datadogV1/model_logs_trace_remapper.go
  api/datadogV1/model_widget.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit e6eb3136 of spec repo
  .apigentools-info
  tests/scenarios/features/v1/dashboards.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 1358b465 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_monitor_options.go
  examples/v1/monitors/ValidateMonitor_4247196452.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Validate_a_multi-alert_monitor_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Validate_a_multi-alert_monitor_returns_OK_response.yaml
  tests/scenarios/features/v1/monitors.feature
  tests/scenarios/features/v1/multi_alert_monitor_payload.json
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit e3288dc2 of spec repo
  .apigentools-info
  examples/v2/rum/UpdateRUMApplication.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_RUM/Scenario_List_all_the_RUM_applications_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_RUM/Scenario_List_all_the_RUM_applications_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_RUM/Scenario_Update_a_RUM_application_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_RUM/Scenario_Update_a_RUM_application_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_RUM/Scenario_Update_a_RUM_application_returns_Unprocessable_Entity._response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_RUM/Scenario_Update_a_RUM_application_returns_Unprocessable_Entity._response.yaml
  tests/scenarios/features/v2/rum.feature
Owners: @DataDog/integrations-tools-and-libraries

Add a note for deprecated APIs and models
  .generator/src/generator/templates/api.j2
  .generator/src/generator/templates/model_simple.j2
  api/datadogV1/api_logs.go
  api/datadogV1/api_usage_metering.go
  api/datadogV1/model_organization_billing.go
  api/datadogV1/model_organization_subscription.go
  api/datadogV2/api_usage_metering.go
Owners: @DataDog/integrations-tools-and-libraries

Skip deprecation check in tests
  run-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 032eb1c8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/api_metrics.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit abff3edb of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_monitor_formula_and_function_events_data_source.go
Owners: @DataDog/integrations-tools-and-libraries

Publish dev docs
  .github/workflows/docs.yaml
Owners: @DataDog/integrations-tools-and-libraries

Publish dev docs (#1706)
  .github/workflows/docs.yaml
Owners: @DataDog/integrations-tools-and-libraries

Update docs.yaml
  .github/workflows/docs.yaml
Owners: @DataDog/integrations-tools-and-libraries

Use gh action for docs
  .github/workflows/docs.yaml
Owners: @DataDog/integrations-tools-and-libraries

Fix base URL for docs
  .github/workflows/docs.yaml
Owners: @DataDog/integrations-tools-and-libraries

README tweaks
  .github/workflows/docs.yaml
  README.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Add a note for deprecated APIs and models (#1704)
  .generator/src/generator/templates/api.j2
  .generator/src/generator/templates/model_simple.j2
  api/datadogV1/api_logs.go
  api/datadogV1/api_usage_metering.go
  api/datadogV1/model_organization_billing.go
  api/datadogV1/model_organization_subscription.go
  api/datadogV2/api_usage_metering.go
  run-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
