Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app

tests: report probable serialization errors (#679)
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit b12889a of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/UsersApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

[monitor] Add test for restricted roles update.
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/cassettes/TestMonitorLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit ad4a282 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/MonitorUpdateRequest.md
  api/v1/datadog/model_monitor_update_request.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

[monitor] Hardcode admin role to verify fix.
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/cassettes/TestMonitorDowntime.yaml
  tests/api/v1/datadog/cassettes/TestMonitorLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestMonitorPagination.yaml
  tests/api/v1/datadog/cassettes/TestMonitorUpdateErrors.yaml
  tests/api/v1/datadog/cassettes/TestMonitorValidation/example_monitor.yaml
  tests/api/v1/datadog/cassettes/TestMonitorsGetErrors.yaml
Owners: @DataDog/integrations-tools-and-libraries

add SetFixtureData helper
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/scenarios_test.go
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Add time based template var to BDD tests
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/scenarios_test.go
Owners: @DataDog/integrations-tools-and-libraries

Add GroupBy to test
  tests/api/v1/datadog/api_dashboards_test.go
Owners: @DataDog/integrations-tools-and-libraries

Update TestDashboardLifeCycle cassette
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit f02c467 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/FormulaAndFunctionQueryDefinition.md
  api/v1/datadog/docs/TimeSeriesFormulaAndFunctionEventQueryDefinition.md
  api/v1/datadog/docs/TimeSeriesFormulaAndFunctionEventQueryDefinitionGroupBy.md
  api/v1/datadog/docs/TimeSeriesFormulaAndFunctionEventQueryDefinitionSort.md
  api/v1/datadog/model_time_series_formula_and_function_event_query_definition.go
  api/v1/datadog/model_time_series_formula_and_function_event_query_definition_group_by.go
  api/v1/datadog/model_time_series_formula_and_function_event_query_definition_sort.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

fix tests
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objective_Corrections/Scenario_Get_an_SLO_correction_for_an_SLO_returns__OK__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objective_Corrections/Scenario_Get_an_SLO_correction_for_an_SLO_returns__OK__response.yaml
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/scenarios_test.go
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

remove debug
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

[monitor] Pull admin role uuid from API.
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 56d3544 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SLOHistoryMetricsSeriesMetadata.md
  api/v1/datadog/model_slo_history_metrics_series_metadata.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 756b2f6 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SLOHistoryMetricsSeriesMetadata.md
  api/v1/datadog/docs/SLOHistoryMetricsSeriesMetadataUnit.md
  api/v1/datadog/model_slo_history_metrics_series_metadata.go
  api/v1/datadog/model_slo_history_metrics_series_metadata_unit.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

[Go][Client] Secret key content string in http signing support (#8570)
  signing.mustache
Owners: @DataDog/integrations-tools-and-libraries

[Go][Client] Secret key content string in http signing support (#8570)
  .generator/templates/signing.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 0e53363 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/given.json
  tests/api/v1/datadog/features/service_level_objective_corrections.feature
  tests/api/v1/datadog/features/undo.json
Owners: @DataDog/integrations-tools-and-libraries

Update naming conventions
  tests/api/v1/datadog/api_aws_logs_integration_test.go
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/api_logs_pipelines_test.go
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/features/logs.feature
  tests/api/v1/datadog/features/service_level_objectives.feature
  tests/api/v1/datadog/features/undo.json
  tests/api/v1/datadog/features/usage_metering.feature
  tests/api/v2/datadog/features/logs.feature
Owners: @DataDog/integrations-tools-and-libraries

change usage
  tests/api/v1/datadog/api_dashboards_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 7973735 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/FormulaAndFunctionEventsSortType.md
  api/v1/datadog/docs/TimeSeriesFormulaAndFunctionEventQueryDefinitionSort.md
  api/v1/datadog/model_formula_and_function_events_sort_type.go
  api/v1/datadog/model_time_series_formula_and_function_event_query_definition_sort.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 1b26a0f of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/AWSTagFilterDeleteRequest.md
  api/v1/datadog/model_aws_tag_filter_delete_request.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Bump go bdd
  go.mod
  go.sum
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/scenarios_test.go
Owners: @DataDog/integrations-tools-and-libraries

Bump go bdd (#702)
  go.mod
  go.sum
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/scenarios_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit bd96110 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/ServiceLevelObjectivesApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Prepare beta 15
  CHANGELOG.md
  go.sum
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Update CHANGELOG.md
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Update CHANGELOG.md
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Prepare beta 15 (#704)
  CHANGELOG.md
  go.sum
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Start dev cycle
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Enable parallel tests in BDD
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/scenarios_test.go
Owners: @DataDog/integrations-tools-and-libraries

Start dev cycle (#705)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Try with parallel flag
  run-go-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

Clean pipeline setup
  .azure-pipelines/all.yml
Owners: @DataDog/integrations-tools-and-libraries

Also remove windows builders
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Run 1.15 instead of 1.14
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Clean pipeline setup (#707)
  .azure-pipelines/all.yml
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Update README.md
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Remove unstable toggle
  run-go-tests.sh
  tests/api/v1/datadog/api_logs_indexes_test.go
  tests/api/v2/datadog/api_logs_test.go
Owners: @DataDog/integrations-tools-and-libraries

Improve landing page (#685)
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries
