Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app

Regenerate client from commit 104aacd of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_logs_indexes.go
  api/v1/datadog/configuration.go
  api/v1/datadog/docs/LogsIndexesApi.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_logs.go
  api/v2/datadog/api_logs_archives.go
  api/v2/datadog/configuration.go
  api/v2/datadog/docs/LogsApi.md
  api/v2/datadog/docs/LogsArchivesApi.md
  tests/api/v1/datadog/features/logs_indexes.feature
  tests/api/v2/datadog/features/logs.feature
  tests/api/v2/datadog/features/logs_archives.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit e3e4b05 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v2/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/logs.feature
  tests/api/v2/datadog/features/logs.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 329a27b of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/FormulaAndFunctionEventsDataSource.md
  api/v1/datadog/model_formula_and_function_events_data_source.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit f2771da of spec repo
  .apigentools-info
  api/v1/datadog/docs/AWSIntegrationApi.md
  api/v1/datadog/docs/AWSLogsIntegrationApi.md
  api/v1/datadog/docs/AuthenticationApi.md
  api/v1/datadog/docs/AzureIntegrationApi.md
  api/v1/datadog/docs/DashboardListsApi.md
  api/v1/datadog/docs/DashboardsApi.md
  api/v1/datadog/docs/DowntimesApi.md
  api/v1/datadog/docs/EventsApi.md
  api/v1/datadog/docs/GCPIntegrationApi.md
  api/v1/datadog/docs/HostsApi.md
  api/v1/datadog/docs/IPRangesApi.md
  api/v1/datadog/docs/KeyManagementApi.md
  api/v1/datadog/docs/LogsApi.md
  api/v1/datadog/docs/LogsIndexesApi.md
  api/v1/datadog/docs/LogsPipelinesApi.md
  api/v1/datadog/docs/MetricsApi.md
  api/v1/datadog/docs/MonitorsApi.md
  api/v1/datadog/docs/OrganizationsApi.md
  api/v1/datadog/docs/PagerDutyIntegrationApi.md
  api/v1/datadog/docs/ServiceLevelObjectiveCorrectionsApi.md
  api/v1/datadog/docs/ServiceLevelObjectivesApi.md
  api/v1/datadog/docs/SnapshotsApi.md
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/docs/TagsApi.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/docs/UsersApi.md
  api/v2/datadog/docs/DashboardListsApi.md
  api/v2/datadog/docs/IncidentServicesApi.md
  api/v2/datadog/docs/IncidentTeamsApi.md
  api/v2/datadog/docs/IncidentsApi.md
  api/v2/datadog/docs/KeyManagementApi.md
  api/v2/datadog/docs/LogsApi.md
  api/v2/datadog/docs/LogsArchivesApi.md
  api/v2/datadog/docs/LogsMetricsApi.md
  api/v2/datadog/docs/ProcessesApi.md
  api/v2/datadog/docs/RolesApi.md
  api/v2/datadog/docs/SecurityMonitoringApi.md
  api/v2/datadog/docs/UsersApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 5b68d44 of spec repo
  .apigentools-info
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_dashboard_lists.go
  api/v2/datadog/docs/DashboardListsApi.md
  tests/api/v2/datadog/features/dashboard_lists.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

add unique_alnum
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

added v2 metrics to testFiles2EndpointTags
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

lookup on oneOf interface
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

cassettes
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Create_a_Tag_Configuration_returns__Created__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Create_a_Tag_Configuration_returns__Created__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Delete_a_Tag_Configuration_returns__No_Content__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Delete_a_Tag_Configuration_returns__No_Content__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_Tag_Configuration_by_Name_returns__Success__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_Tag_Configuration_by_Name_returns__Success__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_Tag_Configurations_returns__Success__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_Tag_Configurations_returns__Success__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Update_a_Tag_Configuration_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Update_a_Tag_Configuration_returns__OK__response.yaml
Owners: @DataDog/integrations-tools-and-libraries

lookup on oneOf interface
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

lookup on oneOf interface
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit e7a07c6 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageAttributionSort.md
  api/v1/datadog/docs/UsageAttributionValues.md
  api/v1/datadog/docs/UsageBillableSummaryKeys.md
  api/v1/datadog/model_usage_attribution_sort.go
  api/v1/datadog/model_usage_attribution_values.go
  api/v1/datadog/model_usage_billable_summary_keys.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

tests: remove panic, log.Print and fmt.Print
  tests/api/v1/datadog/api_azure_integration_test.go
  tests/api/v1/datadog/api_dashboard_lists_test.go
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/api_downtimes_test.go
  tests/api/v1/datadog/api_gcp_integration_test.go
  tests/api/v1/datadog/api_key_management_test.go
  tests/api/v1/datadog/api_logs_indexes_test.go
  tests/api/v1/datadog/api_logs_pipelines_test.go
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/api_users_test.go
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/api_roles_test.go
  tests/api/v2/datadog/api_users_test.go
  tests/api/v2/datadog/scenarios_test.go
  tests/scenarios.go
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

tests: remove panic, log.Print and fmt.Print (#719)
  tests/api/v1/datadog/api_azure_integration_test.go
  tests/api/v1/datadog/api_dashboard_lists_test.go
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/api_downtimes_test.go
  tests/api/v1/datadog/api_gcp_integration_test.go
  tests/api/v1/datadog/api_key_management_test.go
  tests/api/v1/datadog/api_logs_indexes_test.go
  tests/api/v1/datadog/api_logs_pipelines_test.go
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/api_users_test.go
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/api_roles_test.go
  tests/api/v2/datadog/api_users_test.go
  tests/api/v2/datadog/scenarios_test.go
  tests/scenarios.go
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 3ee9214 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/GeomapWidgetDefinition.md
  api/v1/datadog/docs/GeomapWidgetDefinitionStyle.md
  api/v1/datadog/docs/GeomapWidgetDefinitionType.md
  api/v1/datadog/docs/GeomapWidgetDefinitionView.md
  api/v1/datadog/docs/GeomapWidgetRequest.md
  api/v1/datadog/docs/WidgetDefinition.md
  api/v1/datadog/model_geomap_widget_definition.go
  api/v1/datadog/model_geomap_widget_definition_style.go
  api/v1/datadog/model_geomap_widget_definition_type.go
  api/v1/datadog/model_geomap_widget_definition_view.go
  api/v1/datadog/model_geomap_widget_request.go
  api/v1/datadog/model_widget_definition.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Escape env vars
  run-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

Conditional on unstable set
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Add CI tags to tracked spans (#500)
  .azure-pipelines/all.yml
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

ci: enable apm for replay mode too
  go.mod
  go.sum
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

3rdparty LICENSE
  LICENSE-3rdparty.csv
  go.sum
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

ci: enable apm for replay mode too (#721)
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  tests/test_utils.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

tests: remove unstable warnings, fix test script (#717)
  run-tests.sh
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Skip host functional test in ignore mode
  tests/api/v1/datadog/api_hosts_test.go
Owners: @DataDog/integrations-tools-and-libraries

Skip test tags as well
  tests/api/v1/datadog/api_tags_test.go
Owners: @DataDog/integrations-tools-and-libraries

Skip host tags functional tests in ignore mode (#722)
  tests/api/v1/datadog/api_hosts_test.go
  tests/api/v1/datadog/api_tags_test.go
Owners: @DataDog/integrations-tools-and-libraries

Delete slow v1 app key tests
  tests/api/v1/datadog/api_key_management_test.go
Owners: @DataDog/integrations-tools-and-libraries

Delete slow v1 app key tests (#723)
  tests/api/v1/datadog/api_key_management_test.go
Owners: @DataDog/integrations-tools-and-libraries

cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_a_profile_metric_query.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_a_profile_metric_query.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit b7e0d58 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_metrics.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit b8bbf4c of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/ChangeWidgetRequest.md
  api/v1/datadog/docs/DistributionWidgetRequest.md
  api/v1/datadog/docs/HeatMapWidgetRequest.md
  api/v1/datadog/docs/HostMapRequest.md
  api/v1/datadog/docs/QueryValueWidgetRequest.md
  api/v1/datadog/docs/ScatterPlotRequest.md
  api/v1/datadog/docs/TableWidgetRequest.md
  api/v1/datadog/docs/TimeseriesWidgetRequest.md
  api/v1/datadog/docs/ToplistWidgetRequest.md
  api/v1/datadog/model_change_widget_request.go
  api/v1/datadog/model_distribution_widget_request.go
  api/v1/datadog/model_heat_map_widget_request.go
  api/v1/datadog/model_host_map_request.go
  api/v1/datadog/model_query_value_widget_request.go
  api/v1/datadog/model_scatter_plot_request.go
  api/v1/datadog/model_table_widget_request.go
  api/v1/datadog/model_timeseries_widget_request.go
  api/v1/datadog/model_toplist_widget_request.go
  tests/api/v1/datadog/features/dashboards.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Fix generated go client cannot upload file (#8393)
  .generator/templates/client.mustache
Owners: @DataDog/integrations-tools-and-libraries

Fix generated go client cannot upload file (#8393)
  client.mustache
Owners: @DataDog/integrations-tools-and-libraries

Add spans to v1 tests
  tests/api/v1/datadog/api_aws_integration_test.go
  tests/api/v1/datadog/api_aws_logs_integration_test.go
  tests/api/v1/datadog/api_azure_integration_test.go
  tests/api/v1/datadog/api_dashboard_lists_test.go
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/api_downtimes_test.go
  tests/api/v1/datadog/api_events_test.go
  tests/api/v1/datadog/api_gcp_integration_test.go
  tests/api/v1/datadog/api_hosts_test.go
  tests/api/v1/datadog/api_ip_ranges_test.go
  tests/api/v1/datadog/api_key_management_test.go
  tests/api/v1/datadog/api_logs_indexes_test.go
  tests/api/v1/datadog/api_logs_pipelines_test.go
  tests/api/v1/datadog/api_logs_test.go
  tests/api/v1/datadog/api_metrics_test.go
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/api_organizations_test.go
  tests/api/v1/datadog/api_pager_duty_integration_test.go
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/api_snapshots_test.go
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/api_tags_test.go
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/api_users_test.go
  tests/api/v1/datadog/telemetry_test.go
  tests/api/v1/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

Add spans to v1 tests (#729)
  tests/api/v1/datadog/api_aws_integration_test.go
  tests/api/v1/datadog/api_aws_logs_integration_test.go
  tests/api/v1/datadog/api_azure_integration_test.go
  tests/api/v1/datadog/api_dashboard_lists_test.go
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/api_downtimes_test.go
  tests/api/v1/datadog/api_events_test.go
  tests/api/v1/datadog/api_gcp_integration_test.go
  tests/api/v1/datadog/api_hosts_test.go
  tests/api/v1/datadog/api_ip_ranges_test.go
  tests/api/v1/datadog/api_key_management_test.go
  tests/api/v1/datadog/api_logs_indexes_test.go
  tests/api/v1/datadog/api_logs_pipelines_test.go
  tests/api/v1/datadog/api_logs_test.go
  tests/api/v1/datadog/api_metrics_test.go
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/api_organizations_test.go
  tests/api/v1/datadog/api_pager_duty_integration_test.go
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/api_snapshots_test.go
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/api_tags_test.go
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/api_users_test.go
  tests/api/v1/datadog/telemetry_test.go
  tests/api/v1/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Tests for new api and browser endpoints
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestEndpointLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestEndpointLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestEndpointLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestEndpointLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Fix coverage on re-run
  run-go-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

Fix package parsing
  run-go-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 153fb41 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsAssertionType.md
  api/v1/datadog/model_synthetics_assertion_type.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Fix coverage on re-run (#730)
  run-go-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

Add spans to v2 tests
  tests/api/v2/datadog/api_dashboard_lists_test.go
  tests/api/v2/datadog/api_logs_archives_test.go
  tests/api/v2/datadog/api_logs_test.go
  tests/api/v2/datadog/api_permissions_test.go
  tests/api/v2/datadog/api_roles_test.go
  tests/api/v2/datadog/api_users_test.go
  tests/api/v2/datadog/security_monitoring_test.go
  tests/api/v2/datadog/telemetry_test.go
  tests/api/v2/datadog/utils.go
  tests/scenarios.go
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries
