Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

Start dev cycle (#546)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Move cleanup script to different repo
  scripts/cleanup.go
Owners: @DataDog/integrations-tools-and-libraries

Ensure test name only has underscores
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 6c2e76c of spec repo
  .apigentools-info
  api/v1/datadog/docs/AWSIntegrationApi.md
  api/v1/datadog/docs/AWSLogsIntegrationApi.md
  api/v1/datadog/docs/AuthenticationApi.md
  api/v1/datadog/docs/AzureIntegrationApi.md
  api/v1/datadog/docs/DashboardListsApi.md
  api/v1/datadog/docs/DashboardsApi.md
  api/v1/datadog/docs/DowntimesApi.md
  api/v1/datadog/docs/EventsApi.md
  api/v1/datadog/docs/GCPIntegrationApi.md
  api/v1/datadog/docs/HostsApi.md
  api/v1/datadog/docs/IPRangesApi.md
  api/v1/datadog/docs/KeyManagementApi.md
  api/v1/datadog/docs/LogsApi.md
  api/v1/datadog/docs/LogsIndexesApi.md
  api/v1/datadog/docs/LogsPipelinesApi.md
  api/v1/datadog/docs/MetricsApi.md
  api/v1/datadog/docs/MonitorsApi.md
  api/v1/datadog/docs/OrganizationsApi.md
  api/v1/datadog/docs/PagerDutyIntegrationApi.md
  api/v1/datadog/docs/ServiceLevelObjectivesApi.md
  api/v1/datadog/docs/SnapshotsApi.md
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/docs/TagsApi.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/docs/UsersApi.md
  api/v2/datadog/docs/DashboardListsApi.md
  api/v2/datadog/docs/IncidentServicesApi.md
  api/v2/datadog/docs/IncidentTeamsApi.md
  api/v2/datadog/docs/LogsApi.md
  api/v2/datadog/docs/LogsArchivesApi.md
  api/v2/datadog/docs/RolesApi.md
  api/v2/datadog/docs/SecurityMonitoringApi.md
  api/v2/datadog/docs/UsersApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Ensure test name only has underscores (#550)
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Move cleanup script to different repo (#549)
  scripts/cleanup.go
Owners: @DataDog/integrations-tools-and-libraries

Add tests for new endpoints
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/features/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries

Add cassettes for new endpoint
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/cassettes/TestUsageIndexedSpans.freeze
  tests/api/v1/datadog/cassettes/TestUsageIndexedSpans.yaml
  tests/api/v1/datadog/cassettes/TestUsageIndexedSpansErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestUsageIndexedSpansErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestUsageIndexedSpansErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestUsageIndexedSpansErrors/403_Forbidden.yaml
Owners: @DataDog/integrations-tools-and-libraries

Remove deprecated test
  tests/api/v1/datadog/api_usage_metering_test.go
Owners: @DataDog/integrations-tools-and-libraries

Update errors test
  tests/api/v1/datadog/api_usage_metering_test.go
Owners: @DataDog/integrations-tools-and-libraries

Add cassettes for ingested spans
  tests/api/v1/datadog/cassettes/TestUsageIngestedSpans.freeze
  tests/api/v1/datadog/cassettes/TestUsageIngestedSpans.yaml
Owners: @DataDog/integrations-tools-and-libraries

Create cassettes for ingested spans errors
  tests/api/v1/datadog/cassettes/TestGetIngestedSpansErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestGetIngestedSpansErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestGetIngestedSpansErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestGetIngestedSpansErrors/403_Forbidden.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add tests for GetAllProcesses
  tests/api/v1/datadog/api_processes_test.go
  tests/api/v1/datadog/cassettes/TestGetAllProcesses.freeze
  tests/api/v1/datadog/cassettes/TestGetAllProcesses.yaml
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Format imports
  tests/api/v1/datadog/api_processes_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit c9877a2 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/model_widget_palette.go
Owners: @DataDog/integrations-tools-and-libraries

change event_query data source -> EventQueryDefinition to LogQueryDefinition add legacy_event_query data source -> LogQueryDefinition
  tests/api/v1/datadog/api_dashboards_test.go
Owners: @DataDog/integrations-tools-and-libraries

Release beta 11
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

change event_query data source -> EventQueryDefinition to LogQueryDefinition add legacy_event_query data source -> LogQueryDefinition
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Release beta 11 (#556)
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Removes secondaryParam and hasMore (#7882)
  README.mustache
  api.mustache
  api_doc.mustache
Owners: @DataDog/integrations-tools-and-libraries

Removes secondaryParam and hasMore (#7882)
  .generator/templates/README.mustache
  .generator/templates/api.mustache
  .generator/templates/api_doc.mustache
Owners: @DataDog/integrations-tools-and-libraries

Move test to v2
  tests/api/v2/datadog/api_processes_test.go
  tests/api/v2/datadog/cassettes/TestGetAllProcesses.freeze
  tests/api/v2/datadog/cassettes/TestGetAllProcesses.yaml
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Move to v2
  tests/api/v2/datadog/api_processes_test.go
  tests/api/v2/datadog/cassettes/TestListProcesses.freeze
  tests/api/v2/datadog/cassettes/TestListProcesses.yaml
Owners: @DataDog/integrations-tools-and-libraries

[monitors] Add restricted roles.
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/cassettes/TestMonitorDowntime.yaml
  tests/api/v1/datadog/cassettes/TestMonitorLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestMonitorPagination.yaml
  tests/api/v1/datadog/cassettes/TestMonitorUpdateErrors.yaml
  tests/api/v1/datadog/cassettes/TestMonitorValidation/example_monitor.yaml
  tests/api/v1/datadog/cassettes/TestMonitorsGetErrors.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 8a545a7 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageIndexedSpansHour.md
  api/v1/datadog/docs/UsageIndexedSpansResponse.md
  api/v1/datadog/docs/UsageIngestedSpansHour.md
  api/v1/datadog/docs/UsageIngestedSpansResponse.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/model_usage_indexed_spans_hour.go
  api/v1/datadog/model_usage_indexed_spans_response.go
  api/v1/datadog/model_usage_ingested_spans_hour.go
  api/v1/datadog/model_usage_ingested_spans_response.go
  tests/api/v1/datadog/features/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 99c92ca of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/MonitorOptions.md
  api/v1/datadog/model_monitor_options.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

remove deprecated widgets based on the old definition of `event_query`. Since the new `event_query` query definition is the same as log we don't need to add additional tests
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Fix incident related tests
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Services/Scenario_Get_a_list_of_all_incident_services_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Services/Scenario_Get_a_list_of_all_incident_services_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Teams/Scenario_Get_a_list_of_all_incident_teams_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Teams/Scenario_Get_a_list_of_all_incident_teams_returns__OK__response.yaml
  tests/api/v2/datadog/features/incident_services.feature
  tests/api/v2/datadog/features/incident_teams.feature
  tests/api/v2/datadog/scenarios_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 6a8fa99 of spec repo
  .apigentools-info
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_incident_services.go
  api/v2/datadog/api_incident_teams.go
  api/v2/datadog/configuration.go
  api/v2/datadog/docs/IncidentServicesApi.md
  api/v2/datadog/docs/IncidentTeamsApi.md
  tests/api/v2/datadog/features/incident_services.feature
  tests/api/v2/datadog/features/incident_teams.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Fix a few issues with go examples generation (#7873)
  .generator/templates/api_doc.mustache
  .generator/templates/model_doc.mustache
Owners: @DataDog/integrations-tools-and-libraries

Fix a few issues with go examples generation (#7873)
  api_doc.mustache
  model_doc.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 9d03fff of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/IPPrefixesSynthetics.md
  api/v1/datadog/model_ip_prefixes_synthetics.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

TestSummaryByTag
  tests/api/v1/datadog/api_usage_metering_test.go
Owners: @DataDog/integrations-tools-and-libraries

Renamed SummaryByTag to UsageAttribution
  tests/api/v1/datadog/api_usage_metering_test.go
Owners: @DataDog/integrations-tools-and-libraries

fix incidents bdd features
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incidents/Scenario_Create_an_incident_returns__CREATED__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incidents/Scenario_Create_an_incident_returns__CREATED__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incidents/Scenario_Delete_an_existing_incident_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incidents/Scenario_Delete_an_existing_incident_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incidents/Scenario_Get_a_list_of_incidents_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incidents/Scenario_Get_a_list_of_incidents_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incidents/Scenario_Get_the_details_of_an_incident_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incidents/Scenario_Get_the_details_of_an_incident_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incidents/Scenario_Update_an_existing_incident_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incidents/Scenario_Update_an_existing_incident_returns__OK__response.yaml
Owners: @DataDog/integrations-tools-and-libraries

Update test to use to LogsIndexUpdateRequest
  tests/api/v1/datadog/api_logs_indexes_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 81a95d1 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_logs_indexes.go
  api/v1/datadog/docs/LogsIndex.md
  api/v1/datadog/docs/LogsIndexUpdateRequest.md
  api/v1/datadog/docs/LogsIndexesApi.md
  api/v1/datadog/model_logs_index_update_request.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Extract and check examples
  .gitignore
  check-examples.sh
  extract-code-blocks.awk
  extract-code-blocks.sh
Owners: @DataDog/integrations-tools-and-libraries

fix path
  check-examples.sh
  extract-code-blocks.sh
Owners: @DataDog/integrations-tools-and-libraries

cd
  extract-code-blocks.sh
Owners: @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
