Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

Remove old spec copy (#1199)
  Makefile
  api/v1/datadog/api/openapi.yaml
  api/v2/datadog/api/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Remove duplicit OpenAPI specification
  Makefile
  api/v1/datadog/.openapi-generator-ignore
  api/v2/datadog/.openapi-generator-ignore
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 3b593f9 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/SyntheticsTestDetailsSubType.md
  api/v1/datadog/docs/SyntheticsTestRequest.md
  api/v1/datadog/model_synthetics_test_details_sub_type.go
  api/v1/datadog/model_synthetics_test_request.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_test_with_WEBSOCKET_subtype_returns_OK_-_Returns_the_created_test_details._response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_test_with_WEBSOCKET_subtype_returns_OK_-_Returns_the_created_test_details._response.yaml
  tests/scenarios/features/v1/synthetics.feature
  tests/scenarios/features/v1/synthetics_api_test_websocket_payload.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit fabf585 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/UsageFargateHour.md
  api/v1/datadog/docs/UsageSummaryDate.md
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_fargate_hour.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 8abcff4 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v2/datadog/.openapi-generator/FILES
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit fce8d3b of spec repo
  .apigentools-info
  examples/v1/hosts/ListHosts.go
  tests/scenarios/features/v1/hosts.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit b4edd57 of spec repo
  .apigentools-info
  examples/v1/hosts/ListHosts.go
  tests/scenarios/features/v1/hosts.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 27830cd of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/MonitorType.md
  api/v1/datadog/model_monitor_type.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit cab9320 of spec repo
  .apigentools-info
  examples/v1/service-level-objective-corrections/CreateSLOCorrection.go
  examples/v1/service-level-objective-corrections/GetSLOCorrection.go
  examples/v1/service-level-objective-corrections/ListSLOCorrection.go
  examples/v1/service-level-objective-corrections/UpdateSLOCorrection.go
  examples/v2/incident-services/CreateIncidentService.go
  examples/v2/incident-services/DeleteIncidentService.go
  examples/v2/incident-services/GetIncidentService.go
  examples/v2/incident-services/ListIncidentServices.go
  examples/v2/incident-services/UpdateIncidentService.go
  examples/v2/incident-teams/CreateIncidentTeam.go
  examples/v2/incident-teams/DeleteIncidentTeam.go
  examples/v2/incident-teams/GetIncidentTeam.go
  examples/v2/incident-teams/ListIncidentTeams.go
  examples/v2/incident-teams/UpdateIncidentTeam.go
  examples/v2/incidents/CreateIncident.go
  examples/v2/incidents/DeleteIncident.go
  examples/v2/incidents/GetIncident.go
  examples/v2/incidents/ListIncidents.go
  examples/v2/incidents/UpdateIncident.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit f1dce60 of spec repo
  .apigentools-info
  tests/scenarios/features/v1/authentication.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 7d4329a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/SyntheticsTriggerCITestsResponse.md
  api/v1/datadog/model_synthetics_trigger_ci_tests_response.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit ddc1872 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/EventCreateRequest.md
  api/v1/datadog/model_event_create_request.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit a3413fa of spec repo
  .apigentools-info
  examples/v2/logs/ListLogs.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs/Scenario_Search_logs_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs/Scenario_Search_logs_returns_OK_response.yaml
  tests/scenarios/features/v2/logs.feature
Owners: @DataDog/integrations-tools-and-libraries

Remove access role
  api/v1/datadog/docs/User.md
  api/v1/datadog/model_user.go
  tests/api/v1/datadog/api_users_test.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

remove access role
  tests/api/v1/datadog/api_users_test.go
Owners: @DataDog/integrations-tools-and-libraries

Remove access_role from everywhere
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/model_access_role.go
  api/v1/datadog/model_user.go
  tests/api/v1/datadog/cassettes/TestCreateUser.yaml
  tests/api/v1/datadog/cassettes/TestDisableUser.yaml
  tests/api/v1/datadog/cassettes/TestUpdateUser.yaml
  tests/api/v1/datadog/cassettes/TestUserDisableErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/404_Not_Found.yaml
  tests/scenarios/features/v1/users.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 4ce4b9f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/MonitorSearchResult.md
  api/v1/datadog/model_monitor_search_result.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit acfdbc7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/SyntheticsBrowserVariable.md
  api/v1/datadog/model_synthetics_browser_variable.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit c0e7143 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/MonitorOptions.md
  api/v1/datadog/model_monitor_options.go
  examples/v1/monitors/ValidateMonitor.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Downtimes/Scenario_Schedule_a_monitor_downtime_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Downtimes/Scenario_Schedule_a_monitor_downtime_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Check_if_a_monitor_can_be_deleted_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Delete_a_monitor_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Edit_a_monitor_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Get_a_monitors_details_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Validate_a_monitor_returns_OK_response.yaml
  tests/scenarios/features/v1/given.json
  tests/scenarios/features/v1/monitor_payload.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 765200a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/UsageFargateHour.md
  api/v1/datadog/docs/UsageSDSHour.md
  api/v1/datadog/model_usage_fargate_hour.go
  api/v1/datadog/model_usage_sds_hour.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 71029a4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api_service_level_objectives.go
  api/v1/datadog/configuration.go
  api/v1/datadog/docs/SLOCorrectionResponseAttributes.md
  api/v1/datadog/docs/SLOCorrectionResponseAttributesModifier.md
  api/v1/datadog/docs/ServiceLevelObjectivesApi.md
  api/v1/datadog/model_slo_correction_response_attributes.go
  api/v1/datadog/model_slo_correction_response_attributes_modifier.go
  examples/v1/service-level-objectives/GetSLOCorrections.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Service_Level_Objectives/Scenario_Get_Corrections_For_an_SLO_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Service_Level_Objectives/Scenario_Get_Corrections_For_an_SLO_returns_OK_response.yaml
  tests/scenarios/features/v1/service_level_objectives.feature
  tests/scenarios/features/v1/undo.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 388700d of spec repo
  .apigentools-info
  examples/v2/roles/AddPermissionToRole.go
  examples/v2/roles/AddUserToRole.go
  examples/v2/roles/RemovePermissionFromRole.go
  examples/v2/roles/RemoveUserFromRole.go
Owners: @DataDog/integrations-tools-and-libraries

Always parse JSON error, store it in BDD
  .generator/templates/client.mustache
  tests/scenarios/step_definitions.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 60c6582 of spec repo
  .apigentools-info
  api/v1/datadog/client.go
  api/v2/datadog/client.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Events/Scenario_Post_an_event_in_the_past_returns_Bad_Request_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Events/Scenario_Post_an_event_in_the_past_returns_Bad_Request_response.yaml
  tests/scenarios/features/v1/events.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit d51b660 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/UsageAttributionSupportedMetrics.md
  api/v1/datadog/docs/UsageAttributionValues.md
  api/v1/datadog/model_usage_attribution_supported_metrics.go
  api/v1/datadog/model_usage_attribution_values.go
  tests/scenarios/features/v1/events.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit a7401b6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/README.md
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/docs/SyntheticsApi.md
  examples/v1/synthetics/TriggerTests.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Trigger_Synthetics_tests_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Trigger_Synthetics_tests_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Trigger_some_Synthetics_tests_returns_OK_response.freeze
  tests/scenarios/features/v1/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 350df8d of spec repo
  .apigentools-info
  tests/scenarios/features/v1/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit d837514 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  tests/scenarios/features/v1/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit c8a8203 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/docs/User.md
  api/v1/datadog/model_access_role.go
  api/v1/datadog/model_user.go
  tests/api/v1/datadog/api_users_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 1c2091d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/User.md
  api/v1/datadog/model_user.go
  tests/scenarios/features/v1/users.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Revert "Removes `access_role` property from user v1 (#1214)"
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/User.md
  api/v1/datadog/model_user.go
  tests/api/v1/datadog/api_users_test.go
  tests/api/v1/datadog/cassettes/TestCreateUser.yaml
  tests/api/v1/datadog/cassettes/TestDisableUser.yaml
  tests/api/v1/datadog/cassettes/TestUpdateUser.yaml
  tests/api/v1/datadog/cassettes/TestUserDisableErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/404_Not_Found.yaml
  tests/scenarios/features/v1/users.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Revert "Removes `access_role` property from user v1 (#1214)" (#1237)
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/User.md
  api/v1/datadog/model_user.go
  tests/api/v1/datadog/api_users_test.go
  tests/api/v1/datadog/cassettes/TestCreateUser.yaml
  tests/api/v1/datadog/cassettes/TestDisableUser.yaml
  tests/api/v1/datadog/cassettes/TestUpdateUser.yaml
  tests/api/v1/datadog/cassettes/TestUserDisableErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/404_Not_Found.yaml
  tests/scenarios/features/v1/users.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

report test.codeowners
  LICENSE-3rdparty.csv
  tests/go.mod
  tests/go.sum
  tests/scenarios/scenarios_test.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit df97aef of spec repo
  .apigentools-info
  examples/v2/logs/ListLogs.go
  tests/scenarios/features/v2/logs.feature
Owners: @DataDog/integrations-tools-and-libraries

update changelog and bump version
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

update changelog and bump version (#1241)
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

start dev cycle
  version.go
Owners: @DataDog/integrations-tools-and-libraries

start dev cycle (#1242)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 9bcd121 of spec repo
  .apigentools-info
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Create_a_monitor_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Create_a_monitor_returns_OK_response.yaml
Owners: @DataDog/integrations-tools-and-libraries

use upstream
  LICENSE-3rdparty.csv
  tests/go.mod
  tests/go.sum
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
