Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

test ci
  tests/api/v1/datadog/cassettes/TestIPRanges.freeze
  tests/api/v1/datadog/cassettes/TestIPRanges.yaml
Owners: @DataDog/integrations-tools-and-libraries

ignore record mode
  run-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

Bash arrays
  run-go-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

Re-record failed tests
  run-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

Support RERECORD_FAILED_TESTS
  run-go-tests.sh
  run-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

Revert "test ci"
  tests/api/v1/datadog/cassettes/TestIPRanges.freeze
  tests/api/v1/datadog/cassettes/TestIPRanges.yaml
Owners: @DataDog/integrations-tools-and-libraries

RuleQueryTest
  tests/api/v2/datadog/security_monitoring_test.go
Owners: @DataDog/integrations-tools-and-libraries

Rename signal list tests
  tests/api/v2/datadog/cassettes/TestListSecurityMonitoringSignals.freeze
  tests/api/v2/datadog/cassettes/TestListSecurityMonitoringSignals.yaml
  tests/api/v2/datadog/cassettes/TestSearchSecurityMonitoringSignals.freeze
  tests/api/v2/datadog/cassettes/TestSearchSecurityMonitoringSignals.yaml
  tests/api/v2/datadog/cassettes/TestSignalsListGet.freeze
  tests/api/v2/datadog/cassettes/TestSignalsListGet.yaml
  tests/api/v2/datadog/cassettes/TestSignalsListPost.freeze
  tests/api/v2/datadog/cassettes/TestSignalsListPost.yaml
  tests/api/v2/datadog/security_monitoring_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit e726177 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsTestDetails.md
  api/v1/datadog/docs/SyntheticsTestOptions.md
  api/v1/datadog/docs/SyntheticsTestOptionsRetry.md
  api/v1/datadog/model_synthetics_test_details.go
  api/v1/datadog/model_synthetics_test_details_sub_type.go
  api/v1/datadog/model_synthetics_test_options.go
  api/v1/datadog/model_synthetics_test_options_retry.go
  api/v1/datadog/model_synthetics_tick_interval.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Add changelog entry for 1.0.0-beta.7
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Remove Jira refs
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Add changelog entry for 1.0.0-beta.7 (#398)
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Bump version in version.go to 1.0.0-beta.7
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Bump version in version.go to 1.0.0-beta.7 (#399)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Start 1.0.0-beta.8 dev cycle
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Start 1.0.0-beta.8 dev cycle (#400)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 4876af5 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/model_monitor_type.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 83c12e5 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/logs.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 37e359d of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/ChangeWidgetRequest.md
  api/v1/datadog/docs/DashboardsApi.md
  api/v1/datadog/docs/DistributionWidgetRequest.md
  api/v1/datadog/docs/HeatMapWidgetRequest.md
  api/v1/datadog/docs/HostMapRequest.md
  api/v1/datadog/docs/ScatterPlotRequest.md
  api/v1/datadog/docs/TableWidgetRequest.md
  api/v1/datadog/docs/TimeseriesWidgetRequest.md
  api/v1/datadog/docs/ToplistWidgetRequest.md
  api/v1/datadog/model_change_widget_request.go
  api/v1/datadog/model_distribution_widget_request.go
  api/v1/datadog/model_heat_map_widget_request.go
  api/v1/datadog/model_host_map_request.go
  api/v1/datadog/model_scatter_plot_request.go
  api/v1/datadog/model_table_widget_request.go
  api/v1/datadog/model_timeseries_widget_request.go
  api/v1/datadog/model_toplist_widget_request.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 74f1613 of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_security_monitoring.go
  api/v2/datadog/configuration.go
  api/v2/datadog/docs/SecurityMonitoringApi.md
  api/v2/datadog/docs/SecurityMonitoringSignal.md
  api/v2/datadog/docs/SecurityMonitoringSignalAttributes.md
  api/v2/datadog/docs/SecurityMonitoringSignalListRequest.md
  api/v2/datadog/docs/SecurityMonitoringSignalListRequestFilter.md
  api/v2/datadog/docs/SecurityMonitoringSignalListRequestPage.md
  api/v2/datadog/docs/SecurityMonitoringSignalType.md
  api/v2/datadog/docs/SecurityMonitoringSignalsListResponse.md
  api/v2/datadog/docs/SecurityMonitoringSignalsListResponseLinks.md
  api/v2/datadog/docs/SecurityMonitoringSignalsSort.md
  api/v2/datadog/model_security_monitoring_signal.go
  api/v2/datadog/model_security_monitoring_signal_attributes.go
  api/v2/datadog/model_security_monitoring_signal_list_request.go
  api/v2/datadog/model_security_monitoring_signal_list_request_filter.go
  api/v2/datadog/model_security_monitoring_signal_list_request_page.go
  api/v2/datadog/model_security_monitoring_signal_type.go
  api/v2/datadog/model_security_monitoring_signals_list_response.go
  api/v2/datadog/model_security_monitoring_signals_list_response_links.go
  api/v2/datadog/model_security_monitoring_signals_sort.go
  tests/api/v2/datadog/features/security_monitoring.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

[k9]Fix Security Monitoring test
  tests/api/v2/datadog/security_monitoring_test.go
Owners: @DataDog/integrations-tools-and-libraries

Updating cassete
  tests/api/v2/datadog/cassettes/TestSecMonRulesCRUD.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 1189f44 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/QueryValueWidgetRequest.md
  api/v1/datadog/model_query_value_widget_request.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Add AWS Account conflict test
  tests/api/v1/datadog/api_aws_integration_test.go
Owners: @DataDog/integrations-tools-and-libraries

Fix conflict test
  tests/api/v1/datadog/api_aws_integration_test.go
Owners: @DataDog/integrations-tools-and-libraries

Add conflict test cassettes
  tests/api/v1/datadog/cassettes/TestAWSIntegrationCreateConflictErrors.freeze
  tests/api/v1/datadog/cassettes/TestAWSIntegrationCreateConflictErrors.yaml
Owners: @DataDog/integrations-tools-and-libraries

[Go] support problem details HTTP API (#6793)
  .generator/templates/client.mustache
Owners: @DataDog/integrations-tools-and-libraries

[Go] support problem details HTTP API (#6793)
  client.mustache
Owners: @DataDog/integrations-tools-and-libraries

Fix conditions
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

simplify matching
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Re-recorded cassettes
  tests/api/v2/datadog/cassettes/TestSecMonRulesCRUD.freeze
  tests/api/v2/datadog/cassettes/TestSecMonRulesCRUD.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 38352fa of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/SecurityMonitoringApi.md
  api/v2/datadog/docs/SecurityMonitoringRuleCreatePayload.md
  api/v2/datadog/docs/SecurityMonitoringRuleUpdatePayload.md
  api/v2/datadog/model_security_monitoring_rule_create_payload.go
  api/v2/datadog/model_security_monitoring_rule_update_payload.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

hotfix
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Logging
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

[SecurityMonitoring] Fixing tests
  tests/api/v2/datadog/security_monitoring_test.go
Owners: @DataDog/integrations-tools-and-libraries

Added create response
  tests/api/v2/datadog/security_monitoring_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 757b43b of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

re-recorded
  tests/api/v2/datadog/cassettes/TestSecMonRulesCRUD.freeze
  tests/api/v2/datadog/cassettes/TestSecMonRulesCRUD.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit e94f807 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/SecurityMonitoringApi.md
  api/v2/datadog/docs/SecurityMonitoringRuleQuery.md
  api/v2/datadog/model_security_monitoring_rule_query.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Scenario_Update_a_role_returns__OK__response
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Update_a_role_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Update_a_role_returns__OK__response.yaml
Owners: @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
