Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

os.ReadFile is go 1.16 only
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 9d22381 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsAPIStep.md
  api/v1/datadog/docs/SyntheticsBrowserTestConfig.md
  api/v1/datadog/docs/SyntheticsTestRequest.md
  api/v1/datadog/model_synthetics_api_step.go
  api/v1/datadog/model_synthetics_browser_test_config.go
  api/v1/datadog/model_synthetics_test_request.go
  tests/api/v1/datadog/features/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Various doc tweaks
  .generator/templates/api_doc.mustache
  .generator/templates/model_doc.mustache
Owners: @DataDog/integrations-tools-and-libraries

Fix some type links
  .generator/templates/api_doc.mustache
Owners: @DataDog/integrations-tools-and-libraries

Fix check examples
  check-examples.sh
Owners: @DataDog/integrations-tools-and-libraries

Test errors
  .generator/templates/api_doc.mustache
Owners: @DataDog/integrations-tools-and-libraries

Fix example extract
  check-examples.sh
  extract-code-blocks.awk
Owners: @DataDog/integrations-tools-and-libraries

Fix example extract (#908)
  check-examples.sh
  extract-code-blocks.awk
Owners: @DataDog/integrations-tools-and-libraries

Handle version parameter
  check-examples.sh
Owners: @DataDog/integrations-tools-and-libraries

Handle version in go
  check-examples.sh
  extract-code-blocks.sh
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 45e6981 of spec repo
  .apigentools-info
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit eaa0782 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_service_level_objectives.go
  api/v1/datadog/docs/SLOResponse.md
  api/v1/datadog/docs/SLOResponseData.md
  api/v1/datadog/docs/ServiceLevelObjectivesApi.md
  api/v1/datadog/model_slo_response.go
  api/v1/datadog/model_slo_response_data.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit b2e3154 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsTestOptions.md
  api/v1/datadog/model_synthetics_test_options.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 52e5730 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/SecurityMonitoringRuleDetectionMethod.md
  api/v2/datadog/model_security_monitoring_rule_detection_method.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

[graph-editor] Change manual test for new context menu API
  tests/api/v1/datadog/api_dashboards_test.go
Owners: @DataDog/integrations-tools-and-libraries

fix test
  tests/api/v1/datadog/api_dashboards_test.go
Owners: @DataDog/integrations-tools-and-libraries

Record cassettes
  .generator/templates/model_simple.mustache
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Create_a_notebook_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Create_a_notebook_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Delete_a_notebook_returns_Not_Found_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Delete_a_notebook_returns_Not_Found_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Get_a_notebook_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Get_a_notebook_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Get_all_notebooks_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Get_all_notebooks_returns_OK_response.yaml
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Enforce required fields in JSON
  .generator/templates/model.mustache
  .generator/templates/model_simple.mustache
Owners: @DataDog/integrations-tools-and-libraries

Add missing cassettes
  tests/api/v1/datadog/cassettes/TestUsageLogsByRetention.freeze
  tests/api/v1/datadog/cassettes/TestUsageLogsByRetention.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit dcadb1c of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/LogsByRetention.md
  api/v1/datadog/docs/LogsByRetentionMonthlyUsage.md
  api/v1/datadog/docs/LogsByRetentionOrgUsage.md
  api/v1/datadog/docs/LogsByRetentionOrgs.md
  api/v1/datadog/docs/LogsRetentionAggSumUsage.md
  api/v1/datadog/docs/LogsRetentionSumUsage.md
  api/v1/datadog/docs/UsageLogsByRetentionHour.md
  api/v1/datadog/docs/UsageLogsByRetentionResponse.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_logs_by_retention.go
  api/v1/datadog/model_logs_by_retention_monthly_usage.go
  api/v1/datadog/model_logs_by_retention_org_usage.go
  api/v1/datadog/model_logs_by_retention_orgs.go
  api/v1/datadog/model_logs_retention_agg_sum_usage.go
  api/v1/datadog/model_logs_retention_sum_usage.go
  api/v1/datadog/model_usage_logs_by_retention_hour.go
  api/v1/datadog/model_usage_logs_by_retention_response.go
  api/v1/datadog/model_usage_summary_response.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit b9a2b4b of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsTestConfig.md
  api/v1/datadog/docs/SyntheticsTickInterval.md
  api/v1/datadog/model_synthetics_test_config.go
  api/v1/datadog/model_synthetics_tick_interval.go
  tests/api/v1/datadog/features/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 8176bfc of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_service_level_objective_corrections.go
  tests/api/v1/datadog/features/service_level_objective_corrections.feature
Owners: @DataDog/integrations-tools-and-libraries

handle cases of typed nil
  .generator/templates/api.mustache
Owners: @DataDog/integrations-tools-and-libraries

handle typed nils
  .generator/templates/client.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 8d8238a of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageAttributionSupportedMetrics.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/model_usage_attribution_supported_metrics.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

fix test
  tests/api/v1/datadog/api_dashboards_test.go
Owners: @DataDog/integrations-tools-and-libraries

Update cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Delete_a_notebook_returns_Not_Found_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Delete_a_notebook_returns_Not_Found_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Delete_a_notebook_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Delete_a_notebook_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Update_a_notebook_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Update_a_notebook_returns_OK_response.yaml
Owners: @DataDog/integrations-tools-and-libraries

Cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Delete_a_notebook_returns_Not_Found_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Delete_a_notebook_returns_Not_Found_response.yaml
Owners: @DataDog/integrations-tools-and-libraries

lint
  .generator/templates/client.mustache
Owners: @DataDog/integrations-tools-and-libraries

Update cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Create_a_notebook_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Create_a_notebook_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Delete_a_notebook_returns_Not_Found_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Delete_a_notebook_returns_Not_Found_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Delete_a_notebook_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Delete_a_notebook_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Get_a_notebook_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Get_a_notebook_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Get_all_notebooks_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Get_all_notebooks_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Update_a_notebook_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Notebooks/Scenario_Update_a_notebook_returns_OK_response.yaml
Owners: @DataDog/integrations-tools-and-libraries

Fix : undocumented fields in security monitoring rules : hasExtendedTitle, type, version
  tests/api/v2/datadog/cassettes/TestListSecurityMonitoringSignals.freeze
  tests/api/v2/datadog/cassettes/TestListSecurityMonitoringSignals.yaml
  tests/api/v2/datadog/cassettes/TestSearchSecurityMonitoringSignals.freeze
  tests/api/v2/datadog/cassettes/TestSearchSecurityMonitoringSignals.yaml
  tests/api/v2/datadog/cassettes/TestSecMonRulesCRUD.freeze
  tests/api/v2/datadog/cassettes/TestSecMonRulesCRUD.yaml
Owners: @DataDog/integrations-tools-and-libraries

[K9] Update cassettes
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_security_filter_returns_OK_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_security_filter_returns_OK_response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_security_filter_returns_No_Content_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_security_filter_returns_No_Content_response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Get_a_security_filter_returns_OK_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Get_a_security_filter_returns_OK_response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Get_all_security_filters_returns_OK_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Get_all_security_filters_returns_OK_response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Update_a_security_filter_returns_OK_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Update_a_security_filter_returns_OK_response.yaml
Owners: @DataDog/integrations-tools-and-libraries

Re-record
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 9b7eac3 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/WidgetLayout.md
  api/v1/datadog/model_widget_layout.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

[K9] Update cassettes
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_security_filter_returns_OK_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Create_a_security_filter_returns_OK_response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_security_filter_returns_No_Content_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Delete_a_security_filter_returns_No_Content_response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Get_a_security_filter_returns_OK_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Get_a_security_filter_returns_OK_response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Update_a_security_filter_returns_OK_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Security_Monitoring/Scenario_Update_a_security_filter_returns_OK_response.yaml
Owners: @DataDog/integrations-tools-and-libraries

Fix : undocumented field in security monitoring rules : updateAuthorId
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Updating cassettes following update : 'undocumented field in security monitoring rules : updateAuthorId'
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

add tests
  tests/api/v2/datadog/api_logs_test.go
  tests/api/v2/datadog/cassettes/TestGetLogsNilBody.freeze
  tests/api/v2/datadog/cassettes/TestGetLogsNilBody.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 89303d3 of spec repo
  .apigentools-info
  api/v1/datadog/client.go
  api/v2/datadog/client.go
Owners: @DataDog/integrations-tools-and-libraries

Release v1.0.0-beta.21
  CHANGELOG.md
  go.mod
  go.sum
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
