Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app

Always run integration-only tests
  run-go-tests.sh
  run-tests.sh
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/scenarios_test.go
Owners: @DataDog/integrations-tools-and-libraries

escape scenario name that can contain quotes
  run-go-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

add --rerun-max-failures as in the first case
  run-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

run specifically if not already run
  run-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit fc003cf of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_key_management.go
  api/v2/datadog/docs/APIKeysSort.md
  api/v2/datadog/docs/ApplicationKeysSort.md
  api/v2/datadog/docs/KeyManagementApi.md
  api/v2/datadog/model_api_keys_sort.go
  api/v2/datadog/model_application_keys_sort.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

[Synthetics] Add test for variable from test field
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsVariableFromTestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsVariableFromTestLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

only if api keys
  run-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit bfe8474 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsGlobalVariableParseTestOptions.md
  api/v1/datadog/model_synthetics_global_variable_parse_test_options.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Cleanup based on review
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Address review
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Remove extra error
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Add lifecycle test for SLO correction
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/cassettes/TestSLOCorrectionsLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSLOCorrectionsLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 5570882 of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_incident_services.go
  api/v2/datadog/api_incident_teams.go
  api/v2/datadog/api_incidents.go
  api/v2/datadog/docs/IncidentRelatedObject.md
  api/v2/datadog/docs/IncidentServicesApi.md
  api/v2/datadog/docs/IncidentTeamsApi.md
  api/v2/datadog/docs/IncidentsApi.md
  api/v2/datadog/model_incident_related_object.go
  api/v2/datadog/model_incident_service_type.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Always run integration-only scenarios (#647)
  run-go-tests.sh
  run-tests.sh
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/scenarios_test.go
Owners: @DataDog/integrations-tools-and-libraries

Update test
  tests/api/v1/datadog/api_service_level_objectives_test.go
Owners: @DataDog/integrations-tools-and-libraries

Update TestSLOCorrectionsLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSLOCorrectionsLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 166fecc of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageLogsHour.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_logs_hour.go
  api/v1/datadog/model_usage_summary_response.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 426d7a0 of spec repo
  .apigentools-info
  tests/api/v1/datadog/features/aws_integration.feature
  tests/api/v1/datadog/features/aws_logs_integration.feature
  tests/api/v1/datadog/features/azure_integration.feature
  tests/api/v1/datadog/features/dashboard_lists.feature
  tests/api/v1/datadog/features/dashboards.feature
  tests/api/v1/datadog/features/downtimes.feature
  tests/api/v1/datadog/features/events.feature
  tests/api/v1/datadog/features/gcp_integration.feature
  tests/api/v1/datadog/features/hosts.feature
  tests/api/v1/datadog/features/key_management.feature
  tests/api/v1/datadog/features/logs.feature
  tests/api/v1/datadog/features/logs_indexes.feature
  tests/api/v1/datadog/features/logs_pipelines.feature
  tests/api/v1/datadog/features/metrics.feature
  tests/api/v1/datadog/features/monitors.feature
  tests/api/v1/datadog/features/organizations.feature
  tests/api/v1/datadog/features/pagerduty_integration.feature
  tests/api/v1/datadog/features/service_level_objectives.feature
  tests/api/v1/datadog/features/snapshots.feature
  tests/api/v1/datadog/features/synthetics.feature
  tests/api/v1/datadog/features/tags.feature
  tests/api/v1/datadog/features/usage_metering.feature
  tests/api/v1/datadog/features/users.feature
  tests/api/v2/datadog/features/dashboard_lists.feature
  tests/api/v2/datadog/features/incident_services.feature
  tests/api/v2/datadog/features/incident_teams.feature
  tests/api/v2/datadog/features/incidents.feature
  tests/api/v2/datadog/features/key_management.feature
  tests/api/v2/datadog/features/logs.feature
  tests/api/v2/datadog/features/logs_archives.feature
  tests/api/v2/datadog/features/logs_metrics.feature
  tests/api/v2/datadog/features/processes.feature
  tests/api/v2/datadog/features/roles.feature
  tests/api/v2/datadog/features/security_monitoring.feature
  tests/api/v2/datadog/features/users.feature
Owners: @DataDog/integrations-tools-and-libraries

Update api_service_level_objectives_test.go
  tests/api/v1/datadog/api_service_level_objectives_test.go
Owners: @DataDog/integrations-tools-and-libraries

Update TestSLOCorrectionsLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSLOCorrectionsLifecycle.freeze
Owners: @DataDog/integrations-tools-and-libraries

Update TestSLOCorrectionsLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSLOCorrectionsLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Update cassette
  tests/api/v1/datadog/cassettes/TestSLOCorrectionsLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSLOCorrectionsLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit fe2e0b5 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_service_level_objective_corrections.go
  api/v1/datadog/client.go
  api/v1/datadog/docs/SLOCorrectionCategory.md
  api/v1/datadog/docs/SLOCorrectionCreateRequest.md
  api/v1/datadog/docs/SLOCorrectionCreateRequestAttributes.md
  api/v1/datadog/docs/SLOCorrectionCreateRequestData.md
  api/v1/datadog/docs/SLOCorrectionListResponse.md
  api/v1/datadog/docs/SLOCorrectionListResponseData.md
  api/v1/datadog/docs/SLOCorrectionResponse.md
  api/v1/datadog/docs/SLOCorrectionResponseAttributes.md
  api/v1/datadog/docs/SLOCorrectionResponseData.md
  api/v1/datadog/docs/SLOCorrectionUpdateRequest.md
  api/v1/datadog/docs/SLOCorrectionUpdateRequestAttributes.md
  api/v1/datadog/docs/SLOCorrectionUpdateRequestData.md
  api/v1/datadog/docs/ServiceLevelObjectiveCorrectionsApi.md
  api/v1/datadog/model_slo_correction_category.go
  api/v1/datadog/model_slo_correction_create_request.go
  api/v1/datadog/model_slo_correction_create_request_attributes.go
  api/v1/datadog/model_slo_correction_create_request_data.go
  api/v1/datadog/model_slo_correction_list_response.go
  api/v1/datadog/model_slo_correction_list_response_data.go
  api/v1/datadog/model_slo_correction_response.go
  api/v1/datadog/model_slo_correction_response_attributes.go
  api/v1/datadog/model_slo_correction_response_data.go
  api/v1/datadog/model_slo_correction_update_request.go
  api/v1/datadog/model_slo_correction_update_request_attributes.go
  api/v1/datadog/model_slo_correction_update_request_data.go
  tests/api/v1/datadog/features/given.json
  tests/api/v1/datadog/features/service_level_objective_corrections.feature
  tests/api/v1/datadog/features/undo.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Update SLO Correction lifecycle test
  tests/api/v1/datadog/api_service_level_objectives_test.go
Owners: @DataDog/integrations-tools-and-libraries

Enable list endpoint
  tests/api/v1/datadog/api_service_level_objectives_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 2a64634 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_service_level_objective_corrections.go
  api/v1/datadog/configuration.go
  api/v1/datadog/docs/ServiceLevelObjectiveCorrectionsApi.md
  tests/api/v1/datadog/features/service_level_objective_corrections.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Revert "[GO][Client] return GenericOpenAPIError instead of error in Execute() (#8137)" (#8427)
  api.mustache
  api_doc.mustache
Owners: @DataDog/integrations-tools-and-libraries

Revert "[GO][Client] return GenericOpenAPIError instead of error in Execute() (#8137)" (#8427)
  .generator/templates/api.mustache
  .generator/templates/api_doc.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit e3f8200 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit c6482d5 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsStep.md
  api/v1/datadog/docs/SyntheticsTriggerCITestsResponseLocations.md
  api/v1/datadog/docs/SyntheticsTriggerCITestsResponseResults.md
  api/v1/datadog/model_synthetics_step.go
  api/v1/datadog/model_synthetics_trigger_ci_tests_response_locations.go
  api/v1/datadog/model_synthetics_trigger_ci_tests_response_results.go
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/LogsGroupBy.md
  api/v2/datadog/docs/LogsQueryOptions.md
  api/v2/datadog/docs/LogsResponseMetadata.md
  api/v2/datadog/model_logs_group_by.go
  api/v2/datadog/model_logs_query_options.go
  api/v2/datadog/model_logs_response_metadata.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

[Go] Fix response body (#8439)
  api.mustache
Owners: @DataDog/integrations-tools-and-libraries

[Go] Fix response body (#8439)
  .generator/templates/api.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 4e8ed5f of spec repo
  .apigentools-info
  api/v1/datadog/api_authentication.go
  api/v1/datadog/api_aws_integration.go
  api/v1/datadog/api_aws_logs_integration.go
  api/v1/datadog/api_azure_integration.go
  api/v1/datadog/api_dashboard_lists.go
  api/v1/datadog/api_dashboards.go
  api/v1/datadog/api_downtimes.go
  api/v1/datadog/api_events.go
  api/v1/datadog/api_gcp_integration.go
  api/v1/datadog/api_hosts.go
  api/v1/datadog/api_ip_ranges.go
  api/v1/datadog/api_key_management.go
  api/v1/datadog/api_logs.go
  api/v1/datadog/api_logs_indexes.go
  api/v1/datadog/api_logs_pipelines.go
  api/v1/datadog/api_metrics.go
  api/v1/datadog/api_monitors.go
  api/v1/datadog/api_organizations.go
  api/v1/datadog/api_pager_duty_integration.go
  api/v1/datadog/api_service_level_objective_corrections.go
  api/v1/datadog/api_service_level_objectives.go
  api/v1/datadog/api_snapshots.go
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/api_tags.go
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/api_users.go
  api/v2/datadog/api_dashboard_lists.go
  api/v2/datadog/api_incident_services.go
  api/v2/datadog/api_incident_teams.go
  api/v2/datadog/api_incidents.go
  api/v2/datadog/api_key_management.go
  api/v2/datadog/api_logs.go
  api/v2/datadog/api_logs_archives.go
  api/v2/datadog/api_logs_metrics.go
  api/v2/datadog/api_processes.go
  api/v2/datadog/api_roles.go
  api/v2/datadog/api_security_monitoring.go
  api/v2/datadog/api_users.go
Owners: @DataDog/integrations-tools-and-libraries

Add single quote to recording unsafe chars
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Monitors/Scenario_Get_a_monitor_s_details_returns__Monitor_Not_Found_error__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Monitors/Scenario_Get_a_monitor_s_details_returns__Monitor_Not_Found_error__response.yaml
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Remove old files
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Monitors/Scenario_Get_a_monitor's_details_returns__Monitor_Not_Found_error__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Monitors/Scenario_Get_a_monitor's_details_returns__Monitor_Not_Found_error__response.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add single quote to recording unsafe chars (#660)
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Monitors/Scenario_Get_a_monitor's_details_returns__Monitor_Not_Found_error__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Monitors/Scenario_Get_a_monitor_s_details_returns__Monitor_Not_Found_error__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Monitors/Scenario_Get_a_monitor_s_details_returns__Monitor_Not_Found_error__response.yaml
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 64464cb of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 8b601c0 of spec repo
  .apigentools-info
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_logs_indexes.go
  api/v1/datadog/configuration.go
  api/v1/datadog/docs/LogsIndex.md
  api/v1/datadog/docs/LogsIndexesApi.md
  api/v1/datadog/model_logs_index.go
  tests/api/v1/datadog/features/logs_indexes.feature
  tests/api/v1/datadog/features/undo.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Release beta 14
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Update CHANGELOG.md
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries
