Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app

fix
  .apigentools-info
  tests/api/v2/datadog/api_logs_test.go
Owners: @DataDog/integrations-tools-and-libraries

Update 3rd party licenses (#385)
  LICENSE-3rdparty.csv
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Bump version in version.go to 1.0.0-beta.7 (#399)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Add changelog entry for 1.0.0-beta.7 (#398)
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Add retry to logs test (#384)
  tests/api/v1/datadog/api_logs_test.go
  tests/api/v2/datadog/api_logs_test.go
Owners: @DataDog/integrations-tools-and-libraries

Restore frozen clock (#394)
  tests/api/v1/datadog/api_usage_metering_test.go
Owners: @DataDog/integrations-tools-and-libraries

Start 1.0.0-beta.8 dev cycle (#400)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Included Profiling In Summary Tests
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/fixtures/usage/usage_summary.json
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 70a5231 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageSummaryDate.md
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

update tests
  .apigentools-info
  tests/api/v2/datadog/cassettes/TestLogsList.freeze
  tests/api/v2/datadog/cassettes/TestLogsList.yaml
  tests/api/v2/datadog/cassettes/TestLogsListGet.freeze
  tests/api/v2/datadog/cassettes/TestLogsListGet.yaml
  tests/api/v2/datadog/features/logs.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit a7ab9d2 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/docs/SyntheticsTestOptions.md
  api/v1/datadog/docs/SyntheticsTestOptionsMonitorOptions.md
  api/v1/datadog/model_synthetics_test_options.go
  api/v1/datadog/model_synthetics_test_options_monitor_options.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Using rule response
  tests/api/v2/datadog/security_monitoring_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 049bffd of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/docs/SyntheticsGlobalVariable.md
  api/v1/datadog/docs/SyntheticsGlobalVariableValue.md
  api/v1/datadog/model_synthetics_global_variable.go
  api/v1/datadog/model_synthetics_global_variable_value.go
  tests/api/v1/datadog/features/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Fix test
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsVariableLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsVariableLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 8f4a24d of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/SecurityMonitoringApi.md
  api/v2/datadog/docs/SecurityMonitoringRuleCaseCreate.md
  api/v2/datadog/docs/SecurityMonitoringRuleCreatePayload.md
  api/v2/datadog/docs/SecurityMonitoringRuleQueryCreate.md
  api/v2/datadog/model_security_monitoring_list_rules_response.go
  api/v2/datadog/model_security_monitoring_rule_case_create.go
  api/v2/datadog/model_security_monitoring_rule_create_payload.go
  api/v2/datadog/model_security_monitoring_rule_query_create.go
  api/v2/datadog/model_security_monitoring_rule_response.go
  tests/api/v2/datadog/features/security_monitoring.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Update to reset httpRepsonse.Body (#6948)
  api.mustache
Owners: @DataDog/integrations-tools-and-libraries

Update to reset httpRepsonse.Body (#6948)
  .generator/templates/api.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 10c4015 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_users.go
  api/v1/datadog/docs/UsersApi.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_roles.go
  api/v2/datadog/api_users.go
  api/v2/datadog/docs/RolesApi.md
  api/v2/datadog/docs/UsersApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Add tests for SecMon list signals
  tests/api/v2/datadog/security_monitoring_test.go
Owners: @DataDog/integrations-tools-and-libraries

Update cassette
  tests/api/v2/datadog/cassettes/TestListSecurityMonitoringSignals.freeze
  tests/api/v2/datadog/cassettes/TestListSecurityMonitoringSignals.yaml
  tests/api/v2/datadog/cassettes/TestSearchSecurityMonitoringSignals.freeze
  tests/api/v2/datadog/cassettes/TestSearchSecurityMonitoringSignals.yaml
  tests/api/v2/datadog/cassettes/TestSecMonRulesCRUD.freeze
  tests/api/v2/datadog/cassettes/TestSecMonRulesCRUD.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit ab0fe6b of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_security_monitoring.go
  api/v2/datadog/configuration.go
  api/v2/datadog/docs/SecurityMonitoringApi.md
  api/v2/datadog/docs/SecurityMonitoringSignal.md
  api/v2/datadog/docs/SecurityMonitoringSignalAttributes.md
  api/v2/datadog/docs/SecurityMonitoringSignalListRequest.md
  api/v2/datadog/docs/SecurityMonitoringSignalListRequestFilter.md
  api/v2/datadog/docs/SecurityMonitoringSignalListRequestPage.md
  api/v2/datadog/docs/SecurityMonitoringSignalType.md
  api/v2/datadog/docs/SecurityMonitoringSignalsListResponse.md
  api/v2/datadog/docs/SecurityMonitoringSignalsListResponseLinks.md
  api/v2/datadog/docs/SecurityMonitoringSignalsListResponseMeta.md
  api/v2/datadog/docs/SecurityMonitoringSignalsListResponseMetaPage.md
  api/v2/datadog/docs/SecurityMonitoringSignalsSort.md
  api/v2/datadog/model_security_monitoring_signal.go
  api/v2/datadog/model_security_monitoring_signal_attributes.go
  api/v2/datadog/model_security_monitoring_signal_list_request.go
  api/v2/datadog/model_security_monitoring_signal_list_request_filter.go
  api/v2/datadog/model_security_monitoring_signal_list_request_page.go
  api/v2/datadog/model_security_monitoring_signal_type.go
  api/v2/datadog/model_security_monitoring_signals_list_response.go
  api/v2/datadog/model_security_monitoring_signals_list_response_links.go
  api/v2/datadog/model_security_monitoring_signals_list_response_meta.go
  api/v2/datadog/model_security_monitoring_signals_list_response_meta_page.go
  api/v2/datadog/model_security_monitoring_signals_sort.go
  tests/api/v2/datadog/features/security_monitoring.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Skip tests searching security signals
  tests/api/v2/datadog/security_monitoring_test.go
Owners: @DataDog/integrations-tools-and-libraries

Skip tests searching security signals (#425)
  tests/api/v2/datadog/security_monitoring_test.go
Owners: @DataDog/integrations-tools-and-libraries

Minor DEVELOPMENT.md fix
  DEVELOPMENT.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Minor DEVELOPMENT.md fix (#426)
  DEVELOPMENT.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

[Synthetics] Add tests for synthetics ci endpoint
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsTriggerCITests.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsTriggerCITests.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 143723f of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/ApmResourcesQueryDefinition.md
  api/v1/datadog/docs/TableWidgetRequest.md
  api/v1/datadog/model_apm_resources_query_definition.go
  api/v1/datadog/model_table_widget_request.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Fix test
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 07759c4 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/docs/SyntheticsBasicAuth.md
  api/v1/datadog/docs/SyntheticsCITest.md
  api/v1/datadog/docs/SyntheticsCITestBody.md
  api/v1/datadog/docs/SyntheticsCITestMetadata.md
  api/v1/datadog/docs/SyntheticsCITestMetadataCi.md
  api/v1/datadog/docs/SyntheticsCITestMetadataGit.md
  api/v1/datadog/docs/SyntheticsTestOptions.md
  api/v1/datadog/docs/SyntheticsTestRequest.md
  api/v1/datadog/docs/SyntheticsTriggerCITestsResponse.md
  api/v1/datadog/docs/SyntheticsTriggerCITestsResponseLocations.md
  api/v1/datadog/docs/SyntheticsTriggerCITestsResponseResults.md
  api/v1/datadog/model_synthetics_basic_auth.go
  api/v1/datadog/model_synthetics_ci_test_.go
  api/v1/datadog/model_synthetics_ci_test_body.go
  api/v1/datadog/model_synthetics_ci_test_metadata.go
  api/v1/datadog/model_synthetics_ci_test_metadata_ci.go
  api/v1/datadog/model_synthetics_ci_test_metadata_git.go
  api/v1/datadog/model_synthetics_test_request.go
  api/v1/datadog/model_synthetics_trigger_ci_tests_response.go
  api/v1/datadog/model_synthetics_trigger_ci_tests_response_locations.go
  api/v1/datadog/model_synthetics_trigger_ci_tests_response_results.go
  tests/api/v1/datadog/features/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 783bb02 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/Event.md
  api/v1/datadog/model_event.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Remove legend_size constants usage
  tests/api/v1/datadog/api_dashboards_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 6e8e271 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/DashboardsApi.md
  api/v1/datadog/docs/DistributionWidgetDefinition.md
  api/v1/datadog/docs/HeatMapWidgetDefinition.md
  api/v1/datadog/docs/TimeseriesWidgetDefinition.md
  api/v1/datadog/docs/WidgetDefinition.md
  api/v1/datadog/docs/WidgetLegendSize.md
  api/v1/datadog/model_distribution_widget_definition.go
  api/v1/datadog/model_heat_map_widget_definition.go
  api/v1/datadog/model_timeseries_widget_definition.go
  api/v1/datadog/model_widget_legend_size.go
  api/v2/datadog/api/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Use response from retry for assertions
  tests/api/v1/datadog/api_hosts_test.go
  tests/api/v1/datadog/cassettes/TestHostsIncludeMutedHostsDataFunctional.freeze
  tests/api/v1/datadog/cassettes/TestHostsIncludeMutedHostsDataFunctional.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add tests for usage profiling endpoint
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/cassettes/TestGetUsageProfilingErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestGetUsageProfilingErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestGetUsageProfilingErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestGetUsageProfilingErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestUsageProfiling.freeze
  tests/api/v1/datadog/cassettes/TestUsageProfiling.yaml
Owners: @DataDog/integrations-tools-and-libraries

Use response from retry for assertions (#433)
  tests/api/v1/datadog/api_hosts_test.go
  tests/api/v1/datadog/cassettes/TestHostsIncludeMutedHostsDataFunctional.freeze
  tests/api/v1/datadog/cassettes/TestHostsIncludeMutedHostsDataFunctional.yaml
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Add tests for DNS subtype
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsSubtypeDnsAPITestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsSubtypeDnsAPITestLifecycle.yaml
  tests/api/v1/datadog/fixtures/synthetics/api_test_subtype_dns_recent_results.json
  tests/api/v1/datadog/fixtures/synthetics/api_test_subtype_dns_single_result.json
Owners: @DataDog/integrations-tools-and-libraries

add tests for CustomLinks on widgets
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add profiling container data
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/cassettes/TestUsageProfiling.freeze
  tests/api/v1/datadog/cassettes/TestUsageProfiling.yaml
  tests/api/v1/datadog/cassettes/TestUsageSummaryErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestUsageSummaryErrors/403_Forbidden.yaml
  tests/api/v1/datadog/features/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries

Update tests for new field in UsageSummaryResponse
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/cassettes/TestUsageProfiling.freeze
  tests/api/v1/datadog/cassettes/TestUsageProfiling.yaml
  tests/api/v1/datadog/cassettes/TestUsageSummaryErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestUsageSummaryErrors/403_Forbidden.yaml
  tests/api/v1/datadog/fixtures/usage/usage_summary.json
Owners: @DataDog/integrations-tools-and-libraries

Don't hard code test start_hr and end_hr
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/cassettes/TestUsageProfiling.freeze
  tests/api/v1/datadog/cassettes/TestUsageProfiling.yaml
Owners: @DataDog/integrations-tools-and-libraries
