Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app

Regenerate client from commit 9a2238a of spec repo
  .apigentools-info
  examples/v2/logs/ListLogs.go
  tests/scenarios/features/v2/logs.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 0029fd5 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/docs/RoleCreateAttributes.md
  api/v2/datadog/model_role_create_attributes.go
  tests/scenarios/features/v2/roles.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

remove migrated tests
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/api_users_test.go
  tests/api/v2/datadog/api_users_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 7316fb8 of spec repo
  .apigentools-info
  tests/api/v1/datadog/api_monitors_test.go
  tests/scenarios/features/v1/monitors.feature
  tests/scenarios/features/v1/synthetics.feature
  tests/scenarios/features/v2/incidents.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 49a21ae of spec repo
  .apigentools-info
  tests/scenarios/features/v1/logs.feature
  tests/scenarios/features/v1/metrics.feature
  tests/scenarios/features/v2/logs.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 15761ea of spec repo
  .apigentools-info
  tests/scenarios/features/v2/incidents.feature
Owners: @DataDog/integrations-tools-and-libraries

Sleep after request if needed
  .github/workflows/test_integration.yml
  tests/scenarios/actions.go
Owners: @DataDog/integrations-tools-and-libraries

Sleep after request if needed (#1256)
  .github/workflows/test_integration.yml
  tests/scenarios/actions.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 54aeadc of spec repo
  .apigentools-info
  tests/scenarios/actions.go
  tests/scenarios/features/v1/logs.feature
  tests/scenarios/features/v1/metrics.feature
  tests/scenarios/features/v2/logs.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 729b64f of spec repo
  .apigentools-info
  tests/scenarios/features/v1/dashboard_lists.feature
  tests/scenarios/features/v1/dashboards.feature
  tests/scenarios/features/v1/downtimes.feature
  tests/scenarios/features/v1/events.feature
  tests/scenarios/features/v1/hosts.feature
  tests/scenarios/features/v1/key_management.feature
  tests/scenarios/features/v1/logs_indexes.feature
  tests/scenarios/features/v1/logs_pipelines.feature
  tests/scenarios/features/v1/metrics.feature
  tests/scenarios/features/v1/monitors.feature
  tests/scenarios/features/v1/notebooks.feature
  tests/scenarios/features/v1/organizations.feature
  tests/scenarios/features/v1/pagerduty_integration.feature
  tests/scenarios/features/v1/service_level_objective_corrections.feature
  tests/scenarios/features/v1/service_level_objectives.feature
  tests/scenarios/features/v1/slack_integration.feature
  tests/scenarios/features/v1/synthetics.feature
  tests/scenarios/features/v1/tags.feature
  tests/scenarios/features/v1/usage_metering.feature
  tests/scenarios/features/v1/users.feature
  tests/scenarios/features/v1/webhooks_integration.feature
  tests/scenarios/features/v2/dashboard_lists.feature
  tests/scenarios/features/v2/incident_services.feature
  tests/scenarios/features/v2/incident_teams.feature
  tests/scenarios/features/v2/incidents.feature
  tests/scenarios/features/v2/key_management.feature
  tests/scenarios/features/v2/logs_archives.feature
  tests/scenarios/features/v2/logs_metrics.feature
  tests/scenarios/features/v2/metrics.feature
  tests/scenarios/features/v2/roles.feature
  tests/scenarios/features/v2/security_monitoring.feature
  tests/scenarios/features/v2/service_accounts.feature
  tests/scenarios/features/v2/users.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 4324847 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/docs/SecurityMonitoringSignalAttributes.md
  api/v2/datadog/model_security_monitoring_signal_attributes.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 7428356 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/model_incident_field_attributes_value_type.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 4c16b82 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/docs/LogsQueryFilter.md
  api/v2/datadog/model_logs_query_filter.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit eb96eba of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/MonitorsApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 33ea608 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/UsageRumUnitsHour.md
  api/v1/datadog/model_usage_rum_units_hour.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 3934ce4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/SyntheticsConfigVariable.md
  api/v1/datadog/model_synthetics_config_variable.go
  tests/scenarios/features/v1/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit f676b70 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/SLOCorrectionCreateRequestAttributes.md
  api/v1/datadog/docs/SLOCorrectionResponseAttributes.md
  api/v1/datadog/docs/SLOCorrectionUpdateRequestAttributes.md
  api/v1/datadog/model_slo_correction_create_request_attributes.go
  api/v1/datadog/model_slo_correction_response_attributes.go
  api/v1/datadog/model_slo_correction_update_request_attributes.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Service_Level_Objective_Corrections/Scenario_Create_an_SLO_correction_with_rrule_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Service_Level_Objective_Corrections/Scenario_Create_an_SLO_correction_with_rrule_returns_OK_response.yaml
  tests/scenarios/features/v1/service_level_objective_corrections.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Compare bodies as JSON
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit ca613b5 of spec repo
  .apigentools-info
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit d90592c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api/v1/datadog/api_monitors.go
  api/v1/datadog/configuration.go
  api/v1/datadog/docs/Event.md
  api/v1/datadog/docs/EventCreateRequest.md
  api/v1/datadog/docs/EventCreateResponse.md
  api/v1/datadog/docs/LogsListRequestTime.md
  api/v1/datadog/docs/MonitorSearchResult.md
  api/v1/datadog/docs/MonitorsApi.md
  api/v1/datadog/docs/SLOThreshold.md
  api/v1/datadog/docs/ServiceLevelObjectivesApi.md
  api/v1/datadog/docs/TagsApi.md
  api/v1/datadog/docs/UsageHostHour.md
  api/v1/datadog/docs/WidgetAxis.md
  api/v1/datadog/model_event.go
  api/v1/datadog/model_event_create_request.go
  api/v1/datadog/model_event_create_response.go
  api/v1/datadog/model_logs_list_request_time.go
  api/v1/datadog/model_monitor_search_result.go
  api/v1/datadog/model_slo_threshold.go
  api/v1/datadog/model_usage_host_hour.go
  api/v1/datadog/model_widget_axis.go
  api/v2/datadog/configuration.go
  tests/scenarios/features/v1/logs_pipelines.feature
  tests/scenarios/features/v2/logs_archives.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

update host metadata fixture
  tests/api/v1/datadog/fixtures/hosts/host_search_with_metadata.json
Owners: @DataDog/integrations-tools-and-libraries

Update README.md
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Update README.md (#1266)
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit 7feb9cb of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/docs/SunburstWidgetDefinition.md
  api/v1/datadog/docs/SunburstWidgetDefinitionType.md
  api/v1/datadog/docs/SunburstWidgetLegend.md
  api/v1/datadog/docs/SunburstWidgetLegendInlineAutomatic.md
  api/v1/datadog/docs/SunburstWidgetLegendInlineAutomaticType.md
  api/v1/datadog/docs/SunburstWidgetLegendTable.md
  api/v1/datadog/docs/SunburstWidgetLegendTableType.md
  api/v1/datadog/docs/SunburstWidgetRequest.md
  api/v1/datadog/docs/WidgetDefinition.md
  api/v1/datadog/model_sunburst_widget_definition.go
  api/v1/datadog/model_sunburst_widget_definition_type.go
  api/v1/datadog/model_sunburst_widget_legend.go
  api/v1/datadog/model_sunburst_widget_legend_inline_automatic.go
  api/v1/datadog/model_sunburst_widget_legend_inline_automatic_type.go
  api/v1/datadog/model_sunburst_widget_legend_table.go
  api/v1/datadog/model_sunburst_widget_legend_table_type.go
  api/v1/datadog/model_sunburst_widget_request.go
  api/v1/datadog/model_widget_definition.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_sunburst_widget_and_metrics_data.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_sunburst_widget_and_metrics_data.yaml
  tests/scenarios/features/v1/dashboards.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 44311ae of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api/v1/datadog/README.md
  api/v2/datadog/README.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit ee277b0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api_monitors.go
  api/v1/datadog/docs/MonitorType.md
  api/v1/datadog/docs/MonitorsApi.md
  api/v1/datadog/model_monitor_type.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Create_a_ci-pipelines_monitor_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Create_a_ci-pipelines_monitor_returns_OK_response.yaml
  tests/scenarios/features/v1/monitors.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 90bc255 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/UsageAuditLogsHour.md
  api/v1/datadog/docs/UsageCWSHour.md
  api/v1/datadog/docs/UsageCloudSecurityPostureManagementHour.md
  api/v1/datadog/docs/UsageDBMHour.md
  api/v1/datadog/model_usage_audit_logs_hour.go
  api/v1/datadog/model_usage_cloud_security_posture_management_hour.go
  api/v1/datadog/model_usage_cws_hour.go
  api/v1/datadog/model_usage_dbm_hour.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 4bb7a8e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api_roles.go
  api/v2/datadog/docs/RoleClone.md
  api/v2/datadog/docs/RoleCloneAttributes.md
  api/v2/datadog/docs/RoleCloneRequest.md
  api/v2/datadog/docs/RolesApi.md
  api/v2/datadog/model_role_clone.go
  api/v2/datadog/model_role_clone_attributes.go
  api/v2/datadog/model_role_clone_request.go
  examples/v2/roles/CloneRole.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Roles/Scenario_Create_a_new_role_by_cloning_an_existing_role_returns_Bad_Request_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Roles/Scenario_Create_a_new_role_by_cloning_an_existing_role_returns_Bad_Request_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Roles/Scenario_Create_a_new_role_by_cloning_an_existing_role_returns_Conflict_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Roles/Scenario_Create_a_new_role_by_cloning_an_existing_role_returns_Conflict_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Roles/Scenario_Create_a_new_role_by_cloning_an_existing_role_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Roles/Scenario_Create_a_new_role_by_cloning_an_existing_role_returns_OK_response.yaml
  tests/scenarios/features/v2/roles.feature
  tests/scenarios/features/v2/undo.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Fix Go date in MacOS
  run-go-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit fa551a3 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/docs/ApplicationKeyCreateAttributes.md
  api/v2/datadog/docs/ApplicationKeyUpdateAttributes.md
  api/v2/datadog/docs/FullApplicationKeyAttributes.md
  api/v2/datadog/docs/KeyManagementApi.md
  api/v2/datadog/docs/PartialApplicationKeyAttributes.md
  api/v2/datadog/docs/ServiceAccountsApi.md
  api/v2/datadog/model_application_key_create_attributes.go
  api/v2/datadog/model_application_key_update_attributes.go
  api/v2/datadog/model_full_application_key_attributes.go
  api/v2/datadog/model_partial_application_key_attributes.go
  examples/v2/key-management/CreateCurrentUserApplicationKey_3383369233.go
  examples/v2/key-management/UpdateApplicationKey.go
  examples/v2/key-management/UpdateCurrentUserApplicationKey.go
  examples/v2/service-accounts/CreateServiceAccountApplicationKey_3480494373.go
  examples/v2/service-accounts/UpdateServiceAccountApplicationKey_768415790.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Key_Management/Scenario_Create_an_Application_key_with_scopes_for_current_user_returns_Created_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Key_Management/Scenario_Create_an_Application_key_with_scopes_for_current_user_returns_Created_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Service_Accounts/Scenario_Create_an_application_key_with_scopes_for_this_service_account_returns_Created_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Service_Accounts/Scenario_Create_an_application_key_with_scopes_for_this_service_account_returns_Created_response.yaml
  tests/scenarios/features/v2/key_management.feature
  tests/scenarios/features/v2/service_accounts.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

fix string to []interface{}
  tests/scenarios/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

fix string to []interface{}
  tests/scenarios/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 861a3c0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/configuration.go
  api/v1/datadog/docs/HourlyUsageAttributionBody.md
  api/v1/datadog/docs/HourlyUsageAttributionMetadata.md
  api/v1/datadog/docs/HourlyUsageAttributionPagination.md
  api/v1/datadog/docs/HourlyUsageAttributionResponse.md
  api/v1/datadog/docs/HourlyUsageAttributionUsageType.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/model_hourly_usage_attribution_body.go
  api/v1/datadog/model_hourly_usage_attribution_metadata.go
  api/v1/datadog/model_hourly_usage_attribution_pagination.go
  api/v1/datadog/model_hourly_usage_attribution_response.go
  api/v1/datadog/model_hourly_usage_attribution_usage_type.go
  examples/v1/usage-metering/GetHourlyUsageAttribution.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Get_Hourly_Usage_Attribution_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Get_Hourly_Usage_Attribution_returns_OK_response.yaml
  tests/scenarios/features/v1/undo.json
  tests/scenarios/features/v1/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 2f072b0 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/docs/SecurityMonitoringRuleQuery.md
  api/v2/datadog/docs/SecurityMonitoringRuleQueryCreate.md
  api/v2/datadog/model_security_monitoring_rule_query.go
  api/v2/datadog/model_security_monitoring_rule_query_create.go
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_498211763.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_with_type_workload_security_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_with_type_workload_security_returns_OK_response.yaml
  tests/scenarios/features/v2/security_monitoring.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 7b8392b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/UsageRumSessionsHour.md
  api/v1/datadog/docs/UsageSummaryDate.md
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_rum_sessions_hour.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 4c3cdd2 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/Dashboard.md
  api/v1/datadog/model_dashboard.go
  examples/v1/dashboards/GetDashboard_4262333854.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Get_a_dashboard_returns_author_name.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Get_a_dashboard_returns_author_name.yaml
  tests/scenarios/features/v1/dashboards.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 6946869 of spec repo
  .apigentools-info
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Get_a_dashboard_returns_author_name.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 184be3f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/SyntheticsAPIStep.md
  api/v1/datadog/model_synthetics_api_step.go
  examples/v1/synthetics/CreateSyntheticsAPITest_1279271422.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_test_with_multi_subtype_returns_OK_-_Returns_the_created_test_details._response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_test_with_multi_subtype_returns_OK_-_Returns_the_created_test_details._response.yaml
  tests/scenarios/features/v1/synthetics.feature
  tests/scenarios/features/v1/synthetics_api_test_multi_step_payload.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Fix tests
  tests/api/v1/datadog/api_downtimes_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit a4fe6c9 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/UsageAttributionPagination.md
  api/v1/datadog/model_usage_attribution_pagination.go
  tests/scenarios/features/v1/dashboards.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava
