Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

docs: fix reference to datadog.ContextServerVariables (#1734)
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit 15da7251 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/api_cloud_workload_security.go
  doc.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 808b1054 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_monitor_formula_and_function_events_data_source.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 41479b46 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/api_usage_metering.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 06929484 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 420bd229 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_monitor_options.go
  api/datadogV1/model_monitor_options_scheduling_options.go
  api/datadogV1/model_monitor_options_scheduling_options_evaluation_window.go
  examples/v1/monitors/CreateMonitor_2012680290.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Create_a_metric_monitor_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Create_a_metric_monitor_returns_OK_response.yaml
  tests/scenarios/features/v1/monitors.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 073de2ea of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_synthetics_test_request.go
  examples/v1/synthetics/UpdateBrowserTest.go
  tests/scenarios/features/v1/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit deeff34e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_hourly_usage_attribution_usage_type.go
  api/datadogV1/model_monthly_usage_attribution_supported_metrics.go
  api/datadogV1/model_monthly_usage_attribution_values.go
  api/datadogV1/model_usage_attribution_sort.go
  api/datadogV1/model_usage_attribution_supported_metrics.go
  api/datadogV1/model_usage_attribution_values.go
  api/datadogV1/model_usage_fargate_hour.go
  api/datadogV1/model_usage_summary_date.go
  api/datadogV1/model_usage_summary_date_org.go
  api/datadogV1/model_usage_summary_response.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 7c5579df of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_synthetics_step.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit f2cfde27 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_hourly_usage_attribution_usage_type.go
  api/datadogV1/model_monthly_usage_attribution_supported_metrics.go
  api/datadogV1/model_monthly_usage_attribution_values.go
  api/datadogV1/model_synthetics_step.go
  api/datadogV1/model_usage_attribution_sort.go
  api/datadogV1/model_usage_attribution_supported_metrics.go
  api/datadogV1/model_usage_attribution_values.go
  api/datadogV1/model_usage_fargate_hour.go
  api/datadogV1/model_usage_summary_date.go
  api/datadogV1/model_usage_summary_date_org.go
  api/datadogV1/model_usage_summary_response.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit af3f11fc of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/api_usage_metering.go
  examples/v2/usage-metering/GetEstimatedCostByOrg_2734954020.go
  examples/v2/usage-metering/GetEstimatedCostByOrg_3186693804.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Usage_Metering/Scenario_GetEstimatedCostByOrg_with_both_start_month_and_start_date_returns_Bad_Request_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Usage_Metering/Scenario_GetEstimatedCostByOrg_with_both_start_month_and_start_date_returns_Bad_Request_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Usage_Metering/Scenario_GetEstimatedCostByOrg_with_start_month_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Usage_Metering/Scenario_GetEstimatedCostByOrg_with_start_month_returns_OK_response.yaml
  tests/scenarios/features/v2/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 9146e44b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_synthetics_assertion.go
  api/datadogV1/model_synthetics_assertion_x_path_operator.go
  api/datadogV1/model_synthetics_assertion_x_path_target.go
  api/datadogV1/model_synthetics_assertion_x_path_target_target.go
  examples/v1/synthetics/CreateSyntheticsAPITest_1487281163.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Get_a_synthetics_monitors_details.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Get_a_synthetics_monitors_details.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_HTTP_test_returns_OK_-_Returns_the_created_test_details._response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_HTTP_test_returns_OK_-_Returns_the_created_test_details._response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Edit_an_API_test_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Edit_an_API_test_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Trigger_Synthetics_tests_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Trigger_Synthetics_tests_returns_OK_response.yaml
  tests/scenarios/features/v1/given.json
  tests/scenarios/features/v1/synthetics_api_http_test_payload.json
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit ce8fbc1a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_synthetics_test_request.go
  api/datadogV1/model_synthetics_test_request_body_type.go
  examples/v1/synthetics/UpdateBrowserTest.go
  tests/scenarios/features/v1/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit a896c6f6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_synthetics_test_options.go
Owners: @DataDog/integrations-tools-and-libraries

Version bump 2.5.0
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Update CHANGELOG.md
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Post release bump
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 4647f917 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_synthetics_test_options.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit aaa18608 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/model_service_definition_v2_opsgenie.go
  examples/v2/service-definition/CreateOrUpdateServiceDefinitions.go
  examples/v2/service-definition/DeleteServiceDefinition.go
  examples/v2/service-definition/GetServiceDefinition.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Service_Definition/Scenario_Create_or_update_service_definition_returns_CREATED_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Service_Definition/Scenario_Create_or_update_service_definition_returns_CREATED_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Service_Definition/Scenario_Delete_a_single_service_definition_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Service_Definition/Scenario_Delete_a_single_service_definition_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Service_Definition/Scenario_Get_a_single_service_definition_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Service_Definition/Scenario_Get_a_single_service_definition_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Service_Definition/Scenario_Get_all_service_definitions_returns_OK_response.yaml
  tests/scenarios/features/v2/given.json
  tests/scenarios/features/v2/service_definition.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit df75b65d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/logs-indexes/UpdateLogsIndex.go
  tests/scenarios/features/v1/logs_indexes.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 63774181 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/model_rum_query_filter.go
Owners: @DataDog/integrations-tools-and-libraries

return error in pagination channel
  .generator/src/generator/templates/api.j2
  tests/api/datadogV2/api_processes_test.go
  tests/api/datadogV2/cassettes/TestGetProcessesWithPaginationReturnsError.freeze
  tests/api/datadogV2/cassettes/TestGetProcessesWithPaginationReturnsError.yaml
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

user generics and named attr
  .generator/src/generator/templates/api.j2
  .generator/src/generator/templates/utils.j2
  go.mod
  tests/api/datadogV2/api_processes_test.go
Owners: @DataDog/integrations-tools-and-libraries

pre-commit fixes
  api/datadog/utils.go
  api/datadogV2/api_audit.go
  api/datadogV2/api_ci_visibility_pipelines.go
  api/datadogV2/api_ci_visibility_tests.go
  api/datadogV2/api_events.go
  api/datadogV2/api_incidents.go
  api/datadogV2/api_logs.go
  api/datadogV2/api_processes.go
  api/datadogV2/api_rum.go
  api/datadogV2/api_security_monitoring.go
Owners: @DataDog/integrations-tools-and-libraries

bump ci go version
  .github/workflows/codeql-analysis.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries

code review suggestions
  .generator/src/generator/templates/api.j2
  .generator/src/generator/templates/example.j2
  README.md
  tests/api/datadogV2/api_processes_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

pre-commit fixes
  api/datadogV2/api_audit.go
  api/datadogV2/api_ci_visibility_pipelines.go
  api/datadogV2/api_ci_visibility_tests.go
  api/datadogV2/api_events.go
  api/datadogV2/api_incidents.go
  api/datadogV2/api_logs.go
  api/datadogV2/api_processes.go
  api/datadogV2/api_rum.go
  api/datadogV2/api_security_monitoring.go
  doc.go
  examples/v2/audit/ListAuditLogs_1275402458.go
  examples/v2/audit/SearchAuditLogs_3215529662.go
  examples/v2/ci-visibility-pipelines/ListCIAppPipelineEvents_1270618359.go
  examples/v2/ci-visibility-pipelines/SearchCIAppPipelineEvents_3246135003.go
  examples/v2/ci-visibility-tests/ListCIAppTestEvents_3852605281.go
  examples/v2/ci-visibility-tests/SearchCIAppTestEvents_1675695429.go
  examples/v2/events/ListEvents_1527584014.go
  examples/v2/events/SearchEvents_3856995058.go
  examples/v2/incidents/ListIncidents_2665616954.go
  examples/v2/logs/ListLogsGet_738202670.go
  examples/v2/logs/ListLogs_3138392594.go
  examples/v2/processes/ListProcesses_797840471.go
  examples/v2/rum/ListRUMEvents_2680821282.go
  examples/v2/rum/SearchRUMEvents_574690310.go
  examples/v2/security-monitoring/ListSecurityMonitoringSignals_3960412991.go
  examples/v2/security-monitoring/SearchSecurityMonitoringSignals_1309350146.go
Owners: @DataDog/integrations-tools-and-libraries

fix test
  tests/scenarios/step_definitions.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit b9a1fc71 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_usage_cloud_security_posture_management_hour.go
  api/datadogV1/model_usage_summary_date.go
  api/datadogV1/model_usage_summary_date_org.go
  api/datadogV1/model_usage_summary_response.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit d582c49d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/model_ci_app_aggregation_function.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit bc510b70 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/model_audit_logs_query_options.go
  api/datadogV2/model_ci_app_query_options.go
  api/datadogV2/model_events_query_options.go
  api/datadogV2/model_logs_query_options.go
  api/datadogV2/model_rum_query_options.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 924476da of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/api_service_level_objective_corrections.go
  examples/v1/service-level-objective-corrections/ListSLOCorrection.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Service_Level_Objective_Corrections/Scenario_Get_all_SLO_corrections_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Service_Level_Objective_Corrections/Scenario_Get_all_SLO_corrections_returns_OK_response.yaml
  tests/scenarios/features/v1/service_level_objective_corrections.feature
Owners: @DataDog/integrations-tools-and-libraries

Introduce `PaginationResult` type to return errors in WithPagination methods (#1755)
  .generator/src/generator/templates/api.j2
  .generator/src/generator/templates/example.j2
  .generator/src/generator/templates/utils.j2
  .github/workflows/codeql-analysis.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
  README.md
  api/datadog/utils.go
  api/datadogV2/api_audit.go
  api/datadogV2/api_ci_visibility_pipelines.go
  api/datadogV2/api_ci_visibility_tests.go
  api/datadogV2/api_events.go
  api/datadogV2/api_incidents.go
  api/datadogV2/api_logs.go
  api/datadogV2/api_processes.go
  api/datadogV2/api_rum.go
  api/datadogV2/api_security_monitoring.go
  doc.go
  examples/v2/audit/ListAuditLogs_1275402458.go
  examples/v2/audit/SearchAuditLogs_3215529662.go
  examples/v2/ci-visibility-pipelines/ListCIAppPipelineEvents_1270618359.go
  examples/v2/ci-visibility-pipelines/SearchCIAppPipelineEvents_3246135003.go
  examples/v2/ci-visibility-tests/ListCIAppTestEvents_3852605281.go
  examples/v2/ci-visibility-tests/SearchCIAppTestEvents_1675695429.go
  examples/v2/events/ListEvents_1527584014.go
  examples/v2/events/SearchEvents_3856995058.go
  examples/v2/incidents/ListIncidents_2665616954.go
  examples/v2/logs/ListLogsGet_738202670.go
  examples/v2/logs/ListLogs_3138392594.go
  examples/v2/processes/ListProcesses_797840471.go
  examples/v2/rum/ListRUMEvents_2680821282.go
  examples/v2/rum/SearchRUMEvents_574690310.go
  examples/v2/security-monitoring/ListSecurityMonitoringSignals_3960412991.go
  examples/v2/security-monitoring/SearchSecurityMonitoringSignals_1309350146.go
  go.mod
  tests/api/datadogV2/api_processes_test.go
  tests/api/datadogV2/cassettes/TestGetProcessesWithPaginationReturnsError.freeze
  tests/api/datadogV2/cassettes/TestGetProcessesWithPaginationReturnsError.yaml
  tests/scenarios/step_definitions.go
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit d9e90344 of spec repo
  .apigentools-info
  tests/scenarios/features/v2/organizations.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit b939bbb4 of spec repo
  .apigentools-info
  tests/scenarios/features/v2/organizations.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 4aa21954 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_logs_processor.go
  api/datadogV1/model_reference_table_logs_lookup_processor.go
Owners: @DataDog/integrations-tools-and-libraries

fix cache keys
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 0099d2ec of spec repo
  .apigentools-info
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 9015efdd of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/datadogV1/model_usage_host_hour.go
  api/datadogV1/model_usage_summary_date.go
  api/datadogV1/model_usage_summary_date_org.go
  api/datadogV1/model_usage_summary_response.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 4ca2c235 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/datadogV2/model_logs_metric_compute.go
  api/datadogV2/model_logs_metric_response_compute.go
  api/datadogV2/model_logs_metric_update_attributes.go
  api/datadogV2/model_logs_metric_update_compute.go
  api/datadogV2/model_metric_tag_configuration_attributes.go
  examples/v2/logs-metrics/CreateLogsMetric.go
  examples/v2/logs-metrics/UpdateLogsMetric_1901534424.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs_Metrics/Scenario_Create_a_log-based_metric_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs_Metrics/Scenario_Create_a_log-based_metric_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs_Metrics/Scenario_Update_a_log-based_metric_with_include_percentiles_field_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs_Metrics/Scenario_Update_a_log-based_metric_with_include_percentiles_field_returns_OK_response.yaml
  tests/scenarios/features/v2/given.json
  tests/scenarios/features/v2/logs_metrics.feature
Owners: @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
