Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app

use fix for go-lookup
  go.mod
Owners: @DataDog/integrations-tools-and-libraries

Add 3rd party
  LICENSE-3rdparty.csv
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add support for DD_TEST_SITE
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v1/datadog/utils.go
  tests/api/v2/datadog/scenarios_test.go
  tests/api/v2/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit ac88e20 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsTestOptions.md
  api/v1/datadog/model_synthetics_test_options.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Add tests for geomap widget
  api/v1/datadog/model_geomap_widget_request.go
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 1a655b7 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/dashboards.feature
  tests/api/v2/datadog/features/given.json
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 1a655b7 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/dashboards.feature
  tests/api/v2/datadog/features/given.json
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 1a655b7 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/dashboards.feature
  tests/api/v2/datadog/features/given.json
Owners: @DataDog/integrations-tools-and-libraries

store raw json in ctx for easier lookup
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incidents/Scenario_Create_an_incident_returns__CREATED__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incidents/Scenario_Create_an_incident_returns__CREATED__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Add_a_user_to_a_role_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Add_a_user_to_a_role_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Get_all_users_of_a_role_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Get_all_users_of_a_role_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Remove_a_user_from_a_role_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Remove_a_user_from_a_role_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Create_a_user_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Create_a_user_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Disable_a_user_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Disable_a_user_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Get_a_user_invitation_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Get_a_user_invitation_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Get_a_user_permissions_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Get_a_user_permissions_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Get_a_user_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Get_a_user_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_List_all_users_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_List_all_users_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Send_invitation_emails_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Send_invitation_emails_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Update_a_user_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Update_a_user_returns__OK__response.yaml
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Add 3rd party
  LICENSE-3rdparty.csv
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

use fix for go-lookup
  go.mod
Owners: @DataDog/integrations-tools-and-libraries

cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 1a655b7 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/dashboards.feature
  tests/api/v2/datadog/features/given.json
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Add test for GetBrowserTest operation
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestEndpointLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestEndpointLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit cc1654e of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/docs/SyntheticsApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

[go] Add constructor and IsValid method to enum types (#8224)
  .generator/templates/model_enum.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit bd111f9 of spec repo
  .apigentools-info
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_downtimes.go
  api/v1/datadog/docs/DowntimesApi.md
  tests/api/v1/datadog/features/downtimes.feature
  tests/api/v1/datadog/features/undo.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit ac5cf63 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_monitors.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit f21ba81 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/configuration.go
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/configuration.go
Owners: @DataDog/integrations-tools-and-libraries

added unique_lower_alnum
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

updated cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Create_an_SLO_object_returns__Bad_Request__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Create_an_SLO_object_returns__Bad_Request__response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Create_an_SLO_object_returns__OK__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Create_an_SLO_object_returns__OK__response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Delete_an_SLO_returns__Not_found__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Delete_an_SLO_returns__Not_found__response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Delete_an_SLO_returns__OK__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Delete_an_SLO_returns__OK__response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Update_an_SLO_returns__Bad_Request__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Update_an_SLO_returns__Bad_Request__response.yaml
Owners: @DataDog/integrations-tools-and-libraries

[Go] Fix golang comment typos (#9207)
  .generator/templates/client.mustache
  .generator/templates/response.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 25dde8c of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/ServiceLevelObjectiveRequest.md
  api/v1/datadog/docs/ServiceLevelObjectivesApi.md
  api/v1/datadog/model_service_level_objective_request.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 3f8036f of spec repo
  .apigentools-info
  tests/api/v1/datadog/features/dashboards.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit d890ce4 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_events.go
  api/v1/datadog/api_logs.go
  api/v1/datadog/api_metrics.go
  api/v1/datadog/api_service_checks.go
  api/v1/datadog/client.go
  api/v1/datadog/configuration.go
  api/v1/datadog/docs/ContentEncoding.md
  api/v1/datadog/docs/EventCreateRequest.md
  api/v1/datadog/docs/EventCreateResponse.md
  api/v1/datadog/docs/EventsApi.md
  api/v1/datadog/docs/HTTPLogError.md
  api/v1/datadog/docs/HTTPLogItem.md
  api/v1/datadog/docs/IntakePayloadAccepted.md
  api/v1/datadog/docs/LogsApi.md
  api/v1/datadog/docs/MetricsApi.md
  api/v1/datadog/docs/MetricsPayload.md
  api/v1/datadog/docs/Series.md
  api/v1/datadog/docs/ServiceCheck.md
  api/v1/datadog/docs/ServiceCheckStatus.md
  api/v1/datadog/docs/ServiceChecksApi.md
  api/v1/datadog/model_content_encoding.go
  api/v1/datadog/model_event_create_request.go
  api/v1/datadog/model_event_create_response.go
  api/v1/datadog/model_http_log_error.go
  api/v1/datadog/model_http_log_item.go
  api/v1/datadog/model_intake_payload_accepted.go
  api/v1/datadog/model_metrics_payload.go
  api/v1/datadog/model_series.go
  api/v1/datadog/model_service_check.go
  api/v1/datadog/model_service_check_status.go
  tests/api/v1/datadog/features/events.feature
  tests/api/v1/datadog/features/logs.feature
  tests/api/v1/datadog/features/metrics.feature
  tests/api/v1/datadog/features/service_checks.feature
  tests/api/v1/datadog/features/undo.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit a7b74b7 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  tests/api/v2/datadog/features/given.json
  tests/api/v2/datadog/features/security_monitoring.feature
  tests/api/v2/datadog/features/undo.json
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 8873fe5 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/GeomapWidgetRequest.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

update api function signatures
  .generator/templates/api.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit e13b005 of spec repo
  .apigentools-info
  tests/api/v1/datadog/features/service_level_objectives.feature
Owners: @DataDog/integrations-tools-and-libraries

apply code suggestion reviews
  .generator/templates/api.mustache
Owners: @DataDog/integrations-tools-and-libraries

update api function signatures
  .generator/templates/api.mustache
Owners: @DataDog/integrations-tools-and-libraries

update tests to use new api format
  .generator/templates/api.mustache
  tests/api/v1/datadog/api_authentication_test.go
  tests/api/v1/datadog/api_aws_integration_test.go
  tests/api/v1/datadog/api_aws_logs_integration_test.go
  tests/api/v1/datadog/api_azure_integration_test.go
  tests/api/v1/datadog/api_dashboard_lists_test.go
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/api_downtimes_test.go
  tests/api/v1/datadog/api_events_test.go
  tests/api/v1/datadog/api_gcp_integration_test.go
  tests/api/v1/datadog/api_hosts_test.go
  tests/api/v1/datadog/api_ip_ranges_test.go
  tests/api/v1/datadog/api_key_management_test.go
  tests/api/v1/datadog/api_logs_indexes_test.go
  tests/api/v1/datadog/api_logs_pipelines_test.go
  tests/api/v1/datadog/api_logs_test.go
  tests/api/v1/datadog/api_metrics_test.go
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/api_organizations_test.go
  tests/api/v1/datadog/api_pager_duty_integration_test.go
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/api_slack_integration_test.go
  tests/api/v1/datadog/api_snapshots_test.go
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/api_tags_test.go
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/api_users_test.go
  tests/api/v1/datadog/features/service_level_objectives.feature
  tests/api/v1/datadog/telemetry_test.go
  tests/api/v2/datadog/api_dashboard_lists_test.go
  tests/api/v2/datadog/api_logs_archives_test.go
  tests/api/v2/datadog/api_logs_test.go
  tests/api/v2/datadog/api_permissions_test.go
  tests/api/v2/datadog/api_roles_test.go
  tests/api/v2/datadog/api_users_test.go
  tests/api/v2/datadog/security_monitoring_test.go
  tests/api/v2/datadog/telemetry_test.go
Owners: @DataDog/integrations-tools-and-libraries

fmt
  tests/api/v1/datadog/api_aws_integration_test.go
  tests/api/v1/datadog/api_metrics_test.go
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/api_service_level_objectives_test.go
Owners: @DataDog/integrations-tools-and-libraries

Handle integration tests
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Fix recording
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 70fbb25 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/Dashboard.md
  api/v1/datadog/docs/DashboardReflowType.md
  api/v1/datadog/model_dashboard.go
  api/v1/datadog/model_dashboard_reflow_type.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Fix recording
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Create_an_SLO_object_returns_Bad_Request_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Create_an_SLO_object_returns_Bad_Request_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Create_an_SLO_object_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Create_an_SLO_object_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Create_an_SLO_object_returns__Bad_Request__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Create_an_SLO_object_returns__OK__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Delete_an_SLO_returns_Not_found_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Delete_an_SLO_returns_Not_found_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Delete_an_SLO_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Delete_an_SLO_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Delete_an_SLO_returns__Not_found__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Delete_an_SLO_returns__OK__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Update_an_SLO_returns_Bad_Request_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Update_an_SLO_returns_Bad_Request_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Level_Objectives/Scenario_Update_an_SLO_returns__Bad_Request__response.freeze
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit fd4a082 of spec repo
  .apigentools-info
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_service_level_objective_corrections.go
  api/v1/datadog/docs/ServiceLevelObjectiveCorrectionsApi.md
  tests/api/v1/datadog/features/service_level_objective_corrections.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 92744ec of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_service_level_objectives.go
  api/v1/datadog/docs/ServiceLevelObjectivesApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava
