Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app

Regenerate client from commit b40b323 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsResource.md
  api/v1/datadog/docs/SyntheticsResourceType.md
  api/v1/datadog/docs/SyntheticsStepDetail.md
  api/v1/datadog/model_synthetics_resource.go
  api/v1/datadog/model_synthetics_resource_type.go
  api/v1/datadog/model_synthetics_step_detail.go
  tests/api/v1/datadog/features/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

WIP formula and function definition
  tests/api/v1/datadog/api_dashboards_test.go
Owners: @DataDog/integrations-tools-and-libraries

record cassettes
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Logs_Metrics/Scenario_Create_a_log-based_metric_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Logs_Metrics/Scenario_Create_a_log-based_metric_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Logs_Metrics/Scenario_Delete_a_log-based_metric_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Logs_Metrics/Scenario_Delete_a_log-based_metric_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Logs_Metrics/Scenario_Get_a_log-based_metric_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Logs_Metrics/Scenario_Get_a_log-based_metric_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Logs_Metrics/Scenario_Get_all_log-based_metrics_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Logs_Metrics/Scenario_Get_all_log-based_metrics_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Logs_Metrics/Scenario_Update_a_log-based_metric_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Logs_Metrics/Scenario_Update_a_log-based_metric_returns__OK__response.yaml
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

tests: fix fixture lookup with underscore
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Add new cassette, update TestDashboardLifeCycle
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Update TestDashboardLifeCycle cassette, update F and F timeseries definition
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

One last cassette bump
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate go client and update TestDashboardLifeCycle
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate go client and update TestDashboardLifeCycle
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate TestDashboardLifeCycle cassette, tests are passing
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add a process formula and function query to Dashboard life cycle test, regenerate cassettes
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Fix cassette rerecording and removing panics
  run-go-tests.sh
  run-tests.sh
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/scenarios_test.go
  tests/api/v2/datadog/utils.go
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit cc3e6a1 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsConfigVariable.md
  api/v1/datadog/docs/SyntheticsConfigVariableType.md
  api/v1/datadog/docs/SyntheticsTestConfig.md
  api/v1/datadog/model_synthetics_config_variable.go
  api/v1/datadog/model_synthetics_config_variable_type.go
  api/v1/datadog/model_synthetics_test_config.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 4e7ddc2 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageRumSessionsHour.md
  api/v1/datadog/docs/UsageSummaryDate.md
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_rum_sessions_hour.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

add apm aas host type tests
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/fixtures/usage/usage_summary.json
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 2554c85 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageHostHour.md
  api/v1/datadog/docs/UsageSummaryDate.md
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_host_hour.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

record
  tests/api/v2/datadog/cassettes/TestListSecurityMonitoringSignals.freeze
  tests/api/v2/datadog/cassettes/TestListSecurityMonitoringSignals.yaml
  tests/api/v2/datadog/cassettes/TestSearchSecurityMonitoringSignals.freeze
  tests/api/v2/datadog/cassettes/TestSearchSecurityMonitoringSignals.yaml
  tests/api/v2/datadog/security_monitoring_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit ca13c42 of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/SecurityMonitoringFilter.md
  api/v2/datadog/docs/SecurityMonitoringFilterAction.md
  api/v2/datadog/docs/SecurityMonitoringRuleCreatePayload.md
  api/v2/datadog/docs/SecurityMonitoringRuleResponse.md
  api/v2/datadog/docs/SecurityMonitoringRuleUpdatePayload.md
  api/v2/datadog/model_security_monitoring_filter.go
  api/v2/datadog/model_security_monitoring_filter_action.go
  api/v2/datadog/model_security_monitoring_rule_create_payload.go
  api/v2/datadog/model_security_monitoring_rule_response.go
  api/v2/datadog/model_security_monitoring_rule_update_payload.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Make secmon tests a bit more resilient
  tests/api/v2/datadog/cassettes/TestListSecurityMonitoringSignals.freeze
  tests/api/v2/datadog/cassettes/TestListSecurityMonitoringSignals.yaml
  tests/api/v2/datadog/cassettes/TestSearchSecurityMonitoringSignals.freeze
  tests/api/v2/datadog/cassettes/TestSearchSecurityMonitoringSignals.yaml
  tests/api/v2/datadog/security_monitoring_test.go
Owners: @DataDog/integrations-tools-and-libraries

more cassettes
  tests/api/v2/datadog/cassettes/TestSecMonRulesCRUD.freeze
  tests/api/v2/datadog/cassettes/TestSecMonRulesCRUD.yaml
Owners: @DataDog/integrations-tools-and-libraries

Make secmon tests a bit more resilient (#633)
  tests/api/v2/datadog/cassettes/TestListSecurityMonitoringSignals.freeze
  tests/api/v2/datadog/cassettes/TestListSecurityMonitoringSignals.yaml
  tests/api/v2/datadog/cassettes/TestSearchSecurityMonitoringSignals.freeze
  tests/api/v2/datadog/cassettes/TestSearchSecurityMonitoringSignals.yaml
  tests/api/v2/datadog/cassettes/TestSecMonRulesCRUD.freeze
  tests/api/v2/datadog/cassettes/TestSecMonRulesCRUD.yaml
  tests/api/v2/datadog/security_monitoring_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit e5de0d3 of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_key_management.go
  api/v2/datadog/docs/ApplicationKeyCreateAttributes.md
  api/v2/datadog/docs/ApplicationKeyCreateData.md
  api/v2/datadog/docs/ApplicationKeyCreateRequest.md
  api/v2/datadog/docs/ApplicationKeyRelationships.md
  api/v2/datadog/docs/ApplicationKeyResponse.md
  api/v2/datadog/docs/ApplicationKeyResponseIncludedItem.md
  api/v2/datadog/docs/ApplicationKeyUpdateAttributes.md
  api/v2/datadog/docs/ApplicationKeyUpdateData.md
  api/v2/datadog/docs/ApplicationKeyUpdateRequest.md
  api/v2/datadog/docs/ApplicationKeysType.md
  api/v2/datadog/docs/FullApplicationKey.md
  api/v2/datadog/docs/FullApplicationKeyAttributes.md
  api/v2/datadog/docs/KeyManagementApi.md
  api/v2/datadog/docs/ListApplicationKeysResponse.md
  api/v2/datadog/docs/PartialApplicationKey.md
  api/v2/datadog/docs/PartialApplicationKeyAttributes.md
  api/v2/datadog/model_application_key_create_attributes.go
  api/v2/datadog/model_application_key_create_data.go
  api/v2/datadog/model_application_key_create_request.go
  api/v2/datadog/model_application_key_relationships.go
  api/v2/datadog/model_application_key_response.go
  api/v2/datadog/model_application_key_response_included_item.go
  api/v2/datadog/model_application_key_update_attributes.go
  api/v2/datadog/model_application_key_update_data.go
  api/v2/datadog/model_application_key_update_request.go
  api/v2/datadog/model_application_keys_type.go
  api/v2/datadog/model_full_application_key.go
  api/v2/datadog/model_full_application_key_attributes.go
  api/v2/datadog/model_list_application_keys_response.go
  api/v2/datadog/model_partial_application_key.go
  api/v2/datadog/model_partial_application_key_attributes.go
  tests/api/v2/datadog/features/given.json
  tests/api/v2/datadog/features/key_management.feature
  tests/api/v2/datadog/features/undo.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 5196383 of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_key_management.go
  api/v2/datadog/docs/ApplicationKeyCreateAttributes.md
  api/v2/datadog/docs/ApplicationKeyCreateData.md
  api/v2/datadog/docs/ApplicationKeyCreateRequest.md
  api/v2/datadog/docs/ApplicationKeyRelationships.md
  api/v2/datadog/docs/ApplicationKeyResponse.md
  api/v2/datadog/docs/ApplicationKeyResponseIncludedItem.md
  api/v2/datadog/docs/ApplicationKeyUpdateAttributes.md
  api/v2/datadog/docs/ApplicationKeyUpdateData.md
  api/v2/datadog/docs/ApplicationKeyUpdateRequest.md
  api/v2/datadog/docs/ApplicationKeysType.md
  api/v2/datadog/docs/FullApplicationKey.md
  api/v2/datadog/docs/FullApplicationKeyAttributes.md
  api/v2/datadog/docs/KeyManagementApi.md
  api/v2/datadog/docs/ListApplicationKeysResponse.md
  api/v2/datadog/docs/PartialApplicationKey.md
  api/v2/datadog/docs/PartialApplicationKeyAttributes.md
  api/v2/datadog/model_application_key_create_attributes.go
  api/v2/datadog/model_application_key_create_data.go
  api/v2/datadog/model_application_key_create_request.go
  api/v2/datadog/model_application_key_relationships.go
  api/v2/datadog/model_application_key_response.go
  api/v2/datadog/model_application_key_response_included_item.go
  api/v2/datadog/model_application_key_update_attributes.go
  api/v2/datadog/model_application_key_update_data.go
  api/v2/datadog/model_application_key_update_request.go
  api/v2/datadog/model_application_keys_type.go
  api/v2/datadog/model_full_application_key.go
  api/v2/datadog/model_full_application_key_attributes.go
  api/v2/datadog/model_list_application_keys_response.go
  api/v2/datadog/model_partial_application_key.go
  api/v2/datadog/model_partial_application_key_attributes.go
  tests/api/v2/datadog/features/given.json
  tests/api/v2/datadog/features/key_management.feature
  tests/api/v2/datadog/features/undo.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

[Synthetics] Fix tests
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 222b700 of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_key_management.go
  api/v2/datadog/docs/ApplicationKeyCreateAttributes.md
  api/v2/datadog/docs/ApplicationKeyCreateData.md
  api/v2/datadog/docs/ApplicationKeyCreateRequest.md
  api/v2/datadog/docs/ApplicationKeyRelationships.md
  api/v2/datadog/docs/ApplicationKeyResponse.md
  api/v2/datadog/docs/ApplicationKeyResponseIncludedItem.md
  api/v2/datadog/docs/ApplicationKeyUpdateAttributes.md
  api/v2/datadog/docs/ApplicationKeyUpdateData.md
  api/v2/datadog/docs/ApplicationKeyUpdateRequest.md
  api/v2/datadog/docs/ApplicationKeysType.md
  api/v2/datadog/docs/FullApplicationKey.md
  api/v2/datadog/docs/FullApplicationKeyAttributes.md
  api/v2/datadog/docs/KeyManagementApi.md
  api/v2/datadog/docs/ListApplicationKeysResponse.md
  api/v2/datadog/docs/PartialApplicationKey.md
  api/v2/datadog/docs/PartialApplicationKeyAttributes.md
  api/v2/datadog/model_application_key_create_attributes.go
  api/v2/datadog/model_application_key_create_data.go
  api/v2/datadog/model_application_key_create_request.go
  api/v2/datadog/model_application_key_relationships.go
  api/v2/datadog/model_application_key_response.go
  api/v2/datadog/model_application_key_response_included_item.go
  api/v2/datadog/model_application_key_update_attributes.go
  api/v2/datadog/model_application_key_update_data.go
  api/v2/datadog/model_application_key_update_request.go
  api/v2/datadog/model_application_keys_type.go
  api/v2/datadog/model_full_application_key.go
  api/v2/datadog/model_full_application_key_attributes.go
  api/v2/datadog/model_list_application_keys_response.go
  api/v2/datadog/model_partial_application_key.go
  api/v2/datadog/model_partial_application_key_attributes.go
  tests/api/v2/datadog/features/given.json
  tests/api/v2/datadog/features/key_management.feature
  tests/api/v2/datadog/features/undo.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit ef664a9 of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_key_management.go
  api/v2/datadog/docs/ApplicationKeyCreateAttributes.md
  api/v2/datadog/docs/ApplicationKeyCreateData.md
  api/v2/datadog/docs/ApplicationKeyCreateRequest.md
  api/v2/datadog/docs/ApplicationKeyRelationships.md
  api/v2/datadog/docs/ApplicationKeyResponse.md
  api/v2/datadog/docs/ApplicationKeyResponseIncludedItem.md
  api/v2/datadog/docs/ApplicationKeyUpdateAttributes.md
  api/v2/datadog/docs/ApplicationKeyUpdateData.md
  api/v2/datadog/docs/ApplicationKeyUpdateRequest.md
  api/v2/datadog/docs/ApplicationKeysType.md
  api/v2/datadog/docs/FullApplicationKey.md
  api/v2/datadog/docs/FullApplicationKeyAttributes.md
  api/v2/datadog/docs/KeyManagementApi.md
  api/v2/datadog/docs/ListApplicationKeysResponse.md
  api/v2/datadog/docs/PartialApplicationKey.md
  api/v2/datadog/docs/PartialApplicationKeyAttributes.md
  api/v2/datadog/model_application_key_create_attributes.go
  api/v2/datadog/model_application_key_create_data.go
  api/v2/datadog/model_application_key_create_request.go
  api/v2/datadog/model_application_key_relationships.go
  api/v2/datadog/model_application_key_response.go
  api/v2/datadog/model_application_key_response_included_item.go
  api/v2/datadog/model_application_key_update_attributes.go
  api/v2/datadog/model_application_key_update_data.go
  api/v2/datadog/model_application_key_update_request.go
  api/v2/datadog/model_application_keys_type.go
  api/v2/datadog/model_full_application_key.go
  api/v2/datadog/model_full_application_key_attributes.go
  api/v2/datadog/model_list_application_keys_response.go
  api/v2/datadog/model_partial_application_key.go
  api/v2/datadog/model_partial_application_key_attributes.go
  tests/api/v2/datadog/features/given.json
  tests/api/v2/datadog/features/key_management.feature
  tests/api/v2/datadog/features/undo.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit e081cb5 of spec repo
  .apigentools-info
  api/v1/datadog/docs/AWSIntegrationApi.md
  api/v1/datadog/docs/AWSLogsIntegrationApi.md
  api/v1/datadog/docs/AuthenticationApi.md
  api/v1/datadog/docs/AzureIntegrationApi.md
  api/v1/datadog/docs/DashboardListsApi.md
  api/v1/datadog/docs/DashboardsApi.md
  api/v1/datadog/docs/DowntimesApi.md
  api/v1/datadog/docs/EventsApi.md
  api/v1/datadog/docs/GCPIntegrationApi.md
  api/v1/datadog/docs/HostsApi.md
  api/v1/datadog/docs/IPRangesApi.md
  api/v1/datadog/docs/KeyManagementApi.md
  api/v1/datadog/docs/LogsApi.md
  api/v1/datadog/docs/LogsIndexesApi.md
  api/v1/datadog/docs/LogsPipelinesApi.md
  api/v1/datadog/docs/MetricsApi.md
  api/v1/datadog/docs/MonitorsApi.md
  api/v1/datadog/docs/OrganizationsApi.md
  api/v1/datadog/docs/PagerDutyIntegrationApi.md
  api/v1/datadog/docs/ServiceLevelObjectivesApi.md
  api/v1/datadog/docs/SnapshotsApi.md
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/docs/TagsApi.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/docs/UsersApi.md
  api/v2/datadog/docs/DashboardListsApi.md
  api/v2/datadog/docs/IncidentServicesApi.md
  api/v2/datadog/docs/IncidentTeamsApi.md
  api/v2/datadog/docs/IncidentsApi.md
  api/v2/datadog/docs/KeyManagementApi.md
  api/v2/datadog/docs/LogsApi.md
  api/v2/datadog/docs/LogsArchivesApi.md
  api/v2/datadog/docs/LogsMetricsApi.md
  api/v2/datadog/docs/ProcessesApi.md
  api/v2/datadog/docs/RolesApi.md
  api/v2/datadog/docs/SecurityMonitoringApi.md
  api/v2/datadog/docs/UsersApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Release beta-13
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Release beta-13 (#639)
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Start dev cycle
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Update version.go
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Start dev cycle (#640)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Fix cassettes
  tests/api/v1/datadog/cassettes/TestSyntheticsVariableFromTestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsVariableFromTestLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 39d6d27 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsGlobalVariable.md
  api/v1/datadog/docs/SyntheticsGlobalVariableParseTestOptions.md
  api/v1/datadog/docs/SyntheticsGlobalVariableParseTestOptionsParser.md
  api/v1/datadog/docs/SyntheticsGlobalVariableParseTestOptionsType.md
  api/v1/datadog/docs/SyntheticsGlobalVariableParserType.md
  api/v1/datadog/model_synthetics_global_variable.go
  api/v1/datadog/model_synthetics_global_variable_parse_test_options.go
  api/v1/datadog/model_synthetics_global_variable_parse_test_options_parser.go
  api/v1/datadog/model_synthetics_global_variable_parse_test_options_type.go
  api/v1/datadog/model_synthetics_global_variable_parser_type.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Add monitor cassette and update scenario to work with path params
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Monitors/Scenario_Get_a_monitor's_details_returns__Monitor_Not_Found_error__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Monitors/Scenario_Get_a_monitor's_details_returns__Monitor_Not_Found_error__response.yaml
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Fix index of new context key
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

fmt
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit d085f50 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/VERSION
  api/v1/datadog/api_authentication.go
  api/v1/datadog/api_aws_integration.go
  api/v1/datadog/api_aws_logs_integration.go
  api/v1/datadog/api_azure_integration.go
  api/v1/datadog/api_dashboard_lists.go
  api/v1/datadog/api_dashboards.go
  api/v1/datadog/api_downtimes.go
  api/v1/datadog/api_events.go
  api/v1/datadog/api_gcp_integration.go
  api/v1/datadog/api_hosts.go
  api/v1/datadog/api_ip_ranges.go
  api/v1/datadog/api_key_management.go
  api/v1/datadog/api_logs.go
  api/v1/datadog/api_logs_indexes.go
  api/v1/datadog/api_logs_pipelines.go
  api/v1/datadog/api_metrics.go
  api/v1/datadog/api_monitors.go
  api/v1/datadog/api_organizations.go
  api/v1/datadog/api_pager_duty_integration.go
  api/v1/datadog/api_service_level_objectives.go
  api/v1/datadog/api_snapshots.go
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/api_tags.go
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/api_users.go
  api/v2/datadog/.openapi-generator/VERSION
  api/v2/datadog/api_dashboard_lists.go
  api/v2/datadog/api_incident_services.go
  api/v2/datadog/api_incident_teams.go
  api/v2/datadog/api_incidents.go
  api/v2/datadog/api_key_management.go
  api/v2/datadog/api_logs.go
  api/v2/datadog/api_logs_archives.go
  api/v2/datadog/api_logs_metrics.go
  api/v2/datadog/api_processes.go
  api/v2/datadog/api_roles.go
  api/v2/datadog/api_security_monitoring.go
  api/v2/datadog/api_users.go
Owners: @DataDog/integrations-tools-and-libraries

Fix tests to align backend behavior.
  tests/api/v2/datadog/api_users_test.go
Owners: @DataDog/integrations-tools-and-libraries

Re-record
  tests/api/v2/datadog/cassettes/TestUserLifecycle.freeze
  tests/api/v2/datadog/cassettes/TestUserLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries
