Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

Delete renamed examples (#1516)
  Makefile
  examples/v1/usage-metering/GetMonthlyUsageAttribution_3738504447.go
Owners: @DataDog/integrations-tools-and-libraries

attempt to fix example
  .generator/src/generator/go_formatter.py
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit be15bced of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api_metrics.go
  api/v1/datadog/model_distribution_point_item.go
  api/v1/datadog/model_distribution_points_content_encoding.go
  api/v1/datadog/model_distribution_points_payload.go
  api/v1/datadog/model_distribution_points_series.go
  api/v1/datadog/model_distribution_points_type.go
  examples/v1/metrics/SubmitDistributionPoints.go
  examples/v1/metrics/SubmitDistributionPoints_3109558960.go
  tests/scenarios/features/v1/metrics.feature
  tests/scenarios/features/v1/undo.json
Owners: @DataDog/integrations-tools-and-libraries

use depth
  .generator/src/generator/go_formatter.py
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 55b88fd3 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api_service_level_objective_corrections.go
  api/v1/datadog/api_service_level_objectives.go
  api/v1/datadog/configuration.go
  examples/v1/service-level-objective-corrections/CreateSLOCorrection.go
  examples/v1/service-level-objective-corrections/CreateSLOCorrection_1326388368.go
  examples/v1/service-level-objective-corrections/DeleteSLOCorrection.go
  examples/v1/service-level-objective-corrections/GetSLOCorrection.go
  examples/v1/service-level-objective-corrections/ListSLOCorrection.go
  examples/v1/service-level-objective-corrections/UpdateSLOCorrection.go
  examples/v1/service-level-objectives/GetSLOCorrections.go
  tests/scenarios/features/v1/service_level_objective_corrections.feature
  tests/scenarios/features/v1/service_level_objectives.feature
Owners: @DataDog/integrations-tools-and-libraries

Document pagination
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Update README.md
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Document pagination (#1521)
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

pre-commit fixes
  LICENSE-3rdparty.csv
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit 921d5a27 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Cleanup formatter module
  .generator/conftest.py
  .generator/src/generator/formatter.py
  .generator/src/generator/go_formatter.py
  .generator/src/generator/templates/example.j2
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit dca4c8bf of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/model_event_query_definition.go
  api/v1/datadog/model_event_stream_widget_definition.go
  api/v1/datadog/model_event_timeline_widget_definition.go
  api/v1/datadog/model_widget_event.go
  examples/v1/dashboards/CreateDashboard_2634813877.go
  examples/v1/dashboards/CreateDashboard_3250131584.go
Owners: @DataDog/integrations-tools-and-libraries

Cleanup formatter module (#1523)
  .generator/conftest.py
  .generator/src/generator/formatter.py
  .generator/src/generator/go_formatter.py
  .generator/src/generator/templates/example.j2
Owners: @DataDog/integrations-tools-and-libraries

Fix SLO tests
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/cassettes/TestSLOMonitorLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSLOMonitorLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSLOMultipleInstances.freeze
  tests/api/v1/datadog/cassettes/TestSLOMultipleInstances.yaml
Owners: @DataDog/integrations-tools-and-libraries

Fix AWS tests
  tests/api/v1/datadog/api_aws_integration_test.go
  tests/api/v1/datadog/cassettes/TestAWSIntegrationCreateConflictErrors.freeze
  tests/api/v1/datadog/cassettes/TestAWSIntegrationCreateConflictErrors.yaml
  tests/api/v1/datadog/cassettes/TestAWSIntegrationCreateConflictErrors/Different.freeze
  tests/api/v1/datadog/cassettes/TestAWSIntegrationCreateConflictErrors/Different.yaml
  tests/api/v1/datadog/cassettes/TestAWSIntegrationCreateConflictErrors/Same.freeze
  tests/api/v1/datadog/cassettes/TestAWSIntegrationCreateConflictErrors/Same.yaml
  tests/api/v1/datadog/cassettes/TestCreateAWSAccount.freeze
  tests/api/v1/datadog/cassettes/TestCreateAWSAccount.yaml
  tests/api/v1/datadog/cassettes/TestDisableAWSAcct.freeze
  tests/api/v1/datadog/cassettes/TestDisableAWSAcct.yaml
  tests/api/v1/datadog/cassettes/TestGenerateNewExternalId.freeze
  tests/api/v1/datadog/cassettes/TestGenerateNewExternalId.yaml
  tests/api/v1/datadog/cassettes/TestUpdateAWSAccount.freeze
  tests/api/v1/datadog/cassettes/TestUpdateAWSAccount.yaml
Owners: @DataDog/integrations-tools-and-libraries

Fix SLO tests (#1524)
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/cassettes/TestSLOMonitorLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSLOMonitorLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSLOMultipleInstances.freeze
  tests/api/v1/datadog/cassettes/TestSLOMultipleInstances.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add support for `zstd1` Content-Encoding (#1448)
  .generator/src/generator/templates/client.j2
  LICENSE-3rdparty.csv
  api/v1/datadog/client.go
  api/v2/datadog/client.go
  go.mod
  go.sum
  tests/go.sum
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Fix AWS tests (#1525)
  tests/api/v1/datadog/api_aws_integration_test.go
  tests/api/v1/datadog/cassettes/TestAWSIntegrationCreateConflictErrors.freeze
  tests/api/v1/datadog/cassettes/TestAWSIntegrationCreateConflictErrors.yaml
  tests/api/v1/datadog/cassettes/TestAWSIntegrationCreateConflictErrors/Different.freeze
  tests/api/v1/datadog/cassettes/TestAWSIntegrationCreateConflictErrors/Different.yaml
  tests/api/v1/datadog/cassettes/TestAWSIntegrationCreateConflictErrors/Same.freeze
  tests/api/v1/datadog/cassettes/TestAWSIntegrationCreateConflictErrors/Same.yaml
  tests/api/v1/datadog/cassettes/TestCreateAWSAccount.freeze
  tests/api/v1/datadog/cassettes/TestCreateAWSAccount.yaml
  tests/api/v1/datadog/cassettes/TestDisableAWSAcct.freeze
  tests/api/v1/datadog/cassettes/TestDisableAWSAcct.yaml
  tests/api/v1/datadog/cassettes/TestGenerateNewExternalId.freeze
  tests/api/v1/datadog/cassettes/TestGenerateNewExternalId.yaml
  tests/api/v1/datadog/cassettes/TestUpdateAWSAccount.freeze
  tests/api/v1/datadog/cassettes/TestUpdateAWSAccount.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit dfe05b82 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/api_metrics.go
  api/v2/datadog/configuration.go
  examples/v2/metrics/CreateTagConfiguration.go
  examples/v2/metrics/DeleteTagConfiguration.go
  examples/v2/metrics/ListTagConfigurationByName.go
  examples/v2/metrics/ListTagConfigurations.go
  examples/v2/metrics/ListTagConfigurations_103226315.go
  examples/v2/metrics/ListTagConfigurations_1799362914.go
  examples/v2/metrics/UpdateTagConfiguration.go
  tests/scenarios/features/v2/metrics.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit b6edc832 of spec repo
  .apigentools-info
  examples/v2/authn-mappings/ListAuthNMappings.go
  examples/v2/key-management/GetAPIKey.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_AuthN_Mappings/Scenario_List_all_AuthN_Mappings_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_AuthN_Mappings/Scenario_List_all_AuthN_Mappings_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Key_Management/Scenario_Get_API_key_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Key_Management/Scenario_Get_API_key_returns_OK_response.yaml
  tests/scenarios/features/v2/authn_mappings.feature
  tests/scenarios/features/v2/key_management.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 4afe3284 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/api_security_platform.go
  api/v2/datadog/client.go
  api/v2/datadog/configuration.go
  examples/v2/security-monitoring/CreateSecurityMonitoringRule.go
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_461183901.go
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_498211763.go
  examples/v2/security-monitoring/DeleteSecurityFilter_555029489.go
  examples/v2/security-platform/CreateSecurityFilter.go
  examples/v2/security-platform/CreateSecurityMonitoringRule.go
  examples/v2/security-platform/DeleteSecurityFilter.go
  examples/v2/security-platform/DeleteSecurityMonitoringRule.go
  examples/v2/security-platform/GetSecurityFilter.go
  examples/v2/security-platform/GetSecurityMonitoringRule.go
  examples/v2/security-platform/ListSecurityFilters.go
  examples/v2/security-platform/ListSecurityMonitoringRules.go
  examples/v2/security-platform/ListSecurityMonitoringSignals.go
  examples/v2/security-platform/SearchSecurityMonitoringSignals.go
  examples/v2/security-platform/UpdateSecurityFilter.go
  examples/v2/security-platform/UpdateSecurityMonitoringRule.go
  tests/scenarios/features/v2/given.json
  tests/scenarios/features/v2/security_platform.feature
  tests/scenarios/features/v2/undo.json
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 47ec2394 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/api_metrics.go
  api/v2/datadog/configuration.go
  examples/v2/metrics/CreateTagConfiguration.go
  examples/v2/metrics/DeleteTagConfiguration.go
  examples/v2/metrics/ListTagConfigurationByName.go
  examples/v2/metrics/ListTagConfigurations.go
  examples/v2/metrics/ListTagConfigurations_103226315.go
  examples/v2/metrics/ListTagConfigurations_1799362914.go
  examples/v2/metrics/UpdateTagConfiguration.go
  tests/scenarios/features/v2/metrics.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 4afe3284 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/api_metrics.go
  api/v2/datadog/api_security_platform.go
  api/v2/datadog/client.go
  api/v2/datadog/configuration.go
  examples/v2/metrics/CreateTagConfiguration.go
  examples/v2/metrics/DeleteTagConfiguration.go
  examples/v2/metrics/ListTagConfigurationByName.go
  examples/v2/metrics/ListTagConfigurations.go
  examples/v2/metrics/ListTagConfigurations_103226315.go
  examples/v2/metrics/ListTagConfigurations_1799362914.go
  examples/v2/metrics/UpdateTagConfiguration.go
  examples/v2/security-monitoring/CreateSecurityMonitoringRule.go
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_461183901.go
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_498211763.go
  examples/v2/security-monitoring/DeleteSecurityFilter_555029489.go
  examples/v2/security-platform/CreateSecurityFilter.go
  examples/v2/security-platform/CreateSecurityMonitoringRule.go
  examples/v2/security-platform/DeleteSecurityFilter.go
  examples/v2/security-platform/DeleteSecurityMonitoringRule.go
  examples/v2/security-platform/GetSecurityFilter.go
  examples/v2/security-platform/GetSecurityMonitoringRule.go
  examples/v2/security-platform/ListSecurityFilters.go
  examples/v2/security-platform/ListSecurityMonitoringRules.go
  examples/v2/security-platform/ListSecurityMonitoringSignals.go
  examples/v2/security-platform/SearchSecurityMonitoringSignals.go
  examples/v2/security-platform/UpdateSecurityFilter.go
  examples/v2/security-platform/UpdateSecurityMonitoringRule.go
  tests/scenarios/features/v2/given.json
  tests/scenarios/features/v2/metrics.feature
  tests/scenarios/features/v2/security_platform.feature
  tests/scenarios/features/v2/undo.json
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 3e311663 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api_usage_metering.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit a5080035 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/api_opsgenie_integration.go
  api/v2/datadog/client.go
  api/v2/datadog/model_opsgenie_service_create_attributes.go
  api/v2/datadog/model_opsgenie_service_create_data.go
  api/v2/datadog/model_opsgenie_service_create_request.go
  api/v2/datadog/model_opsgenie_service_region_type.go
  api/v2/datadog/model_opsgenie_service_response.go
  api/v2/datadog/model_opsgenie_service_response_attributes.go
  api/v2/datadog/model_opsgenie_service_response_data.go
  api/v2/datadog/model_opsgenie_service_type.go
  api/v2/datadog/model_opsgenie_service_update_attributes.go
  api/v2/datadog/model_opsgenie_service_update_data.go
  api/v2/datadog/model_opsgenie_service_update_request.go
  api/v2/datadog/model_opsgenie_services_response.go
  examples/v2/opsgenie-integration/CreateOpsgenieService.go
  examples/v2/opsgenie-integration/DeleteOpsgenieService.go
  examples/v2/opsgenie-integration/GetOpsgenieService.go
  examples/v2/opsgenie-integration/ListOpsgenieServices.go
  examples/v2/opsgenie-integration/UpdateOpsgenieService.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Opsgenie_Integration/Scenario_Create_a_new_service_object_returns_CREATED_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Opsgenie_Integration/Scenario_Create_a_new_service_object_returns_CREATED_response.yaml
  tests/scenarios/features/v2/given.json
  tests/scenarios/features/v2/opsgenie_integration.feature
  tests/scenarios/features/v2/undo.json
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 32abf518 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit b9e36dc8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/model_synthetics_core_web_vitals.go
Owners: @DataDog/integrations-tools-and-libraries

remove item created in merge
  .generator/src/generator/formatter.py
  .generator/src/generator/go_formatter.py
Owners: @DataDog/integrations-tools-and-libraries

fix exampless
  .generator/src/generator/formatter.py
Owners: @DataDog/integrations-tools-and-libraries

remove extra new liness
  .generator/src/generator/formatter.py
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 4569968f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api_metrics.go
  api/v1/datadog/model_distribution_point_item.go
  api/v1/datadog/model_distribution_points_content_encoding.go
  api/v1/datadog/model_distribution_points_payload.go
  api/v1/datadog/model_distribution_points_series.go
  api/v1/datadog/model_distribution_points_type.go
  examples/v1/metrics/SubmitDistributionPoints.go
  examples/v1/metrics/SubmitDistributionPoints_3109558960.go
  tests/scenarios/features/v1/metrics.feature
  tests/scenarios/features/v1/undo.json
Owners: @DataDog/integrations-tools-and-libraries

Fix dashboards tests
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/cassettes/TestDashboardDeleteErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestDashboardDeleteErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestDashboardDeleteErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestDashboardDeleteErrors/404_Not_Found.yaml
  tests/api/v1/datadog/cassettes/TestDashboardGetErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestDashboardGetErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestDashboardGetErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestDashboardGetErrors/404_Not_Found.yaml
  tests/api/v1/datadog/cassettes/TestDashboardUpdateErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestDashboardUpdateErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestDashboardUpdateErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestDashboardUpdateErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestDashboardUpdateErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestDashboardUpdateErrors/404_Not_Found.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 04543c8c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 0f6264a5 of spec repo
  .apigentools-info
  examples/v2/opsgenie-integration/DeleteOpsgenieService.go
  examples/v2/opsgenie-integration/GetOpsgenieService.go
  examples/v2/opsgenie-integration/UpdateOpsgenieService.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Opsgenie_Integration/Scenario_Delete_a_single_service_object_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Opsgenie_Integration/Scenario_Delete_a_single_service_object_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Opsgenie_Integration/Scenario_Get_a_single_service_object_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Opsgenie_Integration/Scenario_Get_a_single_service_object_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Opsgenie_Integration/Scenario_Get_all_service_objects_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Opsgenie_Integration/Scenario_Get_all_service_objects_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Opsgenie_Integration/Scenario_Update_a_single_service_object_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Opsgenie_Integration/Scenario_Update_a_single_service_object_returns_OK_response.yaml
  tests/scenarios/features/v2/opsgenie_integration.feature
Owners: @DataDog/integrations-tools-and-libraries

Fix dashboards tests (#1541)
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/cassettes/TestDashboardDeleteErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestDashboardDeleteErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestDashboardDeleteErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestDashboardDeleteErrors/404_Not_Found.yaml
  tests/api/v1/datadog/cassettes/TestDashboardGetErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestDashboardGetErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestDashboardGetErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestDashboardGetErrors/404_Not_Found.yaml
  tests/api/v1/datadog/cassettes/TestDashboardUpdateErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestDashboardUpdateErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestDashboardUpdateErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestDashboardUpdateErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestDashboardUpdateErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestDashboardUpdateErrors/404_Not_Found.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit d8a79527 of spec repo
  .apigentools-info
  tests/scenarios/features/v1/aws_integration.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 905f3e95 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/api_security_monitoring.go
  api/v2/datadog/configuration.go
  examples/v2/security-monitoring/ListSecurityMonitoringSignals.go
  examples/v2/security-monitoring/SearchSecurityMonitoringSignals.go
  tests/scenarios/features/v2/security_monitoring.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 9397edbc of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 3fedb74d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api_snapshots.go
  examples/v1/snapshots/GetGraphSnapshot.go
  tests/scenarios/features/v1/snapshots.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 7447d103 of spec repo
  .apigentools-info
  tests/scenarios/features/v1/metrics.feature
Owners: @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
