Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app

Don't run approved workflow on non generated PRs
  .github/workflows/approved_status.yml
Owners: @DataDog/integrations-tools-and-libraries

Don't run approved workflow on non generated PRs (#988)
  .github/workflows/approved_status.yml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit f570d1e of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageBillableSummaryKeys.md
  api/v1/datadog/model_usage_billable_summary_keys.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Make tests its own submodule, to separate dependencies
  go.mod
  go.sum
  tests/api/v1/datadog/configuration_test.go
  tests/api/v2/datadog/configuration_test.go
  tests/go.mod
  tests/go.sum
Owners: @DataDog/integrations-tools-and-libraries

cd into tests submodule
  run-go-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

go modi tidy
  tests/go.mod
Owners: @DataDog/integrations-tools-and-libraries

remove cd output
  run-go-tests.sh
  run-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

don't post status check
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries

fix license check
  run-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

Remove extra bracket in json struct
  .generator/templates/model_simple.mustache
Owners: @DataDog/integrations-tools-and-libraries

Make tests its own submodule, to separate dependencies (#990)
  .github/workflows/test_integration.yml
  go.mod
  go.sum
  run-go-tests.sh
  run-tests.sh
  tests/api/v1/datadog/configuration_test.go
  tests/api/v2/datadog/configuration_test.go
  tests/go.mod
  tests/go.sum
Owners: @DataDog/integrations-tools-and-libraries

Release 1.0.0
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Release 1.0.0 (#994)
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

New release cycle
  version.go
Owners: @DataDog/integrations-tools-and-libraries

New release cycle (#995)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Add GetEnumValues method
  .generator/templates/model_enum.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 6c1fcab of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_service_level_objectives.go
  api/v1/datadog/docs/ServiceLevelObjectivesApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 0664044 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/Dashboard.md
  api/v1/datadog/model_dashboard.go
  tests/api/v1/datadog/features/dashboards.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

cassettes
  tests/api/v2/datadog/cassettes/TestListSecurityMonitoringSignals.freeze
  tests/api/v2/datadog/cassettes/TestListSecurityMonitoringSignals.yaml
  tests/api/v2/datadog/cassettes/TestSearchSecurityMonitoringSignals.freeze
  tests/api/v2/datadog/cassettes/TestSearchSecurityMonitoringSignals.yaml
  tests/api/v2/datadog/cassettes/TestSecMonRulesCRUD.freeze
  tests/api/v2/datadog/cassettes/TestSecMonRulesCRUD.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add time functions for templated values
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 92478ee of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/SecurityMonitoringApi.md
  api/v2/datadog/docs/SecurityMonitoringListRulesResponse.md
  api/v2/datadog/docs/SecurityMonitoringRuleCreatePayload.md
  api/v2/datadog/docs/SecurityMonitoringRuleResponse.md
  api/v2/datadog/docs/SecurityMonitoringRuleUpdatePayload.md
  api/v2/datadog/model_security_monitoring_list_rules_response.go
  api/v2/datadog/model_security_monitoring_rule_create_payload.go
  api/v2/datadog/model_security_monitoring_rule_response.go
  api/v2/datadog/model_security_monitoring_rule_update_payload.go
  tests/api/v2/datadog/features/security_monitoring.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 67742c8 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Small tweaks
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Add cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Query_timeseries_points_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Query_timeseries_points_returns_OK_response.yaml
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Update tests for frequency
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

Release 1.1.0
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Release 1.1.0 (#1003)
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Start next release cycle
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Start next release cycle (#1004)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit ccc57f4 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/MetricsQueryMetadata.md
  api/v1/datadog/model_metrics_query_metadata.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 4951cff of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/given.json
  tests/api/v1/datadog/features/service_level_objective_corrections.feature
Owners: @DataDog/integrations-tools-and-libraries

Update cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Query_timeseries_points_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Query_timeseries_points_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Submit_metrics_returns_Payload_accepted_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Submit_metrics_returns_Payload_accepted_response.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 3efd10d of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/metrics.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 7f25c3e of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_security_monitoring.go
  api/v2/datadog/docs/SecurityFilterDeleteResponse.md
  api/v2/datadog/docs/SecurityMonitoringApi.md
  api/v2/datadog/model_security_filter_delete_response.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Add support for body, add cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Synthetics/Scenario_Create_an_API_test_returns_OK_-_Returns_the_created_test_details._response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Synthetics/Scenario_Create_an_API_test_returns_OK_-_Returns_the_created_test_details._response.yaml
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

[Go-client] Fix inability to download files (#9812)
  .generator/templates/client.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 8327a94 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsAssertionJSONPathTargetTarget.md
  api/v1/datadog/model_synthetics_assertion_json_path_target_target.go
  tests/api/v1/datadog/features/synthetics.feature
  tests/api/v1/datadog/features/undo.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 609ca23 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsTestOptions.md
  api/v1/datadog/docs/SyntheticsTickInterval.md
  api/v1/datadog/model_synthetics_test_options.go
  api/v1/datadog/model_synthetics_tick_interval.go
  tests/api/v1/datadog/features/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Update gogo/protobuf
  tests/go.mod
  tests/go.sum
Owners: @DataDog/integrations-tools-and-libraries

Add licenses
  LICENSE-3rdparty.csv
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries
