Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

Regenerate client from commit 31d44cb6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  tests/scenarios/features/v1/logs.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 717103c5 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api_monitors.go
  api/v1/datadog/model_monitor_type.go
  examples/v1/monitors/CreateMonitor_440013737.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Create_an_Error_Tracking_monitor_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Create_an_Error_Tracking_monitor_returns_OK_response.yaml
  tests/scenarios/features/v1/monitor_error_tracking_alert_payload.json
  tests/scenarios/features/v1/monitors.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 713a20ee of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Audit/Scenario_Get_a_list_of_Audit_Logs_events_returns_Bad_Request_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Audit/Scenario_Get_a_list_of_Audit_Logs_events_returns_Bad_Request_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Audit/Scenario_Search_Audit_Logs_events_returns_Bad_Request_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Audit/Scenario_Search_Audit_Logs_events_returns_Bad_Request_response.yaml
  tests/scenarios/features/v1/logs.feature
  tests/scenarios/features/v2/audit.feature
Owners: @DataDog/integrations-tools-and-libraries

Use $ref names for oneOf attribute names
  .generator/src/generator/templates/model_oneof.j2
Owners: @DataDog/integrations-tools-and-libraries

pre-commit fixes
  api/v2/datadog/model_logs_aggregate_bucket_value.go
  api/v2/datadog/model_logs_group_by_missing.go
  api/v2/datadog/model_logs_group_by_total.go
Owners: @DataDog/integrations-tools-and-libraries

fix examples
  examples/v2/logs/AggregateLogs_2955613758.go
Owners: @DataDog/integrations-tools-and-libraries

Update examples/v2/logs/AggregateLogs_2955613758.go
  examples/v2/logs/AggregateLogs_2955613758.go
Owners: @DataDog/integrations-tools-and-libraries

Update examples/v2/logs/AggregateLogs_2955613758.go
  examples/v2/logs/AggregateLogs_2955613758.go
Owners: @DataDog/integrations-tools-and-libraries

Use `$ref` names for `oneOf` attribute names (#1397)
  .generator/src/generator/templates/model_oneof.j2
  api/v2/datadog/model_logs_aggregate_bucket_value.go
  api/v2/datadog/model_logs_group_by_missing.go
  api/v2/datadog/model_logs_group_by_total.go
  examples/v2/logs/AggregateLogs_2955613758.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 27296419 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/model_usage_top_avg_metrics_metadata.go
  api/v1/datadog/model_usage_top_avg_metrics_pagination.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 4a3c7df2 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api_monitors.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 00dc2878 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  tests/scenarios/features/v2/authn_mappings.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 6cd4865a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  tests/scenarios/features/v2/authn_mappings.feature
Owners: @DataDog/integrations-tools-and-libraries

Conditional to catch float64 and convert to original type, i.e. int64. Behavior caused when calling json.unmarshal.
  tests/lookup.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 6cf3cf57 of spec repo
  .apigentools-info
  examples/v1/key-management/CreateAPIKey.go
  examples/v1/key-management/CreateApplicationKey.go
  examples/v1/key-management/UpdateAPIKey.go
  examples/v1/key-management/UpdateApplicationKey.go
  examples/v1/logs-indexes/CreateLogsIndex.go
  examples/v1/logs-pipelines/CreateLogsPipeline.go
  examples/v1/logs-pipelines/UpdateLogsPipeline.go
  examples/v1/organizations/UpdateOrg.go
  examples/v1/synthetics/CreateSyntheticsAPITest.go
  examples/v1/users/CreateUser.go
  examples/v1/users/UpdateUser.go
  tests/scenarios/features/v1/dashboard_lists.feature
  tests/scenarios/features/v1/dashboards.feature
  tests/scenarios/features/v1/downtimes.feature
  tests/scenarios/features/v1/key_management.feature
  tests/scenarios/features/v1/logs_indexes.feature
  tests/scenarios/features/v1/logs_pipelines.feature
  tests/scenarios/features/v1/monitors.feature
  tests/scenarios/features/v1/organizations.feature
  tests/scenarios/features/v1/synthetics.feature
  tests/scenarios/features/v1/users.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit c00e855e of spec repo
  .apigentools-info
  examples/v1/key-management/CreateAPIKey.go
  examples/v1/key-management/CreateApplicationKey.go
  examples/v1/key-management/UpdateAPIKey.go
  examples/v1/key-management/UpdateApplicationKey.go
  examples/v1/logs-indexes/CreateLogsIndex.go
  examples/v1/logs-pipelines/CreateLogsPipeline.go
  examples/v1/logs-pipelines/UpdateLogsPipeline.go
  examples/v1/organizations/UpdateOrg.go
  examples/v1/synthetics/CreateSyntheticsAPITest.go
  examples/v1/users/CreateUser.go
  examples/v1/users/UpdateUser.go
  tests/scenarios/features/v1/dashboard_lists.feature
  tests/scenarios/features/v1/dashboards.feature
  tests/scenarios/features/v1/downtimes.feature
  tests/scenarios/features/v1/key_management.feature
  tests/scenarios/features/v1/logs_indexes.feature
  tests/scenarios/features/v1/logs_pipelines.feature
  tests/scenarios/features/v1/monitors.feature
  tests/scenarios/features/v1/organizations.feature
  tests/scenarios/features/v1/synthetics.feature
  tests/scenarios/features/v1/users.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 2b7dea77 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/model_monitor_formula_and_function_events_data_source.go
  examples/v1/monitors/CreateMonitor_3824294658.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Create_a_ci-pipelines_formula_and_functions_monitor_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Create_a_ci-pipelines_formula_and_functions_monitor_returns_OK_response.yaml
  tests/scenarios/features/v1/monitors.feature
Owners: @DataDog/integrations-tools-and-libraries

Change format for Spintf to %f to handle edge case, e.g. 97.0
  tests/lookup.go
Owners: @DataDog/integrations-tools-and-libraries

Fix float conversion in Resolve method
  tests/lookup.go
  tests/scenarios/actions.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit e401bea6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/model_usage_attribution_sort.go
  api/v1/datadog/model_usage_attribution_supported_metrics.go
  api/v1/datadog/model_usage_attribution_values.go
Owners: @DataDog/integrations-tools-and-libraries

Version bump 1.11.0
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Post release bump
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Update mininum go versions
  .github/workflows/test.yml
  go.mod
Owners: @DataDog/integrations-tools-and-libraries

Fix script
  run-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

Update README
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Update mininum go versions (#1414)
  .github/workflows/test.yml
  README.md
  go.mod
  run-tests.sh
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 0d23d651 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Cleanup unused modules
  .generator/src/generator/cli.py
  .generator/src/generator/templates/client.j2
  .generator/src/generator/templates/response.j2
  api/v1/datadog/client.go
  api/v1/datadog/response.go
  api/v2/datadog/client.go
  api/v2/datadog/response.go
Owners: @DataDog/integrations-tools-and-libraries

Move utils module
  .generator/src/generator/cli.py
  .generator/src/generator/formatter.py
  .generator/src/generator/templates/model.j2
  .generator/src/generator/templates/model_simple.j2
  api/v1/datadog/model_creator.go
  api/v1/datadog/model_dashboard.go
  api/v1/datadog/model_dashboard_summary_definition.go
  api/v1/datadog/model_dashboard_template_variable.go
  api/v1/datadog/model_downtime.go
  api/v1/datadog/model_downtime_child.go
  api/v1/datadog/model_downtime_recurrence.go
  api/v1/datadog/model_logs_url_parser.go
  api/v1/datadog/model_metrics_query_metadata.go
  api/v1/datadog/model_monitor.go
  api/v1/datadog/model_monitor_group_search_result.go
  api/v1/datadog/model_monitor_options.go
  api/v1/datadog/model_monitor_search_result.go
  api/v1/datadog/model_monitor_threshold_window_options.go
  api/v1/datadog/model_monitor_thresholds.go
  api/v1/datadog/model_monitor_update_request.go
  api/v1/datadog/model_notebook_author.go
  api/v1/datadog/model_series.go
  api/v1/datadog/model_service_level_objective.go
  api/v1/datadog/model_service_level_objective_request.go
  api/v1/datadog/model_slo_correction_response_attributes.go
  api/v1/datadog/model_slo_history_metrics_series_metadata_unit.go
  api/v1/datadog/model_slo_response_data.go
  api/v1/datadog/model_synthetics_trigger_ci_tests_response.go
  api/v1/datadog/model_usage_cloud_security_posture_management_hour.go
  api/v1/datadog/model_usage_rum_units_hour.go
  api/v1/datadog/model_webhooks_integration.go
  api/v1/datadog/model_webhooks_integration_update_request.go
  api/v1/datadog/utils.go
  api/v2/datadog/model_incident_field_attributes_single_value.go
  api/v2/datadog/model_incident_response_attributes.go
  api/v2/datadog/model_incident_update_attributes.go
  api/v2/datadog/model_user_attributes.go
  api/v2/datadog/utils.go
  utils.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 3627d624 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Fix tests
  tests/api/deserialization_test.go
  tests/api/utils_test.go
  tests/api/v1/datadog/api_aws_integration_test.go
  tests/api/v1/datadog/api_aws_logs_integration_test.go
  tests/api/v1/datadog/api_azure_integration_test.go
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/api_downtimes_test.go
  tests/api/v1/datadog/api_events_test.go
  tests/api/v1/datadog/api_gcp_integration_test.go
  tests/api/v1/datadog/api_hosts_test.go
  tests/api/v1/datadog/api_logs_indexes_test.go
  tests/api/v1/datadog/api_logs_pipelines_test.go
  tests/api/v1/datadog/api_logs_test.go
  tests/api/v1/datadog/api_metrics_test.go
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/api_slack_integration_test.go
  tests/api/v1/datadog/api_users_test.go
  tests/api/v2/datadog/api_logs_archives_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 51301706 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/api_rum.go
  api/v2/datadog/model_rum_aggregate_bucket_value.go
  api/v2/datadog/model_rum_aggregate_bucket_value_timeseries.go
  api/v2/datadog/model_rum_aggregate_bucket_value_timeseries_point.go
  api/v2/datadog/model_rum_aggregate_request.go
  api/v2/datadog/model_rum_aggregate_sort.go
  api/v2/datadog/model_rum_aggregate_sort_type.go
  api/v2/datadog/model_rum_aggregation_buckets_response.go
  api/v2/datadog/model_rum_aggregation_function.go
  api/v2/datadog/model_rum_analytics_aggregate_response.go
  api/v2/datadog/model_rum_bucket_response.go
  api/v2/datadog/model_rum_compute.go
  api/v2/datadog/model_rum_compute_type.go
  api/v2/datadog/model_rum_group_by.go
  api/v2/datadog/model_rum_group_by_histogram.go
  api/v2/datadog/model_rum_group_by_missing.go
  api/v2/datadog/model_rum_group_by_total.go
  api/v2/datadog/model_rum_sort_order.go
  examples/v2/rum/AggregateRUMEvents.go
  examples/v2/rum/SearchRUMEvents.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_RUM/Scenario_Aggregate_RUM_events._returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_RUM/Scenario_Aggregate_RUM_events._returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_RUM/Scenario_Aggregate_RUM_events_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_RUM/Scenario_Aggregate_RUM_events_returns_OK_response.yaml
  tests/scenarios/features/v2/rum.feature
  tests/scenarios/features/v2/undo.json
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit d3051b71 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/model_usage_ingested_spans_hour.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 363a0c66 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/model_monitor.go
  api/v1/datadog/model_monitor_update_request.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 442fcd8b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v2/dashboard-lists/CreateDashboardListItems_3995409989.go
  examples/v2/dashboard-lists/CreateDashboardListItems_825696022.go
  examples/v2/dashboard-lists/DeleteDashboardListItems_2656706656.go
  examples/v2/dashboard-lists/DeleteDashboardListItems_3851624753.go
  examples/v2/dashboard-lists/GetDashboardListItems.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Dashboard_Lists/Scenario_Add_custom_screenboard_dashboard_to_an_existing_dashboard_list_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Dashboard_Lists/Scenario_Add_custom_screenboard_dashboard_to_an_existing_dashboard_list_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Dashboard_Lists/Scenario_Add_custom_timeboard_dashboard_to_an_existing_dashboard_list_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Dashboard_Lists/Scenario_Add_custom_timeboard_dashboard_to_an_existing_dashboard_list_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Dashboard_Lists/Scenario_Delete_custom_screenboard_dashboard_from_an_existing_dashboard_list_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Dashboard_Lists/Scenario_Delete_custom_screenboard_dashboard_from_an_existing_dashboard_list_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Dashboard_Lists/Scenario_Delete_custom_timeboard_dashboard_from_an_existing_dashboard_list_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Dashboard_Lists/Scenario_Delete_custom_timeboard_dashboard_from_an_existing_dashboard_list_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Dashboard_Lists/Scenario_Get_items_of_a_Dashboard_List_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Dashboard_Lists/Scenario_Get_items_of_a_Dashboard_List_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Dashboard_Lists/Scenario_Update_items_of_a_dashboard_list_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Dashboard_Lists/Scenario_Update_items_of_a_dashboard_list_returns_OK_response.yaml
  tests/scenarios/features/v1/given.json
  tests/scenarios/features/v1/screenboard_dashboard_payload.json
  tests/scenarios/features/v2/dashboard_lists.feature
  tests/scenarios/features/v2/given.json
Owners: @DataDog/integrations-tools-and-libraries

Cleanup unused modules and functions
  .generator/src/generator/cli.py
  .generator/src/generator/templates/client.j2
  .generator/src/generator/templates/response.j2
  api/v1/datadog/client.go
  api/v1/datadog/response.go
  api/v2/datadog/client.go
  api/v2/datadog/response.go
Owners: @DataDog/integrations-tools-and-libraries

Add handling for optional params to avoid index out of range errors
  tests/scenarios/actions.go
Owners: @DataDog/integrations-tools-and-libraries

Fix required nullable fields
  .generator/src/generator/templates/model_simple.j2
  api/v2/datadog/model_logs_archive_attributes.go
  api/v2/datadog/model_nullable_relationship_to_user.go
Owners: @DataDog/integrations-tools-and-libraries

Fix tests
  tests/api/deserialization_test.go
Owners: @DataDog/integrations-tools-and-libraries

Fix required nullable fields (#1428)
  .generator/src/generator/templates/model_simple.j2
  api/v2/datadog/model_logs_archive_attributes.go
  api/v2/datadog/model_nullable_relationship_to_user.go
Owners: @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
