Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

[Synthetics] Fix failing tests
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsVariableLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsVariableLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Skip synthetics tests
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

Skip synthetics tests (#1148)
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit d29f4bc of spec repo
  .apigentools-info
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Update tests
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Fix syntax
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Update tests
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 7a4f3f3 of spec repo
  .apigentools-info
  api/v1/datadog/client.go
  api/v1/datadog/configuration.go
  api/v2/datadog/client.go
  api/v2/datadog/configuration.go
Owners: @DataDog/integrations-tools-and-libraries

skip existing examples on generation
  extract-code-blocks.awk
Owners: @DataDog/integrations-tools-and-libraries

small nit
  extract-code-blocks.awk
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 0e7768c of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/MonitorOptions.md
  api/v1/datadog/docs/MonitorRenotifyStatusType.md
  api/v1/datadog/model_monitor_options.go
  api/v1/datadog/model_monitor_renotify_status_type.go
  tests/scenarios/features/v1/monitors.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Reformat
  TESTING.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Add testing document
  TESTING.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Apply suggestions from code review
  TESTING.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Change cassette path
  TESTING.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Typo
  TESTING.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Apply suggestions from code review
  TESTING.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Small change
  TESTING.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Update TESTING.md
  TESTING.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

skip existing examples on generation (#1149)
  extract-code-blocks.awk
Owners: @DataDog/integrations-tools-and-libraries

Handle paramater casting, fix float parsing
  tests/scenarios/scenarios.go
  tests/scenarios/step_definitions.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 9a4b94d of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_notebooks.go
  api/v1/datadog/docs/NotebookCreateDataAttributes.md
  api/v1/datadog/docs/NotebookMetadata.md
  api/v1/datadog/docs/NotebookMetadataType.md
  api/v1/datadog/docs/NotebookResponseDataAttributes.md
  api/v1/datadog/docs/NotebookUpdateDataAttributes.md
  api/v1/datadog/docs/NotebooksApi.md
  api/v1/datadog/docs/NotebooksResponseDataAttributes.md
  api/v1/datadog/model_notebook_create_data_attributes.go
  api/v1/datadog/model_notebook_metadata.go
  api/v1/datadog/model_notebook_metadata_type.go
  api/v1/datadog/model_notebook_response_data_attributes.go
  api/v1/datadog/model_notebook_update_data_attributes.go
  api/v1/datadog/model_notebooks_response_data_attributes.go
  api/v1/datadog/model_notebooks_response_meta.go
  tests/scenarios/features/v1/notebooks.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Add testing document (#1138)
  TESTING.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

documentate debug flag
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

cleanup
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Fix handling of null enums
  .generator/templates/model_simple.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit ba0941e of spec repo
  .apigentools-info
  api/v1/datadog/model_notebook_metadata.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 06c7795 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/Event.md
  api/v1/datadog/model_event.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Events/Scenario_Post_an_event_with_a_long_title_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Events/Scenario_Post_an_event_with_a_long_title_returns_OK_response.yaml
  tests/scenarios/features/v1/events.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Fix format int call
  tests/scenarios/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

re-record cassettes
  tests/api/v1/datadog/cassettes/TestMonitorCanDeleteErrors.freeze
  tests/api/v1/datadog/cassettes/TestMonitorCanDeleteErrors.yaml
  tests/api/v1/datadog/cassettes/TestMonitorCanDeleteErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestMonitorCanDeleteErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestMonitorCanDeleteErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestMonitorCanDeleteErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestMonitorCanDeleteErrors/409_Conflict.freeze
  tests/api/v1/datadog/cassettes/TestMonitorCanDeleteErrors/409_Conflict.yaml
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Update test
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsTriggerCITests.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsTriggerCITests.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit a046371 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/docs/SyntheticsBatchDetails.md
  api/v1/datadog/docs/SyntheticsBatchDetailsData.md
  api/v1/datadog/docs/SyntheticsBatchResult.md
  api/v1/datadog/docs/SyntheticsCIBatchMetadata.md
  api/v1/datadog/docs/SyntheticsCIBatchMetadataCI.md
  api/v1/datadog/docs/SyntheticsCIBatchMetadataGit.md
  api/v1/datadog/docs/SyntheticsCITest.md
  api/v1/datadog/docs/SyntheticsStatus.md
  api/v1/datadog/docs/SyntheticsTestExecutionRule.md
  api/v1/datadog/model_synthetics_batch_details.go
  api/v1/datadog/model_synthetics_batch_details_data.go
  api/v1/datadog/model_synthetics_batch_result.go
  api/v1/datadog/model_synthetics_ci_batch_metadata.go
  api/v1/datadog/model_synthetics_ci_batch_metadata_ci.go
  api/v1/datadog/model_synthetics_ci_batch_metadata_git.go
  api/v1/datadog/model_synthetics_ci_test_.go
  api/v1/datadog/model_synthetics_status.go
  api/v1/datadog/model_synthetics_test_execution_rule.go
  tests/scenarios/features/v1/synthetics.feature
  tests/scenarios/features/v1/undo.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 9ad7087 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/model_usage_summary_response.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 452360f of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/docs/UsageSDSHour.md
  api/v1/datadog/docs/UsageSDSResponse.md
  api/v1/datadog/docs/UsageSummaryDate.md
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_sds_hour.go
  api/v1/datadog/model_usage_sds_response.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
  tests/scenarios/features/v1/undo.json
  tests/scenarios/features/v1/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 12e050e of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/AWSAccount.md
  api/v1/datadog/model_aws_account.go
  tests/scenarios/features/v1/aws_integration.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit fcd10ad of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageTimeseriesHour.md
  api/v1/datadog/model_usage_timeseries_hour.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 532aa21 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_monitors.go
  api/v1/datadog/configuration.go
  api/v1/datadog/docs/MonitorsApi.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/configuration.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 303d2e3 of spec repo
  .apigentools-info
  tests/scenarios/features/v1/metrics.feature
Owners: @DataDog/integrations-tools-and-libraries

Change nullable references
  tests/api/v1/datadog/api_monitors_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 3b56e2f of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/Monitor.md
  api/v1/datadog/model_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
