Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

add test
  tests/api/v1/datadog/api_monitors_test.go
Owners: @DataDog/integrations-tools-and-libraries

tests: bump dd-trace-go
  LICENSE-3rdparty.csv
  go.mod
  go.sum
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

bump
  go.mod
Owners: @DataDog/integrations-tools-and-libraries

revert push of generated code
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/MonitorOptions.md
  api/v1/datadog/model_monitor_options.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

re-record cassettes
  tests/api/v1/datadog/cassettes/TestMonitorDowntime.freeze
  tests/api/v1/datadog/cassettes/TestMonitorDowntime.yaml
  tests/api/v1/datadog/cassettes/TestMonitorLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestMonitorLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestMonitorPagination.freeze
  tests/api/v1/datadog/cassettes/TestMonitorPagination.yaml
  tests/api/v1/datadog/cassettes/TestMonitorUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestMonitorUpdateErrors.yaml
  tests/api/v1/datadog/cassettes/TestMonitorUpdateErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestMonitorUpdateErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestMonitorUpdateErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestMonitorUpdateErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestMonitorUpdateErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestMonitorUpdateErrors/404_Not_Found.yaml
  tests/api/v1/datadog/cassettes/TestMonitorValidation.freeze
  tests/api/v1/datadog/cassettes/TestMonitorValidation/empty_monitor.freeze
  tests/api/v1/datadog/cassettes/TestMonitorValidation/empty_monitor.yaml
  tests/api/v1/datadog/cassettes/TestMonitorValidation/example_monitor.freeze
  tests/api/v1/datadog/cassettes/TestMonitorValidation/example_monitor.yaml
  tests/api/v1/datadog/cassettes/TestMonitorsGetErrors.freeze
  tests/api/v1/datadog/cassettes/TestMonitorsGetErrors.yaml
  tests/api/v1/datadog/cassettes/TestMonitorsGetErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestMonitorsGetErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestMonitorsGetErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestMonitorsGetErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestMonitorsGetErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestMonitorsGetErrors/404_Not_Found.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 46cbd6f of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/MonitorOptions.md
  api/v1/datadog/model_monitor_options.go
  api/v2/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/metrics.feature
  tests/api/v2/datadog/features/metrics.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Update LICENSE-3rdparty.csv
  LICENSE-3rdparty.csv
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Update LICENSE-3rdparty.csv
  LICENSE-3rdparty.csv
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

tests: bump dd-trace-go (#757)
  LICENSE-3rdparty.csv
  go.mod
  go.sum
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

[Synthetics] Update config name
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

release beta 16
  CHANGELOG.md
  go.sum
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

release beta 16 (#759)
  CHANGELOG.md
  go.sum
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Update version.go
  version.go
Owners: @DataDog/integrations-tools-and-libraries

ci: enable agent on gh action
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Update version.go (#760)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

no services on macos :(
  .azure-pipelines/all.yml
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

matrix install
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

subs
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

dd-tags
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

dd_env
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

updated cassettes
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_Distinct_Metric_Volumes_by_Metric_Name_returns__Success__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_Distinct_Metric_Volumes_by_Metric_Name_returns__Success__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_Ingested_Tags_by_Metric_Name_returns__Success__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_Ingested_and_Indexed_Volumes_by_Metric_Name_returns__Success__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_Tags_by_Metric_Name_returns__Success__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_Tags_by_Metric_Name_returns__Success__response.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 12c0486 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/docs/SyntheticsAPITest.md
  api/v1/datadog/docs/SyntheticsAPITestConfig.md
  api/v1/datadog/docs/SyntheticsAPITestType.md
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/docs/SyntheticsBrowserTest.md
  api/v1/datadog/docs/SyntheticsBrowserTestConfig.md
  api/v1/datadog/docs/SyntheticsBrowserTestType.md
  api/v1/datadog/model_synthetics_api_test_.go
  api/v1/datadog/model_synthetics_api_test_config.go
  api/v1/datadog/model_synthetics_api_test_type.go
  api/v1/datadog/model_synthetics_browser_test_.go
  api/v1/datadog/model_synthetics_browser_test_config.go
  api/v1/datadog/model_synthetics_browser_test_type.go
  tests/api/v1/datadog/features/synthetics.feature
  tests/api/v1/datadog/features/undo.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 0de7e0c of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_monitors.go
Owners: @DataDog/integrations-tools-and-libraries

Fix quoting in re-run
  run-go-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit aeacb86 of spec repo
  .apigentools-info
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

updated cassettes
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Create_a_Tag_Configuration_returns__Created__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Create_a_Tag_Configuration_returns__Created__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Delete_a_Tag_Configuration_returns__No_Content__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Delete_a_Tag_Configuration_returns__No_Content__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_Distinct_Metric_Volumes_by_Metric_Name_returns__Success__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_Distinct_Metric_Volumes_by_Metric_Name_returns__Success__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_Tag_Configuration_by_Name_returns__Success__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_Tag_Configuration_by_Name_returns__Success__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_Tag_Configurations_returns__Success__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_Tag_Configurations_returns__Success__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_Tags_by_Metric_Name_returns__Success__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_Tags_by_Metric_Name_returns__Success__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Update_a_Tag_Configuration_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Update_a_Tag_Configuration_returns__OK__response.yaml
Owners: @DataDog/integrations-tools-and-libraries

renamed cassettes
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Create_a_tag_configuration_returns__Created__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Create_a_tag_configuration_returns__Created__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Delete_a_tag_configuration_returns__No_Content__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Delete_a_tag_configuration_returns__No_Content__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_distinct_metric_volumes_by_metric_name_returns__Success__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_distinct_metric_volumes_by_metric_name_returns__Success__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_tag_configuration_by_name_returns__Success__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_tag_configuration_by_name_returns__Success__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_tag_configurations_returns__Success__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_tag_configurations_returns__Success__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_tags_by_metric_name_returns__Success__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_List_tags_by_metric_name_returns__Success__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Update_a_tag_configuration_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Update_a_tag_configuration_returns__OK__response.yaml
Owners: @DataDog/integrations-tools-and-libraries

Fix quoting in re-run (#764)
  run-go-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

Update tests for newly required property
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit aad6dbb of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_metrics.go
  api/v2/datadog/configuration.go
  api/v2/datadog/docs/MetricAllTags.md
  api/v2/datadog/docs/MetricAllTagsAttributes.md
  api/v2/datadog/docs/MetricAllTagsResponse.md
  api/v2/datadog/docs/MetricDistinctVolume.md
  api/v2/datadog/docs/MetricDistinctVolumeAttributes.md
  api/v2/datadog/docs/MetricDistinctVolumeType.md
  api/v2/datadog/docs/MetricIngestedIndexedVolume.md
  api/v2/datadog/docs/MetricIngestedIndexedVolumeAttributes.md
  api/v2/datadog/docs/MetricIngestedIndexedVolumeType.md
  api/v2/datadog/docs/MetricVolumes.md
  api/v2/datadog/docs/MetricVolumesResponse.md
  api/v2/datadog/docs/MetricsApi.md
  api/v2/datadog/model_metric_all_tags.go
  api/v2/datadog/model_metric_all_tags_attributes.go
  api/v2/datadog/model_metric_all_tags_response.go
  api/v2/datadog/model_metric_distinct_volume.go
  api/v2/datadog/model_metric_distinct_volume_attributes.go
  api/v2/datadog/model_metric_distinct_volume_type.go
  api/v2/datadog/model_metric_ingested_indexed_volume.go
  api/v2/datadog/model_metric_ingested_indexed_volume_attributes.go
  api/v2/datadog/model_metric_ingested_indexed_volume_type.go
  api/v2/datadog/model_metric_volumes.go
  api/v2/datadog/model_metric_volumes_response.go
  tests/api/v1/datadog/features/metrics.feature
  tests/api/v2/datadog/features/metrics.feature
  tests/api/v2/datadog/features/undo.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Apply suggestions from code review
  tests/api/v1/datadog/api_dashboards_test.go
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Update tests for parser options
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit f614243 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsCoreWebVitals.md
  api/v1/datadog/docs/SyntheticsStepDetail.md
  api/v1/datadog/model_synthetics_core_web_vitals.go
  api/v1/datadog/model_synthetics_step_detail.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 2a95fb4 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_metrics.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit a75da1e of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/FormulaAndFunctionEventQueryDefinition.md
  api/v1/datadog/docs/FormulaAndFunctionMetricQueryDefinition.md
  api/v1/datadog/docs/FormulaAndFunctionProcessQueryDefinition.md
  api/v1/datadog/docs/FormulaAndFunctionQueryDefinition.md
  api/v1/datadog/model_formula_and_function_event_query_definition.go
  api/v1/datadog/model_formula_and_function_metric_query_definition.go
  api/v1/datadog/model_formula_and_function_process_query_definition.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit ce24aad of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsAPIStep.md
  api/v1/datadog/docs/SyntheticsAPIStepSubtype.md
  api/v1/datadog/docs/SyntheticsAPITestConfig.md
  api/v1/datadog/docs/SyntheticsGlobalVariableParseTestOptions.md
  api/v1/datadog/docs/SyntheticsParsingOptions.md
  api/v1/datadog/docs/SyntheticsVariableParser.md
  api/v1/datadog/model_synthetics_api_step.go
  api/v1/datadog/model_synthetics_api_step_subtype.go
  api/v1/datadog/model_synthetics_api_test_config.go
  api/v1/datadog/model_synthetics_global_variable_parse_test_options.go
  api/v1/datadog/model_synthetics_global_variable_parse_test_options_parser.go
  api/v1/datadog/model_synthetics_parsing_options.go
  api/v1/datadog/model_synthetics_test_details_sub_type.go
  api/v1/datadog/model_synthetics_variable_parser.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Add cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Events/Scenario_Post_an_event_returns__OK__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Events/Scenario_Post_an_event_returns__OK__response.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Submit_metrics_returns__Payload_accepted__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Submit_metrics_returns__Payload_accepted__response.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 9a30209 of spec repo
  .apigentools-info
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_service_level_objectives.go
  api/v1/datadog/docs/ServiceLevelObjectivesApi.md
  tests/api/v1/datadog/features/service_level_objectives.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Add cassettes
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Logs/Scenario_Send_logs_returns__Response_from_server_(always_200_empty_JSON).__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Logs/Scenario_Send_logs_returns__Response_from_server_(always_200_empty_JSON).__response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Submit_metrics_returns__Bad_Request__response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Submit_metrics_returns__Bad_Request__response.yaml
Owners: @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
