Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app

Update gogo/protobuf (#1010)
  LICENSE-3rdparty.csv
  tests/go.mod
  tests/go.sum
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit 6820788 of spec repo
  .apigentools-info
  tests/api/v1/datadog/features/metrics.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit ac88040 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/configuration.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 30e3ae0 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/AWSIntegrationApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit d18c63f of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_monitors.go
  api/v1/datadog/docs/AWSIntegrationApi.md
  api/v1/datadog/docs/MonitorsApi.md
  tests/api/v1/datadog/features/monitors.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

ci: report status for unit tests
  .github/workflows/scripts/test_integration.js
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries

Fix oneOf model docs
  .generator/templates/model_doc.mustache
Owners: @DataDog/integrations-tools-and-libraries

runs-on
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

fix typo
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

missing checkout
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

use job status
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 49e5f63 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/TreeMapColorBy.md
  api/v1/datadog/docs/TreeMapGroupBy.md
  api/v1/datadog/docs/TreeMapSizeBy.md
  api/v1/datadog/docs/TreeMapWidgetDefinition.md
  api/v1/datadog/docs/TreeMapWidgetDefinitionType.md
  api/v1/datadog/docs/TreeMapWidgetRequest.md
  api/v1/datadog/docs/WidgetDefinition.md
  api/v1/datadog/model_tree_map_color_by.go
  api/v1/datadog/model_tree_map_group_by.go
  api/v1/datadog/model_tree_map_size_by.go
  api/v1/datadog/model_tree_map_widget_definition.go
  api/v1/datadog/model_tree_map_widget_definition_type.go
  api/v1/datadog/model_tree_map_widget_request.go
  api/v1/datadog/model_widget_definition.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 6fd5e2f of spec repo
  .apigentools-info
Owners: @DataDog/integrations-tools-and-libraries

Make another minor doc fix
  .generator/templates/model_doc.mustache
Owners: @DataDog/integrations-tools-and-libraries

migrate to GH actions
  .github/workflows/approved_status.yml
  .github/workflows/scripts/approved_status.js
  .github/workflows/scripts/test_integration.js
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 4cc1eed of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SLOTimeframe.md
  api/v1/datadog/docs/ServiceLevelObjectivesApi.md
  api/v1/datadog/model_slo_timeframe.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit d33e517 of spec repo
  .apigentools-info
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 17171be of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/Pagination.md
  api/v1/datadog/docs/ResponseMetaAttributes.md
  api/v1/datadog/docs/SLOCorrectionListResponse.md
  api/v1/datadog/model_pagination.go
  api/v1/datadog/model_response_meta_attributes.go
  api/v1/datadog/model_slo_correction_list_response.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 9777e49 of spec repo
  .apigentools-info
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_key_management.go
  api/v2/datadog/docs/KeyManagementApi.md
  tests/api/v2/datadog/features/key_management.feature
  tests/api/v2/datadog/features/undo.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit adf180f of spec repo
  .apigentools-info
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_IP_Ranges/Scenario_List_IP_Ranges_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_IP_Ranges/Scenario_List_IP_Ranges_returns_OK_response.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit cbb2404 of spec repo
  .apigentools-info
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_IP_Ranges/Scenario_List_IP_Ranges_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_IP_Ranges/Scenario_List_IP_Ranges_returns_OK_response.yaml
Owners: @DataDog/integrations-tools-and-libraries

Improve resiliency
  .generator/templates/model.mustache
  .generator/templates/model_enum.mustache
  .generator/templates/model_oneof.mustache
  .generator/templates/model_simple.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 0eabb4b of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageMeteringApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

template fixes
  .generator/templates/model_oneof.mustache
  .generator/templates/model_simple.mustache
Owners: @DataDog/integrations-tools-and-libraries

fix oneOf export property for primitive types
  .generator/templates/model_oneof.mustache
Owners: @DataDog/integrations-tools-and-libraries

fix spacing
  .generator/templates/model.mustache
  .generator/templates/model_enum.mustache
  .generator/templates/model_simple.mustache
Owners: @DataDog/integrations-tools-and-libraries

don't bubble up unparsed all the way
  .generator/templates/model_simple.mustache
Owners: @DataDog/integrations-tools-and-libraries

check if has required
  .generator/templates/model_simple.mustache
Owners: @DataDog/integrations-tools-and-libraries

marshal unparsed
  .generator/templates/model_simple.mustache
Owners: @DataDog/integrations-tools-and-libraries

marshall oneOf unparsed
  .generator/templates/model_oneof.mustache
Owners: @DataDog/integrations-tools-and-libraries

add docstring
  .generator/templates/model_oneof.mustache
  .generator/templates/model_simple.mustache
Owners: @DataDog/integrations-tools-and-libraries

Add replay only test for different error scenarios
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Synthetics/Scenario_Client_is_resilient_to_enum_and_oneOf_deserialization_errors.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Synthetics/Scenario_Client_is_resilient_to_enum_and_oneOf_deserialization_errors.yaml
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Add unit tests for different deserialization failure scenarios
  tests/api/deserialization_test.go
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Add test for allow_insecure in api request
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsAPIMultistepTestEndpointLifecycle.freeze
Owners: @DataDog/integrations-tools-and-libraries

Prepare release
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Update
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Prepare release (#1033)
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Bump version
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 88896c8 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit beba4a1 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries
