Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

pre-commit fixes
  api/v2/datadog/api_auth_n_mappings.go
  api/v2/datadog/api_metrics.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit ea9b9c8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api/v1/datadog/api_logs.go
  api/v1/datadog/docs/HTTPLogItem.md
  api/v1/datadog/docs/LogsApi.md
  api/v1/datadog/docs/NotebookMetadata.md
  api/v1/datadog/docs/SyntheticsAssertionTarget.md
  api/v1/datadog/model_http_log_item.go
  api/v1/datadog/model_notebook_metadata.go
  api/v1/datadog/model_synthetics_assertion_target.go
  api/v2/datadog/docs/AuthNMappingsApi.md
  api/v2/datadog/docs/IncidentsApi.md
  api/v2/datadog/docs/RolesApi.md
  api/v2/datadog/docs/ServiceAccountsApi.md
  api/v2/datadog/docs/UsersApi.md
  examples/v1/logs/SubmitLog.go
  examples/v1/logs/SubmitLog_1920474053.go
  examples/v1/logs/SubmitLog_3418823904.go
  tests/scenarios/features/v1/monitors.feature
  tests/scenarios/features/v2/incident_teams.feature
  tests/scenarios/features/v2/incidents.feature
  tests/scenarios/features/v2/roles.feature
  tests/scenarios/features/v2/users.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 39aad71 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/UsageHostHour.md
  api/v1/datadog/docs/UsageLambdaHour.md
  api/v1/datadog/docs/UsageLogsByIndexHour.md
  api/v1/datadog/docs/UsageLogsByRetentionHour.md
  api/v1/datadog/docs/UsageLogsHour.md
  api/v1/datadog/docs/UsageNetworkFlowsHour.md
  api/v1/datadog/docs/UsageNetworkHostsHour.md
  api/v1/datadog/docs/UsageSyntheticsAPIHour.md
  api/v1/datadog/docs/UsageSyntheticsBrowserHour.md
  api/v1/datadog/docs/UsageSyntheticsHour.md
  api/v1/datadog/docs/UsageTimeseriesHour.md
  api/v1/datadog/model_usage_host_hour.go
  api/v1/datadog/model_usage_lambda_hour.go
  api/v1/datadog/model_usage_logs_by_index_hour.go
  api/v1/datadog/model_usage_logs_by_retention_hour.go
  api/v1/datadog/model_usage_logs_hour.go
  api/v1/datadog/model_usage_network_flows_hour.go
  api/v1/datadog/model_usage_network_hosts_hour.go
  api/v1/datadog/model_usage_synthetics_api_hour.go
  api/v1/datadog/model_usage_synthetics_browser_hour.go
  api/v1/datadog/model_usage_synthetics_hour.go
  api/v1/datadog/model_usage_timeseries_hour.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 3d3ffe1 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 79cdf99 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api_incidents.go
  api/v2/datadog/docs/IncidentCreateRelationships.md
  api/v2/datadog/docs/IncidentResponseRelationships.md
  api/v2/datadog/docs/IncidentUpdateRelationships.md
  api/v2/datadog/docs/IncidentsApi.md
  api/v2/datadog/docs/NullableRelationshipToUser.md
  api/v2/datadog/docs/NullableRelationshipToUserData.md
  api/v2/datadog/model_incident_create_relationships.go
  api/v2/datadog/model_incident_response_relationships.go
  api/v2/datadog/model_incident_update_relationships.go
  api/v2/datadog/model_nullable_relationship_to_user.go
  api/v2/datadog/model_nullable_relationship_to_user_data.go
  examples/v2/incidents/CreateIncident.go
  examples/v2/incidents/DeleteIncident.go
  examples/v2/incidents/GetIncident.go
  examples/v2/incidents/UpdateIncident_1009194038.go
  examples/v2/incidents/UpdateIncident_3369341440.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Add_commander_to_an_incident_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Add_commander_to_an_incident_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Create_an_incident_returns_CREATED_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Create_an_incident_returns_CREATED_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Delete_an_existing_incident_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Delete_an_existing_incident_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Get_a_list_of_incidents_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Get_a_list_of_incidents_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Get_the_details_of_an_incident_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Get_the_details_of_an_incident_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Remove_commander_from_an_incident_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Remove_commander_from_an_incident_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Update_an_existing_incident_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Update_an_existing_incident_returns_OK_response.yaml
  tests/scenarios/features/v2/incidents.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Automatize release process
  .github/release.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  RELEASING.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Apply suggestions from code review
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
Owners: @DataDog/integrations-tools-and-libraries

Fix bump sed
  .github/workflows/release.yml
Owners: @DataDog/integrations-tools-and-libraries

Update .github/workflows/release.yml
  .github/workflows/release.yml
Owners: @DataDog/integrations-tools-and-libraries

Automatize release process (#1343)
  .github/release.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  RELEASING.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Version bump v1.9.0
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Fix version setting
  .github/workflows/prepare_release.yml
Owners: @DataDog/integrations-tools-and-libraries

Remove v from changelog
  .github/workflows/prepare_release.yml
Owners: @DataDog/integrations-tools-and-libraries

Remove v from changelog (#1345)
  .github/workflows/prepare_release.yml
Owners: @DataDog/integrations-tools-and-libraries

Version bump v1.9.0
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Post release bump
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Remove need of v prefix in release automation
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  RELEASING.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Remove need of v prefix in release automation (#1348)
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  RELEASING.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Fix event tests
  tests/api/v1/datadog/api_events_test.go
Owners: @DataDog/integrations-tools-and-libraries

Replace go-lookup usage
  LICENSE-3rdparty.csv
  tests/go.mod
  tests/go.sum
  tests/lookup.go
  tests/lookup_test.go
  tests/scenarios/actions.go
  tests/scenarios/scenarios.go
  tests/scenarios/step_definitions.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Fix tests
  run-tests.sh
  tests/lookup.go
  tests/lookup_test.go
  tests/scenarios/actions.go
  tests/scenarios/step_definitions.go
Owners: @DataDog/integrations-tools-and-libraries

Remove script
  run-go-tests.sh
Owners: @DataDog/integrations-tools-and-libraries

Replace lookup and fix tests (#1352)
  LICENSE-3rdparty.csv
  run-go-tests.sh
  run-tests.sh
  tests/go.mod
  tests/go.sum
  tests/lookup.go
  tests/lookup_test.go
  tests/scenarios/actions.go
  tests/scenarios/scenarios.go
  tests/scenarios/step_definitions.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Minor release cleanup
  .github/workflows/prepare_release.yml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 519d93a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/Event.md
  api/v1/datadog/docs/EventCreateRequest.md
  api/v1/datadog/docs/EventCreateResponse.md
  api/v1/datadog/model_event.go
  api/v1/datadog/model_event_create_request.go
  api/v1/datadog/model_event_create_response.go
  tests/scenarios/features/v1/events.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Minor release cleanup (#1353)
  .github/workflows/prepare_release.yml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 7bd6b98 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api/v1/datadog/README.md
  api/v2/datadog/README.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit c049b6d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit cf974e8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/SyntheticsTestOptions.md
  api/v1/datadog/model_synthetics_test_options.go
  examples/v1/synthetics/CreateSyntheticsAPITest_1072503741.go
  examples/v1/synthetics/CreateSyntheticsAPITest_1487281163.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Get_a_synthetics_monitors_details.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Get_a_synthetics_monitors_details.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_HTTP_test_returns_OK_-_Returns_the_created_test_details._response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_HTTP_test_returns_OK_-_Returns_the_created_test_details._response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_SSL_test_returns_OK_-_Returns_the_created_test_details._response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_an_API_SSL_test_returns_OK_-_Returns_the_created_test_details._response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Edit_an_API_test_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Edit_an_API_test_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Trigger_Synthetics_tests_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Trigger_Synthetics_tests_returns_OK_response.yaml
  tests/scenarios/features/v1/given.json
  tests/scenarios/features/v1/synthetics.feature
  tests/scenarios/features/v1/synthetics_api_http_test_payload.json
  tests/scenarios/features/v1/synthetics_api_ssl_test_payload.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 1823f58 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageCIVisibilityHour.md
  api/v1/datadog/docs/UsageCIVisibilityResponse.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/model_usage_ci_visibility_hour.go
  api/v1/datadog/model_usage_ci_visibility_response.go
  examples/v1/usage-metering/GetUsageCIApp.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Get_hourly_usage_for_CI_Visibility_returns_Bad_Request_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Get_hourly_usage_for_CI_Visibility_returns_Bad_Request_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Get_hourly_usage_for_CI_Visibility_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Get_hourly_usage_for_CI_Visibility_returns_OK_response.yaml
  tests/scenarios/features/v1/undo.json
  tests/scenarios/features/v1/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Remove make .env
  .gitignore
  Makefile
Owners: @DataDog/integrations-tools-and-libraries

Remove make .env (#1359)
  .gitignore
  Makefile
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit fea6d10 of spec repo
  .apigentools-info
  examples/v2/logs/AggregateLogs_2955613758.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs/Scenario_Aggregate_compute_events_with_group_by_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs/Scenario_Aggregate_compute_events_with_group_by_returns_OK_response.yaml
  tests/scenarios/features/v2/logs.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 7fe3e9a of spec repo
  .apigentools-info
  examples/v1/dashboards/DeleteDashboard.go
  examples/v1/dashboards/GetDashboard.go
  examples/v1/dashboards/RestoreDashboards.go
  examples/v1/dashboards/UpdateDashboard.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Delete_a_dashboard_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Delete_a_dashboard_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Get_a_dashboard_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Get_a_dashboard_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Restore_deleted_dashboards_returns_No_Content_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Restore_deleted_dashboards_returns_No_Content_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Update_a_dashboard_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Update_a_dashboard_returns_OK_response.yaml
  tests/scenarios/features/v1/dashboards.feature
Owners: @DataDog/integrations-tools-and-libraries

Update extract-code-blocks.awk
  extract-code-blocks.awk
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 0f5bd41 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/docs/SecurityMonitoringRuleDetectionMethod.md
  api/v2/datadog/docs/SecurityMonitoringRuleImpossibleTravelOptions.md
  api/v2/datadog/docs/SecurityMonitoringRuleOptions.md
  api/v2/datadog/docs/SecurityMonitoringRuleQueryAggregation.md
  api/v2/datadog/model_security_monitoring_rule_detection_method.go
  api/v2/datadog/model_security_monitoring_rule_impossible_travel_options.go
  api/v2/datadog/model_security_monitoring_rule_options.go
  api/v2/datadog/model_security_monitoring_rule_query_aggregation.go
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_461183901.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_with_type_impossible_travel_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Create_a_detection_rule_with_type_impossible_travel_returns_OK_response.yaml
  tests/scenarios/features/v2/security_monitoring.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit c45f182 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/LogsByRetentionMonthlyUsage.md
  api/v1/datadog/model_logs_by_retention_monthly_usage.go
  tests/scenarios/features/v1/dashboards.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit cd0cc83 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageCIVisibilityHour.md
  api/v1/datadog/docs/UsageCIVisibilityResponse.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/docs/UsageSummaryDate.md
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_ci_visibility_hour.go
  api/v1/datadog/model_usage_ci_visibility_response.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
  examples/v1/usage-metering/GetUsageCIApp.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Get_hourly_usage_for_CI_Visibility_returns_Bad_Request_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Get_hourly_usage_for_CI_Visibility_returns_Bad_Request_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Get_hourly_usage_for_CI_Visibility_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Get_hourly_usage_for_CI_Visibility_returns_OK_response.yaml
  tests/scenarios/features/v1/undo.json
  tests/scenarios/features/v1/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Version bump 1.10.0
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit cb0a2c0 of spec repo
  .apigentools-info
  examples/v1/synthetics/GetAPITestResult_1321866518.go
Owners: @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
