Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

Regenerate client from commit 130fa36 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/model_synthetics_test_options_retry.go
Owners: @DataDog/integrations-tools-and-libraries

update changelog
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

update version file
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Update CHANGELOG.md
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Update CHANGELOG.md
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Update CHANGELOG.md
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

update changelog (#348)
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

start new release cycle
  version.go
Owners: @DataDog/integrations-tools-and-libraries

start new release cycle (#349)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 1bdcc5a of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/model_monitor_device_id.go
  api/v1/datadog/model_synthetics_device_id.go
Owners: @DataDog/integrations-tools-and-libraries

Prepare release
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Prepare release (#352)
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Next release cycle
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Next release cycle (#353)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Changes after review
  tests/api/v1/datadog/utils.go
  tests/api/v2/datadog/api_logs_test.go
  tests/api/v2/datadog/cassettes/TestLogsList.freeze
  tests/api/v2/datadog/cassettes/TestLogsList.yaml
  tests/api/v2/datadog/utils.go
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Add missing tests for get endpoint
  tests/api/v2/datadog/api_logs_test.go
  tests/api/v2/datadog/cassettes/TestLogsList.freeze
  tests/api/v2/datadog/cassettes/TestLogsList.yaml
  tests/api/v2/datadog/cassettes/TestLogsListGet.freeze
  tests/api/v2/datadog/cassettes/TestLogsListGet.yaml
Owners: @DataDog/integrations-tools-and-libraries

Changes after review
  tests/api/v2/datadog/api_logs_test.go
  tests/api/v2/datadog/cassettes/TestLogsList.freeze
  tests/api/v2/datadog/cassettes/TestLogsList.yaml
  tests/api/v2/datadog/cassettes/TestLogsListGet.freeze
  tests/api/v2/datadog/cassettes/TestLogsListGet.yaml
Owners: @DataDog/integrations-tools-and-libraries

Update to use new target objects
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

Add new target
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

Remove the integer target
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

Add a script to cleanup leftover test objects
  scripts/cleanup.go
Owners: @DataDog/integrations-tools-and-libraries

Update cassettes to include status in output
  tests/api/v2/datadog/cassettes/TestLogsList.freeze
  tests/api/v2/datadog/cassettes/TestLogsList.yaml
  tests/api/v2/datadog/cassettes/TestLogsListGet.freeze
  tests/api/v2/datadog/cassettes/TestLogsListGet.yaml
Owners: @DataDog/integrations-tools-and-libraries

Update scripts/cleanup.go
  scripts/cleanup.go
Owners: @DataDog/integrations-tools-and-libraries

Add a script to cleanup leftover test objects (#355)
  scripts/cleanup.go
Owners: @DataDog/integrations-tools-and-libraries

Add test showing failure
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Properly clean up after Azure integration test
  tests/api/v1/datadog/api_azure_integration_test.go
  tests/api/v1/datadog/cassettes/TestAzure403Error.freeze
  tests/api/v1/datadog/cassettes/TestAzure403Error.yaml
  tests/api/v1/datadog/cassettes/TestAzureCreate.freeze
  tests/api/v1/datadog/cassettes/TestAzureCreate.yaml
  tests/api/v1/datadog/cassettes/TestAzureCreateErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestAzureCreateErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestAzureCreateErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestAzureCreateErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestAzureDeleteErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestAzureDeleteErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestAzureDeleteErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestAzureDeleteErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestAzureListandDelete.freeze
  tests/api/v1/datadog/cassettes/TestAzureListandDelete.yaml
  tests/api/v1/datadog/cassettes/TestAzureUpdateErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestAzureUpdateErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestAzureUpdateErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestAzureUpdateErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestAzureUpdateHostFiltersErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestAzureUpdateHostFiltersErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestAzureUpdateHostFiltersErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestAzureUpdateHostFiltersErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestUpdateAzureAccount.freeze
  tests/api/v1/datadog/cassettes/TestUpdateAzureAccount.yaml
Owners: @DataDog/integrations-tools-and-libraries

Make sure different test runs don't clash
  tests/api/v1/datadog/api_azure_integration_test.go
  tests/api/v1/datadog/cassettes/TestAzure403Error.freeze
  tests/api/v1/datadog/cassettes/TestAzure403Error.yaml
  tests/api/v1/datadog/cassettes/TestAzureCreate.freeze
  tests/api/v1/datadog/cassettes/TestAzureCreate.yaml
  tests/api/v1/datadog/cassettes/TestAzureCreateErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestAzureCreateErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestAzureCreateErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestAzureCreateErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestAzureDeleteErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestAzureDeleteErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestAzureDeleteErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestAzureDeleteErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestAzureListandDelete.freeze
  tests/api/v1/datadog/cassettes/TestAzureListandDelete.yaml
  tests/api/v1/datadog/cassettes/TestAzureUpdateErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestAzureUpdateErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestAzureUpdateErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestAzureUpdateErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestAzureUpdateHostFiltersErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestAzureUpdateHostFiltersErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestAzureUpdateHostFiltersErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestAzureUpdateHostFiltersErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestUpdateAzureAccount.freeze
  tests/api/v1/datadog/cassettes/TestUpdateAzureAccount.yaml
Owners: @DataDog/integrations-tools-and-libraries

Properly clean up after Azure integration test (#358)
  tests/api/v1/datadog/api_azure_integration_test.go
  tests/api/v1/datadog/cassettes/TestAzure403Error.freeze
  tests/api/v1/datadog/cassettes/TestAzure403Error.yaml
  tests/api/v1/datadog/cassettes/TestAzureCreate.freeze
  tests/api/v1/datadog/cassettes/TestAzureCreate.yaml
  tests/api/v1/datadog/cassettes/TestAzureCreateErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestAzureCreateErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestAzureCreateErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestAzureCreateErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestAzureDeleteErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestAzureDeleteErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestAzureDeleteErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestAzureDeleteErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestAzureListandDelete.freeze
  tests/api/v1/datadog/cassettes/TestAzureListandDelete.yaml
  tests/api/v1/datadog/cassettes/TestAzureUpdateErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestAzureUpdateErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestAzureUpdateErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestAzureUpdateErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestAzureUpdateHostFiltersErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestAzureUpdateHostFiltersErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestAzureUpdateHostFiltersErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestAzureUpdateHostFiltersErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestUpdateAzureAccount.freeze
  tests/api/v1/datadog/cassettes/TestUpdateAzureAccount.yaml
Owners: @DataDog/integrations-tools-and-libraries

refactored
  tests/api/v2/datadog/scenarios_test.go
  tests/scenarios.go
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

support v1 endpoints
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_IP_Ranges/Scenario_List_IP_Ranges/Given_an_instance_of_"IPRanges"_API.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_IP_Ranges/Scenario_List_IP_Ranges/Given_an_instance_of_"IPRanges"_API.yaml
  tests/api/v1/datadog/features/monitor.feature
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/scenarios_test.go
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

lint
  LICENSE-3rdparty.csv
  go.mod
  tests/scenarios.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

support feature tags
  go.mod
  go.sum
  tests/api/v1/datadog/features/monitor.feature
  tests/api/v2/datadog/features/dashboard_lists.feature
  tests/api/v2/datadog/features/logs_archives.feature
  tests/api/v2/datadog/features/security_monitoring.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 3c92af9 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/MonitorsApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Go test for BillableSummary
  tests/api/v1/datadog/api_usage_metering_test.go
Owners: @DataDog/integrations-tools-and-libraries

Added asserts for schema fields
  tests/api/v1/datadog/api_usage_metering_test.go
Owners: @DataDog/integrations-tools-and-libraries

Minor modification to TestUsageBillableSummary startDate
  tests/api/v1/datadog/api_usage_metering_test.go
Owners: @DataDog/integrations-tools-and-libraries

Modified assertions
  tests/api/v1/datadog/api_usage_metering_test.go
Owners: @DataDog/integrations-tools-and-libraries

safe-paths
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_IP_Ranges/Scenario_List_IP_Ranges.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_IP_Ranges/Scenario_List_IP_Ranges.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Add_a_user_to_a_role_leading_to_OK.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Add_a_user_to_a_role_leading_to_OK.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Create_role_leading_to_OK.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Create_role_leading_to_OK.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Delete_role_leading_to_OK.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Delete_role_leading_to_OK.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Get_a_role_leading_to_OK_for_get_role.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Get_a_role_leading_to_OK_for_get_role.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Get_all_users_of_a_role_leading_to_OK.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Get_all_users_of_a_role_leading_to_OK.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Grant_permission_to_a_role_leading_to_OK.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Grant_permission_to_a_role_leading_to_OK.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_List_permissions_for_a_role_leading_to_OK.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_List_permissions_for_a_role_leading_to_OK.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_List_permissions_leading_to_OK.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_List_permissions_leading_to_OK.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_List_roles_leading_to_OK.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_List_roles_leading_to_OK.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Remove_a_user_from_a_role_leading_to_OK.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Remove_a_user_from_a_role_leading_to_OK.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Revoke_permission_leading_to_OK.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Revoke_permission_leading_to_OK.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Update_a_role_leading_to_OK.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Roles/Scenario_Update_a_role_leading_to_OK.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Create_a_user_leading_to_OK.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Create_a_user_leading_to_OK.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Disable_a_user_leading_to_OK.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Disable_a_user_leading_to_OK.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Get_a_user_leading_to_OK_for_get_user.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Get_a_user_leading_to_OK_for_get_user.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Get_a_user_permissions_leading_to_OK.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Get_a_user_permissions_leading_to_OK.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_List_all_users_leading_to_OK.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_List_all_users_leading_to_OK.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Update_a_user_leading_to_OK.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Users/Scenario_Update_a_user_leading_to_OK.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 539b283 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/GCPIntegrationApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 834de94 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_dashboards.go
Owners: @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
