Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app

Regenerate client from commit 12fcb1b of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/DowntimeRecurrence.md
  api/v1/datadog/docs/DowntimesApi.md
  api/v1/datadog/model_downtime_recurrence.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit d472ef7 of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_logs.go
  api/v2/datadog/client.go
  api/v2/datadog/configuration.go
  api/v2/datadog/docs/Log.md
  api/v2/datadog/docs/LogAttributes.md
  api/v2/datadog/docs/LogType.md
  api/v2/datadog/docs/LogsApi.md
  api/v2/datadog/docs/LogsListRequest.md
  api/v2/datadog/docs/LogsListRequestFilter.md
  api/v2/datadog/docs/LogsListRequestPage.md
  api/v2/datadog/docs/LogsListResponse.md
  api/v2/datadog/docs/LogsListResponseLinks.md
  api/v2/datadog/docs/LogsListResponseMeta.md
  api/v2/datadog/docs/LogsListResponseMetaPage.md
  api/v2/datadog/docs/LogsSort.md
  api/v2/datadog/model_log.go
  api/v2/datadog/model_log_attributes.go
  api/v2/datadog/model_log_type.go
  api/v2/datadog/model_logs_list_request.go
  api/v2/datadog/model_logs_list_request_filter.go
  api/v2/datadog/model_logs_list_request_page.go
  api/v2/datadog/model_logs_list_response.go
  api/v2/datadog/model_logs_list_response_links.go
  api/v2/datadog/model_logs_list_response_meta.go
  api/v2/datadog/model_logs_list_response_meta_page.go
  api/v2/datadog/model_logs_sort.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

wip
  tests/api/v1/datadog/cassettes/TestSyntheticsCreateVariable.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsDeleteVariable.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsEditVariable.yaml
Owners: @DataDog/integrations-tools-and-libraries

work in progress-included json file in fixtures for Billable
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/fixtures/usage/usage_billable_summary.json
Owners: @DataDog/integrations-tools-and-libraries

work in progress-included json file in fixtures for Billable
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/fixtures/usage/usage_billable_summary.json
Owners: @DataDog/integrations-tools-and-libraries

work in progress-included json file in fixtures for Billable
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/fixtures/usage/usage_billable_summary.json
Owners: @DataDog/integrations-tools-and-libraries

Modified JSON file and Types in TestUsageBillableSummary
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/fixtures/usage/usage_billable_summary.json
Owners: @DataDog/integrations-tools-and-libraries

Golang tests and cassettes for BillableSummary
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/cassettes/TestUsageGetBillableSummaryErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestUsageGetBillableSummaryErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestUsageGetBillableSummaryErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestUsageGetBillableSummaryErrors/403_Forbidden.yaml
Owners: @DataDog/integrations-tools-and-libraries

Update tests/api/v2/datadog/scenarios_test.go
  tests/api/v2/datadog/scenarios_test.go
Owners: @DataDog/integrations-tools-and-libraries

the response status is
  tests/api/v1/datadog/features/ip_ranges.feature
  tests/api/v1/datadog/features/monitor.feature
  tests/api/v2/datadog/features/dashboard_lists.feature
  tests/api/v2/datadog/features/logs_archives.feature
  tests/api/v2/datadog/features/roles.feature
  tests/api/v2/datadog/features/security_monitoring.feature
  tests/api/v2/datadog/features/users.feature
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Fail when auth keys are not set
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/scenarios_test.go
Owners: @DataDog/integrations-tools-and-libraries

quote reserved names
  tests/api/v2/datadog/features/roles.feature
  tests/api/v2/datadog/features/users.feature
  tests/api/v2/datadog/scenarios_test.go
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Add global variable endpoint tests
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsDeleteVariable.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsEditVariable.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsVariableLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsVariableLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

apm traces
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/scenarios_test.go
  tests/test_utils.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

fix span name
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

Update tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

updated query params and JSON file
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/cassettes/TestUsageGetBillableSummaryErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestUsageGetBillableSummaryErrors/403_Forbidden.yaml
  tests/api/v1/datadog/fixtures/usage/usage_billable_summary.json
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 4d84e86 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageBillableSummaryBody.md
  api/v1/datadog/docs/UsageBillableSummaryHour.md
  api/v1/datadog/docs/UsageBillableSummaryKeys.md
  api/v1/datadog/docs/UsageBillableSummaryResponse.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/model_usage_billable_summary_body.go
  api/v1/datadog/model_usage_billable_summary_hour.go
  api/v1/datadog/model_usage_billable_summary_keys.go
  api/v1/datadog/model_usage_billable_summary_response.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

use t.Fatal
  tests/api/v2/datadog/scenarios_test.go
Owners: @DataDog/integrations-tools-and-libraries

gobdd from master
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

step spans
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/scenarios_test.go
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

restore parent span
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/scenarios_test.go
Owners: @DataDog/integrations-tools-and-libraries

fix typo
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/scenarios_test.go
Owners: @DataDog/integrations-tools-and-libraries

better context handling
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/scenarios_test.go
  tests/api/v2/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

Add tests for SecMon list signals
  tests/api/v2/datadog/cassettes/TestSignalsListGet.freeze
  tests/api/v2/datadog/cassettes/TestSignalsListGet.yaml
  tests/api/v2/datadog/cassettes/TestSignalsListPost.freeze
  tests/api/v2/datadog/cassettes/TestSignalsListPost.yaml
  tests/api/v2/datadog/security_monitoring_test.go
Owners: @DataDog/integrations-tools-and-libraries

Rename after schema changes
  tests/api/v2/datadog/security_monitoring_test.go
Owners: @DataDog/integrations-tools-and-libraries

Add a new Synthetics Assertion Operator
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/model_synthetics_assertion_operator.go
Owners: @DataDog/integrations-tools-and-libraries

Add new target
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

Update to use new target objects
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

Add test showing failure
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Remove the integer target
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

Go tests for endpoint 1
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/cassettes/TestDailyCustomReports.yaml
  tests/api/v1/datadog/cassettes/TestGetDailyCustomReportsErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestGetDailyCustomReportsErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestGetDailyCustomReportsErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestGetDailyCustomReportsErrors/403_Forbidden.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 44c5568 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/docs/SyntheticsAssertionJSONPathOperator.md
  api/v1/datadog/docs/SyntheticsAssertionJSONPathTarget.md
  api/v1/datadog/docs/SyntheticsAssertionJSONPathTargetTarget.md
  api/v1/datadog/docs/SyntheticsAssertionTarget.md
  api/v1/datadog/model_synthetics_assertion.go
  api/v1/datadog/model_synthetics_assertion_json_path_operator.go
  api/v1/datadog/model_synthetics_assertion_json_path_target.go
  api/v1/datadog/model_synthetics_assertion_json_path_target_target.go
  api/v1/datadog/model_synthetics_assertion_operator.go
  api/v1/datadog/model_synthetics_assertion_target.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Rename after operationIds renamed
  tests/api/v2/datadog/security_monitoring_test.go
Owners: @DataDog/integrations-tools-and-libraries

Added error tests for Daily Custom Reports
  tests/api/v1/datadog/api_usage_metering_test.go
Owners: @DataDog/integrations-tools-and-libraries

Wrote Go Tests For Specified Daily Custom Reports
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/cassettes/TestDailyCustomReports.freeze
  tests/api/v1/datadog/cassettes/TestGetSpecifiedDailyCustomReportsErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestGetSpecifiedDailyCustomReportsErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestGetSpecifiedDailyCustomReportsErrors/502_Bad_Gateway.freeze
  tests/api/v1/datadog/cassettes/TestGetSpecifiedDailyCustomReportsErrors/502_Bad_Gateway.yaml
  tests/api/v1/datadog/cassettes/TestSpecifiedDailyCustomReports.freeze
  tests/api/v1/datadog/cassettes/TestSpecifiedDailyCustomReports.yaml
Owners: @DataDog/integrations-tools-and-libraries

Wrote Go Tests For Monthly Custom Reports
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/cassettes/TestGetMonthlyCustomReportsErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestGetMonthlyCustomReportsErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestGetMonthlyCustomReportsErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestGetMonthlyCustomReportsErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestMonthlyCustomReports.freeze
  tests/api/v1/datadog/cassettes/TestMonthlyCustomReports.yaml
  tests/api/v1/datadog/fixtures/usage/no_authenticated_user_error.json
Owners: @DataDog/integrations-tools-and-libraries

Wrote Go Tests For Specified Monthly Custom Reports
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/cassettes/TestGetSpecifiedMonthlyCustomReportsErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestGetSpecifiedMonthlyCustomReportsErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestGetSpecifiedMonthlyCustomReportsErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestGetSpecifiedMonthlyCustomReportsErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestSpecifiedMonthlyCustomReports.freeze
  tests/api/v1/datadog/cassettes/TestSpecifiedMonthlyCustomReports.yaml
Owners: @DataDog/integrations-tools-and-libraries

tests
  tests/api/v1/datadog/api_hosts_test.go
  tests/api/v1/datadog/fixtures/hosts/host_search_with_metadata.json
  tests/api/v1/datadog/fixtures/hosts/host_search_with_mutes.json
Owners: @DataDog/integrations-tools-and-libraries

Included 404
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/cassettes/TestDailyCustomReports.freeze
  tests/api/v1/datadog/cassettes/TestGetDailyCustomReportsErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestGetDailyCustomReportsErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestGetDailyCustomReportsErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestGetDailyCustomReportsErrors/404_Not_Found.yaml
Owners: @DataDog/integrations-tools-and-libraries
