Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

Record cassettes
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDashboardLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 13cb201 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/ApmStatsQueryColumnType.md
  api/v1/datadog/model_apm_stats_query_column_type.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

[Synthetics] Update tests for dns server and client certificate
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsMultipleTestsOperations.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsMultipleTestsOperations.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsSubtypeDnsAPITestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsSubtypeDnsAPITestLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsTriggerCITests.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsTriggerCITests.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/404_Not_Found.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/404_Not_Found.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit f376674 of spec repo
  .apigentools-info
  api/v1/datadog/docs/AWSIntegrationApi.md
  api/v1/datadog/docs/AWSLogsIntegrationApi.md
  api/v1/datadog/docs/AzureIntegrationApi.md
  api/v1/datadog/docs/DashboardListsApi.md
  api/v1/datadog/docs/DashboardsApi.md
  api/v1/datadog/docs/DowntimesApi.md
  api/v1/datadog/docs/EventsApi.md
  api/v1/datadog/docs/GCPIntegrationApi.md
  api/v1/datadog/docs/HostsApi.md
  api/v1/datadog/docs/KeyManagementApi.md
  api/v1/datadog/docs/LogsApi.md
  api/v1/datadog/docs/LogsIndexesApi.md
  api/v1/datadog/docs/LogsPipelinesApi.md
  api/v1/datadog/docs/MetricsApi.md
  api/v1/datadog/docs/MonitorsApi.md
  api/v1/datadog/docs/OrganizationsApi.md
  api/v1/datadog/docs/PagerDutyIntegrationApi.md
  api/v1/datadog/docs/ServiceLevelObjectivesApi.md
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/docs/TagsApi.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/docs/UsersApi.md
  api/v1/datadog/utils.go
  api/v2/datadog/docs/DashboardListsApi.md
  api/v2/datadog/docs/LogsApi.md
  api/v2/datadog/docs/LogsArchivesApi.md
  api/v2/datadog/docs/RolesApi.md
  api/v2/datadog/docs/SecurityMonitoringApi.md
  api/v2/datadog/docs/ServicesApi.md
  api/v2/datadog/docs/TeamsApi.md
  api/v2/datadog/docs/UsersApi.md
  api/v2/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit d0f43d8 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/LogsAggregateSort.md
  api/v2/datadog/model_logs_aggregate_sort.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Unifies naming for isArray in Schema class properties (#7691)
  .generator/templates/model_simple.mustache
Owners: @DataDog/integrations-tools-and-libraries

Unifies naming for isArray in Schema class properties (#7691)
  model_simple.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 7f17f89 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsTestRequest.md
  api/v1/datadog/docs/SyntheticsTestRequestCertificate.md
  api/v1/datadog/docs/SyntheticsTestRequestCertificateItem.md
  api/v1/datadog/model_synthetics_test_request.go
  api/v1/datadog/model_synthetics_test_request_certificate.go
  api/v1/datadog/model_synthetics_test_request_certificate_item.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

update doc to include proxy instruction (#7749)
  README.mustache
Owners: @DataDog/integrations-tools-and-libraries

update doc to include proxy instruction (#7749)
  .generator/templates/README.mustache
Owners: @DataDog/integrations-tools-and-libraries

add tests for retrieving synthetics monitors via MonitorsApi
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/cassettes/TestMonitorSyntheticsGet.freeze
  tests/api/v1/datadog/cassettes/TestMonitorSyntheticsGet.yaml
Owners: @DataDog/integrations-tools-and-libraries

update comment
  tests/api/v1/datadog/api_monitors_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit abf8195 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  tests/api/v1/datadog/features/logs_pipelines.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 24e57ca of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/MonitorOptions.md
  api/v1/datadog/model_monitor_options.go
  tests/api/v1/datadog/features/logs_pipelines.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 89ff7a4 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageSummaryDate.md
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/docs/UsageTraceHour.md
  api/v1/datadog/model_timeseries_widget_definition.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
  api/v1/datadog/model_usage_trace_hour.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 68b59be of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/LogsListRequest.md
  api/v1/datadog/model_logs_list_request.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit f1dd07f of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/LogsArchiveAttributes.md
  api/v2/datadog/docs/LogsArchiveCreateRequestAttributes.md
  api/v2/datadog/model_logs_archive_attributes.go
  api/v2/datadog/model_logs_archive_create_request_attributes.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit f53311d of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/Event.md
  api/v1/datadog/model_event.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

make test branch in go
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentServices/Scenario_Create_a_new_incident_service_returns__CREATED__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentServices/Scenario_Create_a_new_incident_service_returns__CREATED__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentServices/Scenario_Delete_an_existing_incident_service_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentServices/Scenario_Delete_an_existing_incident_service_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentServices/Scenario_Get_a_list_of_all_incident_services_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentServices/Scenario_Get_a_list_of_all_incident_services_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentServices/Scenario_Get_details_of_an_incident_service_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentServices/Scenario_Get_details_of_an_incident_service_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentServices/Scenario_Update_an_existing_incident_service_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentServices/Scenario_Update_an_existing_incident_service_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentTeams/Scenario_Create_a_new_incident_team_returns__CREATED__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentTeams/Scenario_Create_a_new_incident_team_returns__CREATED__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentTeams/Scenario_Delete_an_existing_incident_team_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentTeams/Scenario_Delete_an_existing_incident_team_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentTeams/Scenario_Get_a_list_of_all_incident_teams_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentTeams/Scenario_Get_a_list_of_all_incident_teams_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentTeams/Scenario_Get_details_of_an_incident_team_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentTeams/Scenario_Get_details_of_an_incident_team_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentTeams/Scenario_Update_an_existing_incident_team_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentTeams/Scenario_Update_an_existing_incident_team_returns__OK__response.yaml
  tests/api/v2/datadog/features/services.feature
  tests/api/v2/datadog/features/teams.feature
  tests/api/v2/datadog/scenarios_test.go
Owners: @DataDog/integrations-tools-and-libraries

add monitor priority to tests
  api/v1/datadog/model_monitor.go
  tests/api/v1/datadog/api_monitors_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 787c299 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/model_synthetics_step_type.go
Owners: @DataDog/integrations-tools-and-libraries

update test with monitor priority
  tests/api/v1/datadog/api_monitors_test.go
Owners: @DataDog/integrations-tools-and-libraries

fix scenario test cassettes
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Services/Scenario_Create_a_new_incident_service_returns__CREATED__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Services/Scenario_Create_a_new_incident_service_returns__CREATED__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Services/Scenario_Delete_an_existing_incident_service_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Services/Scenario_Delete_an_existing_incident_service_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Services/Scenario_Get_a_list_of_all_incident_services_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Services/Scenario_Get_a_list_of_all_incident_services_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Services/Scenario_Get_details_of_an_incident_service_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Services/Scenario_Get_details_of_an_incident_service_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Services/Scenario_Update_an_existing_incident_service_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Services/Scenario_Update_an_existing_incident_service_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Teams/Scenario_Create_a_new_incident_team_returns__CREATED__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Teams/Scenario_Create_a_new_incident_team_returns__CREATED__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Teams/Scenario_Delete_an_existing_incident_team_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Teams/Scenario_Delete_an_existing_incident_team_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Teams/Scenario_Get_a_list_of_all_incident_teams_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Teams/Scenario_Get_a_list_of_all_incident_teams_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Teams/Scenario_Get_details_of_an_incident_team_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Teams/Scenario_Get_details_of_an_incident_team_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Teams/Scenario_Update_an_existing_incident_team_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Incident_Teams/Scenario_Update_an_existing_incident_team_returns__OK__response.yaml
Owners: @DataDog/integrations-tools-and-libraries

fix scenario test cassettes
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentServices/Scenario_Create_a_new_incident_service_returns__CREATED__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentServices/Scenario_Create_a_new_incident_service_returns__CREATED__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentServices/Scenario_Delete_an_existing_incident_service_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentServices/Scenario_Delete_an_existing_incident_service_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentServices/Scenario_Get_a_list_of_all_incident_services_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentServices/Scenario_Get_a_list_of_all_incident_services_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentServices/Scenario_Get_details_of_an_incident_service_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentServices/Scenario_Get_details_of_an_incident_service_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentServices/Scenario_Update_an_existing_incident_service_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentServices/Scenario_Update_an_existing_incident_service_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentTeams/Scenario_Create_a_new_incident_team_returns__CREATED__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentTeams/Scenario_Create_a_new_incident_team_returns__CREATED__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentTeams/Scenario_Delete_an_existing_incident_team_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentTeams/Scenario_Delete_an_existing_incident_team_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentTeams/Scenario_Get_a_list_of_all_incident_teams_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentTeams/Scenario_Get_a_list_of_all_incident_teams_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentTeams/Scenario_Get_details_of_an_incident_team_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentTeams/Scenario_Get_details_of_an_incident_team_returns__OK__response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentTeams/Scenario_Update_an_existing_incident_team_returns__OK__response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_IncidentTeams/Scenario_Update_an_existing_incident_team_returns__OK__response.yaml
Owners: @DataDog/integrations-tools-and-libraries

Beta 9 changelog
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Update version
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Release beta 9 (#536)
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Start dev cycle
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Start dev cycle (#537)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

update monitor test and cassettes w priority
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/cassettes/TestMonitorDowntime.yaml
  tests/api/v1/datadog/cassettes/TestMonitorLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestMonitorPagination.yaml
  tests/api/v1/datadog/cassettes/TestMonitorUpdateErrors.yaml
  tests/api/v1/datadog/cassettes/TestMonitorValidation/example_monitor.yaml
  tests/api/v1/datadog/cassettes/TestMonitorsGetErrors.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 2af7762 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/MonitorOptions.md
  api/v1/datadog/model_monitor_options.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 1627efc of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/Monitor.md
  api/v1/datadog/docs/MonitorUpdateRequest.md
  api/v1/datadog/model_monitor.go
  api/v1/datadog/model_monitor_update_request.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 8433d9b of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_events.go
Owners: @DataDog/integrations-tools-and-libraries

enable unstable operation DeleteIncidentTeam for all team deletions
  tests/api/v2/datadog/scenarios_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit d882020 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_events.go
Owners: @DataDog/integrations-tools-and-libraries

enable unstable operation DeleteIncidentTeam for all team deletions (#543)
  tests/api/v2/datadog/scenarios_test.go
Owners: @DataDog/integrations-tools-and-libraries

Create changelog
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Update version.go
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Release beta 10 (#545)
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Start dev cycle
  version.go
Owners: @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
