Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app

prepare for 1.4.0 release
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

prepare for 1.4.0 release (#1111)
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Start next dev cycle
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Start next dev cycle (#1112)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Fix test with pointer signature
  tests/api/v1/datadog/api_dashboards_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit f934b04 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/FunnelQuery.md
  api/v1/datadog/docs/FunnelRequestType.md
  api/v1/datadog/docs/FunnelSource.md
  api/v1/datadog/docs/FunnelWidgetDefinition.md
  api/v1/datadog/docs/FunnelWidgetDefinitionType.md
  api/v1/datadog/docs/FunnelWidgetRequest.md
  api/v1/datadog/docs/WidgetDefinition.md
  api/v1/datadog/model_funnel_query.go
  api/v1/datadog/model_funnel_request_type.go
  api/v1/datadog/model_funnel_source.go
  api/v1/datadog/model_funnel_widget_definition.go
  api/v1/datadog/model_funnel_widget_definition_type.go
  api/v1/datadog/model_funnel_widget_request.go
  api/v1/datadog/model_widget_definition.go
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_funnel_widget.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_funnel_widget.yaml
  tests/api/v1/datadog/features/dashboards.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Use new interface
  .generator/templates/model_oneof.mustache
Owners: @DataDog/integrations-tools-and-libraries

Fix test
  tests/api/v1/datadog/api_metrics_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 10d22b2 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/VERSION
  api/v1/datadog/docs/MetricsApi.md
  api/v1/datadog/docs/MetricsQueryMetadata.md
  api/v1/datadog/docs/Series.md
  api/v1/datadog/model_metrics_query_metadata.go
  api/v1/datadog/model_series.go
  api/v2/datadog/.openapi-generator/VERSION
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Support gzip and deflate encoding
  .generator/templates/client.mustache
Owners: @DataDog/integrations-tools-and-libraries

Add metric-slo alert to monitor type enum
  api/v1/datadog/api/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit c7fa062 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageAttributionValues.md
  api/v1/datadog/model_usage_attribution_values.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit c02444e of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsTestDetails.md
  api/v1/datadog/model_synthetics_test_details.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

re-record cassettes
  tests/api/v1/datadog/cassettes/TestSLOEventLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSLOEventLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSLOMonitorLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSLOMonitorLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Put back header
  .generator/templates/client.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 4a04b77 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/client.go
  api/v1/datadog/docs/ContentEncoding.md
  api/v1/datadog/model_content_encoding.go
  api/v2/datadog/client.go
  tests/api/v1/datadog/features/logs.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 207f15b of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/IncidentServicesApi.md
  api/v2/datadog/docs/IncidentTeamsApi.md
  api/v2/datadog/docs/IncidentsApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 1f84aba of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_monitors.go
  api/v1/datadog/docs/DowntimeRecurrence.md
  api/v1/datadog/docs/MonitorOptions.md
  api/v1/datadog/docs/MonitorsApi.md
  api/v1/datadog/docs/WebhooksIntegration.md
  api/v1/datadog/docs/WebhooksIntegrationUpdateRequest.md
  api/v1/datadog/model_downtime_recurrence.go
  api/v1/datadog/model_monitor_options.go
  api/v1/datadog/model_webhooks_integration.go
  api/v1/datadog/model_webhooks_integration_update_request.go
  tests/api/v1/datadog/features/downtimes.feature
  tests/api/v1/datadog/features/monitors.feature
  tests/api/v1/datadog/features/service_checks.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit d0cfebd of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_metrics.go
  api/v1/datadog/api_service_checks.go
  api/v1/datadog/docs/Creator.md
  api/v1/datadog/docs/DashboardSummaryDefinition.md
  api/v1/datadog/docs/MetricsApi.md
  api/v1/datadog/docs/MetricsQueryMetadata.md
  api/v1/datadog/docs/NotebookAuthor.md
  api/v1/datadog/docs/ServiceChecksApi.md
  api/v1/datadog/model_creator.go
  api/v1/datadog/model_dashboard_summary_definition.go
  api/v1/datadog/model_metrics_query_metadata.go
  api/v1/datadog/model_notebook_author.go
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/IncidentFieldAttributesSingleValue.md
  api/v2/datadog/docs/UserAttributes.md
  api/v2/datadog/model_incident_field_attributes_single_value.go
  api/v2/datadog/model_user_attributes.go
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Submit_metrics_returns_Payload_accepted_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Metrics/Scenario_Submit_metrics_returns_Payload_accepted_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Checks/Scenario_Submit_a_Service_Check_returns_Payload_accepted_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Service_Checks/Scenario_Submit_a_Service_Check_returns_Payload_accepted_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Synthetics/Scenario_Client_is_resilient_to_enum_and_oneOf_deserialization_errors.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Synthetics/Scenario_Client_is_resilient_to_enum_and_oneOf_deserialization_errors.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Create_a_custom_variable_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Create_a_custom_variable_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Create_a_webhooks_integration_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Create_a_webhooks_integration_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Delete_a_custom_variable_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Delete_a_custom_variable_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Delete_a_webhook_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Delete_a_webhook_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Get_a_webhook_integration_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Get_a_webhook_integration_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Update_a_custom_variable_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Update_a_custom_variable_returns_OK_response.yaml
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Update_a_webhook_returns_OK_response.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Webhooks_Integration/Scenario_Update_a_webhook_returns_OK_response.yaml
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 6ab9fa3 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/IncidentFieldAttributesSingleValueType.md
  api/v2/datadog/docs/IncidentResponseAttributes.md
  api/v2/datadog/model_incident_field_attributes_single_value_type.go
  api/v2/datadog/model_incident_response_attributes.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 863f29c of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/ScatterPlotWidgetDefinitionRequests.md
  api/v1/datadog/docs/ScatterplotDimension.md
  api/v1/datadog/docs/ScatterplotTableRequest.md
  api/v1/datadog/docs/ScatterplotWidgetFormula.md
  api/v1/datadog/model_scatter_plot_widget_definition_requests.go
  api/v1/datadog/model_scatterplot_dimension.go
  api/v1/datadog/model_scatterplot_table_request.go
  api/v1/datadog/model_scatterplot_widget_formula.go
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_formulas_and_functions_scatterplot_widget.freeze
  tests/api/v1/datadog/cassettes/TestScenarios/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_formulas_and_functions_scatterplot_widget.yaml
  tests/api/v1/datadog/features/dashboards.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 181ee2d of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 76490b5 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/IncidentFieldAttributesMultipleValue.md
  api/v2/datadog/docs/IncidentFieldAttributesSingleValueType.md
  api/v2/datadog/model_incident_field_attributes_multiple_value.go
  api/v2/datadog/model_incident_field_attributes_single_value_type.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit a139e02 of spec repo
  .apigentools-info
  api/v1/datadog/docs/SyntheticsAssertionTarget.md
  api/v1/datadog/model_synthetics_assertion_target.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

[Synthetics] Update tests for trigger
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 9033ba5 of spec repo
  .apigentools-info
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/SecurityMonitoringApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Remove spurious logs
  tests/api/v1/datadog/api_snapshots_test.go
Owners: @DataDog/integrations-tools-and-libraries

Remove spurious logs (#1136)
  tests/api/v1/datadog/api_snapshots_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit d3a69ea of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/SecurityMonitoringApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Fix path paramater after body in BDD
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 01e467f of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_metrics.go
  api/v1/datadog/docs/MetricContentEncoding.md
  api/v1/datadog/docs/MetricsApi.md
  api/v1/datadog/model_content_encoding.go
  api/v1/datadog/model_metric_content_encoding.go
  tests/api/v1/datadog/features/metrics.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit bc91052 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsTestRequest.md
  api/v1/datadog/model_synthetics_test_request.go
  tests/api/v1/datadog/features/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Create Sjenica1
  Sjenica1
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Update tests for assertions
  tests/api/v1/datadog/api_synthetics_test.go
Owners: @DataDog/integrations-tools-and-libraries

Add support for disabling compression
  .generator/templates/client.mustache
  .generator/templates/configuration.mustache
Owners: @DataDog/integrations-tools-and-libraries

Document and set true by default
  .generator/templates/configuration.mustache
  README.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

fix tests for can delete monitor
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/cassettes/TestMonitorCanDeleteErrors.freeze
  tests/api/v1/datadog/cassettes/TestMonitorCanDeleteErrors.yaml
  tests/api/v1/datadog/cassettes/TestMonitorCanDeleteErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestMonitorCanDeleteErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestMonitorCanDeleteErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestMonitorCanDeleteErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestMonitorCanDeleteErrors/409_Conflict.freeze
  tests/api/v1/datadog/cassettes/TestMonitorCanDeleteErrors/409_Conflict.yaml
Owners: @DataDog/integrations-tools-and-libraries

Fix nullable enum type
  .generator/templates/model_simple.mustache
Owners: @DataDog/integrations-tools-and-libraries

fix names
  tests/scenarios/main_test.go
  tests/scenarios/scenarios_test.go
Owners: @DataDog/integrations-tools-and-libraries

nl
  tests/scenarios/tracer.go
Owners: @DataDog/integrations-tools-and-libraries
