Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

prepare for 1.5.0 release
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

prepare for 1.5.0 release (#1159)
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

start next dev cycle
  version.go
Owners: @DataDog/integrations-tools-and-libraries

start next dev cycle (#1160)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 9841481 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/DistributionWidgetRequest.md
  api/v1/datadog/model_distribution_widget_request.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_distribution_widget_and_apm_stats_data.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_distribution_widget_and_apm_stats_data.yaml
  tests/scenarios/features/v1/dashboards.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Add end to recurrent downtimes
  tests/api/v1/datadog/api_downtimes_test.go
Owners: @DataDog/integrations-tools-and-libraries

rerecord
  tests/api/v1/datadog/api_downtimes_test.go
  tests/api/v1/datadog/cassettes/TestDowntimeLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/invalid_type_hours.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/invalid_type_hours.yaml
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/invalid_weekdays.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/invalid_weekdays.yaml
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/once_a_year.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/once_a_year.yaml
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/until_date.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/until_date.yaml
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/until_occurences_and_until_date_are_mutually_exclusive.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/until_occurences_and_until_date_are_mutually_exclusive.yaml
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/until_occurrences.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/until_occurrences.yaml
Owners: @DataDog/integrations-tools-and-libraries

rerecord
  tests/api/v1/datadog/api_downtimes_test.go
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/invalid_type_hours.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/invalid_type_hours.yaml
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/invalid_weekdays.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/invalid_weekdays.yaml
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/once_a_year.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/once_a_year.yaml
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/until_date.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/until_date.yaml
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/until_occurences_and_until_date_are_mutually_exclusive.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/until_occurences_and_until_date_are_mutually_exclusive.yaml
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/until_occurrences.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/until_occurrences.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add end to recurrent downtimes (#1163)
  tests/api/v1/datadog/api_downtimes_test.go
  tests/api/v1/datadog/cassettes/TestDowntimeLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/invalid_type_hours.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/invalid_type_hours.yaml
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/invalid_weekdays.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/invalid_weekdays.yaml
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/once_a_year.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/once_a_year.yaml
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/until_date.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/until_date.yaml
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/until_occurences_and_until_date_are_mutually_exclusive.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/until_occurences_and_until_date_are_mutually_exclusive.yaml
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/until_occurrences.freeze
  tests/api/v1/datadog/cassettes/TestDowntimeRecurrence/until_occurrences.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit c203748 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageAttributionSupportedMetrics.md
  api/v1/datadog/docs/UsageAttributionValues.md
  api/v1/datadog/model_usage_attribution_supported_metrics.go
  api/v1/datadog/model_usage_attribution_values.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

ci: get more information about source code
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries

ci: get more information about source code (#1164)
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries

use dd-sdk-go-testing package
  tests/go.mod
  tests/go.sum
  tests/scenarios/scenarios_test.go
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

go mod tidy
  tests/go.mod
  tests/go.sum
Owners: @DataDog/integrations-tools-and-libraries

fix scenarios tags
  tests/scenarios/scenarios_test.go
Owners: @DataDog/integrations-tools-and-libraries

update licenses
  LICENSE-3rdparty.csv
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

[Synthetics] Fix tests for CI batch metadata
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsTriggerCITests.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsTriggerCITests.yaml
Owners: @DataDog/integrations-tools-and-libraries

code review suggestions
  tests/scenarios/scenarios_test.go
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Remove unused docker file
  Dockerfile.test.v1
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 436b9e1 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit d3a053a of spec repo
  .apigentools-info
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 53a5665 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  tests/scenarios/features/v1/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit badf0b8 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  tests/scenarios/features/v1/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit ad22b00 of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_metrics.go
  api/v2/datadog/docs/MetricCustomAggregation.md
  api/v2/datadog/docs/MetricCustomSpaceAggregation.md
  api/v2/datadog/docs/MetricCustomTimeAggregation.md
  api/v2/datadog/docs/MetricTagConfigurationAttributes.md
  api/v2/datadog/docs/MetricTagConfigurationCreateAttributes.md
  api/v2/datadog/docs/MetricTagConfigurationUpdateAttributes.md
  api/v2/datadog/docs/MetricsApi.md
  api/v2/datadog/model_metric_custom_aggregation.go
  api/v2/datadog/model_metric_custom_space_aggregation.go
  api/v2/datadog/model_metric_custom_time_aggregation.go
  api/v2/datadog/model_metric_tag_configuration_attributes.go
  api/v2/datadog/model_metric_tag_configuration_create_attributes.go
  api/v2/datadog/model_metric_tag_configuration_update_attributes.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Move code generation
  .generator/config/v1.json
  .generator/config/v2.json
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Makefile
  docker-compose.generator.yaml
Owners: @DataDog/integrations-tools-and-libraries

regenerate in repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  .pre-commit-config.yaml
  api/v1/datadog/.openapi-generator/FILES
  api/v2/datadog/.openapi-generator/FILES
  docker-compose.generator.yaml
  tests/scenarios/actions.go
Owners: @DataDog/integrations-tools-and-libraries

fix check examples
  check-examples.sh
Owners: @DataDog/integrations-tools-and-libraries

remove .generated_files
  .generated_files
Owners: @DataDog/integrations-tools-and-libraries

Update test.yml
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 5f2ff0f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Document changing servers and tracing requests (#1151)
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit 0b58986 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/Dashboard.md
  api/v1/datadog/model_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Use `dd-sdk-go-testing` instead of custom tracer fork (#1166)
  LICENSE-3rdparty.csv
  tests/go.mod
  tests/go.sum
  tests/scenarios/scenarios_test.go
  tests/test_utils.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Fix test
  tests/api/v1/datadog/api_service_level_objectives_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit f510509 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SLOCorrectionCreateRequestAttributes.md
  api/v1/datadog/docs/SLOCorrectionResponseAttributes.md
  api/v1/datadog/docs/SLOCorrectionUpdateRequestAttributes.md
  api/v1/datadog/model_slo_correction_create_request_attributes.go
  api/v1/datadog/model_slo_correction_response_attributes.go
  api/v1/datadog/model_slo_correction_update_request_attributes.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Service_Level_Objective_Corrections/Scenario_Create_an_SLO_correction_with_rrule_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Service_Level_Objective_Corrections/Scenario_Create_an_SLO_correction_with_rrule_returns_OK_response.yaml
  tests/scenarios/features/v1/service_level_objective_corrections.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Unity tracer test name
  tests/scenarios/scenarios_test.go
Owners: @DataDog/integrations-tools-and-libraries

Unity tracer test name (#1175)
  tests/scenarios/scenarios_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 0c1024b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 569e123 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_service_checks.go
  api/v1/datadog/docs/ServiceChecksApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit ca6b2d8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api/openapi.yaml
  tests/scenarios/features/v1/dashboards.feature
Owners: @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
