Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app

SpanName and network
  .azure-pipelines/all.yml
  tests/api/v1/datadog/utils.go
  tests/api/v2/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

Move resources
  .azure-pipelines/all.yml
Owners: @DataDog/integrations-tools-and-libraries

Simpler CI
  .azure-pipelines/all.yml
Owners: @DataDog/integrations-tools-and-libraries

Include logs
  .azure-pipelines/all.yml
Owners: @DataDog/integrations-tools-and-libraries

Update env
  .azure-pipelines/all.yml
  docker-compose.yml
Owners: @DataDog/integrations-tools-and-libraries

Update logs collection
  docker-compose.yml
Owners: @DataDog/integrations-tools-and-libraries

Add labels
  .azure-pipelines/all.yml
Owners: @DataDog/integrations-tools-and-libraries

Include version tag
  tests/api/v1/datadog/main_test.go
  tests/api/v2/datadog/main_test.go
Owners: @DataDog/integrations-tools-and-libraries

Update RELEASING.md (#246)
  RELEASING.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Update version
  .azure-pipelines/all.yml
  tests/api/v1/datadog/main_test.go
  tests/api/v1/datadog/utils.go
  tests/api/v2/datadog/main_test.go
Owners: @DataDog/integrations-tools-and-libraries

Filter agent
  docker-compose.yml
Owners: @DataDog/integrations-tools-and-libraries

Reduce code
  tests/api/v1/datadog/main_test.go
  tests/api/v2/datadog/main_test.go
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Revert "Remove unused method"
  tests/api/v2/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

Update newly added test
  tests/api/v2/datadog/telemetry_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 1445ecd of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/model_aws_account_create_response.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 6d8b10b of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_roles.go
Owners: @DataDog/integrations-tools-and-libraries

Test updating readme
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit 6875a1b of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_monitors.go
  api/v1/datadog/docs/MonitorsApi.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/UsersApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Fix typos
  tests/api/v2/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

Composable context
  tests/api/v2/datadog/api_dashboard_lists_test.go
  tests/api/v2/datadog/api_permissions_test.go
  tests/api/v2/datadog/api_roles_test.go
  tests/api/v2/datadog/api_users_test.go
  tests/api/v2/datadog/telemetry_test.go
  tests/api/v2/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

Report failed tests
  tests/api/v1/datadog/utils.go
  tests/api/v2/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

Refactor v2 tests
  tests/api/v2/datadog/api_dashboard_lists_test.go
  tests/api/v2/datadog/api_permissions_test.go
  tests/api/v2/datadog/api_roles_test.go
  tests/api/v2/datadog/api_users_test.go
  tests/api/v2/datadog/telemetry_test.go
  tests/api/v2/datadog/utils.go
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

wip
  api/v1/datadog/configuration_test.go
  api/v2/datadog/configuration_test.go
  tests/api/v1/datadog/api_aws_logs_integration_test.go
  tests/api/v1/datadog/api_azure_integration_test.go
  tests/api/v1/datadog/api_dashboard_lists_test.go
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/api_downtimes_test.go
  tests/api/v1/datadog/api_events_test.go
  tests/api/v1/datadog/api_gcp_integration_test.go
  tests/api/v1/datadog/api_hosts_test.go
  tests/api/v1/datadog/api_ip_ranges_test.go
  tests/api/v1/datadog/api_key_management_test.go
  tests/api/v1/datadog/api_logs_indexes_test.go
  tests/api/v1/datadog/api_logs_pipelines_test.go
  tests/api/v1/datadog/api_logs_test.go
  tests/api/v1/datadog/api_metrics_test.go
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/api_organizations_test.go
  tests/api/v1/datadog/api_pager_duty_integration_test.go
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/api_snapshots_test.go
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/api_tags_test.go
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/api_users_test.go
  tests/api/v1/datadog/telemetry_test.go
  tests/api/v2/datadog/api_dashboard_lists_test.go
  tests/api/v2/datadog/api_roles_test.go
Owners: @DataDog/integrations-tools-and-libraries

Refactored tests
  api/v2/datadog/configuration_test.go
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/api_downtimes_test.go
  tests/api/v1/datadog/api_events_test.go
  tests/api/v1/datadog/api_gcp_integration_test.go
  tests/api/v1/datadog/api_hosts_test.go
  tests/api/v1/datadog/api_key_management_test.go
  tests/api/v1/datadog/api_logs_indexes_test.go
  tests/api/v1/datadog/api_logs_pipelines_test.go
  tests/api/v1/datadog/api_logs_test.go
  tests/api/v1/datadog/api_metrics_test.go
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/api_organizations_test.go
  tests/api/v1/datadog/api_pager_duty_integration_test.go
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/api_snapshots_test.go
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/api_tags_test.go
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/api_users_test.go
  tests/api/v2/datadog/api_dashboard_lists_test.go
  tests/api/v2/datadog/api_roles_test.go
Owners: @DataDog/integrations-tools-and-libraries

Fix configuration tests
  api/v1/datadog/configuration_test.go
  api/v2/datadog/configuration_test.go
Owners: @DataDog/integrations-tools-and-libraries

Use ddAPIKey for submitting traces
  .azure-pipelines/all.yml
Owners: @DataDog/integrations-tools-and-libraries

Use context everywhere
  tests/api/v1/datadog/api_aws_integration_test.go
  tests/api/v1/datadog/api_aws_logs_integration_test.go
  tests/api/v1/datadog/api_azure_integration_test.go
  tests/api/v1/datadog/api_dashboard_lists_test.go
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/api_downtimes_test.go
  tests/api/v1/datadog/api_events_test.go
  tests/api/v1/datadog/api_gcp_integration_test.go
  tests/api/v1/datadog/api_hosts_test.go
  tests/api/v1/datadog/api_ip_ranges_test.go
  tests/api/v1/datadog/api_key_management_test.go
  tests/api/v1/datadog/api_logs_indexes_test.go
  tests/api/v1/datadog/api_logs_pipelines_test.go
  tests/api/v1/datadog/api_logs_test.go
  tests/api/v1/datadog/api_metrics_test.go
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/api_organizations_test.go
  tests/api/v1/datadog/api_pager_duty_integration_test.go
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/api_snapshots_test.go
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/api_tags_test.go
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/api_users_test.go
  tests/api/v1/datadog/telemetry_test.go
  tests/api/v1/datadog/utils.go
  tests/api/v2/datadog/api_dashboard_lists_test.go
  tests/api/v2/datadog/api_permissions_test.go
  tests/api/v2/datadog/api_roles_test.go
  tests/api/v2/datadog/api_users_test.go
  tests/api/v2/datadog/telemetry_test.go
  tests/api/v2/datadog/utils.go
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

DD_TAGS
  .azure-pipelines/all.yml
Owners: @DataDog/integrations-tools-and-libraries

old go???
  api/v1/datadog/configuration_test.go
  api/v2/datadog/configuration_test.go
Owners: @DataDog/integrations-tools-and-libraries

Unused
  api/v1/datadog/configuration_test.go
  api/v2/datadog/configuration_test.go
Owners: @DataDog/integrations-tools-and-libraries

Use requestd for id
  .azure-pipelines/all.yml
Owners: @DataDog/integrations-tools-and-libraries

Update LICENSE 3rd parties
  LICENSE-3rdparty.csv
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Refactor assert usage
  api/v1/datadog/configuration_test.go
  api/v2/datadog/configuration_test.go
  tests/api/v1/datadog/api_aws_integration_test.go
  tests/api/v1/datadog/api_aws_logs_integration_test.go
  tests/api/v1/datadog/api_azure_integration_test.go
  tests/api/v1/datadog/api_dashboard_lists_test.go
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/api_downtimes_test.go
  tests/api/v1/datadog/api_events_test.go
  tests/api/v1/datadog/api_gcp_integration_test.go
  tests/api/v1/datadog/api_hosts_test.go
  tests/api/v1/datadog/api_ip_ranges_test.go
  tests/api/v1/datadog/api_key_management_test.go
  tests/api/v1/datadog/api_logs_indexes_test.go
  tests/api/v1/datadog/api_logs_pipelines_test.go
  tests/api/v1/datadog/api_logs_test.go
  tests/api/v1/datadog/api_metrics_test.go
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/api_organizations_test.go
  tests/api/v1/datadog/api_pager_duty_integration_test.go
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/api_snapshots_test.go
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/api_tags_test.go
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/api_users_test.go
  tests/api/v1/datadog/telemetry_test.go
  tests/api/v2/datadog/api_dashboard_lists_test.go
  tests/api/v2/datadog/api_permissions_test.go
  tests/api/v2/datadog/api_roles_test.go
  tests/api/v2/datadog/api_users_test.go
  tests/api/v2/datadog/telemetry_test.go
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Missing assert
  api/v1/datadog/configuration_test.go
  api/v2/datadog/configuration_test.go
Owners: @DataDog/integrations-tools-and-libraries

Refactor assert usage (#254)
  api/v1/datadog/configuration_test.go
  api/v2/datadog/configuration_test.go
  tests/api/v1/datadog/api_aws_integration_test.go
  tests/api/v1/datadog/api_aws_logs_integration_test.go
  tests/api/v1/datadog/api_azure_integration_test.go
  tests/api/v1/datadog/api_dashboard_lists_test.go
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/api_downtimes_test.go
  tests/api/v1/datadog/api_events_test.go
  tests/api/v1/datadog/api_gcp_integration_test.go
  tests/api/v1/datadog/api_hosts_test.go
  tests/api/v1/datadog/api_ip_ranges_test.go
  tests/api/v1/datadog/api_key_management_test.go
  tests/api/v1/datadog/api_logs_indexes_test.go
  tests/api/v1/datadog/api_logs_pipelines_test.go
  tests/api/v1/datadog/api_logs_test.go
  tests/api/v1/datadog/api_metrics_test.go
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/api_organizations_test.go
  tests/api/v1/datadog/api_pager_duty_integration_test.go
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/api_snapshots_test.go
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/api_tags_test.go
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/api_users_test.go
  tests/api/v1/datadog/telemetry_test.go
  tests/api/v2/datadog/api_dashboard_lists_test.go
  tests/api/v2/datadog/api_permissions_test.go
  tests/api/v2/datadog/api_roles_test.go
  tests/api/v2/datadog/api_users_test.go
  tests/api/v2/datadog/telemetry_test.go
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Add section about unstable endpoints
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Clean up wording
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

add incdents, teams and services API tests
  tests/api/v1/datadog/cassettes/TestServicesLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestServicesLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestTeamsLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestTeamsLifecycle.yaml
  tests/api/v2/datadog/api_dashboard_lists_test.go
  tests/api/v2/datadog/api_incidents_config_test.go
  tests/api/v2/datadog/api_incidents_postmortems_test.go
  tests/api/v2/datadog/api_incidents_selections_test.go
  tests/api/v2/datadog/api_incidents_services_test.go
  tests/api/v2/datadog/api_incidents_teams_test.go
  tests/api/v2/datadog/api_incidents_test.go
  tests/api/v2/datadog/api_incidents_todos_test.go
  tests/api/v2/datadog/api_services_test.go
  tests/api/v2/datadog/api_teams_test.go
  tests/api/v2/datadog/cassettes/TestIncidentConfigChoicesLifecycle.freeze
  tests/api/v2/datadog/cassettes/TestIncidentConfigChoicesLifecycle.yaml
  tests/api/v2/datadog/cassettes/TestIncidentConfigFieldsLifecycle.freeze
  tests/api/v2/datadog/cassettes/TestIncidentConfigFieldsLifecycle.yaml
  tests/api/v2/datadog/cassettes/TestIncidentPostmortemsLifecycle.freeze
  tests/api/v2/datadog/cassettes/TestIncidentPostmortemsLifecycle.yaml
  tests/api/v2/datadog/cassettes/TestIncidentServicesLifecycle.freeze
  tests/api/v2/datadog/cassettes/TestIncidentServicesLifecycle.yaml
  tests/api/v2/datadog/cassettes/TestIncidentTeamsLifecycle.freeze
  tests/api/v2/datadog/cassettes/TestIncidentTeamsLifecycle.yaml
  tests/api/v2/datadog/cassettes/TestIncidentsLifecycle.freeze
  tests/api/v2/datadog/cassettes/TestIncidentsLifecycle.yaml
  tests/api/v2/datadog/cassettes/TestServicesLifecycle.freeze
  tests/api/v2/datadog/cassettes/TestServicesLifecycle.yaml
  tests/api/v2/datadog/cassettes/TestTeamsLifecycle.freeze
  tests/api/v2/datadog/cassettes/TestTeamsLifecycle.yaml
  tests/api/v2/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

🚑 Skip TestPagerDutyServicesCreateErrors/40(0|4)
  tests/api/v1/datadog/api_pager_duty_integration_test.go
Owners: @DataDog/integrations-tools-and-libraries

Enable App Analytics for test spans
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries
