Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app

bound check
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

debug
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

ignore cassette body for 400+ responses
  run-tests.sh
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

concurency?
  tests/api/v1/datadog/api_organizations_test.go
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

re-recorded
  tests/api/v1/datadog/cassettes/TestOrgsUploadIdpErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestOrgsUploadIdpErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestOrgsUploadIdpErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestOrgsUploadIdpErrors/403_Forbidden.yaml
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Add missing the
  tests/scenarios.go
Owners: @DataDog/integrations-tools-and-libraries

Re-record unique errors for Idp file upload (#450)
  run-tests.sh
  tests/api/v1/datadog/api_organizations_test.go
  tests/api/v1/datadog/cassettes/TestOrgsUploadIdpErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestOrgsUploadIdpErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestOrgsUploadIdpErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestOrgsUploadIdpErrors/403_Forbidden.yaml
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 539cfa0 of spec repo
  .apigentools-info
  tests/api/v2/datadog/features/roles.feature
  tests/api/v2/datadog/features/users.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit abf6246 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/client.go
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/client.go
Owners: @DataDog/integrations-tools-and-libraries

[Go] replace `go` generator with `go-experimental` generator (#7337)
  .generator/templates/README.mustache
  .generator/templates/api.mustache
  .generator/templates/api_doc.mustache
  .generator/templates/client.mustache
  .generator/templates/configuration.mustache
  .generator/templates/go.mod.mustache
  .generator/templates/go.sum
  .generator/templates/model.mustache
  .generator/templates/model_anyof.mustache
  .generator/templates/model_doc.mustache
  .generator/templates/model_enum.mustache
  .generator/templates/model_oneof.mustache
  .generator/templates/model_simple.mustache
  .generator/templates/nullable_model.mustache
  .generator/templates/signing.mustache
  .generator/templates/utils.mustache
Owners: @DataDog/integrations-tools-and-libraries

[Go] replace `go` generator with `go-experimental` generator (#7337)
  README.mustache
  api.mustache
  api_doc.mustache
  client.mustache
  configuration.mustache
  go.mod.mustache
  go.sum
  model.mustache
  model_anyof.mustache
  model_doc.mustache
  model_enum.mustache
  model_oneof.mustache
  model_simple.mustache
  nullable_model.mustache
  signing.mustache
  utils.mustache
Owners: @DataDog/integrations-tools-and-libraries

[incident-app]Add tests for incident management APIs
  tests/api/v1/datadog/cassettes/TestServicesLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestServicesLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestTeamsLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestTeamsLifecycle.yaml
  tests/api/v2/datadog/api_incidents_postmortems_test.go
  tests/api/v2/datadog/api_incidents_services_test.go
  tests/api/v2/datadog/api_incidents_teams_test.go
  tests/api/v2/datadog/api_incidents_test.go
  tests/api/v2/datadog/api_incidents_todos_test.go
  tests/api/v2/datadog/api_services_test.go
  tests/api/v2/datadog/api_teams_test.go
  tests/api/v2/datadog/api_user_defined_field_choice_test.go
  tests/api/v2/datadog/api_user_defined_field_selections_test.go
  tests/api/v2/datadog/api_user_defined_field_test.go
  tests/api/v2/datadog/cassettes/TestIncidentPostmortemsLifecycle.freeze
  tests/api/v2/datadog/cassettes/TestIncidentPostmortemsLifecycle.yaml
  tests/api/v2/datadog/cassettes/TestIncidentServicesLifecycle.freeze
  tests/api/v2/datadog/cassettes/TestIncidentServicesLifecycle.yaml
  tests/api/v2/datadog/cassettes/TestIncidentTeamsLifecycle.freeze
  tests/api/v2/datadog/cassettes/TestIncidentTeamsLifecycle.yaml
  tests/api/v2/datadog/cassettes/TestIncidentTodosLifecycle.freeze
  tests/api/v2/datadog/cassettes/TestIncidentTodosLifecycle.yaml
  tests/api/v2/datadog/cassettes/TestIncidentUserDefinedFieldLifecycle.freeze
  tests/api/v2/datadog/cassettes/TestIncidentUserDefinedFieldLifecycle.yaml
  tests/api/v2/datadog/cassettes/TestIncidentsLifecycle.freeze
  tests/api/v2/datadog/cassettes/TestIncidentsLifecycle.yaml
  tests/api/v2/datadog/cassettes/TestServicesLifecycle.freeze
  tests/api/v2/datadog/cassettes/TestServicesLifecycle.yaml
  tests/api/v2/datadog/cassettes/TestTeamsLifecycle.freeze
  tests/api/v2/datadog/cassettes/TestTeamsLifecycle.yaml
  tests/api/v2/datadog/cassettes/TestUserDefinedFieldChoicesLifecycle.freeze
  tests/api/v2/datadog/cassettes/TestUserDefinedFieldChoicesLifecycle.yaml
  tests/api/v2/datadog/cassettes/TestUserDefinedFieldSelectionsLifecycle.freeze
  tests/api/v2/datadog/cassettes/TestUserDefinedFieldSelectionsLifecycle.yaml
  tests/api/v2/datadog/features/incidents.feature
  tests/api/v2/datadog/features/services.feature
  tests/api/v2/datadog/features/teams.feature
  tests/api/v2/datadog/utils.go
Owners: @DataDog/integrations-tools-and-libraries

remove JSONAPI from references to generated code
  tests/api/v2/datadog/api_incidents_services_test.go
  tests/api/v2/datadog/api_incidents_teams_test.go
  tests/api/v2/datadog/api_services_test.go
  tests/api/v2/datadog/api_teams_test.go
  tests/api/v2/datadog/api_user_defined_field_choice_test.go
  tests/api/v2/datadog/api_user_defined_field_selections_test.go
  tests/api/v2/datadog/api_user_defined_field_test.go
Owners: @DataDog/integrations-tools-and-libraries

remove unneeded cassettes for v1
  tests/api/v1/datadog/cassettes/TestServicesLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestServicesLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestTeamsLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestTeamsLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

fix type ID reference
  tests/api/v2/datadog/api_user_defined_field_choice_test.go
  tests/api/v2/datadog/api_user_defined_field_test.go
Owners: @DataDog/integrations-tools-and-libraries

fix choices test
  tests/api/v2/datadog/cassettes/TestUserDefinedFieldChoicesLifecycle.freeze
  tests/api/v2/datadog/cassettes/TestUserDefinedFieldChoicesLifecycle.yaml
  tests/api/v2/datadog/utils.go
  tests/test_utils.go
Owners: @DataDog/integrations-tools-and-libraries

Update keep alive values for Security Monitoring rules
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/model_security_monitoring_rule_keep_alive.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 8632cb1 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/model_security_monitoring_rule_keep_alive.go
Owners: @DataDog/integrations-tools-and-libraries

fix this failing test
  tests/api/v2/datadog/cassettes/TestUserDefinedFieldChoicesLifecycle.freeze
  tests/api/v2/datadog/cassettes/TestUserDefinedFieldChoicesLifecycle.yaml
  tests/api/v2/datadog/features/incidents.feature
Owners: @DataDog/integrations-tools-and-libraries

fix these tests as well
  tests/api/v2/datadog/cassettes/TestIncidentUserDefinedFieldLifecycle.freeze
  tests/api/v2/datadog/cassettes/TestIncidentUserDefinedFieldLifecycle.yaml
  tests/api/v2/datadog/cassettes/TestUserDefinedFieldSelectionsLifecycle.freeze
  tests/api/v2/datadog/cassettes/TestUserDefinedFieldSelectionsLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

[Go] minor format change, deprecate "withGoCodegenComment" option (#7375)
  .generator/templates/api.mustache
  .generator/templates/partial_header.mustache
Owners: @DataDog/integrations-tools-and-libraries

[Go] minor format change, deprecate "withGoCodegenComment" option (#7375)
  api.mustache
  partial_header.mustache
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit e5bc0a1 of spec repo
  .apigentools-info
  api/v2/datadog/.openapi-generator/FILES
  api/v2/datadog/README.md
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/SecurityMonitoringApi.md
  api/v2/datadog/docs/SecurityMonitoringRuleQuery.md
  api/v2/datadog/docs/SecurityMonitoringRuleQueryAggregation.md
  api/v2/datadog/docs/SecurityMonitoringRuleQueryCreate.md
  api/v2/datadog/model_security_monitoring_rule_query.go
  api/v2/datadog/model_security_monitoring_rule_query_aggregation.go
  api/v2/datadog/model_security_monitoring_rule_query_create.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

add handling in bdd runner for unstable operations
  tests/api/v2/datadog/scenarios_test.go
Owners: @DataDog/integrations-tools-and-libraries

don't add that undo in this pr
  tests/api/v2/datadog/scenarios_test.go
Owners: @DataDog/integrations-tools-and-libraries

fix docstring
  tests/api/v2/datadog/scenarios_test.go
Owners: @DataDog/integrations-tools-and-libraries

add handling in bdd runner for unstable operations (#458)
  tests/api/v2/datadog/scenarios_test.go
Owners: @DataDog/integrations-tools-and-libraries

Add changelog entry for 1.0.0-beta.8
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Update version
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Apply suggestions from code review
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Update CHANGELOG.md
  CHANGELOG.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Release 1.0.0-beta.8 (#459)
  CHANGELOG.md
  version.go
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Start new dev cycle
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Update version.go
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Start new dev cycle (#460)
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 2833f0d of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsTestRequest.md
  api/v1/datadog/model_synthetics_test_request.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 01da443 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/docs/LogAttributes.md
  api/v2/datadog/model_log_attributes.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit cbef552 of spec repo
  .apigentools-info
  tests/api/v1/datadog/features/logs_indexes.feature
  tests/api/v1/datadog/features/service_level_objectives.feature
  tests/api/v1/datadog/features/usage_metering.feature
  tests/api/v2/datadog/features/logs.feature
  tests/api/v2/datadog/features/logs_archives.feature
  tests/api/v2/datadog/features/security_monitoring.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 2cc8a06 of spec repo
  .apigentools-info
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/docs/SyntheticsApi.md
  tests/api/v1/datadog/features/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Use constructor with default values
  tests/api/v2/datadog/api_users_test.go
  tests/api/v2/datadog/scenarios_test.go
Owners: @DataDog/integrations-tools-and-libraries
