Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

run once a day
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries

Replace AZP with GitHub Action for integration tests (#948)
  .azure-pipelines/all.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries

fix scheduled run and agent host
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries

what about single quotes
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries

Fix integration tests scheduled run and agent host (#954)
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries

Remove unneeded apigentools env
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Add tests for global variable list endpoint
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsVariableLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsVariableLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Remove unneeded apigentools env (#955)
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Add test for global variables in config variables of multistep tests
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsAPIMultistepTestEndpointLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsAPIMultistepTestEndpointLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 3a8a64f of spec repo
  .apigentools-info
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 2c887a0 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/model_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 0167d3f of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_monitors.go
  api/v1/datadog/docs/MonitorGroupSearchResponse.md
  api/v1/datadog/docs/MonitorGroupSearchResponseCounts.md
  api/v1/datadog/docs/MonitorGroupSearchResult.md
  api/v1/datadog/docs/MonitorSearchResponse.md
  api/v1/datadog/docs/MonitorSearchResponseCounts.md
  api/v1/datadog/docs/MonitorSearchResponseMetadata.md
  api/v1/datadog/docs/MonitorSearchResult.md
  api/v1/datadog/docs/MonitorSearchResultNotification.md
  api/v1/datadog/docs/MonitorsApi.md
  api/v1/datadog/model_monitor_group_search_response.go
  api/v1/datadog/model_monitor_group_search_response_counts.go
  api/v1/datadog/model_monitor_group_search_result.go
  api/v1/datadog/model_monitor_search_response.go
  api/v1/datadog/model_monitor_search_response_counts.go
  api/v1/datadog/model_monitor_search_response_metadata.go
  api/v1/datadog/model_monitor_search_result.go
  api/v1/datadog/model_monitor_search_result_notification.go
  tests/api/v1/datadog/features/monitors.feature
  tests/api/v1/datadog/features/undo.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 8c512ec of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_monitors.go
  api/v1/datadog/docs/MonitorGroupSearchResponse.md
  api/v1/datadog/docs/MonitorGroupSearchResponseCounts.md
  api/v1/datadog/docs/MonitorGroupSearchResult.md
  api/v1/datadog/docs/MonitorSearchResponse.md
  api/v1/datadog/docs/MonitorSearchResponseCounts.md
  api/v1/datadog/docs/MonitorSearchResponseMetadata.md
  api/v1/datadog/docs/MonitorSearchResult.md
  api/v1/datadog/docs/MonitorSearchResultNotification.md
  api/v1/datadog/docs/MonitorsApi.md
  api/v1/datadog/model_monitor_group_search_response.go
  api/v1/datadog/model_monitor_group_search_response_counts.go
  api/v1/datadog/model_monitor_group_search_result.go
  api/v1/datadog/model_monitor_search_response.go
  api/v1/datadog/model_monitor_search_response_counts.go
  api/v1/datadog/model_monitor_search_response_metadata.go
  api/v1/datadog/model_monitor_search_result.go
  api/v1/datadog/model_monitor_search_result_notification.go
  tests/api/v1/datadog/features/monitors.feature
  tests/api/v1/datadog/features/undo.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

fix readme
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit 5311d4c of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsAPITestConfig.md
  api/v1/datadog/docs/SyntheticsConfigVariable.md
  api/v1/datadog/docs/SyntheticsConfigVariableType.md
  api/v1/datadog/docs/SyntheticsTestConfig.md
  api/v1/datadog/model_synthetics_api_test_config.go
  api/v1/datadog/model_synthetics_config_variable.go
  api/v1/datadog/model_synthetics_config_variable_type.go
  api/v1/datadog/model_synthetics_test_config.go
  tests/api/v1/datadog/features/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Update recording
  tests/api/v1/datadog/cassettes/TestSyntheticsAPIMultistepTestEndpointLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsAPIMultistepTestEndpointLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 38aa574 of spec repo
  .apigentools-info
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 2a54e42 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/docs/SyntheticsApi.md
  api/v1/datadog/docs/SyntheticsListGlobalVariablesResponse.md
  api/v1/datadog/model_synthetics_list_global_variables_response.go
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/features/synthetics.feature
  tests/api/v1/datadog/features/undo.json
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

test
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit f3001f9 of spec repo
  .apigentools-info
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 4055a44 of spec repo
  .apigentools-info
Owners: @DataDog/integrations-tools-and-libraries

Add step to get token
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries

Send status checks back to spec PR
  .github/workflows/scripts/test_integration.js
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries

Remove comments, details
  .github/workflows/scripts/test_integration.js
  .github/workflows/test_integration.yml
Owners: @DataDog/integrations-tools-and-libraries

Re-record
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Logs/Scenario_Aggregate_compute_events_returns_OK_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Logs/Scenario_Aggregate_compute_events_returns_OK_response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Logs/Scenario_Aggregate_events_returns_OK_response.freeze
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit ea553b9 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageAuditLogsHour.md
  api/v1/datadog/docs/UsageAuditLogsResponse.md
  api/v1/datadog/docs/UsageCloudSecurityPostureManagementHour.md
  api/v1/datadog/docs/UsageCloudSecurityPostureManagementResponse.md
  api/v1/datadog/docs/UsageComplianceHour.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/docs/UsageSummaryDate.md
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_audit_logs_hour.go
  api/v1/datadog/model_usage_audit_logs_response.go
  api/v1/datadog/model_usage_cloud_security_posture_management_hour.go
  api/v1/datadog/model_usage_cloud_security_posture_management_response.go
  api/v1/datadog/model_usage_compliance_hour.go
  api/v1/datadog/model_usage_compliance_response.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
  tests/api/v1/datadog/features/undo.json
  tests/api/v1/datadog/features/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 6c05087 of spec repo
  .apigentools-info
  api/v1/datadog/.openapi-generator/FILES
  api/v1/datadog/README.md
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/docs/UsageAttributionValues.md
  api/v1/datadog/docs/UsageCWSHour.md
  api/v1/datadog/docs/UsageCWSResponse.md
  api/v1/datadog/docs/UsageMeteringApi.md
  api/v1/datadog/docs/UsageSummaryDate.md
  api/v1/datadog/docs/UsageSummaryDateOrg.md
  api/v1/datadog/docs/UsageSummaryResponse.md
  api/v1/datadog/model_usage_attribution_values.go
  api/v1/datadog/model_usage_cws_hour.go
  api/v1/datadog/model_usage_cws_response.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
  tests/api/v1/datadog/features/undo.json
  tests/api/v1/datadog/features/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit 379360f of spec repo
  .apigentools-info
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 32f7494 of spec repo
  .apigentools-info
  api/v2/datadog/api/openapi.yaml
  api/v2/datadog/api_security_monitoring.go
  api/v2/datadog/docs/SecurityMonitoringApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit eb061ac of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/api_monitors.go
  api/v1/datadog/docs/MonitorsApi.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Re-record
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Logs/Scenario_Aggregate_compute_events_returns_OK_response.freeze
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Logs/Scenario_Aggregate_compute_events_returns_OK_response.yaml
  tests/api/v2/datadog/cassettes/TestScenarios/Feature_Logs/Scenario_Aggregate_events_returns_OK_response.freeze
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit b3fffea of spec repo
  .apigentools-info
  tests/api/v2/datadog/features/logs.feature
Owners: @DataDog/integrations-tools-and-libraries

cassettes
  tests/api/v1/datadog/cassettes/TestUsageTopAvgMetrics.freeze
  tests/api/v1/datadog/cassettes/TestUsageTopAvgMetrics.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 9151896 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/UsageTopAvgMetricsMetadata.md
  api/v1/datadog/model_usage_top_avg_metrics_metadata.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

[Synthetics] Update tests for monitor name and priority
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsMultipleTestsOperations.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsMultipleTestsOperations.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsTriggerCITests.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsTriggerCITests.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/404_Not_Found.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/404_Not_Found.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsVariableFromTestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsVariableFromTestLifecycle.yaml
Owners: @DataDog/integrations-tools-and-libraries

Send approval status
  .github/workflows/approved_status.yml
  .github/workflows/scripts/approved_status.js
Owners: @DataDog/integrations-tools-and-libraries

Add workflow for PR approved
  .github/workflows/approved_status.yml
  .github/workflows/scripts/approved_status.js
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 6fd1064 of spec repo
  .apigentools-info
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Update cassette
  tests/api/v1/datadog/cassettes/TestMonitorSyntheticsGet.freeze
  tests/api/v1/datadog/cassettes/TestMonitorSyntheticsGet.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit e6c8320 of spec repo
  .apigentools-info
  api/v1/datadog/api/openapi.yaml
  api/v1/datadog/docs/SyntheticsTestOptions.md
  api/v1/datadog/model_synthetics_test_options.go
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/features/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
