Repository DataDog/datadog-api-client-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava, @DataDog/incident-app

Regenerate client from commit b42df806 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/model_usage_ingested_spans_hour.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
Owners: @DataDog/integrations-tools-and-libraries

Handle testing operations with optional arguments
  tests/scenarios/actions.go
Owners: @DataDog/integrations-tools-and-libraries

Remove links to deleted docs
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Remove links to deleted docs (#1431)
  README.md
Owners: @DataDog/baklava, @DataDog/integrations-tools-and-libraries

Regenerate client from commit 42159e33 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/model_synthetics_basic_auth_web.go
  examples/v1/synthetics/TriggerCITests.go
  examples/v1/synthetics/UpdateBrowserTest.go
  tests/scenarios/features/v1/synthetics.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit e6337d88 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Cleanup unused modules and functions (#1420)
  .generator/src/generator/cli.py
  .generator/src/generator/templates/client.j2
  .generator/src/generator/templates/response.j2
  api/v1/datadog/client.go
  api/v1/datadog/response.go
  api/v2/datadog/client.go
  api/v2/datadog/response.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit a3bcd902 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api/v1/datadog/model_monitor.go
  api/v1/datadog/model_monitor_update_request.go
  api/v1/datadog/model_synthetics_basic_auth_web.go
  api/v1/datadog/model_usage_ingested_spans_hour.go
  api/v1/datadog/model_usage_summary_date.go
  api/v1/datadog/model_usage_summary_date_org.go
  api/v1/datadog/model_usage_summary_response.go
  examples/v1/synthetics/TriggerCITests.go
  examples/v1/synthetics/UpdateBrowserTest.go
  examples/v2/dashboard-lists/GetDashboardListItems.go
  examples/v2/dashboard-lists/UpdateDashboardListItems.go
  tests/scenarios/features/v1/given.json
  tests/scenarios/features/v1/synthetics.feature
  tests/scenarios/features/v2/dashboard_lists.feature
  tests/scenarios/features/v2/given.json
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit d7ce271f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/model_hourly_usage_attribution_pagination.go
  api/v1/datadog/model_monthly_usage_attribution_pagination.go
  api/v1/datadog/model_usage_top_avg_metrics_pagination.go
  examples/v1/usage-metering/GetMonthlyUsageAttribution_3738504447.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Paginate_Monthly_Usage_Attribution.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Usage_Metering/Scenario_Paginate_Monthly_Usage_Attribution.yaml
  tests/scenarios/features/v1/given.json
  tests/scenarios/features/v1/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 9a0922b9 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/model_logs_aggregation_function.go
  api/v2/datadog/model_rum_aggregation_function.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 1bea0809 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api_monitors.go
  examples/v1/dashboards/CreateDashboard_2308247857.go
  examples/v1/dashboards/CreateDashboard_2316374332.go
  examples/v1/monitors/ValidateExistingMonitor.go
  examples/v1/usage-metering/GetUsageBillableSummary.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Validate_an_existing_monitor_returns_Invalid_JSON_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Validate_an_existing_monitor_returns_Invalid_JSON_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Validate_an_existing_monitor_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Monitors/Scenario_Validate_an_existing_monitor_returns_OK_response.yaml
  tests/scenarios/features/v1/monitors.feature
  tests/scenarios/features/v1/undo.json
  tests/scenarios/features/v1/usage_metering.feature
Owners: @DataDog/integrations-tools-and-libraries

Remove speed regression with example validation
  check-examples.sh
Owners: @DataDog/integrations-tools-and-libraries

use dirs
  check-examples.sh
Owners: @DataDog/integrations-tools-and-libraries

ci: fix target branch name usage
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

ci: fix target branch name usage (#1438)
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Update check-examples.sh
  check-examples.sh
Owners: @DataDog/integrations-tools-and-libraries

Remove speed regression with example validation (#1437)
  check-examples.sh
Owners: @DataDog/integrations-tools-and-libraries

pre-commit fixes
  api/v1/datadog/api_monitors.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 18d4cb45 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 7a0287eb of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/model_list_stream_query.go
  api/v1/datadog/model_list_stream_source.go
  examples/v1/dashboards/CreateDashboard_4026341408.go
  examples/v1/dashboards/CreateDashboard_4076476470.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_apm_issue_stream_list_stream_widget.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_apm_issue_stream_list_stream_widget.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_rum_issue_stream_list_stream_widget.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_rum_issue_stream_list_stream_widget.yaml
  tests/scenarios/features/v1/dashboards.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 3030fda7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/api_metrics.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 94f25be6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/model_query_value_widget_definition.go
  api/v1/datadog/model_timeseries_background.go
  api/v1/datadog/model_timeseries_background_type.go
  examples/v1/dashboards/CreateDashboard_765140092.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_a_query_value_widget_using_timeseries_background.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_a_query_value_widget_using_timeseries_background.yaml
  tests/scenarios/features/v1/dashboards.feature
Owners: @DataDog/integrations-tools-and-libraries

Version bump 1.12.0
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Post release bump
  version.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 0c154010 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v2/metrics/CreateTagConfiguration.go
  examples/v2/metrics/DeleteTagConfiguration.go
  examples/v2/metrics/ListTagConfigurations_103226315.go
  examples/v2/metrics/ListVolumesByMetricName.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Metrics/Scenario_Configure_tags_for_multiple_metrics_returns_Accepted_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Metrics/Scenario_Configure_tags_for_multiple_metrics_returns_Accepted_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Metrics/Scenario_Create_a_tag_configuration_returns_Created_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Metrics/Scenario_Create_a_tag_configuration_returns_Created_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Metrics/Scenario_Delete_a_tag_configuration_returns_No_Content_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Metrics/Scenario_Delete_a_tag_configuration_returns_No_Content_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Metrics/Scenario_List_distinct_metric_volumes_by_metric_name_returns_Success_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Metrics/Scenario_List_distinct_metric_volumes_by_metric_name_returns_Success_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Metrics/Scenario_List_tag_configuration_by_name_returns_Success_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Metrics/Scenario_List_tag_configuration_by_name_returns_Success_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Metrics/Scenario_List_tag_configurations_returns_Success_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Metrics/Scenario_List_tag_configurations_returns_Success_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Metrics/Scenario_List_tag_configurations_with_a_tag_filter_returns_Success_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Metrics/Scenario_List_tag_configurations_with_a_tag_filter_returns_Success_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Metrics/Scenario_List_tag_configurations_with_configured_filter_returns_Success_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Metrics/Scenario_List_tag_configurations_with_configured_filter_returns_Success_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Metrics/Scenario_List_tags_by_metric_name_returns_Success_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Metrics/Scenario_List_tags_by_metric_name_returns_Success_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Metrics/Scenario_Update_a_tag_configuration_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Metrics/Scenario_Update_a_tag_configuration_returns_OK_response.yaml
  tests/scenarios/features/v1/given.json
  tests/scenarios/features/v1/metric_payload.json
  tests/scenarios/features/v2/given.json
  tests/scenarios/features/v2/metrics.feature
Owners: @DataDog/integrations-tools-and-libraries

Update example generator
  .generator/src/generator/go_formatter.py
  .generator/src/generator/openapi.py
  examples/v2/logs/AggregateLogs_2955613758.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 5ed02dad of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/model_synthetics_private_location.go
  api/v1/datadog/model_synthetics_private_location_metadata.go
  api/v1/datadog/model_synthetics_test_options.go
  examples/v1/synthetics/CreateGlobalVariable.go
  examples/v1/synthetics/CreatePrivateLocation.go
  examples/v1/synthetics/CreateSyntheticsAPITest.go
  examples/v1/synthetics/EditGlobalVariable.go
  examples/v1/synthetics/UpdateBrowserTest.go
  examples/v1/synthetics/UpdatePrivateLocation.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_a_private_location_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Synthetics/Scenario_Create_a_private_location_returns_OK_response.yaml
  tests/scenarios/features/v1/synthetics.feature
  tests/scenarios/features/v1/undo.json
Owners: @DataDog/integrations-tools-and-libraries

Add support for `zstd1` Content-Encoding
  .generator/src/generator/templates/client.j2
  LICENSE-3rdparty.csv
  api/v1/datadog/client.go
  api/v2/datadog/client.go
  go.mod
  go.sum
  tests/go.sum
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/baklava

Regenerate client from commit d02e4e05 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Owners: @DataDog/integrations-tools-and-libraries

Generate examples in pre-commit (#1399)
  .generator/conftest.py
  .generator/poetry.lock
  .generator/pyproject.toml
  .generator/src/generator/go_formatter.py
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/example.j2
  .generator/src/generator/utils.py
  .generator/tests/test_scenarios.py
  .pre-commit-config.yaml
  Makefile
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit a87e717d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  api/v2/datadog/api_organizations.go
  api/v2/datadog/client.go
  api/v2/datadog/model_id_p_metadata_form_data.go
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Organizations/Scenario_Upload_IdP_metadata_returns_Bad_Request_-_caused_by_either_malformed_XML_or_invalid_SAML_IdP_metadata_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Organizations/Scenario_Upload_IdP_metadata_returns_Bad_Request_-_caused_by_either_malformed_XML_or_invalid_SAML_IdP_metadata_response.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Organizations/Scenario_Upload_IdP_metadata_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Organizations/Scenario_Upload_IdP_metadata_returns_OK_response.yaml
  tests/scenarios/features/v2/fixtures/organizations/saml_configurations/invalid_idp_metadata.xml
  tests/scenarios/features/v2/fixtures/organizations/saml_configurations/valid_idp_metadata.xml
  tests/scenarios/features/v2/organizations.feature
  tests/scenarios/features/v2/undo.json
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 5a2248e0 of spec repo
  .apigentools-info
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Audit/Scenario_Get_a_list_of_Audit_Logs_events_returns_OK_response_with_pagination.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Audit/Scenario_Get_a_list_of_Audit_Logs_events_returns_OK_response_with_pagination.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Audit/Scenario_Search_Audit_Logs_events_returns_OK_response_with_pagination.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Audit/Scenario_Search_Audit_Logs_events_returns_OK_response_with_pagination.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Get_a_list_of_incidents_returns_OK_response_with_pagination.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Incidents/Scenario_Get_a_list_of_incidents_returns_OK_response_with_pagination.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs/Scenario_Get_a_list_of_logs_returns_OK_response_with_pagination.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs/Scenario_Get_a_list_of_logs_returns_OK_response_with_pagination.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs/Scenario_Search_logs_returns_OK_response_with_pagination.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Logs/Scenario_Search_logs_returns_OK_response_with_pagination.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Processes/Scenario_Get_all_processes_returns_OK_response_with_pagination.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Processes/Scenario_Get_all_processes_returns_OK_response_with_pagination.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_RUM/Scenario_Get_a_list_of_RUM_events_returns_OK_response_with_pagination.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_RUM/Scenario_Get_a_list_of_RUM_events_returns_OK_response_with_pagination.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_RUM/Scenario_Search_RUM_events_returns_OK_response_with_pagination.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_RUM/Scenario_Search_RUM_events_returns_OK_response_with_pagination.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Get_a_list_of_security_signals_returns_OK_response_with_pagination.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Get_a_list_of_security_signals_returns_OK_response_with_pagination.yaml
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Get_a_quick_list_of_security_signals_returns_OK_response_with_pagination.freeze
  tests/scenarios/cassettes/TestScenarios/v2/Feature_Security_Monitoring/Scenario_Get_a_quick_list_of_security_signals_returns_OK_response_with_pagination.yaml
  tests/scenarios/features/v2/audit.feature
  tests/scenarios/features/v2/incidents.feature
  tests/scenarios/features/v2/logs.feature
  tests/scenarios/features/v2/processes.feature
  tests/scenarios/features/v2/rum.feature
  tests/scenarios/features/v2/security_monitoring.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 616130a0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/model_synthetics_batch_result.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit ae11312e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/model_event.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 3906f53a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/model_event.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit cbed8a1f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/model_list_stream_source.go
  examples/v1/dashboards/CreateDashboard_2338918735.go
  examples/v1/dashboards/UpdateDashboard.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_list_stream_widget.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Create_a_new_dashboard_with_list_stream_widget.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Update_a_dashboard_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Dashboards/Scenario_Update_a_dashboard_returns_OK_response.yaml
  tests/scenarios/features/v1/dashboards.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 86a023ae of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  api/v1/datadog/model_log_content.go
  examples/v1/logs/ListLogs_235998668.go
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Logs/Scenario_Search_test_logs_returns_OK_response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Logs/Scenario_Search_test_logs_returns_OK_response.yaml
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Logs/Scenario_Send_logs_returns_Response_from_server_(always_200_empty_JSON)._response.freeze
  tests/scenarios/cassettes/TestScenarios/v1/Feature_Logs/Scenario_Send_logs_returns_Response_from_server_(always_200_empty_JSON)._response.yaml
  tests/scenarios/features/v1/logs.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit 65921537 of spec repo
  .apigentools-info
  tests/scenarios/features/v2/audit.feature
  tests/scenarios/features/v2/incidents.feature
  tests/scenarios/features/v2/logs.feature
  tests/scenarios/features/v2/processes.feature
  tests/scenarios/features/v2/rum.feature
  tests/scenarios/features/v2/security_monitoring.feature
Owners: @DataDog/integrations-tools-and-libraries

Regenerate client from commit b587fbb9 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/model_event_create_request.go
Owners: @DataDog/integrations-tools-and-libraries

add suport for delay
  tests/scenarios/step_definitions.go
Owners: @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another team can own the rest of the directory.

# All your base
*                       @DataDog/integrations-tools-and-libraries

# Documentation
*.md                    @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE                 @DataDog/baklava @DataDog/integrations-tools-and-libraries
NOTICE                  @DataDog/baklava @DataDog/integrations-tools-and-libraries
LICENSE-3rdparty.csv    @DataDog/baklava @DataDog/integrations-tools-and-libraries

spec/v1/incidents_config.yaml     @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_notes.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_postmortem.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_selections.yaml @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_services.yaml   @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_teams.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents_todos.yaml      @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/incidents.yaml            @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/services.yaml             @DataDog/integrations-tools-and-libraries @DataDog/incident-app
spec/v1/teams.yaml                @DataDog/integrations-tools-and-libraries @DataDog/incident-app
