Repository DataDog/datadog-api-client-go, pull requests merged in 2020-06, with the labels that each got.

#322 Add a note about usage of 'UniqueEntityName' throughout tests
  DEVELOPMENT.md
Labels: changelog/no-changelog, documentation

#326 Fix a potential sigsegv in logs test which happens when API doesn't return expected result
  tests/api/v1/datadog/api_logs_test.go
Labels: changelog/no-changelog

#327 A better fix for potential sigsegv in logs API test
  tests/api/v1/datadog/api_logs_test.go
Labels: changelog/no-changelog

#328 Rerun failed tests once in CI
  .gitignore
  run-tests.sh
Labels: changelog/no-changelog

#329 Update Changelog - Prepare Release
  CHANGELOG.md
  version.go
Labels: changelog/no-changelog, documentation

#330 Update Releasing doc
  RELEASING.md
Labels: changelog/no-changelog, documentation

#331 Update changelog
  CHANGELOG.md
Labels: changelog/no-changelog, documentation

#332 Start new release cycle
  version.go
Labels: changelog/no-changelog

#339 Fix detection of erroring tests in run-tests.sh
  run-tests.sh
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestCreateUser.freeze
  tests/api/v1/datadog/cassettes/TestCreateUser.yaml
  tests/api/v1/datadog/cassettes/TestDisableUser.freeze
  tests/api/v1/datadog/cassettes/TestDisableUser.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsListLocations.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsListLocations.yaml
  tests/api/v1/datadog/cassettes/TestUpdateUser.freeze
  tests/api/v1/datadog/cassettes/TestUpdateUser.yaml
  tests/api/v1/datadog/cassettes/TestUserDisableErrors.freeze
  tests/api/v1/datadog/cassettes/TestUserDisableErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserDisableErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestUserDisableErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestUserDisableErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestUserDisableErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestUserDisableErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestUserDisableErrors/404_Not_Found.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors.freeze
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/404_Not_Found.yaml
  tests/api/v2/datadog/cassettes/TestUpdateUserErrors.freeze
  tests/api/v2/datadog/cassettes/TestUpdateUserErrors/400_Bad_Request.freeze
  tests/api/v2/datadog/cassettes/TestUpdateUserErrors/400_Bad_Request.yaml
  tests/api/v2/datadog/cassettes/TestUpdateUserErrors/403_Forbidden.freeze
  tests/api/v2/datadog/cassettes/TestUpdateUserErrors/403_Forbidden.yaml
  tests/api/v2/datadog/cassettes/TestUpdateUserErrors/404_Bad_User_ID_in_Path.freeze
  tests/api/v2/datadog/cassettes/TestUpdateUserErrors/404_Bad_User_ID_in_Path.yaml
  tests/api/v2/datadog/cassettes/TestUpdateUserErrors/422_Bad_User_ID_in_Request.freeze
  tests/api/v2/datadog/cassettes/TestUpdateUserErrors/422_Bad_User_ID_in_Request.yaml
Labels: changelog/no-changelog

#343 ci: disable recorder
  .azure-pipelines/all.yml
Labels: changelog/no-changelog, dev/tooling

#344 Install jq in Azure, make sure CI fails if jq is not available
  .azure-pipelines/all.yml
  run-tests.sh
  tests/api/v2/datadog/api_users_test.go
  tests/api/v2/datadog/cassettes/TestUserInvitation.freeze
  tests/api/v2/datadog/cassettes/TestUserInvitation.yaml
  tests/api/v2/datadog/cassettes/TestUserLifecycle.freeze
  tests/api/v2/datadog/cassettes/TestUserLifecycle.yaml
Labels: changelog/no-changelog

#345 Add a tag to top-level span to allow identifying endpoint in APM metrics
  tests/test_utils.go
Labels: changelog/no-changelog

#348 update changelog
  CHANGELOG.md
  version.go
Labels: changelog/no-changelog, documentation

#349 start new release cycle
  version.go
Labels: changelog/no-changelog

#352 Prepare release
  CHANGELOG.md
  version.go
Labels: changelog/no-changelog, documentation

#353 Next release cycle
  version.go
Labels: changelog/no-changelog

#355 Add a script to cleanup leftover test objects
  scripts/cleanup.go
Labels: changelog/no-changelog

#358 Properly clean up after Azure integration test
  tests/api/v1/datadog/api_azure_integration_test.go
  tests/api/v1/datadog/cassettes/TestAzure403Error.freeze
  tests/api/v1/datadog/cassettes/TestAzure403Error.yaml
  tests/api/v1/datadog/cassettes/TestAzureCreate.freeze
  tests/api/v1/datadog/cassettes/TestAzureCreate.yaml
  tests/api/v1/datadog/cassettes/TestAzureCreateErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestAzureCreateErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestAzureCreateErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestAzureCreateErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestAzureDeleteErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestAzureDeleteErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestAzureDeleteErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestAzureDeleteErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestAzureListandDelete.freeze
  tests/api/v1/datadog/cassettes/TestAzureListandDelete.yaml
  tests/api/v1/datadog/cassettes/TestAzureUpdateErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestAzureUpdateErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestAzureUpdateErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestAzureUpdateErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestAzureUpdateHostFiltersErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestAzureUpdateHostFiltersErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestAzureUpdateHostFiltersErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestAzureUpdateHostFiltersErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestUpdateAzureAccount.freeze
  tests/api/v1/datadog/cassettes/TestUpdateAzureAccount.yaml
Labels: changelog/no-changelog
