Repository DataDog/datadog-api-client-go, pull requests merged in 2020-10, with the labels that each got.

#517 Migrate env variable setting
  .github/workflows/test.yml
Labels: changelog/no-changelog, dev/tooling

#536 Release beta 9
  CHANGELOG.md
  version.go
Labels: changelog/no-changelog, documentation

#537 Start dev cycle
  version.go
Labels: changelog/no-changelog

#543 enable unstable operation DeleteIncidentTeam for all team deletions
  tests/api/v2/datadog/scenarios_test.go
Labels: changelog/Fixed
