Repository DataDog/datadog-api-client-go, pull requests merged in 2020-07, with the labels that each got.

#384 Add retry to logs test
  tests/api/v1/datadog/api_logs_test.go
  tests/api/v2/datadog/api_logs_test.go
Labels: changelog/no-changelog, dev/testing

#385 Update 3rd party licenses
  LICENSE-3rdparty.csv
Labels: changelog/no-changelog

#394 Restore frozen clock
  tests/api/v1/datadog/api_usage_metering_test.go
Labels: changelog/no-changelog, dev/testing

#398 Add changelog entry for 1.0.0-beta.7
  CHANGELOG.md
Labels: changelog/no-changelog, documentation

#399 Bump version in version.go to 1.0.0-beta.7
  version.go
Labels: changelog/no-changelog

#400 Start 1.0.0-beta.8 dev cycle
  version.go
Labels: changelog/no-changelog
