Repository DataDog/datadog-api-client-go, pull requests merged in 2020-11, with the labels that each got.

#545 Release beta 10
  CHANGELOG.md
  version.go
Labels: changelog/no-changelog, documentation

#546 Start dev cycle
  version.go
Labels: changelog/no-changelog

#550 Ensure test name only has underscores
  tests/test_utils.go
Labels: changelog/no-changelog

#549 Move cleanup script to different repo
  scripts/cleanup.go
Labels: changelog/no-changelog

#556 Release beta 11
  CHANGELOG.md
  version.go
Labels: changelog/no-changelog

#575 Extract examples
  .gitignore
  check-examples.sh
  extract-code-blocks.awk
  extract-code-blocks.sh
Labels: changelog/no-changelog, dev/tooling
