Repository DataDog/datadog-api-client-go, pull requests merged in 2020-08, with the labels that each got.

#425 Skip tests searching security signals
  tests/api/v2/datadog/security_monitoring_test.go
Labels: changelog/no-changelog

#426 Minor DEVELOPMENT.md fix
  DEVELOPMENT.md
Labels: changelog/no-changelog, documentation

#433 Use response from retry for assertions
  tests/api/v1/datadog/api_hosts_test.go
  tests/api/v1/datadog/cassettes/TestHostsIncludeMutedHostsDataFunctional.freeze
  tests/api/v1/datadog/cassettes/TestHostsIncludeMutedHostsDataFunctional.yaml
Labels: changelog/no-changelog, dev/testing

#437 Add undo methods for BDD requests
  tests/api/v1/datadog/cassettes/TestOrgsUpdateErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestOrgsUpdateErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestOrgsUpdateErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestOrgsUpdateErrors/403_Forbidden.yaml
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/scenarios_test.go
  tests/scenarios.go
  tests/test_utils.go
Labels: changelog/no-changelog, dev/testing

#440 [Synthetics] Fix api min location failed in test
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsAPITestLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestLifecycle.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsBrowserTestLifecycle.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsMultipleTestsOperations.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsMultipleTestsOperations.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsTriggerCITests.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsTriggerCITests.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateStatusTestErrors/404_Not_Found.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/400_Bad_Request.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/403_Forbidden.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/404_Not_Found.freeze
  tests/api/v1/datadog/cassettes/TestSyntheticsUpdateTestErrors/404_Not_Found.yaml
Labels: changelog/no-changelog
