Repository DataDog/datadog-api-client-go, pull requests merged in 2020-05, with the labels that each got.

#272 Run integration tests every 3 hours
  .azure-pipelines/all.yml
Labels: dev/testing

#276 Prep beta.2 release
  CHANGELOG.md
  version.go
Labels: changelog/no-changelog, documentation

#294 Enable running tests against API without recording cassettes
  DEVELOPMENT.md
  tests/api/v1/datadog/api_key_management_test.go
  tests/api/v1/datadog/api_users_test.go
  tests/test_utils.go
Labels: documentation

#307 Run tests against custom URL
  .gitignore
  DEVELOPMENT.md
  go.mod
  go.sum
  tests/api/v1/datadog/api_aws_integration_test.go
  tests/api/v1/datadog/api_aws_logs_integration_test.go
  tests/api/v1/datadog/api_azure_integration_test.go
  tests/api/v1/datadog/api_gcp_integration_test.go
  tests/api/v1/datadog/api_hosts_test.go
  tests/api/v1/datadog/api_ip_ranges_test.go
  tests/api/v1/datadog/api_key_management_test.go
  tests/api/v1/datadog/api_logs_indexes_test.go
  tests/api/v1/datadog/api_metrics_test.go
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/api_organizations_test.go
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/api_users_test.go
  tests/api/v1/datadog/telemetry_test.go
  tests/api/v1/datadog/utils.go
  tests/api/v2/datadog/telemetry_test.go
  tests/api/v2/datadog/utils.go
  tests/test_utils.go
Labels: changelog/no-changelog, dev/testing, documentation

#310 ci: check that PR has changelog label
  .github/workflows/changelog.yaml
Labels: changelog/no-changelog, dev/tooling

#306 Prep beta 3
  CHANGELOG.md
  version.go
Labels: changelog/no-changelog, documentation

#312 Update top level trace information
  tests/test_utils.go
Labels: changelog/no-changelog, dev/tooling
