Repository DataDog/datadog-api-client-go, pull requests merged in 2021-12, with the labels that each got.

#1237 Revert "Removes `access_role` property from user v1"
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api/v1/datadog/docs/User.md
  api/v1/datadog/model_user.go
  tests/api/v1/datadog/api_users_test.go
  tests/api/v1/datadog/cassettes/TestCreateUser.yaml
  tests/api/v1/datadog/cassettes/TestDisableUser.yaml
  tests/api/v1/datadog/cassettes/TestUpdateUser.yaml
  tests/api/v1/datadog/cassettes/TestUserDisableErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/400_Bad_Request.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/403_Forbidden.yaml
  tests/api/v1/datadog/cassettes/TestUserUpdateErrors/404_Not_Found.yaml
  tests/scenarios/features/v1/users.feature
Labels: documentation, changelog/no-changelog, ci/integrations

#1241 Prepare for 1.7.0 release
  CHANGELOG.md
  version.go
Labels: documentation, changelog/no-changelog

#1242 Start the next dev cycle
  version.go
Labels: changelog/no-changelog

#1266 Fix debug wording
  README.md
Labels: documentation, changelog/no-changelog
