Repository DataDog/datadog-api-client-go, pull requests merged in 2021-02, with the labels that each got.

#679 tests: report probable serialization errors
  tests/scenarios.go
Labels: changelog/no-changelog

#702 Bump go bdd
  go.mod
  go.sum
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/scenarios_test.go
Labels: changelog/no-changelog

#704 Prepare beta 15
  CHANGELOG.md
  go.sum
  version.go
Labels: changelog/no-changelog, documentation

#705 Start dev cycle
  version.go
Labels: changelog/no-changelog

#707 Clean pipeline setup
  .azure-pipelines/all.yml
  .github/workflows/test.yml
Labels: changelog/no-changelog

#685 Improve landing page
  README.md
Labels: changelog/no-changelog, documentation

#719 tests: remove panic, log.Print and fmt.Print
  tests/api/v1/datadog/api_azure_integration_test.go
  tests/api/v1/datadog/api_dashboard_lists_test.go
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/api_downtimes_test.go
  tests/api/v1/datadog/api_gcp_integration_test.go
  tests/api/v1/datadog/api_key_management_test.go
  tests/api/v1/datadog/api_logs_indexes_test.go
  tests/api/v1/datadog/api_logs_pipelines_test.go
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/api_users_test.go
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/api_roles_test.go
  tests/api/v2/datadog/api_users_test.go
  tests/api/v2/datadog/scenarios_test.go
  tests/scenarios.go
  tests/test_utils.go
Labels: changelog/no-changelog, dev/testing

#500 Add CI tags to tracked spans
  .azure-pipelines/all.yml
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  tests/test_utils.go
Labels: changelog/no-changelog, dev/tooling, stale

#721 ci: enable apm for replay mode too
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  tests/test_utils.go
Labels: changelog/no-changelog, dev/testing

#717 tests: remove unstable warnings, fix test script
  run-tests.sh
  tests/scenarios.go
Labels: changelog/no-changelog

#722 Skip host tags functional tests in ignore mode
  tests/api/v1/datadog/api_hosts_test.go
  tests/api/v1/datadog/api_tags_test.go
Labels: changelog/no-changelog

#723 Delete slow v1 app key tests
  tests/api/v1/datadog/api_key_management_test.go
Labels: changelog/no-changelog

#729 Add spans to v1 tests
  tests/api/v1/datadog/api_aws_integration_test.go
  tests/api/v1/datadog/api_aws_logs_integration_test.go
  tests/api/v1/datadog/api_azure_integration_test.go
  tests/api/v1/datadog/api_dashboard_lists_test.go
  tests/api/v1/datadog/api_dashboards_test.go
  tests/api/v1/datadog/api_downtimes_test.go
  tests/api/v1/datadog/api_events_test.go
  tests/api/v1/datadog/api_gcp_integration_test.go
  tests/api/v1/datadog/api_hosts_test.go
  tests/api/v1/datadog/api_ip_ranges_test.go
  tests/api/v1/datadog/api_key_management_test.go
  tests/api/v1/datadog/api_logs_indexes_test.go
  tests/api/v1/datadog/api_logs_pipelines_test.go
  tests/api/v1/datadog/api_logs_test.go
  tests/api/v1/datadog/api_metrics_test.go
  tests/api/v1/datadog/api_monitors_test.go
  tests/api/v1/datadog/api_organizations_test.go
  tests/api/v1/datadog/api_pager_duty_integration_test.go
  tests/api/v1/datadog/api_service_level_objectives_test.go
  tests/api/v1/datadog/api_snapshots_test.go
  tests/api/v1/datadog/api_synthetics_test.go
  tests/api/v1/datadog/api_tags_test.go
  tests/api/v1/datadog/api_usage_metering_test.go
  tests/api/v1/datadog/api_users_test.go
  tests/api/v1/datadog/telemetry_test.go
  tests/api/v1/datadog/utils.go
Labels: changelog/no-changelog

#730 Fix coverage on re-run
  run-go-tests.sh
Labels: changelog/no-changelog

#733 Quote copyright for names with commas
  LICENSE-3rdparty.csv
Labels: changelog/no-changelog

#732 Adds spans to v2 tests
  tests/api/v2/datadog/api_dashboard_lists_test.go
  tests/api/v2/datadog/api_logs_archives_test.go
  tests/api/v2/datadog/api_logs_test.go
  tests/api/v2/datadog/api_permissions_test.go
  tests/api/v2/datadog/api_roles_test.go
  tests/api/v2/datadog/api_users_test.go
  tests/api/v2/datadog/security_monitoring_test.go
  tests/api/v2/datadog/telemetry_test.go
  tests/api/v2/datadog/utils.go
  tests/scenarios.go
  tests/test_utils.go
Labels: changelog/no-changelog

#745 Fix slack test format
  tests/api/v1/datadog/api_slack_integration_test.go
Labels: changelog/no-changelog
