Repository DataDog/datadog-api-client-go, pull requests merged in 2021-11, with the labels that each got.

#1182 GCR
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog

#1185 [Test] Test traces fix
  tests/scenarios/actions.go
Labels: changelog/no-changelog, ci/integrations

#1194 Changelog for 1.6.0 release
  CHANGELOG.md
  version.go
Labels: documentation, changelog/no-changelog, ci/integrations

#1195 Start next dev cycle
  version.go
Labels: changelog/no-changelog

#1199 Remove old spec copy
  Makefile
  api/v1/datadog/api/openapi.yaml
  api/v2/datadog/api/openapi.yaml
Labels: changelog/no-changelog
