Repository DataDog/datadog-api-client-go, pull requests merged in 2021-06, with the labels that each got.

#988 Don't run approved workflow on non generated PRs
  .github/workflows/approved_status.yml
Labels: changelog/no-changelog

#990 Make tests its own submodule, to separate dependencies
  .github/workflows/test_integration.yml
  go.mod
  go.sum
  run-go-tests.sh
  run-tests.sh
  tests/api/v1/datadog/configuration_test.go
  tests/api/v2/datadog/configuration_test.go
  tests/go.mod
  tests/go.sum
Labels: changelog/no-changelog, ci/integrations

#994 Release 1.0.0
  CHANGELOG.md
  version.go
Labels: changelog/no-changelog, documentation

#995 New release cycle
  version.go
Labels: changelog/no-changelog

#1004 Start next release cycle
  version.go
Labels: changelog/no-changelog

#1010 Update gogo/protobuf
  LICENSE-3rdparty.csv
  tests/go.mod
  tests/go.sum
Labels: changelog/no-changelog
