Repository DataDog/datadog-api-client-go, pull requests merged in 2021-05, with the labels that each got.

#908 Fix example extract
  check-examples.sh
  extract-code-blocks.awk
Labels: changelog/no-changelog

#928 Release v1.0.0-beta.21
  CHANGELOG.md
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  version.go
Labels: changelog/no-changelog, documentation

#929 Start next dev cycle
  version.go
Labels: changelog/no-changelog

#936 Speed up check examples
  check-examples.sh
Labels: changelog/no-changelog

#939 Release beta 22
  CHANGELOG.md
  version.go
Labels: changelog/no-changelog

#940 Start dev cycle
  version.go
Labels: changelog/no-changelog

#942 Don't build draft PRs on AZP
  .azure-pipelines/all.yml
Labels: changelog/no-changelog

#948 Replace AZP with GitHub Action for integration tests
  .azure-pipelines/all.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog, ci/integrations

#954 Fix integration tests scheduled run and agent host
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog, ci/integrations

#955 Remove unneeded apigentools env
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog
