Repository DataDog/datadog-api-client-go, pull requests merged in 2021-04, with the labels that each got.

#849 Prepare release for 1.0.0-beta.19
  CHANGELOG.md
  go.mod
  go.sum
  version.go
Labels: changelog/no-changelog, documentation

#850 Start dev cycle
  version.go
Labels: changelog/no-changelog

#852 Clean up
  .azure-pipelines/all.yml
Labels: changelog/no-changelog

#853 Remove last bits of codecov
  README.md
  codecov.yml
Labels: changelog/no-changelog, documentation

#863 Have a more fined grain request matcher
  tests/test_utils.go
Labels: changelog/no-changelog

#865 tests: add spans for BDD scenarios and recover panics for rerecording
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  tests/api/v1/datadog/scenarios_test.go
  tests/api/v2/datadog/scenarios_test.go
  tests/test_utils.go
Labels: changelog/no-changelog

#878 tests: bump go-bdd to support BDD_TAGS env
  go.mod
  go.sum
Labels: changelog/no-changelog, dev/testing

#879 Bump go versions
  .github/workflows/test.yml
Labels: changelog/no-changelog

#890 Prepare release for 1.0.0-beta.20
  CHANGELOG.md
  version.go
Labels: changelog/no-changelog, documentation

#891 Start next dev cycle
  version.go
Labels: changelog/no-changelog

#893 tests: add support for DD_APM_RECEIVER_SOCKET
  tests/test_utils.go
Labels: changelog/no-changelog
