Repository DataDog/datadog-api-client-go, pull requests merged in 2022-04, with the labels that each got.

#1428 Fix required nullable fields
  .generator/src/generator/templates/model_simple.j2
  api/v2/datadog/model_logs_archive_attributes.go
  api/v2/datadog/model_nullable_relationship_to_user.go
Labels: changelog/Fixed

#1423 Handle testing operations with optional arguments
  tests/scenarios/actions.go
Labels: changelog/no-changelog

#1431 Remove links to deleted docs
  README.md
Labels: documentation, changelog/no-changelog

#1420 Cleanup unused modules and functions
  .generator/src/generator/cli.py
  .generator/src/generator/templates/client.j2
  .generator/src/generator/templates/response.j2
  api/v1/datadog/client.go
  api/v1/datadog/response.go
  api/v2/datadog/client.go
  api/v2/datadog/response.go
Labels: changelog/Changed

#1438 ci: fix target branch name usage
  .github/workflows/test.yml
Labels: changelog/no-changelog, dev/testing

#1437 Remove speed regression with example validation
  check-examples.sh
Labels: changelog/no-changelog

#1436 Refactor file form parameters
  .generator/src/generator/cli.py
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/api.j2
  .generator/src/generator/templates/client.j2
  api/v1/datadog/api_authentication.go
  api/v1/datadog/api_aws_integration.go
  api/v1/datadog/api_aws_logs_integration.go
  api/v1/datadog/api_azure_integration.go
  api/v1/datadog/api_dashboard_lists.go
  api/v1/datadog/api_dashboards.go
  api/v1/datadog/api_downtimes.go
  api/v1/datadog/api_events.go
  api/v1/datadog/api_gcp_integration.go
  api/v1/datadog/api_hosts.go
  api/v1/datadog/api_ip_ranges.go
  api/v1/datadog/api_key_management.go
  api/v1/datadog/api_logs.go
  api/v1/datadog/api_logs_indexes.go
  api/v1/datadog/api_logs_pipelines.go
  api/v1/datadog/api_metrics.go
  api/v1/datadog/api_monitors.go
  api/v1/datadog/api_notebooks.go
  api/v1/datadog/api_organizations.go
  api/v1/datadog/api_pager_duty_integration.go
  api/v1/datadog/api_service_checks.go
  api/v1/datadog/api_service_level_objective_corrections.go
  api/v1/datadog/api_service_level_objectives.go
  api/v1/datadog/api_slack_integration.go
  api/v1/datadog/api_snapshots.go
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/api_tags.go
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/api_users.go
  api/v1/datadog/api_webhooks_integration.go
  api/v1/datadog/client.go
  api/v2/datadog/api_audit.go
  api/v2/datadog/api_auth_n_mappings.go
  api/v2/datadog/api_cloud_workload_security.go
  api/v2/datadog/api_dashboard_lists.go
  api/v2/datadog/api_incident_services.go
  api/v2/datadog/api_incident_teams.go
  api/v2/datadog/api_incidents.go
  api/v2/datadog/api_key_management.go
  api/v2/datadog/api_logs.go
  api/v2/datadog/api_logs_archives.go
  api/v2/datadog/api_logs_metrics.go
  api/v2/datadog/api_metrics.go
  api/v2/datadog/api_processes.go
  api/v2/datadog/api_roles.go
  api/v2/datadog/api_rum.go
  api/v2/datadog/api_security_monitoring.go
  api/v2/datadog/api_service_accounts.go
  api/v2/datadog/api_users.go
  api/v2/datadog/client.go
Labels: changelog/no-changelog

#1399 Generate examples in pre-commit
  .generator/conftest.py
  .generator/poetry.lock
  .generator/pyproject.toml
  .generator/src/generator/go_formatter.py
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/example.j2
  .generator/src/generator/utils.py
  .generator/tests/test_scenarios.py
  .pre-commit-config.yaml
  Makefile
Labels: changelog/no-changelog

#1466 Fix examples generation
  .generator/conftest.py
  .generator/poetry.lock
  .generator/pyproject.toml
  .generator/src/generator/cli.py
  .generator/src/generator/formatter.py
  .generator/src/generator/go_formatter.py
  .generator/src/generator/openapi.py
  .generator/src/generator/utils.py
  .pre-commit-config.yaml
Labels: changelog/no-changelog

#1474 Handle nested additionalProperties
  .generator/src/generator/go_formatter.py
  .generator/src/generator/openapi.py
Labels: changelog/no-changelog
