Repository DataDog/datadog-api-client-go, pull requests merged in 2022-03, with the labels that each got.

#1366 Fix telemetry test regex
  tests/api/v1/datadog/telemetry_test.go
  tests/api/v2/datadog/telemetry_test.go
Labels: changelog/no-changelog

#1370 Fix account ID in AWS tests
  tests/api/v1/datadog/api_aws_logs_integration_test.go
  tests/api/v1/datadog/cassettes/TestAddAndSaveAWSLogs.freeze
  tests/api/v1/datadog/cassettes/TestAddAndSaveAWSLogs.yaml
  tests/api/v1/datadog/cassettes/TestCheckLambdaAsync.freeze
  tests/api/v1/datadog/cassettes/TestCheckLambdaAsync.yaml
  tests/api/v1/datadog/cassettes/TestCheckServicesAsync.freeze
  tests/api/v1/datadog/cassettes/TestCheckServicesAsync.yaml
  tests/api/v1/datadog/cassettes/TestListAndDeleteAWSLogs.freeze
  tests/api/v1/datadog/cassettes/TestListAndDeleteAWSLogs.yaml
Labels: changelog/no-changelog

#1379 Change path for `datadog-ci` standalone binary
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog, ci/integrations

#1397 Use `$ref` names for `oneOf` attribute names
  .generator/src/generator/templates/model_oneof.j2
  api/v2/datadog/model_logs_aggregate_bucket_value.go
  api/v2/datadog/model_logs_group_by_missing.go
  api/v2/datadog/model_logs_group_by_total.go
  examples/v2/logs/AggregateLogs_2955613758.go
Labels: changelog/Fixed

#1414 Update mininum go versions
  .github/workflows/test.yml
  README.md
  go.mod
  run-tests.sh
Labels: documentation, changelog/no-changelog
