Repository DataDog/datadog-api-client-go, pull requests merged in 2022-01, with the labels that each got.

#1298 Enable code generation in repo
  .github/workflows/test.yml
  .pre-commit-config.yaml
Labels: changelog/no-changelog, dev/tooling

#1297 Improve query parameter matching and enable header matching
  .generator/templates/client.mustache
  api/v1/datadog/client.go
  api/v2/datadog/client.go
  tests/scenarios/scenarios.go
  tests/scenarios/step_definitions.go
  tests/test_utils.go
Labels: changelog/no-changelog, dev/testing

#1303 Fix lints in tests package
  tests/scenarios/actions.go
  tests/scenarios/scenarios.go
  tests/scenarios/scenarios_test.go
  tests/scenarios/tracer.go
Labels: changelog/no-changelog

#1305 release: 1.8.0
  CHANGELOG.md
  version.go
Labels: documentation, changelog/no-changelog

#1306 Start 1.8.1+dev
  version.go
Labels: changelog/no-changelog

#1304 Update actions
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/approved_status.yml
  .github/workflows/labeler.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog
