Repository DataDog/datadog-api-client-go, pull requests merged in 2022-09, with the labels that each got.

#1657 Specify python version 3.10 in Github runner
  .generator/pyproject.toml
  .github/workflows/test.yml
Labels: changelog/no-changelog

#1667 Remove duplication in error handling
  .generator/src/generator/cli.py
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/api.j2
  api/datadogV1/api_authentication.go
  api/datadogV1/api_aws_integration.go
  api/datadogV1/api_aws_logs_integration.go
  api/datadogV1/api_azure_integration.go
  api/datadogV1/api_dashboard_lists.go
  api/datadogV1/api_dashboards.go
  api/datadogV1/api_downtimes.go
  api/datadogV1/api_events.go
  api/datadogV1/api_gcp_integration.go
  api/datadogV1/api_hosts.go
  api/datadogV1/api_key_management.go
  api/datadogV1/api_logs.go
  api/datadogV1/api_logs_indexes.go
  api/datadogV1/api_logs_pipelines.go
  api/datadogV1/api_metrics.go
  api/datadogV1/api_monitors.go
  api/datadogV1/api_notebooks.go
  api/datadogV1/api_organizations.go
  api/datadogV1/api_pager_duty_integration.go
  api/datadogV1/api_security_monitoring.go
  api/datadogV1/api_service_checks.go
  api/datadogV1/api_service_level_objective_corrections.go
  api/datadogV1/api_service_level_objectives.go
  api/datadogV1/api_slack_integration.go
  api/datadogV1/api_snapshots.go
  api/datadogV1/api_synthetics.go
  api/datadogV1/api_tags.go
  api/datadogV1/api_usage_metering.go
  api/datadogV1/api_users.go
  api/datadogV1/api_webhooks_integration.go
  api/datadogV2/api_audit.go
  api/datadogV2/api_auth_n_mappings.go
  api/datadogV2/api_cloud_workload_security.go
  api/datadogV2/api_dashboard_lists.go
  api/datadogV2/api_events.go
  api/datadogV2/api_incident_services.go
  api/datadogV2/api_incident_teams.go
  api/datadogV2/api_incidents.go
  api/datadogV2/api_key_management.go
  api/datadogV2/api_logs.go
  api/datadogV2/api_logs_archives.go
  api/datadogV2/api_logs_metrics.go
  api/datadogV2/api_metrics.go
  api/datadogV2/api_opsgenie_integration.go
  api/datadogV2/api_organizations.go
  api/datadogV2/api_processes.go
  api/datadogV2/api_roles.go
  api/datadogV2/api_rum.go
  api/datadogV2/api_security_monitoring.go
  api/datadogV2/api_service_accounts.go
  api/datadogV2/api_usage_metering.go
  api/datadogV2/api_users.go
Labels: changelog/no-changelog

#1669 Document example proxy usage
  README.md
Labels: documentation, changelog/no-changelog

#1671 Change doc link to v2 version
  README.md
Labels: documentation, changelog/no-changelog

#1690 Check statusCode before converting to json in undo
  tests/scenarios/actions.go
Labels: changelog/no-changelog

#1698 Fix failing integration tests
  tests/api/datadogV1/api_aws_integration_test.go
  tests/api/datadogV1/api_downtimes_test.go
  tests/api/datadogV1/cassettes/TestAWSIntegrationCreateConflictErrors.freeze
  tests/api/datadogV1/cassettes/TestAWSIntegrationCreateConflictErrors.yaml
  tests/api/datadogV1/cassettes/TestAWSIntegrationCreateConflictErrors/Different.freeze
  tests/api/datadogV1/cassettes/TestAWSIntegrationCreateConflictErrors/Different.yaml
  tests/api/datadogV1/cassettes/TestAWSIntegrationCreateConflictErrors/Same.freeze
  tests/api/datadogV1/cassettes/TestAWSIntegrationCreateConflictErrors/Same.yaml
  tests/api/datadogV1/cassettes/TestCreateAWSAccount.freeze
  tests/api/datadogV1/cassettes/TestCreateAWSAccount.yaml
  tests/api/datadogV1/cassettes/TestDisableAWSAcct.freeze
  tests/api/datadogV1/cassettes/TestDisableAWSAcct.yaml
  tests/api/datadogV1/cassettes/TestDowntimeUpdateErrors/400_Bad_Request.freeze
  tests/api/datadogV1/cassettes/TestDowntimeUpdateErrors/400_Bad_Request.yaml
  tests/api/datadogV1/cassettes/TestDowntimeUpdateErrors/403_Forbidden.freeze
  tests/api/datadogV1/cassettes/TestDowntimeUpdateErrors/403_Forbidden.yaml
  tests/api/datadogV1/cassettes/TestDowntimeUpdateErrors/404_Not_Found.freeze
  tests/api/datadogV1/cassettes/TestDowntimeUpdateErrors/404_Not_Found.yaml
  tests/api/datadogV1/cassettes/TestGenerateNewExternalId.freeze
  tests/api/datadogV1/cassettes/TestGenerateNewExternalId.yaml
  tests/api/datadogV1/cassettes/TestUpdateAWSAccount.freeze
  tests/api/datadogV1/cassettes/TestUpdateAWSAccount.yaml
Labels: changelog/no-changelog, ci/integrations
