Repository DataDog/datadog-api-client-go, pull requests merged in 2022-05, with the labels that each got.

#1468 Add `...WithPagination` helper methods
  .generator/src/generator/cli.py
  .generator/src/generator/formatter.py
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/api.j2
  api/v1/datadog/api_authentication.go
  api/v1/datadog/api_aws_integration.go
  api/v1/datadog/api_aws_logs_integration.go
  api/v1/datadog/api_azure_integration.go
  api/v1/datadog/api_dashboard_lists.go
  api/v1/datadog/api_dashboards.go
  api/v1/datadog/api_downtimes.go
  api/v1/datadog/api_events.go
  api/v1/datadog/api_gcp_integration.go
  api/v1/datadog/api_hosts.go
  api/v1/datadog/api_ip_ranges.go
  api/v1/datadog/api_key_management.go
  api/v1/datadog/api_logs.go
  api/v1/datadog/api_logs_indexes.go
  api/v1/datadog/api_logs_pipelines.go
  api/v1/datadog/api_metrics.go
  api/v1/datadog/api_monitors.go
  api/v1/datadog/api_notebooks.go
  api/v1/datadog/api_organizations.go
  api/v1/datadog/api_pager_duty_integration.go
  api/v1/datadog/api_service_checks.go
  api/v1/datadog/api_service_level_objective_corrections.go
  api/v1/datadog/api_service_level_objectives.go
  api/v1/datadog/api_slack_integration.go
  api/v1/datadog/api_snapshots.go
  api/v1/datadog/api_synthetics.go
  api/v1/datadog/api_tags.go
  api/v1/datadog/api_usage_metering.go
  api/v1/datadog/api_users.go
  api/v1/datadog/api_webhooks_integration.go
  api/v2/datadog/api_audit.go
  api/v2/datadog/api_auth_n_mappings.go
  api/v2/datadog/api_cloud_workload_security.go
  api/v2/datadog/api_dashboard_lists.go
  api/v2/datadog/api_incident_services.go
  api/v2/datadog/api_incident_teams.go
  api/v2/datadog/api_incidents.go
  api/v2/datadog/api_key_management.go
  api/v2/datadog/api_logs.go
  api/v2/datadog/api_logs_archives.go
  api/v2/datadog/api_logs_metrics.go
  api/v2/datadog/api_metrics.go
  api/v2/datadog/api_organizations.go
  api/v2/datadog/api_processes.go
  api/v2/datadog/api_roles.go
  api/v2/datadog/api_rum.go
  api/v2/datadog/api_security_monitoring.go
  api/v2/datadog/api_service_accounts.go
  api/v2/datadog/api_usage_metering.go
  api/v2/datadog/api_users.go
  tests/scenarios/actions.go
  tests/scenarios/scenarios.go
  tests/scenarios/step_definitions.go
Labels: changelog/Added

#1485 Fix example commit
  .gitignore
  examples/v2/organizations/UploadIdPMetadata.go
  examples/v2/usage-metering/GetCostByOrg.go
  examples/v2/usage-metering/GetUsageApplicationSecurityMonitoring.go
  examples/v2/usage-metering/GetUsageObservabilityPipelines.go
Labels: changelog/no-changelog

#1491 Remove extract script
  extract-code-blocks.awk
  extract-code-blocks.sh
Labels: changelog/no-changelog

#1503 Remove camel case call in BDD asserts
  tests/scenarios/step_definitions.go
Labels: changelog/no-changelog

#1508 Fix serialization of arrays
  .generator/src/generator/templates/model_simple.j2
  api/v2/datadog/model_logs_aggregate_bucket_value_timeseries.go
  api/v2/datadog/model_rum_aggregate_bucket_value_timeseries.go
Labels: changelog/Fixed
