Repository DataDog/datadog-api-client-go, pull requests merged in 2023-05, with the labels that each got.

#1993 Use a repository variable for sleep after request
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog, ci/integrations

#1994 Skip TestLogsIndexesUpdateErrors test
  tests/api/datadogV1/api_logs_indexes_test.go
Labels: changelog/no-changelog, ci/integrations

#2007 Fix optional body setting in requests
  .generator/src/generator/templates/api.j2
  api/datadogV2/api_audit.go
  api/datadogV2/api_ci_visibility_pipelines.go
  api/datadogV2/api_ci_visibility_tests.go
  api/datadogV2/api_events.go
  api/datadogV2/api_logs.go
  api/datadogV2/api_security_monitoring.go
Labels: changelog/Fixed

#2019 Increase retry duration for `TestCheckLambdaAsync`
  tests/api/datadogV1/api_aws_logs_integration_test.go
Labels: changelog/no-changelog
