Repository DataDog/datadog-api-client-go, pull requests merged in 2023-07, with the labels that each got.

#2076 Fix TestUpdateUser
  tests/api/datadogV1/api_users_test.go
  tests/api/datadogV1/cassettes/TestUpdateUser.freeze
  tests/api/datadogV1/cassettes/TestUpdateUser.yaml
Labels: changelog/no-changelog

#2081 Fix nullable `enum` default value rendering
  .generator/src/generator/openapi.py
Labels: changelog/Fixed

#2084 Add labeled triggers to `integration_tests`
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog

#2104 Handle `{}` and bool value for additionalProperties
  .generator/src/generator/templates/model_simple.j2
  api/datadogV2/model_downtime_monitor_identifier_id.go
  api/datadogV2/model_downtime_monitor_identifier_tags.go
  api/datadogV2/model_downtime_schedule_one_time_create_update_request.go
  api/datadogV2/model_downtime_schedule_recurrence_create_update_request.go
Labels: changelog/Fixed

#2090 Update dependencies
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  tests/go.mod
  tests/go.sum
Labels: changelog/Changed

#2113 Update prettier
  .pre-commit-config.yaml
Labels: changelog/no-changelog

#2117 Remove useless generator warnings
  .generator/src/generator/formatter.py
  examples/v1/dashboards/DeletePublicDashboardInvitation.go
Labels: changelog/no-changelog
