Repository DataDog/datadog-api-client-go, pull requests merged in 2023-08, with the labels that each got.

#2125 Fix `unparsedObject` deserialization for lists
  .generator/src/generator/templates/model_simple.j2
  api/datadogV2/model_ci_app_aggregate_bucket_value_timeseries.go
  api/datadogV2/model_logs_aggregate_bucket_value_timeseries.go
  api/datadogV2/model_rum_aggregate_bucket_value_timeseries.go
  api/datadogV2/model_spans_aggregate_bucket_value_timeseries.go
Labels: changelog/Fixed

#2128 Bump go to `1.19`
  .github/workflows/codeql-analysis.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
  README.md
  api/datadogV1/api_aws_logs_integration.go
  api/datadogV1/api_usage_metering.go
  api/datadogV1/doc.go
  api/datadogV1/model_funnel_widget_definition.go
  api/datadogV1/model_list_stream_widget_definition.go
  api/datadogV1/model_logs_arithmetic_processor.go
  api/datadogV1/model_logs_category_processor.go
  api/datadogV1/model_logs_date_remapper.go
  api/datadogV1/model_logs_status_remapper.go
  api/datadogV1/model_logs_string_builder_processor.go
  api/datadogV1/model_logs_trace_remapper.go
  api/datadogV1/model_widget.go
  api/datadogV2/api_security_monitoring.go
  api/datadogV2/doc.go
  api/datadogV2/model_cloud_configuration_compliance_rule_options.go
  doc.go
  go.mod
  run-tests.sh
  tests/api/datadogV1/api_hosts_test.go
  tests/go.mod
Labels: documentation, changelog/Changed

#2149 Fix azure tests
  tests/api/datadogV1/api_azure_integration_test.go
  tests/api/datadogV1/cassettes/TestAzureCreate.freeze
  tests/api/datadogV1/cassettes/TestAzureCreate.yaml
  tests/api/datadogV1/cassettes/TestAzureListandDelete.freeze
  tests/api/datadogV1/cassettes/TestAzureListandDelete.yaml
  tests/api/datadogV1/cassettes/TestUpdateAzureAccount.freeze
  tests/api/datadogV1/cassettes/TestUpdateAzureAccount.yaml
Labels: changelog/no-changelog

#2150 Remove broken downtime test
  tests/api/datadogV1/api_downtimes_test.go
  tests/api/datadogV1/cassettes/TestDowntimeUpdateErrors/400_Bad_Request.freeze
  tests/api/datadogV1/cassettes/TestDowntimeUpdateErrors/400_Bad_Request.yaml
Labels: changelog/no-changelog

#2154 Add backoffbase validation
  .generator/src/generator/templates/client.j2
  api/datadog/client.go
  tests/api/datadogV2/configuration_test.go
Labels: changelog/no-changelog
