Repository DataDog/datadog-api-client-go, pull requests merged in 2024-09, with the labels that each got.

#2666 Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation, changelog/no-changelog

#2673 Set more specific GitHub token permissions on workflows.
  .github/workflows/approved_status.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog

#2692 bump go version to 1.22
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
  README.md
  doc.go
  go.mod
  go.sum
  run-tests.sh
  tests/go.mod
Labels: documentation, changelog/Changed
